﻿@model Mitsubishi.UI.Models.Entities.MerchantEntity

@{
    ViewBag.Title = "Edit";
}

<script>
    $(document).ready(function() {
        $('#IsEnableLink').click(function () {
            if ($(this).is(':checked')) {
                $('#RedirectUrl').attr('readonly', false);
            } else {
                $('#RedirectUrl').attr('readonly', true);
            }
        });


        $('#btnSubmit').click(function() {
            $('#formEdit').submit();
        });
    });

    function selectFile(e) {
        $.each(e.files, function (index, value) {
            if (value.extension.toUpperCase() != ".JPG" && value.extension.toUpperCase() != ".PNG") {
                e.preventDefault();
                alert("Please upload jpg or png image files");
            }
        });
    }

</script>
<h2 class="module-title">Add / Edit Banner</h2>

@using (Html.BeginForm("CreateItem", "Merchant", FormMethod.Post, new { id = "formEdit" }))
{
    <table width="100%" cellpadding="3px" cellspacing="3px">
        <tr>
            <td>
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Image)
            </td>
            <td>
                @ViewBag.ErrorMessage
            </td>
        </tr>
        <tr>
            <td style="width: 160px;"></td>
            <td>
                <button id="btnSubmit" type="button" class="k-button k-button-icontext k-grid-update k-primary">
                    <span class="k-icon k-update"></span>
                    Save
                </button>

                @Html.ActionLink("Cancel", "Index", "Merchant", null, new { @class = "k-button k-button-icontext k-grid-cancel" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Name)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Name, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Image)
            </td>
            <td>
                @(Html.Kendo().Upload()
                      .Name("fileMerchant")
                      .Multiple(false)
                      .Async(a => a
                          .Save("SaveMerchantImage", "Merchant")
                          .Remove("RemoveMerchantImage", "Merchant")
                          .AutoUpload(true)
                      )
                      .Events(e => e.Select("selectFile"))
                )
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Order)</td>
            <td>
                @(Html.Kendo().IntegerTextBoxFor(m => m.Order)
                      .Min(0)
                      .Max(1000)
                      .Step(1)
                      .Spinners(true)
                      .HtmlAttributes(new { style = "width:100px;text-align:center;" })
                )
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    <img src="~/images/merchants/@Model.Image" style="width: 100%;" />
                }
            </td>
        </tr>
    </table>
}
<style>
    .k-radio-label {
        font-weight: normal;
    }
</style>

