﻿@using Kendo.Mvc.UI
@model Mitsubishi.UI.Models.Entities.MemberEntity

<div class="editor-label">
    @Html.LabelFor(model => model.UserName)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.UserName, new { @class = "k-textbox long-textbox" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Password)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Password, new { @class = "k-textbox long-textbox", @type = "password" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.FullName)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.FullName, new { @class = "k-textbox long-textbox" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.IsAdmin)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.IsAdmin)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.IsPublisher)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.IsPublisher)
</div>

<style>
    .long-textbox{
        width:300px;
    }
</style>