﻿@using Kendo.Mvc.UI
@model Mitsubishi.UI.Models.Entities.ProductTypeEntity

<div class="editor-label">
    @Html.LabelFor(model => model.NameEng)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.NameEng, new { @class = "k-textbox long-textbox" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Name, new { @class = "k-textbox long-textbox" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.IsActive)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.IsActive)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ImageName)
</div>
<div class="editor-field">
    @(Html.Kendo().Upload()
            .Name("files")
            .Async(a => a
                .Save("Save", "ProductType")
                .Remove("Remove", "ProductType")
                .AutoUpload(true)
            )
    )
</div>

@*<div class="editor-label">
    @Html.LabelFor(model => model.SortOrder)
</div>
<div class="editor-field">
    @(Html.Kendo().NumericTextBoxFor(m => m.SortOrder)
        .Decimals(0)
        .Format("{0:##0}")
        .Min(0)
        .Max(1000)
        .Step(1)
        .HtmlAttributes(new { style = "width:100px;" })
    )
</div>*@

