﻿@using Kendo.Mvc.UI
@model Mitsubishi.UI.Models.Entities.InquiryEntity

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Name, new { @class = "k-textbox long-textbox", @disabled ="disabled"})
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Company)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Company, new { @class = "k-textbox long-textbox", @disabled = "disabled" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Comment)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Comment, new { @class = "k-textbox long-textbox", @disabled = "disabled" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Address)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Address, new { @class = "k-textbox long-textbox", @disabled = "disabled" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.City)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.City, new { @class = "k-textbox long-textbox", @disabled = "disabled" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Country)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Country, new { @class = "k-textbox long-textbox", @disabled = "disabled" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Phone)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Phone, new { @class = "k-textbox long-textbox", @disabled = "disabled" })
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Email)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Email, new { @class = "k-textbox long-textbox", @disabled = "disabled" })
</div>
<style>
    .long-textbox{
        width:300px;
    }

    .k-grid-update{
        display: none;
    }
</style>