﻿@using Kendo.Mvc.UI
@model Mitsubishi.UI.Models.Entities.ProductEntity

@Html.HiddenFor(m => m.ItemID)

<table style="margin-left:35px; line-height: 35px;">
    <tr>
        <td style="width:180px">
            @Html.LabelFor(model => model.CategoryID)
        </td>
        <td>
            @(Html.Kendo().DropDownListFor(m => m)
                  .Name("ParentID")
                  .OptionLabel("Select parent category")
                  .DataValueField("ItemID")
                  .DataTextField("DataTextField")
                  .DataSource(ds => ds.Read(read => read.Action("GetListCombobox", "ProductCategory")))
                  .HtmlAttributes(new { style = "width: 300px;margin-right:30px" })
            )
            @Html.Kendo().RadioButton().Name("radioLanguages").Label("English").Checked(true).HtmlAttributes(new { id = "radioEn" }) &nbsp;
            @Html.Kendo().RadioButton().Name("radioLanguages").Label("Vietnamese").HtmlAttributes(new { id = "radioVn" })
        </td>
    </tr>
    <tr id="trTitleEN" class="rowEN">
        <td>
            @Html.LabelFor(model => model.NameEng)
        </td>
        <td>
            @Html.TextBoxFor(model => model.NameEng, new { @class = "k-textbox long-textbox" })
        </td>
    </tr>
    <tr id="trTitleVN" style="display: none;" class="rowVI">
        <td>
            @Html.LabelFor(model => model.Name)
        </td>
        <td>
            @Html.TextBoxFor(model => model.Name, new { @class = "k-textbox long-textbox" })
        </td>
    </tr>
    <tr id="trDescriptionEN" class="rowEN">
        <td>
            @Html.LabelFor(model => model.ShortDescriptionEng)
        </td>
        <td>
            @Html.TextAreaFor(model => model.ShortDescriptionEng, new { @class = "k-textbox long-textbox" })
        </td>
    </tr>
    <tr id="trDescriptionVN" style="display: none;" class="rowVI">
        <td>
            @Html.LabelFor(model => model.ShortDescription)
        </td>
        <td>
            @Html.TextAreaFor(model => model.ShortDescription, new { @class = "k-textbox long-textbox" })
        </td>
    </tr>
    <tr id="trContentEN" class="rowEN">
        <td>
            @Html.LabelFor(model => model.LongDescriptionEng)
        </td>
        <td>
            @Html.TextBoxFor(model => model.LongDescriptionEng, new { @class = "k-textbox long-textbox", @onclick = "showContent('LongDescriptionEng');", @placeholder = "Click to add Content", @style = "height:80px" })
            <input type="hidden" id="txtLongDescriptionEng" />
        </td>
    </tr>
    <tr id="trContentVN" style="display: none;" class="rowVI">
        <td>
            @Html.LabelFor(model => model.LongDescription)
        </td>
        <td>
            @Html.TextBoxFor(model => model.LongDescription, new { @class = "k-textbox long-textbox", @onclick = "showContent('LongDescription');", @placeholder = "Click to add Content", @style = "height:80px" })
            <input type="hidden" id="txtLongDescription" />
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.IsActive)
        </td>
        <td>
            @Html.EditorFor(model => model.IsActive)

        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.SortOrder)

        </td>
        <td>
            @(Html.Kendo().NumericTextBoxFor(m => m.SortOrder)
        .Decimals(0)
        .Format("{0:##0}")
        .Min(0)
        .Max(1000)
        .Step(1)
        .HtmlAttributes(new { style = "width:100px;" })
            )
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.ImageName)
        </td>
        <td>
            @(Html.Kendo().Upload()
            .Name("files")
            .Async(a => a
                .Save("Save", "Product")
                .Remove("Remove", "Product")
                .AutoUpload(true)
            )
            )
        </td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        $('#radioEn').val("en-US");
        $('#radioVi').val("vi-VN");
    });
    $("input:radio[name=radioLanguages]").click(function () {
        var value = $(this).val();
        if (value == langEN) {
            $('.rowEN').show();
            $('.rowVI').hide();
        } else {
            $('.rowEN').hide();
            $('.rowVI').show();
        }
    });
</script>


<style scoped>
    .long-textbox{
        width:95%;
    }
</style>



