﻿@using Kendo.Mvc.UI
@model Mitsubishi.UI.Models.Entities.CareersEntity

@Html.HiddenFor(m => m.ItemID)

<table style="padding-left:25px;width:100%;" cellpadding="3px" cellspacing="3px">
    <tr>
        <td style="width:120px;text-align: right;">
          
        </td>
        <td>
            @Html.Kendo().RadioButton().Name("radioLanguages").Label("English").Checked(true).HtmlAttributes(new { id = "radioEn" }) &nbsp;
            @Html.Kendo().RadioButton().Name("radioLanguages").Label("Vietnamese").HtmlAttributes(new { id = "radioVn" })
        </td>
    </tr>
    <tr id="trTitleEN" class="rowEN">
        <td style="text-align: right;">
            @Html.LabelFor(model => model.TitleEN)
        </td>
        <td>
            @Html.TextBoxFor(model => model.TitleEN, new { @class = "k-textbox long-textbox" })
        </td>
    </tr>
    <tr id="trTitleVN" style="display: none;" class="rowVI">
        <td style="text-align: right;">
            @Html.LabelFor(model => model.Title)
        </td>
        <td>
            @Html.TextBoxFor(model => model.Title, new { @class = "k-textbox long-textbox" })
        </td>
    </tr>
    <tr id="trDescriptionEN" class="rowEN">
        <td style="text-align: right;">
            @Html.LabelFor(model => model.DescriptionEN)
        </td>
        <td>
            @Html.TextAreaFor(model => model.DescriptionEN, new { @class = "k-textbox short-description career-description" })
        </td>
    </tr>
    <tr id="trDescriptionVN" style="display: none;" class="rowVI">
        <td style="text-align: right;">
            @Html.LabelFor(model => model.Description)
        </td>
        <td>
            @Html.TextAreaFor(model => model.Description, new { @class = "k-textbox short-description career-description" })
        </td>
    </tr>
    
    <tr>
        <td style="text-align: right;">
            @Html.LabelFor(model => model.IsActive)
        </td>
        <td>
            @Html.EditorFor(model => model.IsActive)

        </td>
    </tr>
    <tr>
        <td style="text-align: right;">
            @Html.LabelFor(model => model.SortOrder)

        </td>
        <td>
            @(Html.Kendo().NumericTextBoxFor(m => m.SortOrder)
        .Decimals(0)
        .Format("{0:##0}")
        .Min(0)
        .Max(1000)
        .Step(1)
        .HtmlAttributes(new { style = "width:100px;" })
            )
        </td>
    </tr>
    
</table>

<script>
    $(document).ready(function () {
        $('#radioEn').val("en-US");
        $('#radioVi').val("vi-VN");
    });
    $("input:radio[name=radioLanguages]").click(function () {
        var value = $(this).val();
        if (value == langEN) {
            $('.rowEN').show();
            $('.rowVI').hide();
        } else {
            $('.rowEN').hide();
            $('.rowVI').show();
        }
    });
</script>

