﻿@using Kendo.Mvc.UI
@model Mitsubishi.UI.Models.Entities.ProductCategoryEntity

<script>
    $(document).ready(function () {

    });

    function showShortDescription() {
        $("#popupShortDescription").show();
        var kendoWindow = $("#popupShortDescription").kendoWindow({
            title: "Short Description",
            close: onClose
        }).data("kendoWindow").open().center();
    }

    function onClose() {
        
    }
</script>

<style>
    .k-window{
        top:100px !important;
    }
</style>

<table>
    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ProductTypeId)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ProductTypeId)
            </div>
        </td>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.TitleEng)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.TitleEng, new { @class = "k-textbox" })
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Title, new { @class = "k-textbox" })
            </div>
        </td>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.IsActive)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.IsActive)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.SortOrder)
            </div>
            <div class="editor-field">
                @(Html.Kendo().NumericTextBoxFor(m => m.SortOrder)
        .Decimals(0)
        .Format("{0:##0}")
        .Min(0)
        .Max(1000)
        .Step(1)
        .HtmlAttributes(new { style = "width:100px;" })
                )
            </div>
        </td>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ImageName)
            </div>
            <div class="editor-field">
                @(Html.Kendo().Upload()
            .Name("files")
            .Async(a => a
                .Save("Save", "ProductCategory")
                        .Remove("Remove", "ProductCategory")
                .AutoUpload(true)
            )
                )
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ShortDescription)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.ShortDescription, new { onclick = "showShortDescription()" })
            </div>
        </td>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.LongDescription)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.LongDescription)
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.ShortDescriptionEng)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.ShortDescriptionEng)
            </div>
        </td>
        <td>
            <div class="editor-label">
                @Html.LabelFor(model => model.LongDescriptionEng)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(model => model.LongDescriptionEng)
            </div>
        </td>
    </tr>
</table>


<div id="popupShortDescription" style="display:none;">
    @(Html.Kendo().Editor().Name("kEditor").Tools(tools => tools
                    .SubScript()
                    .SuperScript()
                ).HtmlAttributes(new { style = "width:740px;height:440px" }))
</div>










