﻿@using Kendo.Mvc.UI
@model Mitsubishi.UI.Models.Entities.ContentEntity

@Html.HiddenFor(m => m.ItemID)

<table style="margin-left:35px">
    <tr>
        <td style="width:120px">
            @Html.LabelFor(model => model.CategoryID)
        </td>
        <td>
            @(Html.Kendo().DropDownListFor(m => m)
                  .Name("ParentID")
                  .OptionLabel("Select parent category")
                  .DataValueField("ItemID")
                  .DataTextField("DataTextField")
                  .DataSource(ds => ds.Read(read => read.Action("GetListCombobox", "ContentCategory")))
                  .HtmlAttributes(new { style = "width: 300px;margin-right:30px" })
            )
            @Html.Kendo().RadioButton().Name("radioLanguages").Label("English").Checked(true).HtmlAttributes(new { id = "radioEn" }) &nbsp;
            @Html.Kendo().RadioButton().Name("radioLanguages").Label("Vietnamese").HtmlAttributes(new { id = "radioVn" })
        </td>
    </tr>
    <tr id="trTitleEN" class="rowEN">
        <td>
            @Html.LabelFor(model => model.TitleEng)
        </td>
        <td>
            @Html.TextBoxFor(model => model.TitleEng, new { @class = "k-textbox long-textbox" })
        </td>
    </tr>
    <tr id="trTitleVN" style="display: none;" class="rowVI">
        <td>
            @Html.LabelFor(model => model.Title)
        </td>
        <td>
            @Html.TextBoxFor(model => model.Title, new { @class = "k-textbox long-textbox" })
        </td>
    </tr>
    <tr id="trDescriptionEN" class="rowEN">
        <td>
            @Html.LabelFor(model => model.DescriptionEng)
        </td>
        <td>
            @Html.TextAreaFor(model => model.DescriptionEng, new { @class = "k-textbox long-textbox" })
        </td>
    </tr>
    <tr id="trDescriptionVN" style="display: none;" class="rowVI">
        <td>
            @Html.LabelFor(model => model.Description)
        </td>
        <td>
            @Html.TextAreaFor(model => model.Description, new { @class = "k-textbox long-textbox" })
        </td>
    </tr>
    <tr id="trContentEN" class="rowEN">
        <td>
            @Html.LabelFor(model => model.ContentEng)
        </td>
        <td>
            @Html.TextBoxFor(model => model.ContentEng, new { @class = "k-textbox long-textbox", @onclick = "showContent('ContentEng');", @placeholder="Click to add Content", @style="height:80px" })
            <input type="hidden" id="txtContentEng" />
        </td>
    </tr>
    <tr id="trContentVN" style="display: none;" class="rowVI">
        <td>
            @Html.LabelFor(model => model.Content)
        </td>
        <td>
            @Html.TextBoxFor(model => model.Content, new { @class = "k-textbox long-textbox", @onclick = "showContent('Content');", @placeholder = "Click to add Content", @style = "height:80px" })
            <input type="hidden" id="txtContent"/>
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.IsActive)
        </td>
        <td>
            @Html.EditorFor(model => model.IsActive)

        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.SortOrder)

        </td>
        <td>
            @(Html.Kendo().NumericTextBoxFor(m => m.SortOrder)
        .Decimals(0)
        .Format("{0:##0}")
        .Min(0)
        .Max(1000)
        .Step(1)
        .HtmlAttributes(new { style = "width:100px;" })
            )
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.AttachFileName)
        </td>
        <td>
            @(Html.Kendo().Upload()
            .Name("attachFile")
            .Async(a => a
                .Save("SaveAttachFile", "Content")
                .Remove("RemoveAttachFile", "Content")
                .AutoUpload(true)
            )
            )
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Thumbnail)
        </td>
        <td>
            @(Html.Kendo().Upload()
            .Name("files")
            .Async(a => a
                .Save("Save", "Content")
                .Remove("Remove", "Content")
                .AutoUpload(true)
            )
            )
        </td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        $('#radioEn').val("en-US");
        $('#radioVi').val("vi-VN");
    });
    $("input:radio[name=radioLanguages]").click(function () {
        var value = $(this).val();
        if (value == langEN) {
            $('.rowEN').show();
            $('.rowVI').hide();
        } else {
            $('.rowEN').hide();
            $('.rowVI').show();
        }
    });
</script>


<style scoped>
    .long-textbox{
        width:95%;
    }
</style>



