﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@using PagedList.Mvc; 
@model PagedList.IPagedList<Mitsubishi.UI.Models.Entities.ContentEntity>

    @{
        ViewBag.Title = "News & Event";

        Layout = "~/Views/Shared/_LayoutContent.cshtml";
        var currentLanguage = UtilsController.GetCurrentLanguage();
       
    }

    <div class="tt-top">
        <div class="imgNews">
            <img class="Left" src="images/news-img.png">
        </div><h1 class="tile-tinsukien">@HomeController.GetTextValue("News_Header")</h1>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="row">
        <div class="tab-news col-md-12 col-sm-12 col-xs-12">
            <a class="tab-item tab-item-news tab-active" href="news-event.htm">Tin tức</a>
            <a class="tab-item tab-item-event" href="event.htm">Sự kiện</a>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="row">
        <div class="tab-news col-md-12 col-sm-12 col-xs-12">
            <div class="wr-news ">
                <div class="top-news-block row">
                    @{

                        if (Model != null && Model.Any())
                        {

                            int i = 0;
                            foreach (var entity in Model)
                            {
                                var url = Url.RouteUrl("NewsDetail", new
                                   {
                                       title = Utils.ConvertUrf8ToAscii(entity.Title),
                                       itemId = entity.ItemID
                                   });

                                var catName = entity.Category.Title;

                                var except = Server.HtmlDecode(entity.ShortDescription);
                                if (except.ToString().Length > 90)
                                {
                                    except = except.Substring(0, 90);
                                }

                                ViewBag.breadcrumb = "<a href='/news-event.htm'> " + catName + " </a>";

                                var thumb = entity.Thumbnail;
                                if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                                {
                                    catName = entity.Category.TitleEN;
                                }
                                //tin đầu tiên

                                if (i == 0)
                                {

                                    i++;
                                    <div class="news-block-left col-md-8 col-sm-8 col-xs-12">
                                        <div class="col-md-6 col-sm-6 col-md-xs-6 no-padding">
                                            <a href="@url"><img src="~/images/news/thumb/@thumb" class="news-thumbnail img-responsive" alt="@entity.Title" /></a>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <p class="datePublish"><span style="color:#cc0000" class="cat-name">Tin tức</span><span> | @string.Format("{0:dd/MM/yyyy}", entity.CreatedDate)</span></p>
                                            <h2><a href="@url">@entity.Title</a></h2>
                                            <p>
                                                @Html.Raw(except)...
                                            </p>
                                        </div>
                                    </div>
                                }
                                else if (i == 1 || i == 2)
                                {
                                    if (i == 1)
                                    {
                                        @Html.Raw("<div class=\"news-block-right col-md-4 col-sm-4 col-xs-12\">");
                                    }


                                    <div class="item-news">
                                        <div class="col-md-4  col-sm-4 col-xs-6">
                                            <a href="@url"><img src="~/images/news/thumb/@entity.Thumbnail" class="news-thumbnail img-responsive" alt="@entity.Title" /></a>
                                        </div>
                                        <div class="col-md-8 col-sm-8 col-xs-6">
                                            <p class="datePublish">@string.Format("{0:dd/MM/yyyy}", entity.CreatedDate)</p>
                                            <h3><a href="@url">@entity.Title</a></h3>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                    <div class="clear"></div>
                                    if (i == 2)
                                    {
                                        @Html.Raw("</div><div class=\"clear\"></div></div><div class=\"news-conent row\">");
                                    }
                                    i++;
                                }
                                else
                                {

                                    <div class="col-md-3 col-sm-4 col-xs-6 news-item">
                                        <div class="top-news">
                                            <a href="@url"><img src="~/images/news/thumb/@thumb" class="news-thumbnail img-responsive" alt="@entity.Title" /></a>
                                            <p>@string.Format("{0:dd/MM/yyyy}", entity.CreatedDate)</p>
                                            <h3 class="title">
                                                <a href="@url">
                                                    @entity.Title
                                                </a>
                                            </h3>
                                        </div>
                                        <p class="except">
                                            @Html.Raw(except)...
                                            <span class="viewdetail">
                                                <a href="@url">
                                                    Xem Chi Tiết
                                                </a>
                                            </span>
                                        </p>

                                    </div>
                                }
                            }
                        }
                        if (Model.Count < 3)
                        {
                           @Html.Raw("</div></div>");
                        }
}
                    <div class="clear"></div>
                    @Html.PagedListPager(Model, page => Url.Action("NewsEvent", new { page }))
                </div>
                <div class="clear"></div>
            </div>
        </div>
</div>