﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model Mitsubishi.UI.Models.Entities.ContentEntity
@{
    
    Layout = "~/Views/Shared/_LayoutContentDetail.cshtml";
    ViewBag.Title = Model.Title;
}
<!--
<script type="text/javascript" src="~/Scripts/jssor.js"></script>
<script type="text/javascript" src="~/Scripts/jssor.slider.js"></script>
<script type="text/javascript" src="~/Scripts/jssor.slider.product.js"></script>
<script type="text/javascript" src="~/Scripts/jcarousellite_1.0.1.pack.js"></script>
-->
@{
    if (Model.ListImages.Count > 0)
    {
        var banner = Model.ListImages[0];
        <div class="clear"></div>
        <div class="slider_container">
            <img class="SingleSliderImage" u="image" src="/images/slideImages/largeImage/@banner">

            <div class="clear"></div>
        </div>
    }
}

@{
    var title = "";
    var content = "";
    var catName = "";
	var des = "";
    
    if (Model != null)
    {
        title = Model.Title;
        content = Model.LongDescription;
        catName = Model.Category.Title;
		des = Model.ShortDescription;
        
        var currentLanguage = UtilsController.GetCurrentLanguage();

        if (currentLanguage == GlobalConstants.LANGUAGE_EN)
        {
            title = Model.TitleEN;
            content = Model.LongDescriptionEN;
            catName = Model.Category.TitleEN;
			des = Model.ShortDescription;
        }
    }
}
<div id="featurePro">
    <div class="service-container container">

    @{
                   if (Model.ItemID == 1)
                   {
                    <div class="breadcrumb"><a href="/">@HomeController.GetTextValue("Home") </a>/<a href="/news-detail/gioi-thieu-tap-doan-mitsubishi-electric-1.htm"> @HomeController.GetTextValue("Company") </a>/<a href="/news-detail/gioi-thieu-tap-doan-mitsubishi-electric-1.htm"> @HomeController.GetTextValue("GroupIntroduce") </a></div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="mitsubishi-electric-page mitsubishi-electric-corporation">
                                <a target="_blank" href="http://www.mitsubishielectric.com/brief/vn/products/index.html"  class="title-news">
                                    <div class="title-news-block">
                                        @Html.Raw(HomeController.GetTextValue("GroupIntroduceTitle"))
                                    </div>
                                </a>
                                <div class="mitsubishi-electric-content">
                                    @Html.Raw(@content)
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                   }
                   else if (Model.ItemID == 2 || Model.ItemID == 14 || Model.ItemID == 15)
                   {
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                @if (Model.ItemID == 2)
                                {
                                    <div class="breadcrumb"><a href="/">@HomeController.GetTextValue("Home") </a>/<a href="/news-detail/gioi-thieu-tap-doan-mitsubishi-electric-1.htm"> @HomeController.GetTextValue("Company") </a>/<a href="/news-detail/mitsubishi-electric-viet-nam-2.htm"> @HomeController.GetTextValue("AboutUs") </a></div>
                                }
                                @if (Model.ItemID == 14)
                                {
                                    <div class="breadcrumb"><a href="/terms-of-use.htm">@HomeController.GetTextValue("Home") </a>/Chính sách bảo mật</div>
                                }
                                @if (Model.ItemID == 15)
                                {
                                    <div class="breadcrumb"><a href="/privacy.htm">@HomeController.GetTextValue("Home") </a>/Điều khoản sử dụng</div>
                                }
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="mitsubishi-electric-page mitsubishi-electric-company">
                                    
                                    <div class="mitsubishi-electric-content">
                                        @Html.Raw(@content)
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                            }
                            else
                            {
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="breadcrumb"><a href="/">@HomeController.GetTextValue("Home") </a>/<a href="/news-detail/gioi-thieu-tap-doan-mitsubishi-electric-1.htm">@HomeController.GetTextValue("Company") </a>/<a href="/news-event.htm"> @HomeController.GetTextValue("News_Header") </a>@ViewBag.breadcrumb</div>
                                 </div>
                                <div class="clear"></div>
                            </div>
                            <div class="row wr-Detailnews">
                                <div class="col-md-8 col-sm-12 col-xs-12 enlarge clearfix gallery">
                                    <div class="news-conent-main">
                                        <div class="cat-news">@catName | <span>@string.Format("{0:dd/MM/yyyy}", Model.ModifiedDate) </span></div>
                                        @if (Model != null && Model.CategoryID != 1)
                                {
                                            <h1 class="title-newsDetail">
                                                @Html.Raw(Server.HtmlDecode(title))
                                            </h1>
                                }
										<p>
										@{
											@Html.Raw(Server.HtmlDecode(des));
										}
										</p>
                                        <p>
                                            @{
                                                @Html.Raw(Server.HtmlDecode(content))
                                            }
                                        </p>
                                        @if (!string.IsNullOrEmpty(Model.AttachFileName) && File.Exists(Server.MapPath("/download/" + Model.AttachFileName)))
                                {
                                            <div class="down-post">
                                                <a href="/download/@Model.AttachFileName" class="down-post-btn">Tải bài viết</a>
                                            </div>
                                }
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    @Html.Partial("partialRelatedNews")
                                </div>
                                <div class="clear"></div>
                            </div>
                            }
                            }


                        </div>
</div>
                        @{
    if (Model.IsAllowShowGallery && Model.ListImages.Any())
    {
        <div class="news-slider">
            <div class="contentSlider">
                <h1>XEM THÊM HÌNH ẢNH</h1>
                <div id="news" class="content-carousel">
                    <div class="prev-news"><a href="#"><img src="/images/pre-news.png" alt="prev" /></a></div>
                    <div class="slider-news enlarge clearfix">
                        <ul class="enlarge clearfix gallery">
                            @if (Model.ListImages.Any())
                            {
                                foreach (var item in Model.ListImages)
                                {
                                    if (!string.IsNullOrEmpty(item))
                                    {
                                        <li>
                                            <a href="~/images/slideImages/largeImage/@item" rel="prettyPhoto[gallery1]">
                                                <img src="~/images/slideImages/thumbnailImage/@item" />
                                            </a>
                                        </li>
                                    }
                                }
                            }

                        </ul>

                    </div>
                    <div class="next-news"><a href="#"><img src="/images/next-news.png" alt="next" /></a></div>
                </div>
            </div>
        </div>
    }

                        }

