﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Services
@model Mitsubishi.UI.Models.Entities.ProductCategoryEntity


<link type="text/css" rel="stylesheet" href="~/Content/lightSlider.css" media="screen" />
@{
    var lstRelated = Model.ListRelated;

    if (lstRelated.Any())
    {
        lstRelated = lstRelated.OrderBy(e => e.SortOrder).ToList();

    }
    //  var lstModels = Model.ListSubModel;
    //var firstItem = new ProductModelEntity();
    // var secondItem = new ProductModelEntity();

    // if (lstModels.Any() && lstModels.Count > 1)
    //   {
    //      firstItem = lstModels[0];
    //      secondItem = lstModels[1];
    //  }
}
<script>
    var isiPhone = navigator.userAgent.toLowerCase().indexOf("iphone");
    var isiPad = navigator.userAgent.toLowerCase().indexOf("ipad");

    function getImages(color) {
        $.ajax({
            url: "/ProductCategory/GetColorDetail",
            data: {
                colorId: color
            },
            cache: false,
            async: false,
            type: "GET",
            timeout: TIME_OUT,
            dataType: "json",
            success: function (result) {
                if (result) {
                    var str = "";

                    $('.demo .lSSlideOuter').html('');
                    $('.demo .lSSlideOuter').html('<ul id=' + color + '/>');

                    for (var i = result.ListImages.length - 1; i >= 0; i--) {
                        str += "<li data-thumb='/images/icon/" + result.ListImages[i] + "'> <img src='/images/" + result.ListImages[i] + "'/> </li>\r\n";
                    }

                    $('#' + color).html(str);

                    $('#' + color).lightSlider({
                        gallery: true,
                        item: 1,
                        loop: true,
                        slideMargin: 0,
                        thumbItem: 5
                    });


                }
            }
        });
    }
</script>

<!-- Content -->
<div class="container-feature" style="background:#fff;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="Imgproduct ">
                    <div class="demo">
                        @{
                            if (Model.Colors.Any())
                            {
                                foreach (var color in Model.Colors)
                                {
                                    <ul id="@color.ItemID"></ul>
                                }
                            }
                        }
                        <ul id="lightSlider">
                            @{
                                if (Model.Colors.Any())
                                {
                                    var images = Model.Colors[0].ListImages;


                                    if (images.Any())
                                    {
                                        for (int k = images.Count() - 1; k >= 0; k--)
                                        {
                                            <li data-thumb="/images/icon/@images[k]"> <img src="/images/@images[k]" /> </li>
                                        }
                                    }

                                }
                            }
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="featureInfo ">
                    <div class="ShortDescription">
                        @Html.Raw(Server.HtmlDecode(Model.ShortDescription))
                    </div>
                    <div class="m-Left">
                        <div class="title-color brown">@HomeController.GetTextValue("Product_Colors"):</div>
                        <div class="radio-list">
                            @{
                                if (Model.Colors.Any())
                                {
                                    var firstItem = Model.Colors[0];

                                    foreach (var color in Model.Colors)
                                    {
                                        var isCheck = "";

                                        if (color.ItemID == firstItem.ItemID)
                                        {
                                            isCheck = "checked";
                                        }
                                        <span onclick="getImages(@color.ItemID);" style="background:@color.Code" class="ProductCode"></span>

                                        <span onclick="getImages(@color.ItemID);"> @color.Title</span><br />
                                    }
                                }
                            }
                        </div>







                    </div>
                    <div class="m-Left">
                        @{

                            if (Model.Price != "")
                            {

                                <div class="product-price">
                                    <span class="title">GIÁ</span>
                                    <span class="price">@Model.Price</span>
                                    <div class="clear"></div>
                                </div>

                            }
                        }
                        <div class="clear"></div>
                        @{
                            if (Model.Promotion != "")
                            {
                                <div class="product-promotion">
                                    <p class="title">Khuyến mãi</p>
                                    <p class="text">@Model.Promotion</p>
                                    <div class="clear"></div>
                                </div>
                            }
                        }




                        <div class="wr-links">
                            @{
                                var typeId = Model.ProductTypeId;
                                var categoryId = Model.ParentID;

                                var link = "/where-to-buy.htm?type=" + typeId + "&category=" + categoryId;


                            }

                            <a href="#order-now"class="fancybox button-green Left">@HomeController.GetTextValue("Product_WhereToBuy")</a>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-overview row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @Html.Raw(Server.HtmlDecode(Model.LongDescription))
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="tech-infomation">
    <div class="custom-field-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    @{
                        int i = 1;
                        var cf = new CustomFieldService().GetListCustomFields(Model.ItemID);
                        foreach (var k in cf)
                        {
                            var cf_title = k.Title;
                            var cf_content = k.Description;
                            var cf_alias = k.Alias;

                            <div class="accordion-section ">
                                <p class="text"><a name="@cf_alias" class="accordion-section-title" href="#accordion-@i" id="@cf_alias">@cf_title</a></p>
                                <div class="accordion-section-content" id="accordion-@i">
                                    @{
                            string tmp = cf_content.Replace("[col-6]", "<div class='col-md-6 col-sm-12 col-xs-12'>");
                            tmp = tmp.Replace("[/col-6]", "</div>");

                            i++;

                                    }
                                    @Html.Raw(tmp)
                                    <div class="clear"></div>
                                </div>
                                <div class='row'></div>
                            </div>
                            <div class='row'></div>
                        }
                    }
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
@{
    if (ViewBag.kt == 1)
    {
        @Html.Partial("partialReviewProduct", Model)

        @Html.Partial("partialManualInProduct", Model)


        @Html.Partial("partialProductRelated", Model)

        @Html.Partial("partialOtherProductCategory", Model)
    }
}
