﻿@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Entities
@model List<Mitsubishi.UI.Models.Entities.ProductCategoryEntity>

<div id="feature-carousel">
    <div class="sliderREF">
        @{
            var lstRelated = Model;

            if (lstRelated.Any())
            {
                lstRelated = lstRelated.OrderBy(e => e.SortOrder).ToList();
            }
            
            if (lstRelated.Any())
            {
                <div class="display_count">@lstRelated.Count Products Total sss</div>
                <ul>
                    @foreach (var item in lstRelated)
                    {
                        var url = Url.RouteUrl("SubProductCategory", new
                                        {
                                            productTypeName = Utils.ConvertUrf8ToAscii(item.ProductType.Title),
                                            parentCategoryName = Utils.ConvertUrf8ToAscii(item.ParentCategory.Title),
                                            subCategoryName = Utils.ConvertUrf8ToAscii(item.Title),
                                            productCategoryId = item.ItemID
                                        });
                        <li>
                            <a href="@url">
                                <img src="/images/@item.IconName" title="@item.ProductCode" alt="@item.ProductCode" />
                            </a>
                            <div> <a class="title" href="@url">@item.ProductCode</a> </div>
                        </li>
                    }
                </ul>
            }
        }

    </div>
</div>

