﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model List<Mitsubishi.UI.Models.Entities.ProductCategoryEntity>

@{
    Layout = "~/Views/Shared/_LayoutCatalogue.cshtml";
}

@{


    var currentLanguage = UtilsController.GetCurrentLanguage();
    var title = "Catalogue sản phẩm";
    if (currentLanguage == GlobalConstants.LANGUAGE_EN)
    {
        title = "Product catalogue";
    }
}
<div class="bg-about">
    <div class="service-container container ">
        <div class="breadcrumb"><a href="/">Trang chủ </a>/<a href="/san-pham.htm"> Sản phẩm </a> / @title</div>
        <div class="clear"><h1 style="color:#db0000;text-transform:uppercase;font-size: 25px; line-height: 30px;">@title</h1> </div>
        <div class="catalogue-container">
            @{


                var lst = new ProductCategoryController().catalogueProduct(1, false);


                foreach (var entity in lst)
                {
                    var cat_title = entity.Title;
                    var link = entity.BrochureFileName;

                    <div class="accordion-section catalogue-item">
                        <div class="catalogue-item-title">
                            <div class="Thumb col-md-2 col-sm-1 col-xs-12"><img alt="@entity.ImageName" class="img-responsive" src="~/images/@entity.ImageName" /></div>
                            <h2 class="title-catalogue col-md-7 col-sm-7 col-xs-12"><a class="catalogue-title" href="#accordion-@entity.ItemID"><img class="catalogue-icon" src="~/Content/images/prettyPhoto/mitsu/arrow-catalogue-icon.png" />Catalogue @cat_title</a></h2>
                            <div class="col-md-3 col-sm-3 col-xs-12 link">
                                @{
                                    if (entity.BrochureFileName != null)
                                    {
                                        var files = entity.BrochureFileName.Split(';');
                                        foreach (var file in files)
                                        {
                                            if (file != "")
                                            {
                                                if (entity.ItemID != 2)
                                                {
                                                    <a target="_blank" href="download/@file"><span>Tải về</span><img class="catalogue-icon" src="~/Content/images/prettyPhoto/mitsu/download-catalogue-icon.png" alt="download catalogue" /></a>
                                                }
                                            }
                                        }
                                    }
                                }
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div id="accordion-@entity.ItemID" class="accordion-section-content">
                            @{

                                if (@entity.ItemID == 2)
                                {

                                    if (entity.BrochureFileName != null)
                                    {
                                        var files = entity.BrochureFileName.Split(';');

                                        @Html.Raw("<div class=\"col-md-1 col-sm-1 col-xs-12\">&nbsp;</div>");
                                        @Html.Raw("<div class=\"catalogue-title col-md-7 col-sm-7 col-xs-12\">");
                                        @Html.Raw("<span class=\"title\">+ Cataloge</span>");
                                        @Html.Raw("</div>");
                                        @Html.Raw("<div class=\"col-md-3 col-sm-3 col-xs-12 link\">");
                                        @Html.Raw("<a target=\"_blank\" href=\"download/" + files[0] + "\"><span>Tải về</span><img class=\"catalogue-icon\" src=\"/Content/images/prettyPhoto/mitsu/download-catalogue-icon.png\"></a>");
                                        @Html.Raw("</div>");

                                        @Html.Raw("<div class=\"clear\"></div>");
                                        @Html.Raw("<div class=\"col-md-1 col-sm-1 col-xs-12\">&nbsp;</div>");
                                        @Html.Raw("<div class=\"catalogue-title col-md-7 col-sm-7 col-xs-12\">");
                                        @Html.Raw("<span class=\"title\">+ Leaflet</span>");
                                        @Html.Raw("</div>");
                                        @Html.Raw("<div class=\"col-md-3 col-sm-3 col-xs-12 link\">");
                                        @Html.Raw("<a target=\"_blank\" href=\"download/" + files[1] + "\"><span>Tải về</span><img class=\"catalogue-icon\" src=\"/Content/images/prettyPhoto/mitsu/download-catalogue-icon.png\"></a>");
                                        @Html.Raw("</div>");



                                    }

                                }
                                else
                                {

                                    var lst2 = new ProductCategoryController().catalogueProduct(@entity.ItemID, true);
                                    foreach (var entity2 in lst2)
                                    {
                                        <div class="col-md-1 col-sm-1 col-xs-12">&nbsp;</div>
                                        <div class="col-md-7 col-sm-7 col-xs-12 catalogue-item-content">
                                            <span class="title">+ @entity2.Title</span>
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-12 link">
                                            @if (entity2.BrochureFileName != null)
                                            {
                                                var files = entity2.BrochureFileName.Split(';');
                                                foreach (var file in files)
                                                {
                                                    if (file != "")
                                                    {

                                                        <a target="_blank" href="download/@file"><span>Tải về</span><img class="catalogue-icon" src="~/Content/images/prettyPhoto/mitsu/download-catalogue-icon.png" /></a>
                                                    }


                                                }


                                            }
                                        </div>

                                        <div class="clear"></div>
                                        //cap 2
                                        var lst4 = new ProductCategoryController().catalogueProduct(@entity2.ItemID, true);
                                        foreach (var entity4 in lst4)
                                        {
                                            <div class="col-md-1 col-sm-1 col-xs-12">&nbsp;</div>
                                            <div class="col-md-7 col-sm-7 col-xs-12 catalogue-item-content">
                                                <span class="title">+ @entity4.Title</span>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12 link">
                                                @if (entity2.BrochureFileName != null)
                                                {
                                                    <a target="_blank" href="download/@entity4.BrochureFileName"><img class="catalogue-icon" src="~/Content/images/prettyPhoto/mitsu/download-catalogue-icon.png" /></a>
                                                }
                                            </div>
                                        }

                                    }
                                }
                            }

                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>

                                }
                                List<int> ProductTypeID = new List<int>();
                                ProductTypeID.Add(12);
                                ProductTypeID.Add(13);

                                foreach (var k in ProductTypeID)
                                {
                                    var entity = ProductCategoryController.GetItem(k);

                                    <div class="accordion-section catalogue-item">
                                        <div class="catalogue-item-title">
                                            <div class="Thumb col-md-2 col-sm-1 col-xs-12"><img alt="@entity.ImageName" class="img-responsive" src="~/images/@entity.ImageName" /></div>
                                            <h2 class="title-catalogue col-md-7 col-sm-7 col-xs-12">
                                                <a class="catalogue-title" href="#accordion-@entity.ItemID"><img class="catalogue-icon" src="~/Content/images/prettyPhoto/mitsu/arrow-catalogue-icon.png" />Catalogue @entity.Title </a></h2>
                                                <div class="col-md-3 col-sm-3 col-xs-12 link">
                                                    @if (entity.BrochureFileName != null)
                                                    {
                                                        var files = entity.BrochureFileName.Split(';');
                                                        foreach (var file in files)
                                                        {
                                                            if (file != "")
                                                            {

                                                                <a target="_blank" href="download/@file"><span>Tải về</span><img class="catalogue-icon" src="~/Content/images/prettyPhoto/mitsu/download-catalogue-icon.png" /></a>
                                                            }


                                                        }
                                                    }
                                                </div>
                                                <div class="clear"></div>
</div>
                                        <div id="accordion-@entity.ItemID" class="accordion-section-content">

                                            @{
                                                var lst2 = new ProductCategoryController().catalogueProduct(@entity.ItemID, true);
                                                foreach (var entity2 in lst2)
                                                {
                                                    <div class="col-md-1 col-sm-1 col-xs-12">&nbsp;</div>
                                                    <div class="col-md-7 col-sm-7 col-xs-12 catalogue-item-content">
                                                        <h2 class="title-catalogue col-md-7 col-sm-7 col-xs-12"><span class="title">+ @entity2.Title</span></h2>
</div>
                                                    <div class="col-md-3 col-sm-3 col-xs-12 link">
                                                        @if (entity2.BrochureFileName != null)
                                                        {
                                                            var files = entity2.BrochureFileName.Split(';');
                                                            foreach (var file in files)
                                                            {
                                                                if (file != "")
                                                                {

                                                                    <a target="_blank" href="download/@file"><span>Tải về</span><img class="catalogue-icon" src="~/Content/images/prettyPhoto/mitsu/download-catalogue-icon.png" /></a>
                                                                }


                                                            }
                                                        }
                                                    </div>
                                                    <div class="clear"></div>


                                                }
                                            }

                                        </div>
                                    </div>

                                                }
                                                //var lst = new ProductCategoryController().catalogueProduct(1, false);
            }
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery.accordion.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        function close_accordion_section() {
            jQuery('.catalogue-title').removeClass('active');
            jQuery('.accordion-section-content').slideUp(300).removeClass('open');
        }

        jQuery('.catalogue-title').click(function (e) {
            // Grab current anchor value
            var currentAttrValue = jQuery(this).attr('href');

            if (jQuery(e.target).is('.active')) {
                close_accordion_section();
            } else {
                close_accordion_section();

                // Add active class to section title
                jQuery(this).addClass('active');
                // Open up the hidden content panel
                jQuery('.catalogue-container ' + currentAttrValue).slideDown(300).addClass('open');
            }

            e.preventDefault();
        });
    });
</script>
