﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Entities
@using Mitsubishi.UI.Models.Services
@model ProductCategoryEntity
<link type="text/css" rel="stylesheet" href="~/Content/lightSlider.css" media="screen" />
@{
    var lstRelated = Model.ListRelated;

    if (lstRelated.Any())
    {
        lstRelated = lstRelated.OrderBy(e => e.SortOrder).ToList();
    }

    //  @Html.Partial("_CarouselItems", lstRelated)
}


<!-- Content -->
<div class="container-feature" style="background:#fff;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="Imgproduct">
                    <div style=" border: 1px solid #ccc;">
                        <img src="/images/@Model.ListImages[0]" title="">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="featureInfo ">
                    <div class="ShortDescription">
                        @Html.Raw(Server.HtmlDecode(Model.ShortDescription))
                    </div>
                    <div class="m-Left">
                    </div>
                    <div class="m-Left">
                        @{

                            if (Model.Price != "")
                            {

                                <div class="product-price">
                                    <span class="title">GIÁ</span>
                                    <span class="price">@Model.Price</span>
                                    <div class="clear"></div>
                                </div>

                            }
                        }
                        <div class="clear"></div>
                        @{
                            if (Model.Promotion != "")
                            {
                                <div class="product-promotion">
                                    <p class="title">Khuyến mãi</p>
                                    <p class="text">@Model.Promotion</p>
                                    <div class="clear"></div>
                                </div>
                            }
                        }




                        <div class="wr-links">
                            @{
                                var typeId = Model.ProductTypeId;
                                var categoryId = Model.ParentID;

                                var link = "/where-to-buy.htm?type=" + typeId + "&category=" + categoryId;


                            }
                            <a href="#order-now"class="fancybox button-green Left">@HomeController.GetTextValue("Product_WhereToBuy")</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-overview row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                @Html.Raw(Server.HtmlDecode(Model.LongDescription))
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
@{
    var currentLanguage = UtilsController.GetCurrentLanguage();

    var content = Server.HtmlDecode(Model.LongDescription);

    if (currentLanguage == GlobalConstants.LANGUAGE_EN)
    {
        content = Server.HtmlDecode(Model.LongDescriptionEN);
    }



}

<div class="tech-infomation ">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="block-title">@Html.Raw(content)</p>
                @{
                    int i = 1;
                    var cf = new CustomFieldService().GetListCustomFields(Model.ItemID);
                    foreach (var k in cf)
                    {
                        var cf_title = k.Title;
                        var cf_content = k.Description;
                        var cf_alias = k.Alias;

                        <div class="accordion-section ">
                            <p class="text"><a class="accordion-section-title" href="#accordion-@i" id="@cf_alias">@cf_title</a></p>
                            <div class="accordion-section-content" id="accordion-@i">
                                @{
                        string tmp = cf_content.Replace("[col-6]", "<div class='col-md-6 col-sm-12 col-xs-12'>");
                        tmp = tmp.Replace("[/col-6]", "</div>");

                        i++;

                                }
                                @Html.Raw(tmp)
                            </div>
                            <div class='row'></div>
                        </div>
                        <div class='row'></div>
                    }
                }
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
@{
    if (ViewBag.kt == 1)
    {
        @Html.Partial("partialReviewProduct", Model)

        @Html.Partial("partialManualInProduct", Model)


        @Html.Partial("partialProductRelated", Model)

        @Html.Partial("partialOtherProductCategory", Model)
    }
}