﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Services
@model Mitsubishi.UI.Models.Entities.ProductCategoryEntity

<script type="text/javascript" src="/Scripts/jquery.accordion.js"></script>

<script type="text/javascript" src="~/Scripts/jquery-popup.js"></script>
<script src="~/Scripts/jquery.lightSlider.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $(".slider-bt").jCarouselLite({
            btnNext: ".next-bt",
            btnPrev: ".prev-bt",
            visible: 3
        });
    });
</script>

@{
                    Layout = "~/Views/Shared/_LayoutProductDetail.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $('.modal-popup').setupModal({ id: 'popMod1' });//id

        $('#lightSlider').lightSlider({//class
            gallery: true,
            item: 1,
            loop: true,
            slideMargin: 0,
            thumbItem: 5
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $(".carousel").jCarouselLite({
            btnNext: ".next-bt",
            btnPrev: ".prev-bt",
            visible: 4
        });
    });
</script>

@{
   // var lstRac = new List<int>() { 24, 25, 26, 27, 43, 44, 45, 46, 47, 65, 66, 118, 55, 69 ,117,46};
    var lstRac = new List<int>() { 14, 123 };
    var lstRef = new List<int>() { 2, 6, 7, 10, 11 };
    var lstFans = new List<int>() { 4, 38, 39, 48, 29, 28, 30 };
    var lstVentilator = new List<int>() { 3, 32, 35, 34, 31,140 };
    var lstJet = new List<int>() { 36,37 };
    var lstAcp = new List<int>() { 12, 43, 44, 45, 46 };

    if (Model != null)
    {
        var kt = 0;
        //ViewBag.Title = Html.Raw(Model.Title);

        var currentLanguage = UtilsController.GetCurrentLanguage();

        var ProductTypeTitle = Model.ProductType.Title;
        var ParentTitle = Model.ParentCategory.Title;

        var title = Model.Title;


        if (currentLanguage == GlobalConstants.LANGUAGE_EN)
        {
            ProductTypeTitle = Model.ProductType.TitleEN;
            title = Model.TitleEN;
            ParentTitle = Model.ParentCategory.TitleEN;
        }

        var strBreadcumb = ViewBag.Breadcumb;

        ViewBag.breadcrumb = strBreadcumb;
        ViewBag.Title = Utils.StripTag(title);




        if (Model.ProductTypeId == GlobalConstants.PRODUCT_TYPE_FACTORY_AUTOMATION)
        {
            kt = 1;
            ViewBag.kt = kt;
            @Html.Partial("DetailWithListItem", Model)

        }
        else if (lstRef.Contains(Model.ParentID) || lstRef.Contains(Model.ParentCategory.ParentID) || lstRef.Contains(Model.ProductTypeId))
        {
            kt = 1;
            ViewBag.kt = kt;
            @Html.Partial("DetailRefrigerator", Model)

        }
        else if (lstAcp.Contains(Model.ParentID) || lstAcp.Contains(Model.ParentCategory.ParentID) || lstAcp.Contains(Model.ProductTypeId))
        {
            kt = 1;
            ViewBag.kt = kt;
            @Html.Partial("DetailACP", Model);

        }

        else if (lstRac.Contains(Model.ParentID) || lstRac.Contains(Model.ParentCategory.ParentID) || lstRac.Contains(Model.ProductTypeId))
        {
            
            kt = 0;
            ViewBag.kt = kt;
            @Html.Partial("DetailRAC", Model);

        }
        else if (lstVentilator.Contains(Model.ParentID))
        {
            kt = 1;
            ViewBag.kt = kt;
            @Html.Partial("DetailVentilator", Model);

        }
        else if (lstJet.Contains(Model.ParentID))
        {
            kt = 1;
            ViewBag.kt = kt;
            @Html.Partial("DetailJetTowel", Model);

        }
        else if (lstFans.Contains(Model.ParentID) || lstFans.Contains(Model.ProductTypeId))
        {
            kt = 1;
            ViewBag.kt = kt;
            @Html.Partial("_DetailFanNew", Model)

        }
        else
        {
            kt = 0;
            ViewBag.kt = kt;
            if (currentLanguage == GlobalConstants.LANGUAGE_EN)
            {
                ViewBag.Title = Model.TitleEN;
                @Html.Raw(Server.HtmlDecode(Model.LongDescriptionEN));
            }
            else
            {
                ViewBag.Title = Model.Title;

                string tmp = Model.LongDescription.Replace("[col-6]", "<div class='col-md-6 col-sm-12 col-xs-12'>");
                tmp = tmp.Replace("[/col-6]", "</div>");
                @Html.Raw("<div class=\"container-feature\" style=\"background:#fff\">");
                @Html.Raw("<div class=\"container\">");
                        @Html.Raw(Server.HtmlDecode(tmp));
                @Html.Raw("</div>");
                @Html.Raw("</div>");
                        }
                        }
                       // ViewBag.kt = kt;
                      //  if (kt == 1)
                      //  {
                        var currentLang = UtilsController.GetCurrentLanguage();
<!--
                        <div id='order-now-fixed' class=''>
                            <a class="fancybox shoping-agent-link" href="#order-now">
                                <span class="order-now-button">a</span>
                            </a>
                        </div>
    -->
                       // }
                        }

                        }



@{
  //  var typeId = Model.ProductTypeId;
  //  var categoryId = Model.ParentID;

   // if (Model.ParentCategory != null)
   // {
   //     categoryId = Model.ParentCategory.ParentID;
   // }

   // var link = "/where-to-buy.htm?type=" + typeId + "&category=" + categoryId;
}

                        <div id="order-now">
    <div id="shoping-agent">
        <p class="title">Đặt mua</p>
        <div class="carousel">
            <ul>
                @{
                    var lst_mt = new MerchantService().GetAllMechantsOfProduct(Model.ItemID, true);

                    if (lst_mt.Count() > 0)
                    {
                        foreach (var mt_item in lst_mt)
                        {
                            var mt_title = mt_item.Merchant.Name;
                            var mt_link = mt_item.Link;
                            var mt_image = mt_item.Merchant.Image;

                            <li class="agent col-xs-6"><a class="mt-ico" onclick="trackOutboundLink('@mt_link', '@mt_title'); return false;" target="_blank" href="@mt_link"><img title="@mt_title" alt="@mt_title" src="~/images/merchants/@mt_image" /></a></li>
                        }
                    }
                    else
                    {
                        <li style="width:300px;padding:0 5px;">Không hỗ trợ</li>
                    }

                }
            </ul>
            </div>
            <div class="clear"></div>

            <div class="name">
                <p style="text-align:center">
                    <strong style="
        color:#008b2e;">DANH SÁCH CỬA HÀNG TRÊN TOÀN QUỐC</strong>
                    <a href="/where-to-buy.htm" class="fancybox button-green" style="font-weight: bold;">
                        XEM NGAY
                    </a>
                </p>
            </div>

        </div>

</div>
                        <script>
                            jQuery(document).ready(function () {
                                jQuery('.fancybox').fancybox({
                                    wrapCSS: 'fancybox-shoping-agent',
                                    openEffect: 'elastic',
                                    openSpeed: 450
                                });

                            });
                        </script>
                        <script type="text/javascript">
                            function close_accordion_section() {
                                jQuery('.accordion-section-title').removeClass('active');
                                jQuery('.accordion-section-content').slideUp(300).removeClass('open');
                            }
                            jQuery(document).ready(function () {

                                $(".white_button,.red_button").on("click", function (e) {

                                    jQuery('.accordion-section-title').removeClass('active');
                                    jQuery('.accordion-section-content').slideUp(0).removeClass('open');
                                    var link = $(this).attr("href");
                                    // $(link).trigger("click");

                                    var currentAttrValue = jQuery(link).attr('href');




                                    jQuery('html,body').animate({ scrollTop: $(link).offset().top }, 500, function () {
                                        $(link).addClass('active');
                                        console.log(link);
                                        jQuery(currentAttrValue).slideDown(600).addClass('open');

                                    });


                                    e.preventDefault();
                                    return false;

                                });

                                jQuery('.accordion-section-title').click(function (e) {
                                    // Grab current anchor value
                                    var currentAttrValue = jQuery(this).attr('href');

                                    if (jQuery(e.target).is('.active')) {

                                        jQuery('.accordion-section-title').removeClass('active');
                                        jQuery('.accordion-section-content').slideUp(300).removeClass('open');

                                    } else {
                                        //close_accordion_section();
                                        jQuery('.accordion-section-title').removeClass('active');
                                        jQuery(this).addClass('active');
                                        jQuery('.accordion-section-content').slideUp(0).removeClass('open');

                                        jQuery('html,body').animate({ scrollTop: $(this).offset().top }, 500, function () {

                                            jQuery(currentAttrValue).slideDown(600).addClass('open');

                                        });


                                    }

                                    e.preventDefault();
                                });
                                /*
                                        jQuery('.shoping-agent-link').hover(function (e) {
                                            jQuery('#order-now-fixed').toggleClass('hover');
                                        });
                                        */
                            });
                        </script>
                        @{
    if (Model.LinkVideo != "" && Model.ThumbVideo != "")
    {
       // var thumbVideo = "~/thumb" Model.ThumbVideo;

        <script type="text/javascript">
            $(document).ready(function () {
                var count = $(".lSGallery li").length;

                var leng = $(".lSGallery").width();

                $(".lSSlideOuter ").append("<div style='left:" + leng + "px' class='videoThumb' ><a target='_blank' href='@Model.LinkVideo'><img height='65' src='/images/@Model.ThumbVideo' /><span class='hover-element'>â</span></a></div>");
            });
        </script>
    }
                        }
