﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model Mitsubishi.UI.Models.Entities.ProductCategoryEntity
@{
    ViewBag.Title = Model.Title;
    var currentLanguage = UtilsController.GetCurrentLanguage();

    var title = Model.Title;
    var shortDescription = Model.ShortDescription;
    
    if (currentLanguage == GlobalConstants.LANGUAGE_EN)
    {
        ViewBag.Title = Model.TitleEN;
        
        title = Model.TitleEN;
        shortDescription = Model.ShortDescriptionEN;
    }
}

<div class="">
    <div class="container-factory">
        <div class="featureInfo Right">
            <h5><span class="brown-arr-left">
                   GIỚI THIỆU CHUNG 
                </span></h5>
            <h6 class="titlePost">@title</h6>
            <div class="doc-02">
                @{
                    string tmp = shortDescription.Replace("[col-6]", "<div class='col-md-6 col-sm-12 col-xs-12'>");
                    tmp = tmp.Replace("[/col-6]", "</div>");

                    Html.Raw(Server.HtmlDecode(tmp));
                }
            </div>
            
            @if (!string.IsNullOrEmpty(Model.BrochureFileName) && File.Exists(Server.MapPath("/download/" + Model.BrochureFileName)))
            {
                <div class="m-Left">
                    <button class="btn-download-02">Download a brochure</button>
                </div>
            }
            
        </div>
        <div class="Imgproduct Left"> <img src="/images/CNC_sp.png"> </div>
        <div class="clear"></div>
        <div class="line-factory"> <img src="/images/horizontal-fa-line.png"></div>
        
        @Html.Partial("partialListItemByCategory", Model)
    </div>
</div>

