﻿@using Mitsubishi.UI.Areas.Publish.Controllers
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Services
@model Mitsubishi.UI.Models.Entities.ProductCategoryEntity

<script type="text/javascript" src="/Scripts/jquery.accordion.js"></script>

<script type="text/javascript" src="~/Scripts/jquery-popup.js"></script>
<script src="~/Scripts/jquery.lightSlider.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $(".slider-bt").jCarouselLite({
            btnNext: ".next-bt",
            btnPrev: ".prev-bt",
            visible: 3
        });
    });
</script>

@{
    Layout = "~/Views/Shared/_LayoutProductDetail.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $('.modal-popup').setupModal({ id: 'popMod1' });

        $('#lightSlider').lightSlider({
            gallery: true,
            item: 1,
            loop: true,
            slideMargin: 0,
            thumbItem: 5
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        $(".slider-bt").jCarouselLite({
            btnNext: ".next-bt",
            btnPrev: ".prev-bt",
            visible: 3
        });
    });
</script>

@{
   // var lstRac = new List<int>() { 24, 25, 26, 27, 43, 44, 45, 46, 47, 65, 66, 118, 55, 69 ,117,46};
    var lstRac = new List<int>() { 12 };
    var lstRef = new List<int>() { 14, 6, 7, 10, 11 };
    var lstFans = new List<int>() { 4, 38, 39, 48, 29, 28, 30 };
    var lstVentilator = new List<int>() { 3, 32, 35, 34, 31,140 };
    var lstJet = new List<int>() { 36,37 };
    var lstAcp = new List<int>() { 14, 43, 44, 45, 117, 46, 244 };

    if (Model != null)
    {
        var kt = 0;
        //ViewBag.Title = Html.Raw(Model.Title);

        var currentLanguage = UtilsController.GetCurrentLanguage();

        var ProductTypeTitle = Model.ProductType.Title;
        var ParentTitle = Model.ParentCategory.Title;

        var title = Model.Title;


        if (currentLanguage == GlobalConstants.LANGUAGE_EN)
        {
            ProductTypeTitle = Model.ProductType.TitleEN;
            title = Model.TitleEN;
            ParentTitle = Model.ParentCategory.TitleEN;
        }

        var strBreadcumb = ViewBag.Breadcumb;

        ViewBag.breadcrumb = strBreadcumb;
        ViewBag.Title = Utils.StripTag(title);




        if (Model.ProductTypeId == GlobalConstants.PRODUCT_TYPE_FACTORY_AUTOMATION)
        {
            kt = 1;
            ViewBag.kt = kt;
            @Html.Partial("DetailWithListItem", Model)

        }
        else if (lstAcp.Contains(Model.ParentID) || lstAcp.Contains(Model.ProductTypeId))
        {
            kt = 1;
            ViewBag.kt = kt;
            @Html.Partial("DetailACP", Model);

        }
        else if (lstRef.Contains(Model.ParentID) || lstRef.Contains(Model.ProductTypeId))
        {
            kt = 1;
            ViewBag.kt = kt;
            @Html.Partial("DetailRefrigerator", Model)

        }
        else if (lstRac.Contains(Model.ParentID) || lstRac.Contains(Model.ProductTypeId))
        {
            kt = 0;
            ViewBag.kt = kt;
            @Html.Partial("DetailRAC", Model);

        }
        else if (lstVentilator.Contains(Model.ParentID))
        {
            kt = 1;
            ViewBag.kt = kt;
            @Html.Partial("DetailVentilator", Model);

        }
        else if (lstJet.Contains(Model.ParentID))
        {
            kt = 1;
            ViewBag.kt = kt;
            @Html.Partial("DetailJetTowel", Model);

        }
        else if (lstFans.Contains(Model.ParentID) || lstFans.Contains(Model.ProductTypeId))
        {
            kt = 1;
            ViewBag.kt = kt;
            @Html.Partial("_DetailFanNew", Model)

        }
        else
        {
            kt = 0;
            ViewBag.kt = kt;
            if (currentLanguage == GlobalConstants.LANGUAGE_EN)
            {
                ViewBag.Title = Model.TitleEN;
                @Html.Raw(Server.HtmlDecode(Model.LongDescriptionEN));
            }
            else
            {
                ViewBag.Title = Model.Title;

                string tmp = Model.LongDescription.Replace("[col-6]", "<div class='col-md-6 col-sm-12 col-xs-12'>");
                tmp = tmp.Replace("[/col-6]", "</div>");
                @Html.Raw("<div class=\"container-feature\" style=\"background:#fff\">");
                @Html.Raw("<div class=\"container\">");
                        @Html.Raw(Server.HtmlDecode(tmp));
                @Html.Raw("</div>");
                @Html.Raw("</div>");
                        }
                        }
                       // ViewBag.kt = kt;
                      //  if (kt == 1)
                      //  {
                        var currentLang = UtilsController.GetCurrentLanguage();
<!--
                        <div id='order-now-fixed' class=''>
                            <a class="fancybox shoping-agent-link" href="#order-now">
                                <span class="order-now-button">a</span>
                            </a>
                        </div>
    -->
                       // }
                        }

                        }





                        <div id="order-now">
                            <div id="shoping-agent">
                                <p class="title">Đặt mua</p>
                                <ul>
                                    @{
                                        var lst_mt = new MerchantService().GetAllMechantsOfProduct(Model.ItemID, true);
                                        if (lst_mt.Count() > 0)
                                        {
                                            foreach (var mt_item in lst_mt)
                                            {
                                                var mt_title = mt_item.Merchant.Name;
                                                var mt_link = mt_item.Link;
                                                var mt_image = mt_item.Merchant.Image;

                                                <li class="agent"><a class="mt-ico" onclick="trackOutboundLink('@mt_link', '@mt_title'); return false;" target="_blank" href="@mt_link"><img title="@mt_title" alt="@mt_title" src="~/images/merchants/@mt_image" /></a></li>
                                            }
                                        }
                                        else
                                        {
                                            <li style="width:300px;padding:0 5px;">Không hỗ trợ</li>
                                        }

                                    }
                                </ul>
                                <div class="clear"></div>
                                <div class="buy-ofline">
                                    <h6>CỬA HÀNG</h6>
                                    <select id="province-change">
                                        @{
                                        //var province_list =
                                        var province = new LocationService().GetList();
                                            foreach(var item in province ){
                                                var provinceTitle   = item.Title;
                                                var provinceId      = item.ItemID;
                                                
                                                <option value="@provinceId">@provinceTitle</option>
                                            }
                                        }
                                    </select>
                                    <div class="clear"></div>
                                    <p><a href="#">Danh sách các cửa hàng trên toàn quốc</a></p>
                                    <div class="wr-provinces">
                                        @{
                                            //var province_list =
/*
                                            foreach (var item in province)
                                            {
                                                var provinceTitle = item.Title;
                                                var provinceId = item.ItemID;


                                                @Html.Raw("<div id=\"province-" + @provinceId + "\" class=\"agency-list \">");
                                                @Html.Raw("<ul>");
                                                                 var list_agency = new AgencyService().GetListByLocationId(provinceId);
                                                                 foreach (var agency in list_agency)
                                                                 {
                                                                     var agencyTitle = agency.Title;
                                                                     var agencyId = agency.ItemID;

                                                                    <li value="@agencyId">
                                                                        <p class="province-title">@agencyTitle</p>
                                                                        <p class="province-address">@agency.Address</p>
                                                                    </li>
                                                                 }

                                                @Html.Raw("</ul>");
                                                @Html.Raw("</div>");

                                            }
*/
                                        }
                                        </div>
                                 </div>
                            <div class="clear"></div>
                        </div>


                        <script>
                            jQuery(document).ready(function () {
                                jQuery('.fancybox').fancybox({
                                    wrapCSS: 'fancybox-shoping-agent',
                                    openEffect: 'elastic',
                                    openSpeed: 450
                                });

                                
                                $("#province-change").on('change', function () {
                                    //alert(this.value);
                                    $(".agency-list").hide();
                                    $("#province-" + this.value + "").toggle("slow");
                                });
                            });
                        </script>
                        <script type="text/javascript">
                            function close_accordion_section() {
                                jQuery('.accordion-section-title').removeClass('active');
                                jQuery('.accordion-section-content').slideUp(300).removeClass('open');
                            }
                            jQuery(document).ready(function () {

                                $(".white_button,.red_button").on("click", function (e) {

                                    jQuery('.accordion-section-title').removeClass('active');
                                    jQuery('.accordion-section-content').slideUp(0).removeClass('open');
                                    var link = $(this).attr("href");
                                    // $(link).trigger("click");

                                    var currentAttrValue = jQuery(link).attr('href');




                                    jQuery('html,body').animate({ scrollTop: $(link).offset().top }, 500, function () {
                                        $(link).addClass('active');
                                        console.log(link);
                                        jQuery(currentAttrValue).slideDown(600).addClass('open');

                                    });


                                    e.preventDefault();
                                    return false;

                                });

                                jQuery('.accordion-section-title').click(function (e) {
                                    // Grab current anchor value
                                    var currentAttrValue = jQuery(this).attr('href');

                                    if (jQuery(e.target).is('.active')) {

                                        jQuery('.accordion-section-title').removeClass('active');
                                        jQuery('.accordion-section-content').slideUp(300).removeClass('open');

                                    } else {
                                        //close_accordion_section();
                                        jQuery('.accordion-section-title').removeClass('active');
                                        jQuery(this).addClass('active');
                                        jQuery('.accordion-section-content').slideUp(0).removeClass('open');

                                        jQuery('html,body').animate({ scrollTop: $(this).offset().top }, 500, function () {

                                            jQuery(currentAttrValue).slideDown(600).addClass('open');

                                        });


                                    }

                                    e.preventDefault();
                                });
                                /*
                                        jQuery('.shoping-agent-link').hover(function (e) {
                                            jQuery('#order-now-fixed').toggleClass('hover');
                                        });
                                        */
                            });
                        </script>
                        @{
    if (Model.LinkVideo != "" && Model.ThumbVideo != "")
    {
       // var thumbVideo = "~/thumb" Model.ThumbVideo;

        <script type="text/javascript">
            $(document).ready(function () {
                var count = $(".lSGallery li").length;

                var leng = $(".lSGallery").width();

                $(".lSSlideOuter ").append("<div style='left:" + leng + "px' class='videoThumb' ><a target='_blank' href='@Model.LinkVideo'><img height='65' src='/images/@Model.ThumbVideo' /><span class='hover-element'>â</span></a></div>");
            });
        </script>
    }
                        }
