﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Services
@model Mitsubishi.UI.Models.Entities.ProductCategoryEntity


<div id="acp-product">


    @{
        var cf = new CustomFieldService().GetListCustomFields(int.Parse(ProductCategoryController.GetProductCategoryId()));
        
        var product = ProductCategoryController.GetItem(cf[0].ProductId);
        
        @Html.Raw("<div class='container'><h1>" + product.Title + "<span></span></h1></div>");
        
        foreach (var k in cf)
        {
            
            
            var cf_title = k.Title;
            var cf_content = k.Description;
            var cf_alias = k.Alias;

            if (cf_alias == "mobile")
            {
                @Html.Raw("<div class='block-container mobile-only mobile-details'><div class='container'>");
            }
            else if (cf_alias == "thong-so-ky-thuat" || cf_alias == "thong-so-ky-thuat-header")
            {
                @Html.Raw("<div class='block-container mobile-only show'><div class='container'>");
            }
            else{
                @Html.Raw("<div class='block-container'><div class='container'>");
            }

            if (cf_alias != "thong-tin-san-pham" && cf_alias != "thong-so-ky-thuat-header" && cf_alias != "mobile")
            {
                <h2>@cf_title<span></span></h2>
            }

            if (cf_alias == "thong-so-ky-thuat")
            {
                @Html.Raw("<div class='thong-so-ky-thuat'><div class='mobile-only'>");
                @Html.Raw("<div class='tskt-holder'><a href='javascript:void(0)' class='tskt-slide-left'></a><a href='javascript:void(0)' class='tskt-slide-right'></a><div class='tskt-slider'>");
            }
            else if (cf_alias == "thong-so-ky-thuat-header")
            {
                @Html.Raw("<div class='tskt-header'>");
            }

            string tmp = cf_content.Replace("[col-6]", "<div class='col-md-6 col-sm-12 col-xs-12'>");
            tmp = tmp.Replace("[/col-6]", "</div>");

            tmp = tmp.Replace("[col-12]", "<div class='col-md-12 col-sm-12 col-xs-12'>");
            tmp = tmp.Replace("[/col-12]", "</div>");

            tmp = tmp.Replace("[col-4]", "<div class='col-md-4 col-sm-6 col-xs-12'>");
            tmp = tmp.Replace("[/col-4]", "</div>");

            tmp = tmp.Replace("[col-3]", "<div class='col-md-3 col-sm-6 col-xs-12'>");
            tmp = tmp.Replace("[/col-3]", "</div>");

            tmp = tmp.Replace("[row]", "<div class='row'>");
            tmp = tmp.Replace("[/row]", "</div>");

            tmp = tmp.Replace(" style=\"line-height:26.7857px;\"", "");

            tmp = tmp.Replace("<p><span>", "");
            tmp = tmp.Replace("</span></p>", "");

            tmp = tmp.Replace("<p><div", "<div");
            tmp = tmp.Replace("'></p>", "'>");
            tmp = tmp.Replace("<p></div>", "</div>");
            tmp = tmp.Replace("</div></p>", "</div>");


            tmp = tmp.Replace("<p></p>", "");

            @Html.Raw(tmp)

            if (cf_alias == "thong-so-ky-thuat")
            {
                @Html.Raw("</div></div></div></div>");
            }
            else if (cf_alias == "thong-so-ky-thuat-header")
            {
                @Html.Raw("</div>");
            }
            
            //đóng cái block container
            @Html.Raw("</div></div>");
            
        <div class="clear"></div>
        }
    }

    <div class="clear"></div>
</div>
<script type="text/javascript">

    $(function () {

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf('MSIE ');
        var edge = ua.indexOf('Edge/');
        var firefox = ua.indexOf('Firefox');
        
        var isIE = (msie > 0 || edge > 0) ? true : false;
        
        if (isIE || firefox > 0) {
            $('.thong-so-ky-thuat .tskt-holder table').css('margin-left', '-1px');
        }

        $('.tskt-header').insertBefore($('.tskt-holder'));

        $('#slider1_container').remove();
        
        $('#acp-product').parent().addClass('acp-container');
        $('.breadcrumb').parent().parent().addClass('acp-container');

        $('#acp-product h2').each(function () {
            if ($(this).find('span').length <= 0) {
                $(this).append('<span></span>');
            }
        });

        var noCols;
        var colWidth;
        var tableWidth;

        if ($(document).width() > 480) {
            noCols = Math.round($('.tskt-slider table tr:eq(0) td').length / 2);
            colWidth = $('.tskt-holder').width() / 2;

            tableWidth = noCols * colWidth;

            var _curIndex = 0;

            $('.thong-so-ky-thuat .tskt-holder table td').css('min-width', (colWidth) + 'px');

            $('.tskt-slide-left').click(function () {

                if (_curIndex > 0) {
                    _curIndex -= 1;

                    if (isIE) {
                        $('.tskt-slider').css('margin-left', ((_curIndex * $('.tskt-holder').width() * -1)) + 'px');
                    }
                    else if(firefox > 0){
                        $('.tskt-slider').css('margin-left', ((_curIndex * $('.tskt-holder').width() * -1)) + 'px');
                    }
                    else {
                        $('.tskt-slider').css('margin-left', ((_curIndex * $('.tskt-holder').width() * -1) - _curIndex) + 'px');
                    }


                }

            });

            $('.tskt-slide-right').click(function () {
                if (_curIndex < noCols - 1) {
                    _curIndex += 1;
                    if (isIE) {
                        $('.tskt-slider').css('margin-left', ((_curIndex * $('.tskt-holder').width() * -1)) + 'px');
                    }
                    else if (firefox > 0) {
                        $('.tskt-slider').css('margin-left', ((_curIndex * $('.tskt-holder').width() * -1)) + 'px');
                    }
                    else {
                        $('.tskt-slider').css('margin-left', ((_curIndex * $('.tskt-holder').width() * -1) - _curIndex) + 'px');
                    }
                    

                }

            });
        }
        else {

            tableWidth = $('.tskt-slider table').width();

            $('.thong-so-ky-thuat .mobile-only').css('width', (tableWidth + 200) + 'px');
            $('.tskt-holder').css('width', (tableWidth) + 'px');

            $('.block-container .container').each(function () {
                if ($(this).text() == '') {
                    $(this).css('display', 'none !important');
                }
            });

            if ($('.tskt-holder tr:eq(0) td').length <= 2) {
                $('.tskt-slide-left, .tskt-slide-right').hide();
            }

            if ($('.block-container.mobile-only.show').length >= 1)
                $('.mobile-details').insertBefore($('.block-container.mobile-only.show:eq(0)'));

            
        }

        
        $('img').on('error', function () {
            //$(this).attr('src', 'http://localhost:23314/Images/acp%2Fcity-multi-vrf.jpg');
        });
    })



</script>