﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model List<Mitsubishi.UI.Models.Entities.ProductCategoryEntity>

@{
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

@{

    var currentLanguage = UtilsController.GetCurrentLanguage();



    var url_ParentProduct = string.Empty;
    var ParentTitle = string.Empty;
    var CatTitle = string.Empty;


    var categoryId = ProductCategoryController.GetProductCategoryId();
    var category = ProductCategoryController.GetItem(int.Parse(categoryId));




    if (category != null)
    {
        CatTitle = category.Title;
        ParentTitle = category.ParentCategory.Title;

        if (currentLanguage == GlobalConstants.LANGUAGE_EN)
        {
            CatTitle = category.TitleEN;
            ParentTitle = category.ParentCategory.TitleEN;
        }

        url_ParentProduct = "";
    }

    var checkProductLine = false;
    if (ProductCategoryController.checkProductLine(categoryId))
    {
        checkProductLine = true;
    }




    <h1 class="heading" style="color: red;text-transform: uppercase;font-size: 24px;font-weight: bold;">
        @CatTitle <span style="font-weight:normal"></span>
</h1>
<a href="javascript:void(0)" class="mobile-only filter-button">Lọc sản phẩm</a>


    //chuyên mục thuộc chuyên mục lớn "Thiết bị gia dụng":điều hòa
    if (categoryId == "14" || category.ParentID == 14)
    {


        var breadcumbStr = ViewBag.Breadcumb;
        ViewBag.Breadcumb = breadcumbStr;
        ViewBag.title = CatTitle;

        Html.RenderPartial("partialRAC", category);

    }
    else if (categoryId == "12" || category.ParentID == 12 || category.ProductTypeId == 12)
    {


        var breadcumbStr = ViewBag.Breadcumb;
        ViewBag.Breadcumb = breadcumbStr;
        ViewBag.title = CatTitle;

        Html.RenderPartial("partialACP", category);
    }

    else
    {
        <div id="product-list">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="row">
                    <div class="product-filter-message">
                        Không có sản phẩm nào phù hợp với nhu cầu tìm kiếm của bạn!
                    </div>
                    @{

                        int i = 0;

                        foreach (var entity in Model)
                        {
                            var title = entity.TitleEN;
                            var productTypeName = entity.ProductType.TitleEN;
                            var parentName = entity.ParentCategory.TitleEN;

                            if (currentLanguage == GlobalConstants.LANGUAGE_VN)
                            {
                                title = entity.Title;
                                productTypeName = entity.ProductType.Title;
                                parentName = entity.ParentCategory.Title;
                            }




                            var url = Url.RouteUrl("SubProductCategory", new
                            {
                                productTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                                parentCategoryName = Utils.ConvertUrf8ToAscii(parentName),
                                subCategoryName = Utils.ConvertUrf8ToAscii(title),
                                productCategoryId = entity.ItemID
                            });

                            var url_ProductType = Url.RouteUrl("ProductTypes", new
                            {
                                ProductTypeName = Utils.ConvertUrf8ToAscii(CatTitle),
                                productTypeId = category.ParentID
                            });

                            //breadcumb: lấy tin đầu tiên làm breadcumb
                            if (i == 0)
                            {
                                ViewBag.Title = productTypeName + " - " + parentName;

                                var breadcrumbStr = ViewBag.breadcrumb;
                                ViewBag.breadcrumb = breadcrumbStr;

                                i = 2;
                            }


                            //3 chuyên mục nhiều lớp, tiếp tục đến trang danh sách sản phẩm
                            if (categoryId == "2" || categoryId == "4" || categoryId == "3")
                            {
                                url = Url.RouteUrl("ProductCategory", new
                                {
                                    ProductTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                                    ProductTypeId = entity.ProductTypeId,
                                    ProductCategoryName = Utils.ConvertUrf8ToAscii(title),
                                    productCategoryId = entity.ItemID
                                });
                            }


                            var lstModels = ProductCategoryController.GetList(entity.ItemID, 10);
                            var count = lstModels.Count();
                            if (count == 0) { count = 1; }

                            //class sử dụng cho trang product list
                            var ex_class = "";
                            if (checkProductLine == true)
                            {
                                ex_class = "product-list-page";
                            }

                            if (checkProductLine == false)
                            {
                                if (category.ParentCategory.ItemID == 2)
                                {
                                    title = "Tủ lạnh Mitsubishi Electric " + title;
                                }
                                else if (category.ParentCategory.ItemID == 4)
                                {
                                    title = "Quạt điện Mitsubishi Electric " + title;
                                }
                                else if (category.ParentCategory.ItemID == 3)
                                {
                                    title = "Thông gió Mitsubishi Electric " + title;
                                }
                                else if (category.ParentCategory.ItemID == 5)
                                {
                                    title = "Máy sấy tay Mitsubishi Electric " + title;
                                }
                            }


                            ////dong tạm chức năng này
                            //if (entity.ProductTypeId == GlobalConstants.PRODUCT_TYPE_AIR_CONDITIONER)
                            //{
                            //    //nếu là điều hòa ko khí dự án thì giữ nguyên link, product type khác thì sẽ ẩn link
                            //}
                            //else
                            //{

                            //    var firstItem = new ProductCategoryController().GetFirstProduct(entity.ItemID);

                            //    var firstItem_url = Url.RouteUrl("SubProductCategory", new
                            //            {
                            //                productTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                            //                parentCategoryName = Utils.ConvertUrf8ToAscii(firstItem.ParentCategory.Title),
                            //                subCategoryName = Utils.ConvertUrf8ToAscii(firstItem.Title),
                            //                productCategoryId = firstItem.ItemID
                            //            });

                            //    url = firstItem_url;

                            //}

            <div class="col-md-12 col-sm-12 col-xs-12 product-category">
                <div class="row">
                    <h2>@title</h2>

                    @{
            //chuyên mục con
            if (checkProductLine == true)
            {
                foreach (var item in lstModels)
                {
                    var sub_title = item.Title;
                    var sub_price = item.Price;
                    var sub_img = "/images/" + (item.ImageName != null ? item.ImageName : entity.ImageName);
                    var sub_spec = item.Specifications == null ? item.ShortDescription : item.Specifications;
                    var sub_filter = item.TechnicalDescription;
                    var sub_url = Url.RouteUrl("SubProductCategory", new
                    {
                        productTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                        parentCategoryName = Utils.ConvertUrf8ToAscii(item.ParentCategory.Title),
                        subCategoryName = Utils.ConvertUrf8ToAscii(sub_title),
                        productCategoryId = item.ItemID
                    });

                    <div class="col-md-4 col-sm-6 col-xs-12 ">
                        <div class="new-product-item">
                            <a href="@sub_url" class="title">@Html.Raw(sub_title)</a>
                            <a href="@sub_url" class="thumbnail"><img src="@sub_img" alt="@Html.Raw(sub_title)" /><span>@sub_price</span></a>
                            <div class="spec">
                                @Html.Raw(sub_spec)
                            </div>
                            <div class="hidden-spec">
                                @Html.Raw(sub_filter)
                            </div>
                            <a href="@sub_url" class="button-green">Xem chi tiết</a>
                        </div>
                    </div>
                }
                @Html.Raw(" <div class=\"clear\"></div>") ;
            }
                    }
                </div>
            </div>





        }
                    }

                    <div class="clear"></div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-12 desktop-only product-filter-holder">                
                <div class="product-filter">
                    <h3 style="font-weight: bold">GIÁ</h3>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <input type="checkbox" name="fridge-price" id="fridge-price-1" value="1" />
                            <label for="fridge-price-1">5-10 triệu</label>

                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">

                            <input type="checkbox" name="fridge-price" id="fridge-price-2" value="2">
                            <label for="fridge-price-2">
                                10-15 triệu
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">

                            <input type="checkbox" name="fridge-price" id="fridge-price-3" value="3">
                            <label for="fridge-price-3">15-20 triệu</label>

                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <input type="checkbox" name="fridge-price" id="fridge-price-4" value="4">
                            <label for="fridge-price-4">Trên 20 triệu</label>
                        </div>
                        
                    </div>
                    <div style="border-bottom: solid 1px #ccc; margin: 10px 0"></div>
                    <h3 style="font-weight: bold">
                        DUNG TÍCH <a href="javascript:void()" class="tooltip-info">
                            <img src="/images/filter/icon-info.png" />
                            <img src="/images/filter/tooltip.png" class="tooltip-content" />
                        </a>
                    </h3>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="checkbox" name="fridge-capacity" id="fridge-capacity-1" value="1" />
                            <label for="fridge-capacity-1">
                                <img src="/images/filter/option-dung-tich-1.png">
                            </label>

                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <input type="checkbox" name="fridge-capacity" id="fridge-capacity-2" value="2">
                            <label for="fridge-capacity-2">
                                <img src="/images/filter/option-dung-tich-2.png">
                            </label>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <input type="checkbox" name="fridge-capacity" id="fridge-capacity-3" value="3">
                            <label for="fridge-capacity-3"><img src="/images/filter/option-dung-tich-3.png"></label>

                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input type="checkbox" name="fridge-capacity" id="fridge-capacity-4" value="4">
                            <label for="fridge-capacity-4"><img src="/images/filter/option-dung-tich-4.png"></label>
                        </div>
                        
                    </div>
                    <div style="border-bottom: solid 1px #ccc; margin: 10px 0"></div>
                    <h3 style="font-weight: bold">TIỆN TÍCH</h3>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="position: relative">

                            <input type="checkbox" name="fridge-utility" id="fridge-utility-1" value="1">
                            <label for="fridge-utility-1"><img src="/images/filter/option-tien-ich-3.png"></label>
                            <a href="https://www.mitsubishi-electric.vn/sotay/cach-bao-quan-thuc-pham-trong-ngan-mat--20.htm" title="Xem thêm" target="_blank" style="position: absolute;z-index: 1;width: 15px;height: 15px;left: 231px;margin-top: 11px;"></a>

                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="position: relative">
                            <input type="checkbox" name="fridge-utility" id="fridge-utility-2" value="2">
                            <label for="fridge-utility-2">
                                <img src="/images/filter/option-tien-ich-1.png">
                            </label>
                            <a href="https://www.mitsubishi-electric.vn/sotay/tim-hieu-ve-cong-nghe-neuro-inverter--27.htm" title="Xem thêm" target="_blank" style="position: absolute;z-index: 1;width: 15px;height: 15px;left: 256px;margin-top: 13px;"></a>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="position: relative">

                            <input type="checkbox" name="fridge-utility" id="fridge-utility-3" value="3">
                            <label for="fridge-utility-3">
                                <img src="/images/filter/option-tien-ich-2.png">
                            </label>
                            <a href="https://www.mitsubishi-electric.vn/sotay/tu-lanh-cap-dong-mem-tro-thu-dac-luc--62.htm" title="Xem thêm" target="_blank" style="position: absolute;z-index: 1;width: 15px;height: 15px;left: 233px;margin-top: 12px;"></a>
                        </div>
                        
                        <div class="col-md-12 col-sm-12 col-xs-12" style="position: relative">
                            <input type="checkbox" name="fridge-utility" id="fridge-utility-4" value="4">
                            <label for="fridge-utility-4"><img src="/images/filter/option-tien-ich-4.png"></label>
                            <a href="https://www.mitsubishi-electric.vn/sotay/tim-hieu-ve-cong-nghe-neuro-inverter--27.htm" title="Xem thêm" target="_blank" style="position: absolute;z-index: 1;width: 15px;height: 15px;left: 214px;margin-top: 18px;"></a>
                        </div>
                        
                    </div>
                    <div style="border-bottom: solid 1px #ccc; margin: 10px 0"></div>
                    <h3 style="font-weight: bold">KIỂU TỦ</h3>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="checkbox" name="fridge-type" id="fridge-type-1" value="1" />
                            <label for="fridge-type-1">
                                <img src="/images/filter/option-loai-1.png">
                            </label>

                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <input type="checkbox" name="fridge-type" id="fridge-type-2" value="2">
                            <label for="fridge-type-2">
                                <img src="/images/filter/option-loai-2.png">
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <input type="checkbox" name="fridge-type" id="fridge-type-3" value="3">
                            <label for="fridge-type-3"><img src="/images/filter/option-loai-3.png"></label>

                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="checkbox" name="fridge-type" id="fridge-type-4" value="4">
                            <label for="fridge-type-4"><img src="/images/filter/option-loai-4.png"></label>
                        </div>
                        
                    </div>
                    <div style="border-bottom: solid 1px #ccc; margin: 10px 0"></div>
                    <h3 style="font-weight: bold">XUẤT XỨ</h3>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="checkbox" name="fridge-country" id="fridge-country-1" value="1" />
                            <label for="fridge-country-1">
                                Thái Lan
                            </label>

                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <input type="checkbox" name="fridge-country" id="fridge-country-2" value="2">
                            <label for="fridge-country-2">
                                Nhật Bản
                            </label>
                        </div>
                        
                    </div>
                    @*<div style="border-bottom: solid 1px #ccc; margin: 10px 0"></div>*@
                    @*<div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <a href="javascript:void(0)" class="button-green" style="float: right">Tìm kiếm</a>

                            </div>

                        </div>*@
                </div>
            </div>
        </div>

        <script type="text/javascript">

            $(function () {
                $('.tooltip-info').click(function () {
                    if ($(this).hasClass('active')) $(this).removeClass('active');
                    else { $(this).addClass('active') }
                });

                var curPos = 0;
                var lastPos = 0;
                $(window).scroll(function () {
                    lastPos = curPos;
                    curPos = $(document).scrollTop();

                    if ($(document).height() <2000) {
                        $('.product-filter').removeClass('floating');
                        return;
                    }

                    if (curPos > 1000) {
                        $('.product-filter').addClass('floating');

                        if (curPos < lastPos) {
                            $('.product-filter').removeClass('scroll-down');
                            $('.product-filter').addClass('scroll-up');
                        }
                        else {
                            $('.product-filter').addClass('scroll-down');
                            $('.product-filter').removeClass('scroll-up');
                        }
                    }
                    else {
                        $('.product-filter').removeClass('floating');
                    }

                    if (curPos > $(document).height() - 800) {
                        $('.product-filter').addClass('scroll-down-footer');
                    }
                    else {
                        $('.product-filter').removeClass('scroll-down-footer');
                    }
                });

                $('input[type="checkbox"]').change(function () {
                    var group1 = $("input[name=fridge-price]:checked");
                    var group2 = $("input[name=fridge-capacity]:checked");
                    var group3 = $("input[name=fridge-utility]:checked");
                    var group4 = $("input[name=fridge-type]:checked");
                    var group5 = $("input[name=fridge-country]:checked");

                    $('.new-product-item').addClass('hidden-item');
                    $('.new-product-item').each(function (index) {

                        var in1 = true;
                        var in2 = true;
                        var in3 = true;
                        var in4 = true;
                        var in5 = true;

                        if ($('.hidden-spec:eq(' + index + ') p').length > 0) {
                            var value1 = $('.hidden-spec:eq(' + index + ') p:eq(0)').html();
                            var value2 = $('.hidden-spec:eq(' + index + ') p:eq(1)').html();
                            var value3 = $('.hidden-spec:eq(' + index + ') p:eq(2)').html();
                            var value4 = $('.hidden-spec:eq(' + index + ') p:eq(3)').html();
                            var value5 = $('.hidden-spec:eq(' + index + ') p:eq(4)').html();

                            for (var i = 0; i < group1.length; i++) {

                                var group1_Val = $(group1[i]).val();

                                if (group1_Val == 'all' || (value1.indexOf(group1_Val) != -1)) {
                                    in1 = true;
                                    break;
                                }
                                else in1 = false;
                            }

                            for (var i = 0; i < group2.length; i++) {

                                var group2_Val = $(group2[i]).val();

                                if (group2_Val == 'all' || (value2.indexOf(group2_Val) != -1)) {
                                    in2 = true;
                                    break;
                                }
                                else in2 = false;
                            }

                            for (var i = 0; i < group3.length; i++) {

                                var group3_Val = $(group3[i]).val();

                                if (group3_Val == 'all' || (value3.indexOf(group3_Val) != -1)) {
                                    in3 = true;
                                    break;
                                }
                                else in3 = false;
                            }

                            for (var i = 0; i < group4.length; i++) {

                                var group4_Val = $(group4[i]).val();

                                if (group4_Val == 'all' || (value4.indexOf(group4_Val) != -1)) {
                                    in4 = true;
                                    break;
                                }
                                else in4 = false;
                            }

                            for (var i = 0; i < group5.length; i++) {

                                var group5_Val = $(group5[i]).val();

                                if (group5_Val == 'all' || (value5.indexOf(group5_Val) != -1)) {
                                    in5 = true;
                                    break;
                                }
                                else in5 = false;
                            }
                        }

                        if (in1 & in2 & in3 & in4 & in5) $(this).removeClass('hidden-item');
                    });

                    $('.product-category').each(function (index) {
                        var totalItem = $(this).find($('.new-product-item')).length;
                        var hiddenItem = $(this).find($('.hidden-item')).length;

                        console.log(totalItem + '-' + hiddenItem);

                        if (hiddenItem == totalItem) $(this).addClass('hide');
                        else $(this).removeClass('hide');
                    });

                    if ($('.product-category').length == $('.product-category.hide').length) {
                        $('.product-filter-message').addClass('show');
                    }
                    else { $('.product-filter-message').removeClass('show'); }
                });

                $('.filter-button').click(function () {

                    if ($('.product-filter').hasClass('active') == false) $('.product-filter').addClass('active');
                    else $('.product-filter').removeClass('active');
                });
            })

        </script>
    }
}


