﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model List<Mitsubishi.UI.Models.Entities.ProductCategoryEntity>

@{
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

@{

    var currentLanguage = UtilsController.GetCurrentLanguage();

   
    
    var url_ParentProduct = string.Empty;
    var ParentTitle = string.Empty;
    var CatTitle = string.Empty;
    

    var categoryId = ProductCategoryController.GetProductCategoryId();
    var category = ProductCategoryController.GetItem(int.Parse(categoryId));
    
    
   
    
    if (category != null)
    {
        CatTitle = category.Title;
        ParentTitle = category.ParentCategory.Title;

        if (currentLanguage == GlobalConstants.LANGUAGE_EN)
        {
            CatTitle = category.TitleEN;
            ParentTitle = category.ParentCategory.TitleEN;
        }
       
         url_ParentProduct = "";
    }

    var checkProductLine = false;
    if (ProductCategoryController.checkProductLine(categoryId))
    {
        checkProductLine = true;        
    }
       
        
        
        
    <h2 class="heading">@CatTitle <span style="font-weight:normal"></span></h2>



    //chuyên mục thuộc chuyên mục lớn "Thiết bị gia dụng":điều hòa
    if (categoryId == "14" || category.ParentID == 14)
    {

        
        var breadcumbStr  = ViewBag.Breadcumb;
        ViewBag.Breadcumb = breadcumbStr;
        ViewBag.title = CatTitle;

        Html.RenderPartial("partialRAC", category);

    }

    else
    {
        <div id="">
            <div class="row">
                @{
                    
                   int i = 0 ;
                   
                    foreach (var entity in Model)
                    {
                        var title = entity.TitleEN;
                        var productTypeName = entity.ProductType.TitleEN;
                        var parentName = entity.ParentCategory.TitleEN;

                        if (currentLanguage == GlobalConstants.LANGUAGE_VN)
                        {
                            title = entity.Title;
                            productTypeName = entity.ProductType.Title;
                            parentName = entity.ParentCategory.Title;
                        }

                       


                        var url = Url.RouteUrl("SubProductCategory", new
                        {
                            productTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                            parentCategoryName = Utils.ConvertUrf8ToAscii(parentName),
                            subCategoryName = Utils.ConvertUrf8ToAscii(title),
                            productCategoryId = entity.ItemID
                        });
                       
                        var url_ProductType = Url.RouteUrl("ProductTypes", new
                        {
                            ProductTypeName = Utils.ConvertUrf8ToAscii(CatTitle),
                            productTypeId = category.ParentID
                        });
                        
                        //breadcumb: lấy tin đầu tiên làm breadcumb
                        if(i == 0){
                            ViewBag.Title = productTypeName + " - " + parentName;

                            var breadcrumbStr = ViewBag.breadcrumb;
                            ViewBag.breadcrumb = breadcrumbStr;
                            
                            i = 2;
                        }
                        

                        //3 chuyên mục nhiều lớp, tiếp tục đến trang danh sách sản phẩm
                        if (categoryId == "2" || categoryId == "4" || categoryId == "3")
                        {
                             url = Url.RouteUrl("ProductCategory", new
                            {
                                ProductTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                                ProductTypeId = entity.ProductTypeId,
                                ProductCategoryName = Utils.ConvertUrf8ToAscii(title),
                                productCategoryId = entity.ItemID
                            });
                        }


                        var lstModels = ProductCategoryController.GetList(entity.ItemID,10);
                        var count = lstModels.Count();
                        if (count == 0) { count = 1; }

                        //class sử dụng cho trang product list
                        var ex_class = "";
                        if (checkProductLine == true) { 
                            ex_class = "product-list-page"; 
                        }

                        if (checkProductLine == false)
                        {
                            if (category.ParentCategory.ItemID == 2)
                            {
                                title = "Tủ lạnh Mitsubishi Electric " + title;
                            }
                            else if (category.ParentCategory.ItemID == 4)
                            {
                                title = "Quạt điện Mitsubishi Electric " + title;
                            }
                            else if (category.ParentCategory.ItemID == 3)
                            {
                                title = "Thông gió Mitsubishi Electric " + title;
                            }
                            else if (category.ParentCategory.ItemID == 5)
                            {
                                title = "Máy sấy tay Mitsubishi Electric " + title;
                            }
                        }


                        //dong tạm chức năng này
                        if (entity.ProductTypeId == GlobalConstants.PRODUCT_TYPE_AIR_CONDITIONER)
                        {
                            //nếu là điều hòa ko khí dự án thì giữ nguyên link, product type khác thì sẽ ẩn link
                        }
                        else
                        {

                            var firstItem = new ProductCategoryController().GetFirstProduct(entity.ItemID);
                            
                            var firstItem_url = Url.RouteUrl("SubProductCategory", new
                                    {
                                        productTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                                        parentCategoryName = Utils.ConvertUrf8ToAscii(firstItem.ParentCategory.Title),
                                        subCategoryName = Utils.ConvertUrf8ToAscii(firstItem.Title),
                                        productCategoryId = firstItem.ItemID
                                    });

                            url = firstItem_url;
                        
                        }
                       
                        
                        <div class="col-md-3 col-sm-6 col-xs-12 @ex_class">
                            <div class="list-pro list-pro-@category.ParentCategory.ItemID">
                                <a style="background-color: #fff;" href="@url">
                                    <img src="~/images/@entity.ImageName" alt="@title" title="@title" height="150" width="160">
                                </a>
                                <div class="name-pro">
                                   <!--
                                     <a class="product-title" href="@url">
                                        @Html.Raw(@title)
                                    </a>
                                     -->
                                    <p class="product-title">@Html.Raw(@title)</p>
                                    @{
                                            //chuyên mục con
                                                if (checkProductLine == true)
                                                {

                                                    @Html.Raw("<div class=\"sub-product\">");
                                                    foreach (var item in lstModels)
                                                    {
                                                        var sub_title = item.Title;
                                                        var sub_url = Url.RouteUrl("SubProductCategory", new
                                                        {
                                                            productTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                                                            parentCategoryName = Utils.ConvertUrf8ToAscii(item.ParentCategory.Title),
                                                            subCategoryName = Utils.ConvertUrf8ToAscii(sub_title),
                                                            productCategoryId = item.ItemID
                                                        });


                                                        <div class="item-sub-product"><a href="@sub_url">@Html.Raw(sub_title)</a></div>
                                                    }
                                                    @Html.Raw(" <div class=\"clear\"></div></div>");

                                                }

                                    }
									 <div class="clear"></div>
                                </div>
                                @{
                                    if (entity.Specifications != null)
                                    {
                                        <div class="hover-element">
                                            <div class="Specifications">
                                                @Html.Raw(entity.Specifications)
                                            </div>
                                            <a class="see-more-btn" href="@url">
                                                Xem chi tiết >
                                            </a>
                                        </div>
                                    }
                                }

                                <div class="clear"></div>
                            </div>

                            </div>
                            }
                            }
                            <div class="clear"></div>
                        </div>
        </div>
    }
}


