﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model IEnumerable<Mitsubishi.UI.Models.Entities.ProductCategoryEntity>
@{
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
   // ViewBag.Title = @Model.Name;
    int productCategoryId = int.Parse(ViewContext.RouteData.Values["productCategoryId"].ToString());
    
    var productCategory  = ProductCategoryController.GetItem(productCategoryId);
    var ParentproductCategory = ProductCategoryController.GetItem(productCategory.ParentID);

    ViewBag.Title = Html.Raw(ParentproductCategory.Title);
    ViewBag.breadcrumb = Html.Raw(ParentproductCategory.Title);

    var currentLanguage = UtilsController.GetCurrentLanguage();
}

<div class="list-product-container">
    <div class="">
        @{
            if (Model.Any())
            {
                foreach (var entity in Model)
                {
                    var Name = Html.Raw(entity.Title);

                    if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                    {
                        Name = Html.Raw(entity.TitleEN);
                    }

                    var url = Url.RouteUrl("ProductDetail", new
                    {
                        productCategoryId = entity.ItemID,
                        ProductName = Utils.ConvertUrf8ToAscii(Name.ToString())
                    });


                    <div class="col-md-4">
                        <div class="product-item">
                            <div>
                                <a href="@url"><img class="img-responsive thumbnail-item" src="~/images/@entity.ImageName" alt="" /></a>
                            </div>
                            <div class="description">
                                <h2><a class="title" href="@url">@Name</a></h2>
                                <a class="seemore-link" href="@url">Xem chi tiết ></a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Không có sản phẩm</p>
            }

        }
    </div>
</div>