﻿@using Mitsubishi.UI.Models
@model List<Mitsubishi.UI.Models.Entities.ProductCategoryEntity>

<script>
    var isiPad = navigator.userAgent.toLowerCase().indexOf("ipad");
    var max_width = $(window).width();

    var visibleItems = 5;

    if (isiPad) {
        visibleItems = 4;
    }

    if (max_width >= 320 && max_width <= 480) {
        visibleItems = 2;
    }
    else if (max_width >= 568 && max_width <= 736) {
        visibleItems = 3;
    }

    $(function () {
        $(".sliderREF").jCarouselLite({
            btnNext: ".next",
            btnPrev: ".prev",
            visible: visibleItems
        });
    });
</script>
@{
    var lstRelated = Model;
}
<div id="feature-carousel">
    <div id="list" class="content-carousel">
        <div class="prev"><a href="#"><img src="~/images/left.png" alt="prev" /></a></div>
        <div class="display_count trung">@lstRelated.Count Products Total</div>
        <div class="sliderREF">
            @{
                if (lstRelated.Any())
                {
                    <ul>
                        @foreach (var item in lstRelated)
                        {
                            var url = Url.RouteUrl("SubProductCategory", new
                            {
                                productTypeName = Utils.ConvertUrf8ToAscii(item.ProductType.Title),
                                parentCategoryName = Utils.ConvertUrf8ToAscii(item.ParentCategory.Title),
                                subCategoryName = Utils.ConvertUrf8ToAscii(item.Title),
                                productCategoryId = item.ItemID
                            });
                            <li>
                                <a href="@url">
                                    <img src="/images/@item.IconName" title="@item.ProductCode" />
                                </a>
                                <div> <a class="title" href="@url" title="@item.Title">@item.ProductCode</a> </div>
                            </li>
                        }
                    </ul>
                }
            }
        </div>
        <div><a href="#" class="next"><img src="~/images/right.png" alt="next" /></a></div>
    </div>
</div>