﻿@using Mitsubishi.UI.Models
@model List<Mitsubishi.UI.Models.Entities.ProductCategoryEntity>

<div id="feature-carousel">
    <div class="sliderREF">
        @{
            var lstRelated = Model;

            <div class="display_count">@lstRelated.Count Products Total</div>

            if (lstRelated.Any())
            {
                <ul>
                    @foreach (var item in lstRelated)
                    {
                        var url = Url.RouteUrl("SubProductCategory", new
                        {
                            productTypeName = Utils.ConvertUrf8ToAscii(item.ProductType.Title),
                            parentCategoryName = Utils.ConvertUrf8ToAscii(item.ParentCategory.Title),
                            subCategoryName = Utils.ConvertUrf8ToAscii(item.Title),
                            productCategoryId = item.ItemID
                        });
                        <li>
                            <a href="@url">
                                <img src="/images/@item.IconName" title="@item.ProductCode" />
                            </a>
                            <div> <a class="title" href="@url" title="@item.Title">@item.ProductCode</a> </div>
                        </li>
                    }
                </ul>
            }
        }
    </div>
</div>