﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model Mitsubishi.UI.Models.Entities.ProductCategoryEntity
<div id="featurePro">
    
    <div class="col-md-8 col-sm-8 col-xs-12">
        @{
            var currentLanguage = UtilsController.GetCurrentLanguage();

            var checkProductLine = false;
            var productTypeName = Model.ProductType.Title;
            var categoryId = ProductCategoryController.GetProductCategoryId();

            if (ProductCategoryController.checkProductLine(categoryId))
            {
                checkProductLine = true;
            }

            var series = ProductCategoryController.GetList(Model.ItemID);

            @Html.Raw("<div class=\"row clear\">");
            <div class="product-filter-message">
                Không có sản phẩm nào phù hợp với nhu cầu tìm kiếm của bạn!
            </div>

            var rowIndex = 0;
            int i = 0;
            foreach (var seri in series)
            {
                rowIndex++;
                var title = seri.Title;

                if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                {
                    title = seri.TitleEN;
                }

                var lstModels = ProductCategoryController.GetList(seri.ItemID);
                var count = lstModels.Count();
                if (count == 0) { count = 1; }

                var url = "#";


                url = Url.RouteUrl("ProductCategory", new
                   {
                       ProductTypeName = Utils.ConvertUrf8ToAscii(seri.ProductType.Title),
                       ProductTypeId = seri.ParentID,
                       ProductCategoryName = Utils.ConvertUrf8ToAscii(seri.Title),
                       productCategoryId = seri.ItemID
                   });


                //tam thời ẩn chức năng này
                //url = "#";


                var firstItem = new ProductCategoryController().GetFirstProduct(seri.ItemID);

                var firstItem_url = Url.RouteUrl("SubProductCategory", new
                {
                    productTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                    parentCategoryName = Utils.ConvertUrf8ToAscii(firstItem.ParentCategory.Title),
                    subCategoryName = Utils.ConvertUrf8ToAscii(firstItem.Title),
                    productCategoryId = firstItem.ItemID
                });

                url = firstItem_url;


                //class sử dụng cho trang product list
                var ex_class = "";
                if (checkProductLine == true)
                {
                    ex_class = "product-list-page";
                }


                <div class="col-md-12 col-sm-12 col-xs-12 product-category">
                    <div class="row">
                        <h2>@Html.Raw(@title)</h2>
                        @{

                //chuyên mục con
                if (checkProductLine == true)
                {



                    foreach (var item in lstModels)
                    {
                        var sub_title = item.Title;
                        var sub_price = item.Price;
                        var sub_img = "/images/" + (item.ImageName != null ? item.ImageName : seri.ImageName);
                        var sub_spec = item.Specifications == null ? item.ShortDescription : item.Specifications;
                        var sub_filter = item.TechnicalDescription;
                        var sub_url = Url.RouteUrl("ProductCategory", new
                        {
                            ProductTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                            ProductTypeId = Utils.ConvertUrf8ToAscii(item.ParentCategory.Title),
                            ProductCategoryName = Utils.ConvertUrf8ToAscii(sub_title),
                            productCategoryId = item.ItemID
                        });


                        <div class="col-md-4 col-sm-6 col-xs-12 ">
                            <div class="new-product-item">
                                <a href="@sub_url" class="title">@Html.Raw(sub_title)</a>
                                <a href="@sub_url" class="thumbnail"><img src="@sub_img" alt="@Html.Raw(sub_title)" /><span>@sub_price</span></a>
                                <div class="spec">
                                    @Html.Raw(sub_spec)
                                </div>
                                <div class="hidden-spec">
                                    @Html.Raw(sub_filter)
                                </div>
                                <a href="@sub_url" class="button-green">Xem chi tiết</a>
                            </div>
                        </div>
                    }
                    @Html.Raw(" <div class=\"clear\"></div>");

                }
                        }
                        <div class="clear"></div>


                    </div>
                </div>

            }

            @Html.Raw("</div>")
        }

        <div class="clear"></div>
    </div>
    <a href="javascript:void(0)" class="mobile-only filter-button">Tìm</a>
    <div class="col-md-4 col-sm-4 col-xs-12 desktop-only product-filter-holder">
        
        <div class="product-filter">
            <div class="close">
                x
            </div>
            <h3 style="font-weight: bold">GIÁ</h3>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <input type="checkbox" name="fridge-price" id="fridge-price-1" value="1" />
                    <label for="fridge-price-1">5-10 triệu</label>

                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">

                    <input type="checkbox" name="fridge-price" id="fridge-price-2" value="2">
                    <label for="fridge-price-2">
                        10-15 triệu
                    </label>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">

                    <input type="checkbox" name="fridge-price" id="fridge-price-3" value="3">
                    <label for="fridge-price-3">15-20 triệu</label>

                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <input type="checkbox" name="fridge-price" id="fridge-price-4" value="4">
                    <label for="fridge-price-4">Trên 20 triệu</label>
                </div>
                @*<div class="col-md-6 col-sm-12 col-xs-12">
                    <input type="checkbox" name="fridge-price" id="fridge-price-5" value="all" checked>
                    <label for="fridge-price-5">Tất cả</label>
                </div>*@
            </div>
            <div style="border-bottom: solid 1px #ccc; margin: 10px 0"></div>
            <h3 style="font-weight: bold">
                CÔNG SUẤT LẠNH HP <a href="javascript:void()" class="tooltip-info">
                    <img src="/images/filter/icon-info.png" />
                    <img src="/images/filter/tooltip-may-lanh.png" class="tooltip-content" />
                </a>
            </h3>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="checkbox" name="fridge-capacity" id="fridge-capacity-1" value="1">
                    <label for="fridge-capacity-1">
                        Máy 1 HP (Dưới 15m2 )
                    </label>

                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <input type="checkbox" name="fridge-capacity" id="fridge-capacity-2" value="2">
                    <label for="fridge-capacity-2">
                        Máy 1.5 HP (15 - 20 m2)
                    </label>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <input type="checkbox" name="fridge-capacity" id="fridge-capacity-3" value="3">
                    <label for="fridge-capacity-3">Máy 2 HP (20 - 30 m2)</label>

                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="checkbox" name="fridge-capacity" id="fridge-capacity-4" value="4">
                    <label for="fridge-capacity-4">Máy 2.5 HP (30 - 40 m2)</label>
                </div>
                @*<div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="checkbox" name="fridge-capacity" id="fridge-capacity-5" value="all" checked="">
                    <label for="fridge-capacity-5">Tất cả</label>
                </div>*@
            </div>
            <div style="border-bottom: solid 1px #ccc; margin: 10px 0"></div>
            <h3 style="font-weight: bold">TIỆN ÍCH</h3>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" style="position: relative">
                    <input type="checkbox" name="fridge-utility" id="fridge-utility-1" value="1" />
                    <label for="fridge-utility-1">
                        <img src="/images/filter/option-may-lanh-1.png">
                    </label>
                    <a href="https://www.mitsubishi-electric.vn/sotay/dieu-hoa-mitsubishi-electric-su-lua--67.htm" title="Xem thêm" target="_blank" style="position: absolute;z-index: 1;width: 15px;height: 15px;left: 231px;margin-top: 48px;"></a>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" style="position: relative">

                    <input type="checkbox" name="fridge-utility" id="fridge-utility-2" value="2">
                    <label for="fridge-utility-2">
                        <img src="/images/filter/option-may-lanh-2.png">
                    </label>
                    <a href="https://www.mitsubishi-electric.vn/sotay/dieu-hoa-mitsubishi-electric-msz-fm35va-96.htm" title="Xem thêm" target="_blank" style="position: absolute;z-index: 1;width: 15px;height: 15px;left: 231px;margin-top: 40px;"></a>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" style="position: relative">

                    <input type="checkbox" name="fridge-utility" id="fridge-utility-3" value="3">
                    <label for="fridge-utility-3"><img src="/images/filter/option-may-lanh-3.png"></label>
                    <a href="https://www.mitsubishi-electric.vn/sotay/dieu-hoa-mitsubishi-electric-su-lua--67.htm" title="Xem thêm" target="_blank" style="position: absolute;z-index: 1;width: 15px;height: 15px;left: 231px;margin-top: 48px;"></a>
                </div>
                @*<div class="col-md-12 col-sm-12 col-xs-12" style="display: none">

                    <input type="checkbox" name="fridge-utility" id="fridge-utility-4" value="all" checked>
                    <label for="fridge-utility-4">Tất cả</label>

                </div>*@

            </div>
            <div style="border-bottom: solid 1px #ccc; margin: 10px 0"></div>
            <h3 style="font-weight: bold">KIỂU MÁY</h3>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="checkbox" name="fridge-type" id="fridge-type-1" value="1" />
                    <label for="fridge-type-1">
                        Một chiều
                    </label>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">

                    <input type="checkbox" name="fridge-type" id="fridge-type-2" value="2">
                    <label for="fridge-type-2">
                        Hai chiều
                    </label>
                </div>
                @*<div class="col-md-6 col-sm-6 col-xs-12" style="display: none">

                    <input type="checkbox" name="fridge-type" id="fridge-type-3" value="all" checked>
                    <label for="fridge-type-3">
                        Tất cả
                    </label>
                </div>*@

            </div>
            <div style="border-bottom: solid 1px #ccc; margin: 10px 0"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" style="display: none">

                    <a href="javascript:void(0)" class="button-green" style="float: right">Tìm kiếm</a>

                </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        $('.tooltip-info').click(function () {
            if ($(this).hasClass('active')) $(this).removeClass('active');
            else { $(this).addClass('active') }
        });

        var curPos = 0;
        var lastPos = 0;
        $(window).scroll(function () {
            lastPos = curPos;
            curPos = $(document).scrollTop();

            if ($(document).height() < 2000) {
                $('.product-filter').removeClass('floating');
                return;
            }

            if (curPos > 1000) {
                $('.product-filter').addClass('floating');

                if (curPos < lastPos) {
                    $('.product-filter').removeClass('scroll-down');
                    $('.product-filter').addClass('scroll-up');
                }
                else {
                    $('.product-filter').addClass('scroll-down');
                    $('.product-filter').removeClass('scroll-up');
                }
            }
            else {
                $('.product-filter').removeClass('floating');
            }

            if (curPos > $(document).height() - 1200) {
                $('.product-filter').addClass('scroll-down-footer');
            }
            else {
                $('.product-filter').removeClass('scroll-down-footer');
            }
        });

        $('input[type="checkbox"]').change(function () {
            var group1 = $("input[name='fridge-price']:checked");
            var group2 = $("input[name='fridge-capacity']:checked");
            var group3 = $("input[name='fridge-utility']:checked");
            var group4 = $("input[name='fridge-type']:checked");
            console.log(group1.length);

            $('.new-product-item').addClass('hidden-item');
            $('.new-product-item').each(function (index) {

                var in1 = true;
                var in2 = true;
                var in3 = true;
                var in4 = true;

                if ($('.hidden-spec:eq(' + index + ') p').length > 0) {
                    var value1 = $('.hidden-spec:eq(' + index + ') p:eq(0)').html();
                    var value2 = $('.hidden-spec:eq(' + index + ') p:eq(1)').html();
                    var value3 = $('.hidden-spec:eq(' + index + ') p:eq(2)').html();
                    var value4 = $('.hidden-spec:eq(' + index + ') p:eq(3)').html();
                    
                    for (var i = 0; i < group1.length; i++) {

                        var group1_Val = $(group1[i]).val();

                        if (group1_Val == 'all' || (value1.indexOf(group1_Val) != -1)) {
                            in1 = true;
                            break;
                        }
                        else in1 = false;
                    }

                    for (var i = 0; i < group2.length; i++) {

                        var group2_Val = $(group2[i]).val();

                        if (group2_Val == 'all' || (value2.indexOf(group2_Val) != -1)) {
                            in2 = true;
                            break;
                        }
                        else in2 = false;
                    }

                    for (var i = 0; i < group3.length; i++) {

                        var group3_Val = $(group3[i]).val();

                        if (group3_Val == 'all' || (value3.indexOf(group3_Val) != -1)) {
                            in3 = true;
                            break;
                        }
                        else in3 = false;
                    }

                    for (var i = 0; i < group4.length; i++) {

                        var group4_Val = $(group4[i]).val();

                        if (group4_Val == 'all' || (value4.indexOf(group4_Val) != -1)) {
                            in4 = true;
                            break;
                        }
                        else in4 = false;
                    }
                }

                console.log(in1 + " - " + in2 + " - " + in3 + " - " + in4);


                if (in1 & in2 & in3 & in4) $(this).removeClass('hidden-item');
            });
            
            $('.product-category').each(function (index) {
                var totalItem = $(this).find($('.new-product-item')).length;
                var hiddenItem = $(this).find($('.hidden-item')).length;

                console.log(totalItem + '-' + hiddenItem);

                if (hiddenItem == totalItem) $(this).addClass('hide');
                else $(this).removeClass('hide');
            });

            if ($('.product-category').length == $('.product-category.hide').length) {
                $('.product-filter-message').addClass('show');
            }
            else { $('.product-filter-message').removeClass('show'); }

        });

        $('.filter-button').click(function () {
            
            if ($('.product-filter').hasClass('active') == false) $('.product-filter').addClass('active');
            else $('.product-filter').removeClass('active');
        });
        $('.close').click(function () {
            $('.product-filter').removeClass('active');
        });
    })

</script>