﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Services
@model Mitsubishi.UI.Models.Entities.ProductCategoryEntity

<div id="acp-product">
    

        @{
    var cf = new CustomFieldService().GetListCustomFields(int.Parse(ProductCategoryController.GetProductCategoryId()));

    foreach (var k in cf)
    {    
        var cf_title = k.Title;
        var cf_content = k.Description;
        var cf_alias = k.Alias;

        if (cf_alias == "mobile")
        {
            @Html.Raw("<div class='block-container mobile-only mobile-details'><div class='container'>");
        }
        else
        {
            @Html.Raw("<div class='block-container'><div class='container'>");
        }

        if (cf_alias != "thong-tin-san-pham" && cf_alias != "thong-so-ky-thuat-header" && cf_alias != "mobile")
        { 
            <h2>@cf_title<span></span></h2>
        }

        string tmp = cf_content.Replace("[col-6]", "<div class='col-md-6 col-sm-12 col-xs-12'>");
        tmp = tmp.Replace("[/col-6]", "</div>");

        tmp = tmp.Replace("[col-12]", "<div class='col-md-12 col-sm-12 col-xs-12'>");
        tmp = tmp.Replace("[/col-12]", "</div>");

        tmp = tmp.Replace("[col-4]", "<div class='col-md-4 col-sm-6 col-xs-12'>");
        tmp = tmp.Replace("[/col-4]", "</div>");

        tmp = tmp.Replace("[col-3]", "<div class='col-md-3 col-sm-6 col-xs-12'>");
        tmp = tmp.Replace("[/col-3]", "</div>");

        tmp = tmp.Replace("[row]", "<div class='row'>");
        tmp = tmp.Replace("[/row]", "</div>");

        tmp = tmp.Replace(" style=\"line-height:26.7857px;\"", "");

        tmp = tmp.Replace("<p><span>", "");
        tmp = tmp.Replace("</span></p>", "");

        tmp = tmp.Replace("<p><div", "<div");
        tmp = tmp.Replace("'></p>", "'>");
        tmp = tmp.Replace("<p></div>", "</div>");
        tmp = tmp.Replace("</div></p>", "</div>");

        tmp = tmp.Replace("<p></p>", "");

                @Html.Raw(tmp)
            
        //đóng cái block container
        @Html.Raw("</div></div>");
            
                <div class="clear"></div>
            }
        }

    <div class="block-container" style="display: block !important">
        <div class="container">            
            <h2>SẢN PHẨM TƯƠNG TỰ<span></span></h2>
            <a href="http://beta.mitsubishi-electric.com.vn/catalogue.htm" style="float: right;margin-right: 20px;color: #fff; margin-top: -40px" class="button-green">Download tài liệu</a>
            <br />
            <div class="col-md-12 col-sm-12 col-xs-12">
                @{
                    var currentLanguage = UtilsController.GetCurrentLanguage();

                    var checkProductLine = false;
                    var productTypeName = Model.ProductType.Title;
                    var categoryId = ProductCategoryController.GetProductCategoryId();

                    if (ProductCategoryController.checkProductLine(categoryId))
                    {
                        checkProductLine = true;
                    }

                    var series = ProductCategoryController.GetList(Model.ItemID);

                    @Html.Raw("<div class=\"row clear\">");

                                                  var rowIndex = 0;
                                                  int i = 0;
                                                  foreach (var seri in series)
                                                  {
                                                      rowIndex++;
                                                      var title = seri.Title;

                                                      if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                                                      {
                                                          title = seri.TitleEN;
                                                      }

                                                      var lstModels = ProductCategoryController.GetList(seri.ItemID);
                                                      var count = lstModels.Count();
                                                      if (count == 0) { count = 1; }

                                                      var url = "#";


                                                      url = Url.RouteUrl("ProductCategory", new
                                                         {
                                                             ProductTypeName = Utils.ConvertUrf8ToAscii(seri.ProductType.Title),
                                                             ProductTypeId = seri.ParentID,
                                                             ProductCategoryName = Utils.ConvertUrf8ToAscii(seri.Title),
                                                             productCategoryId = seri.ItemID
                                                         });


                                                      //tam thời ẩn chức năng này
                                                      //url = "#";


                                                      var firstItem = new ProductCategoryController().GetFirstProduct(seri.ItemID);
                                                      if (firstItem != null)
                                                      {
                                                          var firstItem_url = Url.RouteUrl("SubProductCategory", new
                                                          {
                                                              productTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                                                              parentCategoryName = Utils.ConvertUrf8ToAscii(firstItem.ParentCategory.Title),
                                                              subCategoryName = Utils.ConvertUrf8ToAscii(firstItem.Title),
                                                              productCategoryId = firstItem.ItemID
                                                          });

                                                          url = firstItem_url;
                                                      }





                                                    <h3>@Html.Raw(@title)</h3>
                                                    @Html.Raw("<div class='acp-product-group'><span class='left-slide'></span><span class='right-slide'></span><div class='acp-product-slider'>");

                                                                                                                                                                 //chuyên mục con
                                                                                                                                                                 //if (checkProductLine == true || )
                                                                                                                                                                 //{
                                                                                                                                                                 foreach (var item in lstModels)
                                                                                                                                                                 {
                                                                                                                                                                     var sub_title = item.Title;
                                                                                                                                                                     var sub_price = item.Price;
                                                                                                                                                                     var sub_img = "/images/" + (item.ImageName != null ? item.ImageName : seri.ImageName);
                                                                                                                                                                     var sub_spec = item.Specifications == null ? item.ShortDescription : item.Specifications;
                                                                                                                                                                     var sub_filter = item.TechnicalDescription;
                                                                                                                                                                     var sub_url = Url.RouteUrl("SubProductCategory2", new
                                                                                                                                                                     {
                                                                                                                                                                         productTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                                                                                                                                                                         parentCategoryName = Utils.ConvertUrf8ToAscii(item.ParentCategory.ParentCategory.Title),
                                                                                                                                                                         subParentCategoryName = Utils.ConvertUrf8ToAscii(item.ParentCategory.Title),
                                                                                                                                                                         subCategoryName = Utils.ConvertUrf8ToAscii(sub_title),
                                                                                                                                                                         productCategoryId = item.ItemID
                                                                                                                                                                     });

                                                                                                                                                                     //sub_url = sub_url.Replace("dieu-hoa-khong-khi-du-an-", "dieu-hoa-khong-khi-du-an/");

                                                                                                                                                                    <div class="col-md-3 col-sm-6 col-xs-12 ">
                                                                                                                                                                        <div class="acp-product-item">
                                                                                                                                                                            <a href="@sub_url" class="thumbnail"><img src="@sub_img" alt="@Html.Raw(sub_title)" /><span>@sub_price</span></a>
                                                                                                                                                                            <a href="@sub_url" class="title">@Html.Raw(sub_title)</a>
                                                                                                                                                                        </div>
                                                                                                                                                                    </div>
                                                                                                                                                                 }
                                                                                                                                                                @Html.Raw(" <div class=\"clear\"></div>");

                                                                     //}
                                                                    @Html.Raw("</div></div>")
                                                  }
                                                <div class="clear"></div>

                                                @Html.Raw("</div>")
                }

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function () {
        $('#acp-product').parent().addClass('acp-container');

        $('.breadcrumb, .acp-container > h2').addClass('container');

        $('#acp-product h2').each(function () {
            if ($(this).find('span').length <= 0) {
                $(this).append('<span></span>');
            }
        });

        $('img').on('error', function () {
            //$(this).attr('src', 'http://localhost:23314/Images/acp%2Fcity-multi-vrf.jpg');
        });

        $(window).resize(function () {
            mobileSlide();
        });
        mobileSlide();
    })

    function mobileSlide() {
        if ($(window).width() <= 480) {
            var itemWidth = $('.acp-product-group').width();

            $('.acp-product-group .acp-product-slider > div').css('width', itemWidth + 'px');

            var currentLeft = 0;
            $('.left-slide').click(function () {
                var curSlide = $(this).parent().find($('.acp-product-slider'));
                currentLeft = parseInt(curSlide.css('margin-left'));

                if (currentLeft < 0) {
                    curSlide.css('margin-left', '+=' + itemWidth + 'px');
                }
            });
            $('.right-slide').click(function () {
                var curSlide = $(this).parent().find($('.acp-product-slider'));
                currentLeft = parseInt(curSlide.css('margin-left'));

                var sliderWidth = $(this).parent().find($('.acp-product-slider > div')).length * itemWidth;

                if (currentLeft > sliderWidth*-1 + itemWidth*2) {
                    curSlide.css('margin-left', '-=' + itemWidth + 'px');
                }
            });
        }
    }

</script>