﻿@using Mitsubishi.UI.Controllers
@model Mitsubishi.UI.Models.Entities.ProductCategoryEntity

<div class="listProductFactory">
    @{
        var lstItems = ProductCategoryController.GetList(Model.ItemID);
    }
    
    @if (lstItems.Any())
    {
        <h1 class="list-proTitle">Danh sách sản phẩm</h1>
    }
    <div class="listProductFactory">
        @{
            if (lstItems != null && lstItems.Any())
            {
                foreach (var item in lstItems)
                {
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="listItem">
                            <div class="headerItem clear">
                                <span class="headerTitle">@item.Title</span>
                            </div>

                            <div class="bgImageitem">
                                <img class="Imageitem" src="/images/@item.ImageName">
                            </div>
                            <div class="itemText">
                                @item.ShortDescription
                            </div>
                            <div class="Othersitem">
                                <ul>
                                    <li><a href="" title="">Thiết bị chính ALPHA2</a></li>
                                    <li><a href="" title="">Mở rộng I/O</a></li>
                                    <li><a href="" title="">Sê-ri FR-A800</a></li>
                                    <li><a href="" title="">Sê-ri FR-A700</a></li>
                                    <li><a href="" title="">Sê-ri FR-E700</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                }

            }
        }

    </div>
</div>