﻿@using Kendo.Mvc.UI
@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Entities

<div class="box-header">
    <table width="100%" border="0" cellpadding="1px" cellspacing="1px">
        <tr>
            <td style="width: 380px;padding-left: 5px;">
                <a id="lnkAdd" class="k-button k-button-icontext" href="/Admin/Activation/Edit">
                    <span class="k-icon k-add"></span>
                    Add new
                </a>
            </td>
            <td align="right">
                Language:&nbsp;
                @(Html.Kendo().DropDownList()
                    .Name("Languages")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .Events(e => e.Change("changeLanguage"))
                    .BindTo(new List<SelectListItem>() {
                          new SelectListItem() {
                              Text = "English",
                              Value = "en-US"
                          },
                          new SelectListItem() {
                              Text = "Vietnamese",
                              Value = "vi-VN"
                          }
                      })
                    .Value(UtilsController.GetCurrentLanguage(GlobalConstants.SESS_ADMIN_LANGUAGE))
                    .HtmlAttributes(new { style = "width:120px; text-align:left;" })
                )
            </td>
        </tr>
    </table>
</div>
@(Html.Kendo().Grid<ActivationEntity>()
    .Name("grid")
    .Columns(columns =>
    {

        columns.Bound(e => e.ItemID).Hidden().IncludeInMenu(false);
       
            columns.Bound(c => c.TitleEN).Width(160).Title("Title").Width(500);
          

     
      columns.Command(command =>
        {
            command.Custom("Edit").HtmlAttributes(new { id = "btnShowWorkflow", @class = "k-button k-button-icontext" }).Click("editItem");
            command.Destroy();
        }).Width(180);
    })
    .HtmlAttributes(new { style = "height:415px" })
    .Scrollable()
    .Sortable()
    .Resizable(resize => resize.Columns(true))
    .Selectable(selectable => selectable
        .Mode(GridSelectionMode.Single))
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(service.PageSizes)
        .ButtonCount(5))
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(service.PageSize)
    .Model(model =>
    {
        model.Id(f => f.ItemID);
      
    })
    .Events(events => events.RequestEnd("requestEnd"))
    .Read(read => read.Action("Read", "Activation"))
    .ServerOperation(false)
    )
)


