﻿@using Mitsubishi.UI.Models.Entities
@using Mitsubishi.UI.Models.Services

@{
    ViewBag.Title = "System Configuration";
}

<h2 class="module-title">@ViewBag.Title</h2>
@{
    var service = new ServiceConfiguration();
}

<div class="box-header">
    <table width="100%" border="0" cellpadding="3px" cellspacing="3px"></table>
</div>

@(Html.Kendo().Grid<ParamConfig>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(e => e.ParamName).Width(140).HtmlAttributes(new { @readonly = "readonly" });
          columns.Bound(e => e.ParamValue);
          columns.Command(command => { command.Edit(); }).Width(180);
      })
      .HtmlAttributes(new { style = "height:415px" })
      .Editable(edit => edit.Mode(GridEditMode.InLine))
      .Scrollable()
      //.Sortable()
      //.Resizable(resize => resize.Columns(true))
      //.Selectable(selectable => selectable
      //    .Mode(GridSelectionMode.Single))
      //.Pageable(pageable => pageable
      //    .Refresh(true)
      //    .PageSizes(service.PageSizes)
      //    .ButtonCount(5))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(service.PageSize)
          .Model(model =>
          {
              model.Id(f => f.ParamName);
              model.Field(f => f.ParamName).Editable(false);
          })
          .Read(read => read.Action("Read", "SystemConfig"))
          .Update(update => update.Action("Update", "SystemConfig"))
          .ServerOperation(false)
      ))