﻿@model Mitsubishi.UI.Models.Entities.BannerEntity

@{
    ViewBag.Title = "Add / Edit Banner";
}
<script>
    $(document).ready(function() {
        $('#IsEnableLink').click(function () {
            if ($(this).is(':checked')) {
                $('#RedirectUrl').attr('readonly', false);
            } else {
                $('#RedirectUrl').attr('readonly', true);
            }
        });


        $('#btnSubmit').click(function() {
            $('#formEdit').submit();
        });
    });

    function selectFile(e) {
        $.each(e.files, function (index, value) {
            if (value.extension.toUpperCase() != ".JPG" && value.extension.toUpperCase() != ".PNG") {
                e.preventDefault();
                alert("Please upload jpg or png image files");
            }
        });
    }

</script>
<h2 class="module-title">Add / Edit Banner</h2>

@using (Html.BeginForm("CreateItem", "Banner", FormMethod.Post, new { id = "formEdit" }))
{
    <table width="100%" cellpadding="3px" cellspacing="3px">
        <tr>
            <td>
                @Html.HiddenFor(m => m.ItemID)
                @Html.HiddenFor(m => m.ImageName)
            </td>
            <td>
                @ViewBag.ErrorMessage
            </td>
        </tr>
        <tr>
            <td style="width: 160px;"></td>
            <td>
                <button id="btnSubmit" type="button" class="k-button k-button-icontext k-grid-update k-primary">
                    <span class="k-icon k-update"></span>
                    Save
                </button>

                @Html.ActionLink("Cancel", "Index", "Banner", null, new { @class = "k-button k-button-icontext k-grid-cancel" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Title)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Title, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>
        
        <tr>
            <td>
                @Html.LabelFor(model => model.ImageName)
            </td>
            <td>
                @(Html.Kendo().Upload()
                      .Name("fileBanner")
                      .Multiple(false)
                      .Async(a => a
                          .Save("SaveBanner", "Banner")
                          .Remove("RemoveBanner", "Banner")
                          .AutoUpload(true)
                      )
                      .Events(e => e.Select("selectFile"))
                )
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.IsEnableLink)
            </td>
            <td>
                @Html.CheckBoxFor(m => m.IsEnableLink)
            </td>
        </tr>
        @*<tr>
            <td>
                @Html.LabelFor(model => model.RedirectUrl)
            </td>
            <td>
                @Html.TextBoxFor(model => model.RedirectUrl, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>*@
        <tr>
            <td>
                @Html.LabelFor(model => model.RedirectUrl)
            </td>
            <td>
                @(Html.Kendo().DropDownListFor(m => m.RedirectUrl)
                    .Name("RedirectUrl")
                      .OptionLabel(" ")
                      .DataValueField("Url")
                      .DataTextField("Title")
                      .AutoBind(true)
                      .DataSource(ds => ds.Read(read => read.Action("GetListUrl", "Banner")))
                      .HtmlAttributes(new { style = "width:300px;" }))
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.IsActive)</td>
            <td>@Html.EditorFor(model => model.IsActive)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.SortOrder)</td>
            <td>
                @(Html.Kendo().IntegerTextBoxFor(m => m.SortOrder)
                      .Min(0)
                      .Max(1000)
                      .Step(1)
                      .Spinners(true)
                      .HtmlAttributes(new { style = "width:100px;text-align:center;" })
                )
            </td>
        </tr>
        
        <tr>
            <td colspan="2">
                @if (!string.IsNullOrEmpty(Model.ImageName))
                {
                    <img src="~/images/banners/@Model.ImageName" style="width: 100%;"/>
                }
            </td>
        </tr>
    </table>
}
<style>
    .k-radio-label {
        font-weight: normal;
    }
</style>
