﻿@using Kendo.Mvc.UI
@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Entities
@using Mitsubishi.UI.Models.Services


@{
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="module-title">Product Management</h2>
@{
    var service = new ServiceConfiguration();
}

<script>
    var currentField = '';
    var currentData = '';

    $(document).ready(function () {
        $('#wndEditor').hide();
    });

    function showContent(field) {

        var editor = $('#editorContent').data("kendoEditor");
        if ($("#ItemID").val() == 0 || $("#ItemID").val() == null) {
            editor.value("");
        }
        if (editor != null) {
            currentField = field;
            currentData = $('#txt' + field).val();

            var win = $("#wndEditor").data("kendoWindow");
            win.center();
            win.open();
            win.pin();
            if (currentData != null && currentData != "") {
                editor.value(currentData);
            }
        }
    }

    function updateContent() {
        value = $('#editorContent').data("kendoEditor").value();
        //$('#txt' + currentField).data("kendoEditor").value(value);
        $("#" + currentField).attr("placeholder", "Content has added successfully!")
        $('#txt' + currentField).val(value);
        $("#wndEditor").data("kendoWindow").close();
    }

    function getDataContent() {
        return {
            content: $('#txtLongDescription').val(),
            contentEng: $('#txtLongDescriptionEng').val(),
            parentId: $('#ParentID').data("kendoDropDownList").value()
        };
    }

    function onEdit(e) {
        e.model.dirty = true;
        if (e.model.ItemID != 0) {
            $("#ItemID").val(e.model.ItemID);
            $('#txtLongDescription').val(e.model.LongDescription);
            $('#txtLongDescriptionEng').val(e.model.LongDescriptionEng);
            $("#LongDescription").val("");
            $("#LongDescriptionEng").val("");
            $("#LongDescription").attr("placeholder", "Click to view Content!");
            $("#LongDescriptionEng").attr("placeholder", "Click to view Content!");
            $('#ParentID').data("kendoDropDownList").value(e.model.CategoryID);
        }
    }

    function requestEnd(e) {
        if (e.type === "create" || e.type === "update") {
            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.read();
        }
    }

    function closeEditor() {
        $("#wndEditor").data("kendoWindow").close();
    }

    function searchContent() {

        var q = $("#txtSearch").val();
        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.query({
            page: 1,
            pageSize: 20,
            filter: {
                logic: "or",
                filters: [
                  { field: "TitleEng", operator: "contains", value: q },
                  { field: "Title", operator: "contains", value: q },
                ]
            }
        });
    }

</script>


<div class="box-header">
    <table width="100%" border="0" cellpadding="1px" cellspacing="1px">
        <tr>
            <td style="width: 380px;padding-left: 5px;">
            </td>
            <td align="right">
                Language:&nbsp;
                @(Html.Kendo().DropDownList()
                    .Name("Languages")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .Events(e => e.Change("changeLanguage"))
                    .BindTo(new List<SelectListItem>() {
                          new SelectListItem() {
                              Text = "English",
                              Value = "en-US"
                          },
                          new SelectListItem() {
                              Text = "Vietnamese",
                              Value = "vi-VN"
                          }
                      })
                    .Value(UtilsController.GetCurrentLanguage(GlobalConstants.SESS_ADMIN_LANGUAGE))
                    .HtmlAttributes(new { style = "width:120px; text-align:left;" })
                )
            </td>
        </tr>
    </table>
</div>

@(Html.Kendo().Grid<ProductEntity>()
      .Name("grid")
      .Columns(columns =>
      {

          columns.Bound(e => e.ItemID).Hidden().IncludeInMenu(false);
          if (UtilsController.GetCurrentLanguage(GlobalConstants.SESS_ADMIN_LANGUAGE) == GlobalConstants.LANGUAGE_EN)
          {
              columns.Bound(c => c.NameEng);
           
          }
          else
          {
              columns.Bound(c => c.Name);
             
          }
          columns.Bound(c => c.SortOrder).Width(100);
          columns.Bound(c => c.IsActive).Width(90).Title("Publish").ClientTemplate("<div align='center'><img value='#= ItemID #' style='cursor:pointer;' " +
                                                     "# if (IsActive) " +
                                                     "{ #" +
                                                     " src='/Content/images/icon/icon_yes.gif' onclick='setProductIsActive(#: ItemID #, false);' " +
                                                     "# } " +
                                                     " else { #" +
                                                     " src='/Content/images/icon/icon_no.gif' onclick='setProductIsActive(#: ItemID #, true);' " +
                                                     "# } #" +
                                                     "/></div>");
          columns.Bound(c => c.CreatedDate).Width(190).Hidden();
          columns.Bound(c => c.ModifiedDate).Width(190).Hidden();
          columns.Command(command =>
          {
              command.Edit();
              command.Destroy();
          }).Width(200);
      })
      .ToolBar(t => t.Create())
      .Editable(editable =>
      {
          editable.Mode(GridEditMode.PopUp).TemplateName("formProduct");
          editable.DisplayDeleteConfirmation(service.DeleteConfirmationMessage);
          editable.Window(builder =>
          {
              builder.Title("Add/Edit Project");
              builder.Width(900);
          });
      })
      .HtmlAttributes(new {style = "height:" + service.GridHeight})
      .Scrollable()
      .Sortable()
      .Resizable(resize => resize.Columns(true))
      .Selectable(selectable => selectable
          .Mode(GridSelectionMode.Single))
      .Pageable(pageable => pageable
          .Refresh(true)
          .PageSizes(service.PageSizes)
          .ButtonCount(5))
      .Events(events => events.Edit("onEdit"))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(service.PageSize)
          .Model(model =>
            {
                model.Id(f => f.ItemID);
                model.Field(f => f.CreatedDate).Editable(false).DefaultValue(DateTime.Now);
                model.Field(f => f.ModifiedDate).Editable(false).DefaultValue(DateTime.Now);
            })
          .Read(read => read.Action("Read", "Product"))
        .Create(update => update.Action("Create", "Product").Data("getDataContent"))
        .Update(update => update.Action("Create", "Product").Data("getDataContent"))
        .Destroy(update => update.Action("Destroy", "Product"))
          .ServerOperation(false)
      )
      )

@(Html.Kendo().Window()
    .Name("wndEditor")
    .Title("Editor")
    .Modal(true)
    .Draggable(true)
    .Width(1000)
    .Actions(actions => actions.Pin().Minimize().Maximize().Close())
    .Content(@<text>
        @Html.Partial("partialProductEditor")
    </text>)
)

<style>
    .k-edit-form-container
    {
        width: 100%;
    }
</style>