﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model Mitsubishi.UI.Models.Entities.ContentEntity

@{
    ViewBag.Title = "Careers";
    ViewBag.breadcrumb = " Tuyển dụng ";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";

    var content = "";

    if (Model != null)
    {
        content = Model.LongDescription;

        if (UtilsController.GetCurrentLanguage() == GlobalConstants.LANGUAGE_EN)
        {
            content = Model.LongDescriptionEN;
        }
    }
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.accordion').accordion({ defaultOpen: 'section1' }); //some_id section1 in demo
        //syntax highlighter
        hljs.tabReplace = '    ';
        hljs.initHighlightingOnLoad();

        $.fn.slideFadeToggle = function (speed, easing, callback) {
            return this.animate({ opacity: 'toggle', height: 'toggle' }, speed, easing, callback);
        };

        //accordion
        $('.accordion').accordion({
            defaultOpen: 'section1',
            cookieName: 'accordion_nav',
            speed: 'fast',
            animateOpen: function (elem, opts) { //replace the standard slideUp with custom function
                elem.next().stop(true, true).slideFadeToggle(opts.speed);
            },
            animateClose: function (elem, opts) { //replace the standard slideDown with custom function
                elem.next().stop(true, true).slideFadeToggle(opts.speed);
            }
        });

    });
</script>
@{
    var currentLanguage = UtilsController.GetCurrentLanguage();
}
<div class="tt-top">
    <div class="imgNews">
        <img alt="Tuyển dụng mitsibishi" class="Left" src="/images/caree_icon.png">
    </div>
    <h1 class="tieu-de-tuyen-dung">
        @HomeController.GetTextValue("Careers_Title")
    </h1>
    @*@{
            Html.Raw(currentLanguage == GlobalConstants.LANGUAGE_EN ? "<h3>Careers</h3>" : "<h3>Tuyển dụng</h3>");
        }*@
</div>
<div class="wr-career">
    <h2>@Html.Raw(Server.HtmlDecode(content))</h2>
    @*<strong>
            Are you interested in the opportunity to work with Mitsubishi Electric Company in Vietnam? We are looking for qualified candidates to the position listed below.
        </strong>
        <div>Please send us your latest CV at the email address: <a href="mailto:recruitment@mitsubishi-electric.vn">recruitment@mitsubishi-electric.vn</a> </div>
        <p>We are looking for below positions:</p>*@
    <div class="wr-career-list">
        @{
            var lst = CareerController.GetList();

            foreach (var entity in lst)
            {
                var title = entity.Title;
                var description = entity.LongDescription;

                if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                {
                    title = entity.TitleEN;
                    description = entity.LongDescriptionEN;
                }

                var sectionId = "section" + entity.ItemID;
                <div class="accordion" id="@sectionId"><h3 class="vitri-tuyen-dung">@title</h3><span> Xem chi tiết</span></div>
                <div class="container-colapse">
                    <div class="content">
                        @Html.Raw(Server.HtmlDecode(description))
                    </div>
                </div>
            }
        }

    </div>
    <div class="clear"></div>
</div>

