﻿.topmenu {
    background: #444 none repeat scroll 0 0;
    border-bottom: 2px solid #eb1a3a;
    float: left;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
a,a:hover,a:focus{
    color:#fff;  
    text-decoration:none;      
}
.logo-text {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 7px;
}
.logo-text a {
    color: #fff;
    font-weight: bold;
}
.pull-right.top-right {
    display: inline-flex;
    padding: 7px 0;
}
#logoutForm {
    float: right;
    padding: 0 10px;
    width: auto !important;
}
.left {
    padding:0;
    background: #444;
    left: 0;
    position: fixed;
    top: 38px;
}
.right.pull-right.col-md-10 {
    margin: 20px 0 0;
}
ul.lv1 {
    padding: 0;
}
li {
    list-style:none;
}
.lv2 > li {
    float: left;
    margin: 4px 0;
    width: 100%;
}
ul.lv1 > li {
    float: left;
    list-style: outside none none;
    padding: 7px 9px;
    width: 100%;
}
ul.lv1 > li:hover,ul.lv1 > li.active {
    background:#535353;
    }
.lv1 a {
    float: left;
    width: 100%;
}
ul.lv1 li > a > i {
    color: #fff;
    font-size: 20px;
    height: 25px;
    width: 25px;
}
.action a {
    color: #444;
    margin: 0 7px;
}
span.field-validation-error {
    background: #f2dede;
    border-radius: 5px;
    color: #a94442;
    padding: 7px 10px;
    float: left;
    width: 100%;
    margin: 5px 0;
}