﻿@using Mitsubishi.UI.Models.Entities
@model CareersEntity

@{
    ViewBag.Title = "Add / Edit Career";
}

<h2 class="module-title">Add / Edit Career</h2>

@using (Html.BeginForm("CreateItem", "Careers", FormMethod.Post))
{
    <table width="100%" cellpadding="3px" cellspacing="3px">
        <tr>
            <td>
                @Html.HiddenFor(m => m.ItemID)
            </td>
            <td>
                @ViewBag.ErrorMessage
            </td>
        </tr>
        <tr>
            <td style="width: 160px;">
            </td>
            <td>
                @Html.Kendo().RadioButton().Name("radioLanguages").Label("English").Checked(true).HtmlAttributes(new { id = "radioEn" }) &nbsp;
                @Html.Kendo().RadioButton().Name("radioLanguages").Label("Vietnamese").HtmlAttributes(new { id = "radioVn" })
                &nbsp;&nbsp;&nbsp;
                <button id="btnSave" type="submit" class="k-button k-button-icontext k-grid-update  k-primary">
                    <span class="k-icon k-update"></span>
                    Save
                </button>

                @Html.ActionLink("Cancel", "Index", "Careers", null, new { @class = "k-button k-button-icontext k-grid-cancel" })
            </td>
        </tr>
        <tr id="trTitleEN">
            <td>
                @Html.LabelFor(model => model.TitleEN)
            </td>
            <td>
                @Html.TextBoxFor(model => model.TitleEN, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>

        <tr id="trTitleVN" style="display: none;">
            <td>
                @Html.LabelFor(model => model.Title)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Title, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>
        <tr id="trLongDescriptionEN">
            <td>
                @Html.LabelFor(model => model.LongDescriptionEN)
            </td>
            <td>
                @(Html.Kendo().EditorFor(m => m.LongDescriptionEN)
                        .Name("LongDescriptionEN").Tools(tools => tools
                          .Clear()
                          .Bold().Italic().Underline().Strikethrough()
                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                          .InsertUnorderedList().InsertOrderedList()
                          .Outdent().Indent()
                          .CreateLink().Unlink()
                          .InsertImage()
                          .InsertFile()
                          .SubScript()
                          .SuperScript()
                          .TableEditing()
                          .ViewHtml()
                          .Formatting()
                          .CleanFormatting()
                          .FontName()
                          .FontSize()
                          .FontColor().BackColor()
                      )
                      .Encode(false)
                      .StyleSheets(css =>
                      {
                          css.Add(Url.Content("/Content/Mitsubishi.css"));
                          css.Add(Url.Content("/Content/products.css"));
                      })
                      .ImageBrowser(imageBrowser => imageBrowser
                          .Image("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser")
                          .Thumbnail("Thumbnail", "ImageBrowser"))
                      .FileBrowser(fileBrowser => fileBrowser
                          .File("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser"))
                      .HtmlAttributes(new { style = "height:650px;width:95%;" }

                      )
                )
            </td>
        </tr>

        <tr id="trLongDescriptionVN" style="display: none;">
            <td>
                @Html.LabelFor(model => model.LongDescription)
            </td>
            <td>
                @(Html.Kendo().EditorFor(m => m.LongDescription)
                        .Name("LongDescription").Tools(tools => tools
                          .Clear()
                          .Bold().Italic().Underline().Strikethrough()
                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                          .InsertUnorderedList().InsertOrderedList()
                          .Outdent().Indent()
                          .CreateLink().Unlink()
                          .InsertImage()
                          .InsertFile()
                          .SubScript()
                          .SuperScript()
                          .TableEditing()
                          .ViewHtml()
                          .Formatting()
                          .CleanFormatting()
                          .FontName()
                          .FontSize()
                          .FontColor().BackColor()
                      )
                      .Encode(false)
                      .StyleSheets(css => css.Add(Url.Content("/Content/Mitsubishi.css")))
                      .ImageBrowser(imageBrowser => imageBrowser
                          .Image("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser")
                          .Thumbnail("Thumbnail", "ImageBrowser"))
                      .FileBrowser(fileBrowser => fileBrowser
                          .File("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser"))
                      .HtmlAttributes(new { style = "height:650px;width:95%;" }

                      )
                )
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.IsActive)</td>
            <td>@Html.EditorFor(model => model.IsActive)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.SortOrder)</td>
            <td>
                @(Html.Kendo().IntegerTextBoxFor(m => m.SortOrder)
                      .Min(0)
                      .Max(1000)
                      .Step(1)
        //.Value(Model.SortOrder)
                      .Spinners(true)
                      .HtmlAttributes(new { style = "width:100px;text-align:center;" })
                )
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="k-edit-buttons k-state-default" style="padding-top: 15px;"></td>
        </tr>
    </table>
}
<script>
    $(document).ready(function () {
        $('#radioEn').val("en-US");
        $('#radioVi').val("vi-VN");
    });
    $("input:radio[name=radioLanguages]").click(function () {
        var value = $(this).val();
        window.selectedLanguage = value;

        if (value == langEN) {
            $('#trTitleEN').show();
            $('#trShortDescriptionEN').show();
            $('#trLongDescriptionEN').show();

            $('#trTitleVN').hide();
            $('#trShortDescriptionVN').hide();
            $('#trLongDescriptionVN').hide();
        } else {
            $('#trTitleEN').hide();
            $('#trShortDescriptionEN').hide();
            $('#trLongDescriptionEN').hide();

            $('#trTitleVN').show();
            $('#trShortDescriptionVN').show();
            $('#trLongDescriptionVN').show();
        }
    });
</script>

<style>
    .k-radio-label {
        font-weight: normal;
    }
</style>
