﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@using PagedList.Mvc;
@{

    Layout = "~/Views/Shared/_LayoutManual.cshtml";

}
@{

    ViewBag.Title = "Hỏi đáp";

    //   var url = Url.RouteUrl("CategoryManual", new { title = Utils.ConvertUrf8ToAscii(Model.Title),CategoryManualID = 1});


    ViewBag.breadcrumb = @Html.Raw(ViewBag.Title);

    // string body = Server.HtmlDecode(Model.LongDescription);

    // body = body.Replace("<img", "<img alt=\"" + title + "\" ");

    // var date = Model.CreatedDate;

    <style>
        .so-tay-gia-dung-page {
            margin-top: 30px;
        }

        .breadcrumb {
            display: none;
        }
    </style>

    <div class="container so-tay-gia-dung-page faq-container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12 ">
                <div class="sotay-content ">


                    <div class="top-block-category">
                        <ul>
                            <li><a href="/so-tay-gia-dung.htm">Tổng quát</a></li>
                            @{
    var lstTuVan = new ManualController().GetList("2");
                                if (lstTuVan.Any())
                                {
                                    foreach (var entity in lstTuVan)
                                    {


                                        var url = Url.RouteUrl("ManualCategoryExtra", new
                                        {
                                            title = Utils.ConvertUrf8ToAscii(entity.Title),
                                            ManualCategoryExtraID = entity.ItemID
                                        });

                                        <li><a href="@url">@entity.Title</a></li>
                                    }

                                }

                            }
                            <li><a class="active" href="/hoi-dap.htm">Hỏi đáp</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    <div class="main-sotay-content faq-form">
                        <div class="bg-sotaygiadung"></div>

                        <form action="/Faq/Faq_result" method="post" class="faq-form">
                            <input name="name" required type="text" placeholder="Tên" />
                            <input name="email" required type="email" placeholder="Email" />
                            <textarea name="question" required>Nội dung câu hỏi</textarea>
                            <button type="submit" class="btn-ask-question fancybox">Gửi câu hỏi</button>
                        </form>

                        <div class="clear"></div>
                    </div>


                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 sidebar">
                <div class="wr-video">
                    <div class="block-title">VIDEO</div>
                    <div class="block-content">
                        @{
                            var lst3 = new ManualController().GetListVideo("", "5");
                            if (lst3.Any())
                            {
                                foreach (var item2 in lst3)
                                {

                                    var url = Url.RouteUrl("ManualDetail", new
                                    {
                                        title = Utils.ConvertUrf8ToAscii(item2.Title),
                                        itemId = item2.ItemID
                                    });
                                    <div class="item-video">
                                        <div class="ThumbItem">

                                            <a style=" line-height: 0;" href="@url">
                                                <img src="~/images/sotaygiadung/thumb/@item2.Thumbnail" alt="" title="" />
                                                <span class="hover-element-article"></span>
                                                <span class="video-play-overlay"></span>
                                            </a>
                                        </div>
                                        <p class="cat-label">@item2.Category.Title</p>
                                        <h3><a href="@url">@item2.Title</a></h3>
                                        <div class="clear"></div>
                                    </div>

                                }

                            }
                        }
                        <p style=" float: right; font-style: italic;    margin: 0;" class="video-more">@Html.ActionLink("Xem thêm", "Playlist", "Manual")</p>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

        </div>
<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery(".faq-form textarea").focus(function () {
            if (jQuery(".faq-form textarea").val() == 'Nội dung câu hỏi') {
                jQuery(".faq-form textarea").val("");
	    }
    });
    });
</script> 
    </div>
}