﻿@using Mitsubishi.UI.Models.Services
@using Mitsubishi.UI.Models.Entities
@model CommentEntity

@{
    ViewBag.Title = "Add / Edit Comment";

    string Cat = "";
    if(Model.ProductID!=0)
    {
        var tmp = new ProductCategoryService().GetItem(int.Parse(Model.ProductID.ToString()));
        Cat = tmp.Title.ToString();
    }
   
     
}

<h2 class="module-title">Add / Edit Comment</h2>

@ViewBag.ErrorMessage
@using (Html.BeginForm("CreateItem", "Comment", FormMethod.Post))
{
    <table width="100%" cellpadding="3px" cellspacing="3px">
        <tr>
            <td>
                @Html.HiddenFor(m => m.ItemID)
                @*@Html.HiddenFor(m => m.IconName)
                    @Html.HiddenFor(m => m.ImageName)
                    @Html.HiddenFor(m => m.Banners)
                    @Html.HiddenFor(m => m.BrochureFileName)*@
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
           
            <td>
                
                <button id="btnSave" type="submit" class="k-button k-button-icontext k-grid-update k-primary">
                    <span class="k-icon k-update"></span>
                    Save
                </button>
                @Html.ActionLink("Cancel", "Index", "Comment", null, new { @class = "k-button k-button-icontext k-grid-cancel" })
            </td>
        </tr>
        
        <tr >
            <td>
                @Html.LabelFor(model => model.Description)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Description, new { @class = "k-textbox form-long-text-box", required = "required" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.IsActive)</td>
            <td>@Html.EditorFor(model => model.IsActive)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ProductID)</td>
            <td>
                @{
                    @Html.Raw(Cat);
                    @Html.TextBoxFor(model => model.ProductID, new { @class = "k-textbox form-long-text-box", required = "required" })
                   
                 }
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Name)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Name, new { @class = "k-textbox form-long-text-box", required = "required" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Email)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Email, new { @class = "k-textbox form-long-text-box", required = "required" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="k-edit-buttons k-state-default" style="padding-top: 15px;"></td>
        </tr>
    </table>
}
<script>
    $(document).ready(function () {
        $('#radioEn').val("en-US");
        $('#radioVi').val("vi-VN");
    });
    $("input:radio[name=radioLanguages]").click(function () {
        var value = $(this).val();
        window.selectedLanguage = value;

        if (value == langEN) {
            $('#trTitleEN').show();
           // $('#trShortDescriptionEN').show();
            $('#trLongDescriptionEN').show();

            $('#trTitleVN').hide();
           // $('#trShortDescriptionVN').hide();
            $('#trLongDescriptionVN').hide();
        } else {
            $('#trTitleEN').hide();
           // $('#trShortDescriptionEN').hide();
            $('#trLongDescriptionEN').hide();

            $('#trTitleVN').show();
            //$('#trShortDescriptionVN').show();
            $('#trLongDescriptionVN').show();
        }
    });


</script>

<style>
    .k-radio-label {
        font-weight: normal;
    }
</style>
