﻿@using System.Collections
@using Kendo.Mvc.UI
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Entities
@using Mitsubishi.UI.Models.Services
@using Mitsubishi.UI.Controllers

@{
    ViewBag.Title = "Comment";
}

<h2 class="module-title">Comment Management</h2>
@{
    var service = new ServiceConfiguration();
}

<script>
   
   

        function editItem(e) {
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

            var itemId = dataItem.ItemID;
            location.href = '@Url.Action("Edit", "Comment")?itemId=' + itemId;
        }
   
  

    function requestEnd(e) {
        if (e.type === "create" || e.type === "update") {
            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.read();
        }
    }



</script>

<div class="box-header">
    <table width="100%" border="0" cellpadding="1px" cellspacing="1px">
        <tr>
            <td style="width: 200px;padding-left: 5px;">
                <a id="lnkAdd" class="k-button k-button-icontext" href="/Admin/Comment/Edit">
                    <span class="k-icon k-add"></span>
                    Add new
                </a>
            </td>
        </tr>
    </table>
</div>
@(Html.Kendo().Grid<CommentEntity>()
    .Name("grid")
    .BindTo((IEnumerable<CommentEntity>)ViewBag.Comment)
    .Columns(columns =>
    {

        columns.Bound(e => e.ItemID).Hidden().IncludeInMenu(false);
       
       
        
        
        columns.Bound(c => c.Name).Width(70);

        columns.Bound(c => c.Description).Width(70);
        
        columns.Bound(c => c.IsActive).Width(70).Title("Publish").ClientTemplate("<div align='center'><img value='#= ItemID #' style='cursor:pointer;' " +
                                                    "# if (IsActive) " +
                                                    "{ #" +
                                                    " src='/Content/images/icon/icon_yes.gif' onclick='setCommentIsActive(#: ItemID #, false);' " +
                                                    "# } " +
                                                    " else { #" +
                                                    " src='/Content/images/icon/icon_no.gif' onclick='setCommentIsActive(#: ItemID #, true);' " +
                                                    "# } #" +
                                                    "/></div>");
        
       
        columns.Bound(c => c.CreatedDate).Format("{0:dd/MM/yyyy}").Width(180);
        columns.Command(command =>
        {
            //command.Custom("Edit").HtmlAttributes(new { Href="#",id = "btnShowWorkflow", @class = "k-button k-button-icontext" }).Click("editItem");
            command.Custom("Edit").HtmlAttributes(new { id = "btnShowWorkflow", @class = "k-button k-button-icontext" }).Click("editItem");
            command.Destroy();
        }).Width(180);
    })
    .HtmlAttributes(new { style = "height:415px" })
    .Scrollable()
    .Sortable()
    .Resizable(resize => resize.Columns(true))
    .Selectable(selectable => selectable
    .Mode(GridSelectionMode.Single))
    .Pageable(pageable => pageable
    .Refresh(true)
    .PageSizes(service.PageSizes)
    .ButtonCount(5))
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(service.PageSize)
    .Model(model =>
    {
        model.Id(f => f.ItemID);
        model.Field(f => f.CreatedDate).Editable(false).DefaultValue(DateTime.Now);
    })
    .Events(events => events.RequestEnd("requestEnd"))
    .Read(read => read.Action("Read", "Comment"))
    .Destroy(update => update.Action("Destroy", "Comment"))
    .ServerOperation(false)
    )
)


<style>
    .k-edit-form-container {
        width: 100%;
    }

    .k-radio-label {
        font-weight: normal;
    }

    .k-dropzone {
        padding-left: 0px;
    }
</style>
