﻿@{
    ViewBag.Title = "Trung tâm bảo hành";
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/kendo")
@Styles.Render("~/Content/kendo/css")
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>


<div id="wrap-map">

    <div class="col-map-left">
        <div class="breadcrumb"><a href="/">Trang chủ </a>/<a href="#"> Dịch vụ khách hàng </a>/ <a href="/authorized-service-center.htm"> @Html.Raw("Trung tâm bảo hành") </a></div>
        <h1 class="diadiem-mua-hang">
            Những địa điểm có trung tâm bảo hành sản phẩm Mitsubishi Electric gần bạn
        </h1>
        <div class="chooseProduct">
            <span class="text">Theo tỉnh /Thành</span>
            @(Html.Kendo().DropDownList()
                                  .Name("location")
                                  .OptionLabel("Chọn tỉnh / Tp")
                                  .DataValueField("ItemID")
                                  .DataTextField("Title")
                                  .AutoBind(true)
                                  .Events(e => e.Change("LocalChange"))
                                  .Animation(false)
                                  .Filter(FilterType.Contains)
                                  .DataSource(ds => ds.Read(read => read.Action("GetListLocation", "Home")))
                                  .HtmlAttributes(new { style = "width:245px;" })
            )
        </div>
        <div id="location-list">

        </div>
    </div>
    <div class="col-map-right">
        <div style="width:100%;height:550px;position:relative" class="map-container">
            <div onclick="GetMylocation()" class="leaflet-control-locate">&nbsp;</div>
            <div id="map" style="width:100%;height:550px;">
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>


<script>
    var map;
    var markers = [];

    $('#btnSearch').click(function () {
        debugger;
        fetchPlaces($('#location').val());
    });


    function LocalChange() {

        for (var i = 0; i < markers.length; i++) {
            markers[i].setMap(null);
        }
        markers = [];
        debugger;
        fetchPlaces($('#location').val());

    }


    function moveMap(location) {
        map.panTo(location, {
            animate: true
        });
        map.setZoom(15);
    }



    var lat = '14.058324';
    var lng = '108.277199';

    var pos = new google.maps.LatLng(lat, lng);
    var options = {
        zoom: 15,
        center: pos,
        scrollwheel: false,
        zoomControl: true,
        mapTypeControl: false,
        zoomControlOptions: {
            position: google.maps.ControlPosition.LEFT_TOP
        },
        scaleControl: true,
        zoomControlOptions: {
            position: google.maps.ControlPosition.LEFT_TOP
        }
    };



    map = new google.maps.Map(document.getElementById("map"), options);


    fetchPlaces(0);

    $(document).ready(function () {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                myLatLng = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                moveMap(myLatLng);
            }, function () {
                //  alert('Lỗi truy cập địa chỉ hiện tại của bạn.');
            });
        } else {
            // alert('Lỗi truy cập địa chỉ hiện tại của bạn.');
        }
    }
       )

    function GetMylocation() {

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                myLatLng = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                moveMap(myLatLng);
            }, function () {
                alert('Lỗi truy cập địa chỉ hiện tại của bạn.');
            });
        } else {
            alert('Lỗi truy cập địa chỉ hiện tại của bạn.');
        }

    }

    function fetchPlaces(localId) {

        $.ajax({
            url: "/Home/GetListAuthorized",
            type: "GET",
            cache: false,
            async: false,
            data: {
                locationId: localId
            },
            success: function (data) {
                if (data.length > 0) {
                    var itemNumber = 0;
                    var items = "";
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        if (item.Latitude != "" && item.Longitude != "") {

                            itemNumber++;

                            var latLng = new google.maps.LatLng(item.Latitude, item.Longitude);

                            marker = new google.maps.Marker({
                                map: map,
                                position: latLng,
                                itemNumber: itemNumber,
                                icon: 'https://chart.googleapis.com/chart?chst=d_map_spin&chld=0.8|0|0c733c|14|_|' + itemNumber,
                                info: '<div><b>' + item.Title + '</b></div>' +
                                '<div>Địa chỉ: ' + (item.Address != null ? item.Address : '') + '</div>' +
                                '<div>Điện thoại: ' + (item.Phone != null ? item.Phone : '') + '</div>'
                            });

                            markers.push(marker);

                            var infowindow = new google.maps.InfoWindow({
                                disableAutoPan: false,
                                maxWidth: 300,
                                zIndex: null,
                                closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif", //close button icon
                                infoBoxClearance: new google.maps.Size(2, 1)

                            });


                            google.maps.event.addListener(marker, 'mouseover', function () {
                                infowindow.setContent(this.info);
                                infowindow.open(map, this);
                            });

                            //  var script = 'jQuery("#location-list").animate({ scrollTop: $("#location-' + (itemNumber-1) + '").offset().top }, 500, function () { });';
                            google.maps.event.addListener(marker, 'click', function () {
                                var list = $('#location-list');
                                if (list.length) {
                                    var element = "#location-" + this.itemNumber + "";
                                    //console.log(element);
                                    // list.animate({
                                    // scrollTop: $(element).offset().top
                                    // }, 500);
                                }

                                //return false;
                            });


                            items += '<div class="localtion-item"><div style="display:none" id="location-' + (itemNumber - 1) + '" class="locationId">' + (itemNumber - 1) + '</div><div class="row"><div class="col-md-9 col-sm-9 col-xs-9"><h3><a href="#">' + itemNumber + '. ' + item.Title + '</a></h3><p class="address">Đ/C: Nguyễn Hữu Thắng, HCM</p><p class="mobile">Điện thoại: ' + (item.Phone != null ? item.Phone : '') + '</p><p class="website">Đ/C: ' + (item.Address != null ? item.Address : '') + '</p> </div><div class="col-md-3 col-sm-sm-3 col-xs-3"> <div class="logo-agent"><img src="https://mitsubishi-electric.vn/images/mitsubishi-logo.png" alt="" /></div> </div><div class="clear"></div></div></div>';
                        }

                    }
                    $("#location-list").html(items);
                    if (localId != 0) {
                        myLatLng = {
                            lat: data[0].Latitude,
                            lng: data[0].Longitude
                        };
                        moveMap(myLatLng);
                    }
                }

            },
            error: function (msg) {
                alert("Please try again!");
            }
        });

    }

    $(document).ready(function () {
        $(".localtion-item").click(function () {
            // console.log($(this).find("#locationId").html());mouseover
            var id = $(this).find(".locationId").html();
            google.maps.event.trigger(markers[id], 'mouseover');

        });


    });

</script>