﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model Mitsubishi.UI.Models.Entities.ContentEntity

@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_LayoutService.cshtml";

    ViewBag.CurrentPage = GlobalConstants.NAV_CONTACT_US;
}

<!-- Content -->
<div class="bg-inquire_02">
    <div class="service-container container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="tt-top">
                    <div class="imgContact">
                        <img class="Left" src="/images/img-contact.png">
                    </div>

                    <div class="breakumb clearfix">
                        <a href="/" title="Trang chủ">Trang chủ</a> / Contact Us
                    </div>

                    <h1 class="lien-he">@HomeController.GetTextValue("ContactUs_Title")</h1>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="wr-contact">
            @{
                if (Model != null)
                {
                    var content = Model.LongDescription;

                    var currentLanguage = UtilsController.GetCurrentLanguage();

                    if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                    {
                        content = Model.LongDescriptionEN;
                    }

                    @Html.Raw(Server.HtmlDecode(content));
                }
            }
        </div>
    </div>

        </div>