﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model List<Mitsubishi.UI.Models.Entities.ProductCategoryEntity>

@{
    ViewBag.Title = "General Inquiry";
    Layout = "~/Views/Shared/_LayoutService.cshtml";

    ViewBag.CurrentPage = GlobalConstants.NAV_INQUIRY;
}
<div class="">
    <div class="service-container container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1>Inquiry</h1>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="requirement ">
                    <div class="breakumb clearfix">
                        <a href="/" title="Trang chủ">Trang chủ</a> / Yêu Cầu / Yêu cầu về sản phẩm
                    </div>
                    <div class="requirement-tt">@HomeController.GetTextValue("Inquiry_General_Inquiries")</div>
                    <div class="line-img"><img src="/images/line-001.jpg"></div>
                    <div class="ita margleft">
                        Vui lòng sử dụng mẫu dưới đây để gửi các câu hỏi và bình luận trên trang web này hoặc gửi các yêu cầu chung khác không liên quan đến các sản phẩm và dịch vụ được cung cấp bởi các công ty thành viên của tập đoàn Mitsubishi Electric tại Ấn Độ.
                    </div>
                    @if (Model != null && Model.Any())
                    {
                        <div class="chooseProduct">
                            <i class="redArrBullet"></i><strong>Sản phẩm đã chọn:</strong>

                            @for (var i = 0; i < Model.Count; i++)
                            {
                                var item = Model[i];

                                if (i < Model.Count - 1)
                                {
                                    @Html.Raw(item.Title + ", ");
                                }
                                else
                                {
                                    @Html.Raw(item.Title);
                                }
                            }

                        </div>
                        <div class="ita txt-red">
                            <a href="/inquiry.htm">
                                <span class="red-bullet">
                                    <img src="/images/red-bullet.jpg" />
                                </span>Nếu không đúng, vui lòng bấm vào đây và chọn sản phẩm khác.
                            </a>
                        </div>
                    }

                    @if (Model != null && Model.Any())
                    {
                        <div class="ita txt-red">
                            <a href="/inquiry.htm">
                                <span class="red-bullet">
                                    <img src="/images/red-bullet.jpg">
                                </span>Để biết thêm thông tin về tư vấn / đánh giá, danh mục sản phẩm / tài liệu, dịch vụ hậu mãi, hay các yêu cầu liên quan đến mua sắm, vui lòng bấm vào đây
                            </a>
                        </div>
                    }

                    <div class="line-drop"></div>
                    <div class="ita margleft">
                        Vui lòng cung cấp những thông tin sau đây và đọc điều khoản tiết lộ thông tin cá nhân tại cuối trang. Nếu đồng ý với điều khoản này, vui lòng bấm nút "Đồng ý & Gửi".
                    </div>

                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("SendEmailInquiry", "Home", FormMethod.Post))
    {

        <div class="bg-inquire">
            <div class="requirement wr-requirement">
                @*<form class="comment-body">*@
                <div class="enquireComment">
                    @if (Model != null && Model.Any())
                    {
                        <div class="form-group ">
                            <label class="col-md-3 control-label"><i class="redArrBullet"></i>Loại yêu cầu</label>
                            <div class="col-md-9">
                                <div class="radio-list">
                                    @Html.RadioButton("radioRequest", "Tư vấn / Đánh giá", true)Tư vấn / Đánh giá<br />
                                    @Html.RadioButton("radioRequest", "Danh mục sản phẩm / Tài liệu")Danh mục sản phẩm / Tài liệu<br />
                                    @Html.RadioButton("radioRequest", "Dịch vụ hậu mãi")Dịch vụ hậu mãi<br />
                                    @Html.RadioButton("radioRequest", "Mua sắm")Mua sắm<br />
                                    @Html.RadioButton("radioRequest", "Những yêu cầu chung")Những yêu cầu chung<br />
                                </div>
                            </div>
                        </div>
                    }

                    <div class="form-group ">
                        <label class="col-md-3 control-label">
                            <i class="redArrBullet"></i>
                            @HomeController.GetTextValue("Inquiry_Comment")
                        </label>
                        <div class="col-md-9">
                            @Html.TextArea("comment", null, 3, 40, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="enquireBotline"></div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            <i class="redArrBullet"></i>
                            @HomeController.GetTextValue("Inquiry_Name")
                        </label>
                        <div class="col-md-9">
                            @Html.TextBox("name", string.Empty, "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="enquireBotline"></div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            <i class="redArrBullet"></i>
                            @HomeController.GetTextValue("Inquiry_Company")
                        </label>
                        <div class="col-md-9">
                            @Html.TextBox("company", string.Empty, "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="enquireBotline"></div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            <i class="redArrBullet"></i>
                            @HomeController.GetTextValue("Inquiry_Address")
                        </label>
                        <div class="col-md-9">
                            @Html.TextBox("address", string.Empty, "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="enquireBotline"></div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            <i class="redArrBullet"></i>
                            @HomeController.GetTextValue("Inquiry_City")
                        </label>
                        <div class="col-md-9">
                            @Html.TextBox("city", string.Empty, "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="enquireBotline"></div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            <i class="redArrBullet"></i>
                            @HomeController.GetTextValue("Inquiry_Country")
                        </label>
                        <div class="col-md-9">
                            @Html.TextBox("country", string.Empty, "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="enquireBotline"></div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            <i class="redArrBullet"></i>
                            @HomeController.GetTextValue("Inquiry_Phone")
                        </label>
                        <div class="col-md-9">
                            @Html.TextBox("phone", string.Empty, "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="enquireBotline"></div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">
                            <i class="redArrBullet"></i>
                            @HomeController.GetTextValue("Inquiry_Email")
                        </label>
                        <div class="col-md-9">
                            @Html.TextBox("email", string.Empty, "", new { @class = "form-control" })
                        </div>
                    </div>
                </div>


                <div class="processInfo">
                    <strong>Cách chúng tôi xử lý thông tin cá nhân của bạn</strong>
                    <div> <span class="bullet-04"></span> Chúng tôi sẽ hết sức cẩn trọng trong việc chịu trách nhiệm quản lý thông tin cá nhân (tên, địa chỉ email, số điện thoại, v.v…của bạn) mà chúng tôi có được khi bạn gửi một yêu cầu trên trang web Mitsubishi Electric.</div>
                    <div> <span class="bullet-04"></span> Tập đoàn Mitsubishi Electric sẽ sử dụng những thông tin cá nhân chúng tôi có được từ bạn để trả lời và xác nhận về yêu cầu mà bạn đã gửi cho chúng tôi, và sẽ lưu giữ bản lưu yêu cầu cho cùng mục đích này.</div>
                    <div> <span class="bullet-04"></span> Để cung cấp cho bạn câu trả lời thỏa đáng, chúng tôi có thể sẽ chuyển tiếp yêu cầu cũng như thông tin cá nhân của bạn, cho các công ty con hay các nhà thầu phụ (chẳng hạn như nhà phân phối).</div>
                    <div> <span class="bullet-04"></span> Tập đoàn Mitsubishi Electric sẽ không tiết lộ thông tin cá nhân của bạn cho một bên thứ ba ngoài mục đích như đã nêu trên.</div>
                    <div> <span class="bullet-04"></span> Nếu bạn dưới 16 tuổi, chúng tôi yêu cầu bạn tham khảo ý kiến của cha (mẹ) hoặc người giám hộ trước khi đăng ký thông tin cá nhân của bạn.</div>
                    <div class="txt-red"> <span class="bullet-red"></span>Để biết thêm thông tin về cách chúng tôi quản lý thông tin cá nhân, vui lòng bấm<a href=""> vào đây.</a> </div>
                    <div class="margin-01">Bấm nút gửi yêu cầu đồng nghĩa với việc bạn đã hiểu rõ và đồng ý với tất cả các điều khoản và điều kiện nêu trên.</div>
                    <div class="line-drop"></div>

                </div>
                <div class="form-group col-md-5 auto">
                    <button class="button-grey" type="reset" id="btnClear">@HomeController.GetTextValue("Inquiry_Delete")</button>
                    <button class="button-red" type="submit" id="btnSend">@HomeController.GetTextValue("Inquiry_Send")</button>
                </div>
                @*</form>*@
            </div>
        </div>
    }
</div>
