﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@{
    ViewBag.Title = "Mitsubishi Electric";
    Layout = "~/Views/Shared/_LayoutDigi.cshtml";
}

@Html.Partial("partialSlideBanner")

<div class="homepage" id="featurePro">
    <div class="container">
        <div class="row">
            <div class="product-type-block">
                @{
                    var lst = ProductCategoryController.GetList();

                    var currentLanguage = UtilsController.GetCurrentLanguage(GlobalConstants.SESS_LANGUAGE);

                    foreach (var entity in lst)
                    {
                        var typeName_sub = entity.ProductType.Title;
                        var title = entity.TitleEN;
                        var ex_class = "owl-list-product-type" + entity.ItemID;
                        if (currentLanguage == GlobalConstants.LANGUAGE_VN)
                        {
                            title = entity.Title;
                        }

                        var url = Url.RouteUrl("ProductTypes", new
                        {
                            ProductTypeName = Utils.ConvertUrf8ToAscii(title),
                            productTypeId = entity.ItemID
                        });


                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="list-product-type">
                                <div id="owl-list-product-type" class="owl-list-product-type owl-list-product-type owl-carousel owl-theme @ex_class">
                                    @if (entity.SlideProductImages.Any())
                                    {
                                        foreach (var p in entity.ListProductImages)
                                        {
                                            if (!string.IsNullOrEmpty(p))
                                            {

                                                <div class="item">
                                                    <img src="~/images/@p" />
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                                <div class="name-pro">
                                    <a href="@url">
                                        @title
                                    </a>
                                </div>
                                <ul class="sub-product-category">
                                    @{

                                    var Item_sub = entity.ItemID;
                                    var subproduct = ProductCategoryController.GetList(Item_sub,5);
                                   
                                    int i = 0;
                                    foreach (var p in subproduct)
                                    {
                                        var title_sub = p.Title;

                                        var productTypeName = p.ParentCategory.Title;
                                        if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                                        {
                                            title_sub = p.TitleEN;
                                            typeName_sub = p.ProductType.TitleEN;
                                            productTypeName = p.ParentCategory.TitleEN;
                                        }


                                        var url_sub = Url.RouteUrl("ProductCategory", new
                                                {
                                                    ProductTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                                                    ProductTypeId = p.ParentCategory.ItemID,
                                                    ProductCategoryName = Utils.ConvertUrf8ToAscii(title_sub),
                                                    productCategoryId = p.ItemID
                                                });
                                        if (!string.IsNullOrEmpty(p.RedirectUrl))
                                        {
                                            url_sub = p.RedirectUrl;
                                        }


                                        <li><a class="slide-@p.ItemID" slide="@ex_class" data="@i" href="@url_sub">@title_sub</a></li>
                                        i++;
                                    }
                                    
                                        <li><a href='@url'>Tìm hiểu thêm</a></li>
                                    
                                    }

                                </ul>

                                <div class="clear"></div>
                            </div>
                        </div>
                    }

                    <script type='text/javascript' src='~/Scripts/owl.carousel.js?ver=1.3.2'></script>
                    <script>
                        $(document).ready(function () {
                            var carousel = $(".owl-list-product-type");
                            $(".owl-list-product-type").owlCarousel({

                                navigation: true, // Show next and prev buttons
                                slideSpeed: 300,
                                paginationSpeed: 400,
                                singleItem: true,
                                pagination: false,
                                autoPlay: false,
                                navigation: true
                            });

                            $('.sub-product-category a').hover(function () {
                                var carousel = $(this).attr("slide");
                                $("." + carousel).trigger('owl.goTo', $(this).attr("data"));

                                console.log(carousel);
                                console.log($(this).attr("data"));
                            });
                        });
                    </script>
                }
                <div class="clear"></div>
            </div>
            </div>
       
        
        <div class="news-home row">
            <div class="col-md-5 col-sm-6 col-xs-12 fleft ">
                <div class="feature-news">
                    @{
                     var item = new ContentController().GetFirstItemNews("2");
                        var title_item = item.TitleEN;
                        if (currentLanguage == GlobalConstants.LANGUAGE_VN)
                        {
                            title_item = item.Title;
                        }
                        var url_item = Url.RouteUrl("NewsDetail", new
                        {
                            title = Utils.ConvertUrf8ToAscii(title_item),
                            itemId = item.ItemID
                        });

                        var catName = item.Category.Title;

                        var featureNews = "Tin nổi bật";
                        
                        if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                        {
                            catName = item.Category.TitleEN;
                            featureNews = "Feature News";
                        }
                        
                        <a href="@url_item"><img class="news-thumbnail img-responsive" src="~/images/news/thumb/@item.Thumbnail" alt="mitsu" /></a>
                        <div class="description">
                            <p class="block-title">@featureNews</p>
                            <h4 class="title"><a href="@url_item">@title_item</a></h4>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 fleft ">
                <div class="manual-news">
                    @{
                        /*
                        var item_manual = new ManualController().GetFirstItem();
                        var title_manual = item_manual.TitleEN;
                        if (currentLanguage == GlobalConstants.LANGUAGE_VN)
                        {
                            title_manual = item_manual.Title;
                        }
                        
                        var url_manual = Url.RouteUrl("ManualDetail", new
                        {
                            title = Utils.ConvertUrf8ToAscii(title_manual),
                            itemId = item_manual.ItemID
                        });
                        */
                        var item_manual = new ContentController().GetFirstItemNews("3");
                        var title_manual = item_manual.TitleEN;
                        if (currentLanguage == GlobalConstants.LANGUAGE_VN)
                        {
                            title_item = item_manual.Title;
                        }
                        var url_manual = Url.RouteUrl("NewsDetail", new
                        {
                            title = Utils.ConvertUrf8ToAscii(title_item),
                            itemId = item_manual.ItemID
                        });
                        
                        

                        <a class="link-item" href="@url_manual"><img class="news-thumbnail img-responsive" src="~/images/news/thumb/@item_manual.Thumbnail" alt="mitsu" /></a>
                        <div class="description">
                           <!-- <p class="block-title">@HomeController.GetTextValue("Tip")</p>-->
                            <p class="block-title">@HomeController.GetTextValue("Event")</p>
                            <h4 class="title"><a href="@url_manual">@title_manual</a></h4>
                        </div>
                    }

                  <!--
                        <p class="logo-manual">@HomeController.GetTextValue("Tip")</p>
                  -->
                    

                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 fleft ">
                <div class="support-block">
                    <div class="ask-question-block">
                        <p class="text">BẠN CÓ THẮC MẮC CẦN<br />GIẢI ĐÁP?</p>
                        <p class="sub-text">@HomeController.GetTextValue("SendQuestionToUs")</p>
                        <a class="btn-ask-question fancybox" href="/dat-cau-hoi.htm">@HomeController.GetTextValue("SendQuestion")</a>
                        <div class="clear clearfix"></div>
                    </div>
                    <div class="social-block">
                        <div class="fb-page" data-href="https://www.facebook.com/mitsubishielectricvietnam"  data-width="500" data-height="207" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/mitsubishielectricvietnam"><a href="https://www.facebook.com/mitsubishielectricvietnam">Mitsubishi Electric Vietnam</a></blockquote></div></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
@Html.Partial("partialQuestionPopup")