﻿@using System.Web.UI.WebControls
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Entities
@using System.Collections

@{
    ViewBag.Title = "Product Inquiry";
    Layout = "~/Views/Shared/_LayoutService.cshtml";

    ViewBag.CurrentPage = GlobalConstants.NAV_INQUIRY;
}

<div class="bg-inquire_02">
    <div class="service-container container">
        <h1>Inquiry</h1>
        <div class="requirement wr-requirement">
            <div class="block_breakumb clearfix">
                <a href="/" title="Trang chủ">Trang chủ</a><strong>›</strong> Yêu Cầu<strong>›</strong>Yêu cầu về sản phẩm
            </div>
            <div class="requirement-tt">Những yêu cầu về sản phẩm</div>
            <div class="line-img"><img src="/images/line-003.png"></div>
            <div class="ita txt-red">Vui lòng chọn sản phẩm</div>
            <div class="chooseProduct">
                <i class="redArrBullet"></i><strong>Điều hòa không khí dân dụng</strong>
                <div class="inquiry-product-group">
                    <select class="form-select" id="RoomAirConditioner">
                        @{
                            <option value="0">---Chọn---</option>
                            foreach (ListItemEntity item in (IEnumerable)ViewData[GlobalConstants.LIST_ROOM_AIR_CONDITIONER])
                            {
                                <option value="@item.DataValueField">@item.DataTextField</option>
                            }
                        }
                    </select>
                </div>
            </div>


            <div class="chooseProduct">
                <i class="redArrBullet"></i><strong>Tủ Lạnh</strong>
                <div class="inquiry-product-group">
                    <select class="form-select" id="Refrigerator">
                        @{
                            <option value="0">---Chọn---</option>
                            foreach (ListItemEntity item in (IEnumerable)ViewData[GlobalConstants.LIST_REFRIGERATOR])
                            {
                                <option value="@item.DataValueField">@item.DataTextField</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="chooseProduct">
                <i class="redArrBullet"></i><strong>Quạt điện</strong>
                <div class="inquiry-product-group">
                        <select class="form-select" id="ElectricFans">
                        @{
                            <option value="0">---Chọn---</option>
                            foreach (ListItemEntity item in (IEnumerable)ViewData[GlobalConstants.LIST_ELECTRICFANS])
                            {
                                <option value="@item.DataValueField">@item.DataTextField</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="chooseProduct">
                <i class="redArrBullet"></i><strong>Quạt thông gió</strong>
                <div class="inquiry-product-group">
                    <select class="form-select" id="Ventilator">
                        @{
                            <option value="0">---Chọn---</option>
                            foreach (ListItemEntity item in (IEnumerable)ViewData[GlobalConstants.LIST_VENTILATOR])
                            {
                                <option value="@item.DataValueField">@item.DataTextField</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="chooseProduct">
                <i class="redArrBullet"></i><strong>Máy sấy khô</strong>
                <div class="inquiry-product-group">
                    <select class="form-select" id="jetTowel">
                        @{
                            <option value="0">---Chọn---</option>
                            foreach (ListItemEntity item in (IEnumerable)ViewData[GlobalConstants.LIST_JETTOWEL])
                            {
                                <option value="@item.DataValueField">@item.DataTextField</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="chooseProduct">
                <i class="redArrBullet"></i><strong>Điều hòa không khí trung tâm (VRF) – City Multi</strong>
                <div class="inquiry-product-group">
                    <select class="form-select" id="VRF">
                        @{
                            <option value="0">---Chọn---</option>
                            foreach (ListItemEntity item in (IEnumerable)ViewData[GlobalConstants.LIST_VRF])
                            {
                                <option value="@item.DataValueField">@item.DataTextField</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="chooseProduct">
                <i class="redArrBullet"></i><strong>Lossnay</strong>
                <div class="inquiry-product-group">
                    <select class="form-select" id="lossnay">
                        @{
                            <option value="0">---Chọn---</option>
                            foreach (ListItemEntity item in (IEnumerable)ViewData[GlobalConstants.LIST_LOSSNAY])
                            {
                                <option value="@item.DataValueField">@item.DataTextField</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="chooseProduct">
                <i class="redArrBullet"></i><strong>Multi Split – Star Mex</strong>
                <div class="inquiry-product-group">
                    <select class="form-select" id="multiSplit">
                        @{
                            <option value="0">---Chọn---</option>
                            foreach (ListItemEntity item in (IEnumerable)ViewData[GlobalConstants.LIST_MULTISPLIT])
                            {
                                <option value="@item.DataValueField">@item.DataTextField</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="chooseProduct">
                <i class="redArrBullet"></i><strong>Package Air Con (Split Type)</strong>
                <div class="inquiry-product-group">
                    <select class="form-select" id="PackageAirConditioners">
                        @{
                            <option value="0">---Chọn---</option>
                            foreach (ListItemEntity item in (IEnumerable)ViewData[GlobalConstants.LIST_PACKAGE_AIR_CONDITIONER])
                            {
                                <option value="@item.DataValueField">@item.DataTextField</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="chooseProduct">
                <i class="redArrBullet"></i><strong>Hệ thống tự động hóa công nghiệp</strong>
                <div class="inquiry-product-group">
                    <select class="form-select" id="FactoryAutomation">
                        @{
                            <option value="0">---Chọn---</option>
                            foreach (ListItemEntity item in (IEnumerable)ViewData[GlobalConstants.LIST_FACTORY_AUTOMATION])
                            {
                                <option value="@item.DataValueField">@item.DataTextField</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="Right"><a class="button-red" onclick="createURL(this);">Tiếp theo</a></div>
            <div class="clear" style="height:30px;"></div>
            <div class="requirement-tt">Những yêu cầu chung</div>
            <div class="line-img"><img src="/images/line-001.jpg"></div>
            <div class="ita txt-red">
                <span class="red-bullet">
                    <img src="/images/red-bullet.png">
                </span>
                <a href="general-inquiry.htm">
                    Để xem những yêu cầu chung, vui lòng bấm vào đây.
                </a>
            </div>

        </div>

    </div>

</div>

<style>
    a[class="button-red"]:hover {
        text-decoration: none !important;
        color: #fff;
    }
</style>
<script>
    

    function createURL(element) {
        var selectedProduct = '';
        if ($("#RoomAirConditioner").val() != null && $("#RoomAirConditioner").val() != '0') {
            selectedProduct += ',' + $("#RoomAirConditioner").val();
        }

        if ($("#VRF").val() != null && $("#VRF").val() != '0') {
            selectedProduct += ',' + $("#VRF").val();
        }

        if ($("#Refrigerator").val() != null && $("#Refrigerator").val() != '0') {
            selectedProduct += ',' + $("#Refrigerator").val();
        }

        if ($("#ElectricFans").val() != null && $("#ElectricFans") != '0') {
            selectedProduct += ',' + $("#ElectricFans").val();
        }

        if ($("#Ventilator").val() != null && $("#Ventilator").val() != '0') {
            selectedProduct += ',' + $("#Ventilator").val();
        }

        if ($("#FactoryAutomation").val() != null && $("#FactoryAutomation").val() != '0') {
            selectedProduct += ',' + $("#FactoryAutomation").val();
        }

        if ($("#jetTowel").val() != null && $("#jetTowel").val() != '0') {
            selectedProduct += ',' + $("#jetTowel").val();
        }

        if ($("#lossnay").val() != null && $("#lossnay").val() != '0') {
            selectedProduct += ',' + $("#lossnay").val();
        }

        if ($("#multiSplit").val() != null && $("#multiSplit").val() != '0') {
            selectedProduct += ',' + $("#multiSplit").val();
        }

        var url = "/Home/GeneralInquiry/?selected=" + encodeURIComponent(selectedProduct);
        //console.log(url);
        $(element).attr("href", url);
    }
</script>