﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/_LayoutProductOverview.cshtml";
}
<h1 style="display:none;">Sản phẩm Mitsubishi Electric</h1>
<div id="featurePro">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb"><a href="/">@HomeController.GetTextValue("Home") </a>/ Sản phẩm </div>
            </div>
            <div class="product-type-block">
                @{
                    var lst = ProductCategoryController.GetList();

                    var currentLanguage = UtilsController.GetCurrentLanguage(GlobalConstants.SESS_LANGUAGE);

                    foreach (var entity in lst)
                    {
                        var typeName_sub = entity.ProductType.Title;
                        var title = entity.TitleEN;
                        var ex_class = "owl-list-product-type" + entity.ItemID;
                        if (currentLanguage == GlobalConstants.LANGUAGE_VN)
                        {
                            title = entity.Title;
                        }

                        var url = Url.RouteUrl("ProductTypes", new
                        {
                            ProductTypeName = Utils.ConvertUrf8ToAscii(title),
                            productTypeId = entity.ItemID
                        });


                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="list-product-type">
                                <div id="owl-list-product-type" class="owl-list-product-type owl-list-product-type owl-carousel owl-theme @ex_class">
                                    @if (entity.SlideProductImages.Any())
                                    {
                                        foreach (var p in entity.ListProductImages)
                                        {
                                            if (!string.IsNullOrEmpty(p))
                                            {

                                                <div class="item">
                                                    <img src="~/images/@p" />
                                                </div>
                                            }
                                        }
                                    }
                                </div>
                                <div class="name-pro">
                                    <h2>
                                        <a href="@url">
                                            @title
                                        </a>
                                    </h2>
                                </div>
                                <ul class="sub-product-category">
                                    @{

                                    var Item_sub = entity.ItemID;
                                    var subproduct = ProductCategoryController.GetList(Item_sub, 5);
                                   

                                    int i = 0;
                                    foreach (var p in subproduct)
                                    {
                                        var title_sub = p.Title;

                                        var productTypeName = p.ParentCategory.Title;
                                        if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                                        {
                                            title_sub = p.TitleEN;
                                            typeName_sub = p.ProductType.TitleEN;
                                            productTypeName = p.ParentCategory.TitleEN;
                                        }


                                        var url_sub = Url.RouteUrl("ProductCategory", new
                                                {
                                                    ProductTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                                                    ProductTypeId = p.ParentCategory.ItemID,
                                                    ProductCategoryName = Utils.ConvertUrf8ToAscii(title_sub),
                                                    productCategoryId = p.ItemID
                                                });
                                        if (!string.IsNullOrEmpty(p.RedirectUrl))
                                        {
                                            url_sub = p.RedirectUrl;
                                        }


                                        <li><a class="slide-@p.ItemID" slide="@ex_class" data="@i" href="@url_sub">@title_sub</a></li>
                                        i++;
                                    }
                                    <li><a href='@url'>Tìm hiểu thêm</a></li>
}

                                </ul>
                                <div class="clear"></div>
                            </div>
                        </div>
                    }

                    <script type='text/javascript' src='~/Scripts/owl.carousel.js?ver=1.3.2'></script>
                    <script>
                        $(document).ready(function () {
                            var carousel = $(".owl-list-product-type");
                            $(".owl-list-product-type").owlCarousel({

                                navigation: true, // Show next and prev buttons
                                slideSpeed: 300,
                                paginationSpeed: 400,
                                singleItem: true,
                                pagination: false,
                                autoPlay: false,
                                navigation: true
                            });

                            $('.sub-product-category a').hover(function () {
                                var carousel = $(this).attr("slide");
                                $("." + carousel).trigger('owl.goTo', $(this).attr("data"));

                                console.log(carousel);
                                console.log($(this).attr("data"));
                            });
                        });
                    </script>
                }
                <div class="clear"></div>
            </div>
        </div>


        <div class="news-home row">
            
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>