﻿@using Mitsubishi.UI.Models
@{
    ViewBag.Title = "General Inquiry";
    Layout = "~/Views/Shared/_LayoutService.cshtml";

    ViewBag.CurrentPage = GlobalConstants.NAV_INQUIRY;
}

<div class="">
    <div class="service-container">
       
        <div class="requirement">
            <div class="requirementNotice">
                <img src="/images/img-notice.png">
                <div>
                    Yêu cầu của bạn đã gửi thành công.
                    Chúng tôi sẽ cố gắng trả lời
                    trong thời gian sớm nhất.
                </div>
            </div>
        </div>
    </div>
</div>
