﻿<div class="">
    <div class="service-container container">
        <div class="sitemap">
            <h2>Sitemap </h2>
            <div class="section">
                <div class="headline"> <span><a href="/">Trang Chủ</a></span> </div>
            </div>
            <div class="section">
                <div class="headline"> <span><a href="#">Sản Phẩm</a></span> </div>
                <div class="colsm">
                    <div class="headtt"> <a class="more" href="/product-types/thiet-bi-gia-dung-1.htm">Thiết Bị Gia Dụng</a> </div>
                    <ul class="rows">
                        <li><a href="/thiet-bi-gia-dung/dieu-hoa-khong-khi-dan-dung-14.htm">Điều hòa không khí dân dụng</a></li>
                        <li><a href="/thiet-bi-gia-dung/tu-lanh-2.htm">Tủ Lạnh </a></li>
                        <li><a href="/dien-gia-dung/quat-dien-4.htm">Quạt điện</a></li>
                        <li><a href="/dien-gia-dung/thong-gio-3.htm">Thông gió</a></li>
                        <li><a href="/dien-gia-dung/may-say-kho-tay-5.htm">Máy sấy khô tay</a></li>
                    </ul>
                </div>
                <div class="colsm">
                    <div class="headtt"> <a class="more" href="/product-types/dieu-hoa-khong-khi-du-an-12.htm">Điều hoà không khí dự án</a> </div>
                    <ul class="rows">
                        <li><a href="/dieu-hoa-khong-khi/vrf-110.htm">VRF</a></li>
                        <li><a href="/dieu-hoa-khong-khi/lossnay-105.htm">Lossnay </a></li>
                        <li><a href="/dieu-hoa-khong-khi/multi-split-star-mex-125.htm">Multi Split - Star Mex </a></li>
                        <li><a href="/dieu-hoa-khong-khi/package-aircon-split-type--107.htm">Package AirCon (Split Type)</a></li>
                        <li><a href="/thiet-bi-gia-dung/dieu-hoa-khong-khi-dan-dung-14.htm">Single Split Type </a></li>
                    </ul>
                </div>
                <div class="colsm">
                    <div class="headtt"> <a class="more" href="/product-types/tu-dong-hoa-cong-nghiep-13.htm">Tự động hoá công nghiệp</a> </div>
                    <ul class="rows">
                        <li><a href="/he-thong-tu-dong-hoa/computerized-numerical-controller-17.htm">Computerized Numerical Controller </a></li>
                        <li><a href="/he-thong-tu-dong-hoa/electrical-discharge-machines-18.htm">Electrical Discharge Machines </a></li>
                        <li><a href="/he-thong-tu-dong-hoa/factory-automation-19.htm">Factory Automation </a></li>
                        <li><a href="/he-thong-tu-dong-hoa/laser-processing-machines-20.htm">Laser Processing Machines</a></li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <div class="headline"> <span><a href="#">Công ty</a></span> </div>
                <ul class="rows">
                    <li><a href="/about-mitsubishi.htm">Giới Thiệu Tập Đoàn Mitsubishi Electric</a></li>
                    <li><a href="/about-us.htm">Giới Thiệu Công ty </a></li>
                    <li><a href="/news-event.htm">Tin tức & Sự kiện</a></li>
                    <li><a href="/careers.htm">Tuyển Dụng </a></li>
                </ul>
            </div>
            <div class="section">
                <div class="headline"> <span><a href="#">Dịch vụ khách hàng</a></span> </div>
                <ul class="rows">
                    <li><a href="/inquiry.htm">Yêu cầu</a></li>
                    <li><a href="/where-to-buy.htm">Mua ở đâu</a></li>
                    <li><a href="/authorized-service-center.htm">Trung tâm bảo hành</a></li>
                    <li><a href="/warranty-term.htm">Chế độ bảo hành</a></li>
                    <li><a href="/contact-us.htm">Liên hệ</a></li>
                </ul>
            </div>
            <div class="section">
                <div class="headline"> <span><a href="http://www.mitsubishielectric.com/index.html">Global Website</a></span> </div>
            </div>
            <div class="section">
                <div class="headline"> <span><a href="http://www.mitsubishielectric.asia/">Asia Pacific Portal</a></span> </div>
            </div>
            <div class="section">
                <div class="headline"> <span><a href="#">Terms of Use</a></span> </div>
                <ul class="rows">
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>