﻿@model List<FileInfo>
           @{
               Layout = null;
           }
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    function removeFile(fileName) {
        var r = confirm('Are you sure to want to delete this file?');

        if (r) {
            $.ajax({
                url: "/Home/RemoveFile/",
                data: {
                    fileName: fileName
                },
                cache: false,
                async: false,
                type: "GET",
                timeout: 10000,
                dataType: "json",
                success: function (result) {
                    if (result) {
                        location.reload();
                    }
                }
            });
        }
    }
</script>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            @using (Html.BeginForm("SaveFileUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <input type="file" name="FileUpload" />
                <input type="submit" name="Submit" id="Submit" value="Upload" />
            }

            @{
                if (Model != null)
                {
                    <table width="100%">
                        <tr>
                            <th>File Name</th>
                            <th style="width:200px;">Modified Date</th>
                            <th style="width:120px">Remove</th>
                        </tr>
                        @foreach (var f in Model)
                        {
                            <tr>
                                <td>
                                    <a href="/Content/@f.Name" target="_self">@f.Name</a>
                                </td>
                                <td>
                                    @f.LastWriteTime
                                </td>
                                <td>
                                        <a href="#" onclick="removeFile('@f.Name');">Remove</a>
                                    </td>
                            </tr>
                        }
                    </table>
                }

            }
        </div>

    </section>

</div>
