﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model Mitsubishi.UI.Models.Entities.ContentEntity

@{
    var currentLanguage = UtilsController.GetCurrentLanguage();
    var site_title = "";
    if (UtilsController.GetCurrentLanguage() == GlobalConstants.LANGUAGE_EN)
    {
        site_title = "Warranty Term";
    }
    else
    {
        site_title = "Chế độ bảo hành";
    }
    ViewBag.Title = site_title;
    
    Layout = "~/Views/Shared/_LayoutService.cshtml";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/kendo")
@Styles.Render("~/Content/kendo/css")
<script>
    function getProductType() {
        var productType = $('#productTypes').data("kendoDropDownList");

        return {
            parentId: productType.value()
        };
    }

    function productTypesChange() {
        $('#productCategory').data("kendoDropDownList").dataSource.read();
    }
</script>
<div  class="bg-about">
    <div class="service-container container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb"><a href="/">Trang chủ </a>/<a href="#"> Dịch vụ khách hàng </a>/@Html.Raw(site_title)</div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="wr-warranty">
            <div class="col-md-8">
                <div class="tt-top clear tt-top-warranty"><h1 class="baohanh">@site_title</h1> </div>
<!--               
			   <div class="warranty clear">
                    <div class="chooseProduct m-bottom">
                        <p class="text">Nhóm sản phẩm</p>
                        <div class="chooseSelect01">
                            @(Html.Kendo().DropDownList()
                          .Name("productTypes")
                          .DataValueField("ItemID")
                          .DataTextField("Title")
                          .Events(e => e.Change("productTypesChange"))
                          .DataSource(ds => ds.Read(read => read.Action("GetListProductTypes", "ProductCategory")))
                          .HtmlAttributes(new { style = "width:100%;" })
                            )
                        </div>
                    </div>

                    <div class="chooseProduct">
                        <p class="text">Sản phẩm</p>
                        <div class="chooseSelect01">
                            @(Html.Kendo().DropDownList()
                          .Name("productCategory")
                          .DataValueField("ItemID")
                          .DataTextField("Title")
                          .AutoBind(true)
                          .DataSource(ds => ds.Read(read => read.Action("GetListCategory", "ProductCategory").Data("getProductType")))
                                  .HtmlAttributes(new { style = "width:100%;" })
                            )
                        </div>
                    </div>
                    <div class="Right"><button class=" button-red"><i class="search-icon"></i></button></div>
                    <div class="clear" style="height:30px;"></div>
                </div>
				-->
                <div class="requirement">
                    <div class="processInfo warranty-accordion">
                        @{
                            if (Model != null)
                            {
                                @Html.Raw(Server.HtmlDecode(Model.LongDescriptionEN));
                            }
                        }
                        <div class="line-drop"></div>
                        <script type="text/javascript">
                            jQuery(document).ready(function () {
                                function close_accordion_section() {
                                    jQuery('.warranty-accordion .accordion-section-title').removeClass('active');
                                    jQuery('.warranty-accordion .accordion-section-content').slideUp(300).removeClass('open');
                                }

                                jQuery('.accordion-section-title').click(function (e) {
                                    // Grab current anchor value
                                    var currentAttrValue = jQuery(this).attr('href');

                                    if (jQuery(e.target).is('.active')) {
                                        close_accordion_section();
                                    } else {
                                        close_accordion_section();

                                        // Add active class to section title
                                        jQuery(this).addClass('active');
                                        // Open up the hidden content panel
                                        jQuery('.warranty-accordion ' + currentAttrValue).slideDown(300).addClass('open');
                                    }

                                    e.preventDefault();
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            <!--
                         <div class="col-md-4">
                             <div class="tt-top clear tt-top-warranty"><h2>E-Warranty</h2> </div>
                             <div class="tab-e-warranty nav nav-tabs">
                                 <a class="tab-item tab-item-agen " href="#agen-tab">DÀNH CHO ĐẠI LÝ</a>
                                 <a class="tab-item tab-item-person" href="#person-tab">DÀNH CHO KHÁCH HÀNG CÁ NHÂN</a>
                             </div>
                             <div id="agen-tab" class="related-news">
                                 <form id="agen-form">
                                     <div class="agen-form">
                                         <p><input required="" id="name" class="name" type="text" placeholder="Họ tên"></p>
                                         <p><input required="" id="email" class="email" type="email" placeholder="Email"></p>
                                         <p><input required="" id="phone" class="phone" type="tel" placeholder="Điện thoại"></p>
                                         <p><input required="" id="address" class="address" type="text" placeholder="Địa chỉ"></p>
                                         <p>
                                             <select>
                                                 <option value="1" selected="">Tỉnh/Thành phố</option>
                                                 <option value="1">Hồ Chí Minh</option>
                                             </select>
                                         </p>

                                         <p><input required="" id="codeProduct" class="codeProduct" type="text" placeholder="Mã sản phẩm"></p>
                                     </div>
                                     <input class="submit submit-button" type="submit" value="HOÀN TẤT">
                                 </form>
                             </div>
                             <div id="person-tab" class="related-news">
                                 a
                             </div>
                             <script>
                                 $('.tab-e-warranty').each(function () {
                                    // For each set of tabs, we want to keep track of
                                    // which tab is active and it's associated content
                                    var $active, $content, $links = $(this).find('a');

                                    // If the location.hash matches one of the links, use that as the active tab.
                                    // If no match is found, use the first link as the initial active tab.
                                    $active = $($links.filter('[href="' + location.hash + '"]')[0] || $links[0]);
                                    $active.addClass('tab-active');

                                    $content = $($active[0].hash);

                                    // Hide the remaining content
                                    $links.not($active).each(function () {
                                        $(this.hash).hide();
                                    });

                                    // Bind the click event handler
                                    $(this).on('click', 'a', function (e) {
                                        // Make the old tab inactive.
                                        $active.removeClass('tab-active');
                                        $content.hide();

                                        // Update the variables with the new link and content
                                        $active = $(this);
                                        $content = $(this.hash);

                                        // Make the tab active.
                                        $active.addClass('tab-active');
                                        $content.show();

                                        // Prevent the anchor's default click action
                                        e.preventDefault();
                                    });
                                });
                             </script>

                          </div>
            -->
            <div class="clear"></div>
        </div>
    </div>



        </div>
