﻿@using System.Activities.Statements
@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model List<Mitsubishi.UI.Models.Entities.ProductCategoryEntity>

@{
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}

@{
    var currentLanguage = UtilsController.GetCurrentLanguage();

    ViewBag.Title = "Chủ đầu tư";

    ViewBag.breadcrumb = @Html.Raw(ViewBag.Title);
}


<div id="business-owner">
    <div class="row restaurant">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 class="heading type-2">NHÀ HÀNG</h2>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/restaurant-1.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/restaurant-2.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/restaurant-3.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/restaurant-4.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/restaurant-5.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/restaurant-6.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: right">
            <a href="#" onclick="openPopup('restaurant')" class="button-grey">Xem thêm</a>
        </div>
    </div>
    <div class="clear"></div>

    <div class="row building">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 class="heading type-2">Toà nhà</h2>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/hotel-1.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/hotel-2.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/hotel-3.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/hotel-4.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/hotel-5.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/hotel-6.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: right">
            <a href="#" onclick="openPopup('building')" class="button-grey">Xem thêm</a>
        </div>
    </div>
    <div class="clear"></div>

    <div class="row apartment">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 class="heading type-2">Căn hộ</h2>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/apartment-1.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/apartment-2.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/apartment-3.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/apartment-4.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/apartment-5.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/apartment-6.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: right">
            <a href="#" onclick="openPopup('apartment')" class="button-grey">Xem thêm</a>
        </div>
    </div>
    <div class="clear"></div>

    <div class="row resort">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h2 class="heading type-2">Khách sạn - Resort</h2>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/resort-1.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/resort-2.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/resort-3.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/resort-4.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/resort-5.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <a href="#"><img src="/images/acp/resort-6.jpg" data-image="/images/acp/example.jpg" /></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align: right">
            <a href="#" onclick="openPopup('resort')" class="button-grey">Xem thêm</a>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="popup business-owner">
    <div class="popup-container">
        <a href="javascript:void(0)" class="btn-close" onclick="closePopup()"></a>
        <a href="javascript:void(0)" class="controller slide-left"></a>
        <a href="javascript:void(0)" class="controller slide-right"></a>
        <img src="/images/acp/example.jpg" />
        <h2>Dự án nhà ở Vinhomes Central Park</h2>
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
</div>

<script>

    function closePopup() {
        $('.business-owner.active').removeClass('active');
    }

    function openPopup(category) {
        $('.business-owner').addClass('active');
    }

</script>