﻿@using System.Activities.Statements
@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model List<Mitsubishi.UI.Models.Entities.ProductCategoryEntity>

@{
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
    var currentLanguage = UtilsController.GetCurrentLanguage();



    var parentCategory = ProductCategoryController.GetItem(Model[0].ParentID);

    var parentCategoryTitle = parentCategory.Title;

    if (currentLanguage == GlobalConstants.LANGUAGE_EN)
    {
        parentCategoryTitle = parentCategory.Title;
    }
    var desc = parentCategory.ShortDescription;
    if (currentLanguage == GlobalConstants.LANGUAGE_EN)
    {
        desc = parentCategory.ShortDescriptionEN;
    }
    ViewBag.description = parentCategory.ShortDescription;
    //cai nay` chac' luon.

    ViewBag.Breadcumb = parentCategoryTitle;
    ViewBag.Title = parentCategoryTitle;

}
             <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1 class="heading">@parentCategoryTitle</h1>
                </div>
                 
                 <div class="clear"></div>
            </div>
@{
    if(parentCategory.ItemID == 12){
            <div class="row acp-summary active">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p style="background: #fff; padding: 20px; border-bottom: solid 2px #0c733c; ">
                        Điều hòa không khí là lựa chọn lý tưởng để kiểm soát nhiệt độ, sự thông thoáng và trong lành của luồng không khí bên trong các tòa nhà , văn phòng, cửa hàng… Với các tòa nhà được cách âm tốt và các thiết bị điện tử ngày càng hiện đại, nhu cầu về kiểm soát không khí hiệu quả càng lớn hơn bao giờ hết. Bên cạnh việc làm mát trong những ngày hè, điều hòa không khí còn có thể sưởi ấm, xóa đi nhu cầu về hệ thống sưởi ấm riêng biệt. Tập đoàn Mitsubishi Electric Vietnam đã nhanh chóng phát triển và vươn lên vị trí dẫn đầu trong nghành công nghiệp điều hòa không khí.
                    </p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 tab-controller" style="text-align: left">
                    <a href="javascript:void(0)" onclick="showItems()" class="acp-technical"></a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 tab-controller" style="text-align: right">
                    <a href="/dieu-hoa-khong-khi-du-an/chu-dau-tu.htm" class="acp-business"></a>
                </div>
                <div class="clear"></div>
            </div>
    }
    else
    {
        <script>
            $(function () {
                $('.acp-items').addClass('active');
            });
        </script>
    }
    
    }
@{
            if (parentCategory.ItemID == 13)
            {
                @Html.Partial("ListItemIAS", Model)
            }
            else
            {
            @Html.Raw("<div class='row acp-items'>");

                                            var rowIndex = 0;

                                            foreach (var entity in Model)
                                            {
                                                rowIndex++;

                                                var title = entity.TitleEN;
                                                var productTypeName = entity.ParentCategory.TitleEN;

                                                if (currentLanguage == GlobalConstants.LANGUAGE_VN)
                                                {
                                                    title = entity.Title;
                                                    productTypeName = entity.ParentCategory.Title;
                                                }

                                                ViewBag.Title = productTypeName;

                                                var url = Url.RouteUrl("ProductCategory", new
                                                {
                                                    ProductTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                                                    ProductTypeId = entity.ParentID,
                                                    ProductCategoryName = Utils.ConvertUrf8ToAscii(title),
                                                    productCategoryId = entity.ItemID
                                                });

                                                if (!string.IsNullOrEmpty(entity.RedirectUrl))
                                                {
                                                    url = entity.RedirectUrl;
                                                }

                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="list-product-item product-type acp">
                                                        <div class="ImgThumb">
                                                            <a href="@url">
                                                                <img src="~/images/@entity.ImageName" class="img-responsive" alt="@title" title="@title" height="160" width="230">
                                                            </a>
                                                        </div>
                                                        <div class="name-pro">
                                                            <h2>
                                                                <a href="@url">
                                                                    @title
                                                                </a>
                                                            </h2>
															 <div class="clear"></div>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </div>
                                                </div>
                                            }

            @Html.Raw("<div class=\"clear\"></div></div>");
            }
        }
        
        <div class="clear"></div>

<script>

    function showItems() {
        $('.acp-summary').remove();
        $('.acp-items').addClass('active');

        history.pushState(null, 'Dành cho kỹ thuật - Điều hoà không khí dự án', location.href + '?danh-cho-ky-thuat');
    }

</script>