﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model List<Mitsubishi.UI.Models.Entities.ProductCategoryEntity>

@{
    var currentLanguage = UtilsController.GetCurrentLanguage();
    @Html.Raw("<div class=\"row clear\">");

    foreach (var entity in Model)
    {
        var title = entity.TitleEN;
        var productTypeName = entity.ParentCategory.Title;

        if (currentLanguage == GlobalConstants.LANGUAGE_EN)
        {
            title = entity.Title;
            productTypeName = entity.ParentCategory.Title;
        }




        var url = Url.RouteUrl("ProductCategory", new
        {
            ProductTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
            ProductCategoryName = Utils.ConvertUrf8ToAscii(title),
            productCategoryId = entity.ItemID
        });

        if (!string.IsNullOrEmpty(entity.RedirectUrl))
        {
            url = entity.RedirectUrl;
        }
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="list-product-item">
                <div class="ImgThumb">
                    <a href="@url">
                        <img src="~/images/@entity.ImageName" alt="@title" title="@title" height="160" width="230">
                    </a>
                    </div>
                    <div class="name-pro">
                        <a href="@url">
                            @title
                        </a>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
            }

            @Html.Raw("</div>");
            }
