﻿@using Mitsubishi.UI.Models.Entities
@model ProductCategoryEntity

@{
    ViewBag.Title = "Add / Edit Product Category";
}

<h2 class="module-title">Add / Edit Product Category</h2>
<script>
    $(document).ready(function () {


        $('#radioEn').val("en-US");
        $('#radioVi').val("vi-VN");

        $('#wndProductColor').hide();

        $('#btnSubmit').click(function () {
            $('#RelatedTo').val($('#multiRelatedTo').data("kendoMultiSelect").value());
            $('#SubModel').val($('#multiSubModel').data("kendoMultiSelect").value());
            $('#LinkBanners').val($('#multiLinkBanners').data("kendoMultiSelect").value());
            $('#formEdit').submit();
        });

        $('#btnSaveAs').click(function () {
            $('#ItemID').val(0);
            $('#RelatedTo').val($('#multiRelatedTo').data("kendoMultiSelect").value());
            $('#SubModel').val($('#multiSubModel').data("kendoMultiSelect").value());
            $('#LinkBanners').val($('#multiLinkBanners').data("kendoMultiSelect").value());

            $('#formEdit').submit();
        });

        $('#btnColor').click(function () {
            $('#wndProductColor #ProductID').val($('#ItemID').val());
            $('#wndProductColor #ItemID').val('0');
            $('#wndProductColor #Title').val('');
            $('#wndProductColor #Images').val('');
            $('#lstImages').html('');

            var win = $('#wndProductColor').data("kendoWindow");
            //$('#wndProductColor').kendoWindow({position: {top: 200, left: 300, }});
            win.center();
            win.open();
        });

        $("input:radio[name=radioLanguages]").click(function () {
            var value = $(this).val();
            window.selectedLanguage = value;

            if (value == langEN) {
                $('#trTitleEN').show();
                $('#trShortDescriptionEN').show();
                $('#trLongDescriptionEN').show();

                $('#trTitleVN').hide();
                $('#trShortDescriptionVN').hide();
                $('#trLongDescriptionVN').hide();
            } else {
                $('#trTitleEN').hide();
                $('#trShortDescriptionEN').hide();
                $('#trLongDescriptionEN').hide();

                $('#trTitleVN').show();
                $('#trShortDescriptionVN').show();
                $('#trLongDescriptionVN').show();
            }
        });
    });

    function saveColorImages() {
        var title = $('#wndProductColor #Title').val();

        $.ajax({
            url: "/Admin/ProductCategory/UpdateColor",
            data: {
                title: title
            },
            cache: false,
            async: false,
            type: "GET",
            timeout: TIME_OUT,
            dataType: "json",
            success: function (result) {
                if (result) {
                    var win = $('#wndProductColor').data("kendoWindow");
                    win.close();
                }
            }
        });
    }

    function getParent() {
        return {
            parentId: $('#ParentID').data("kendoDropDownList").value()
        };
    }

    function productTypeChange() {
        $('#multiRelatedTo').data("kendoMultiSelect").dataSource.read();
    }

    function getParentSubModel() {
        return {
            parentId: $('#ItemID').val()
        };
    }

    function removeImage(image) {
        $.ajax({
            url: "/Admin/ProductCategory/RemoveSlideImage",
            data: {
                slideImages: $('#SlideImages').val(),
                selectImage: image
            },
            cache: false,
            async: false,
            type: "GET",
            timeout: TIME_OUT,
            dataType: "json",
            success: function (result) {
                $('#SlideImages').val(result);

                $('#divSlideImages').html('');
                var str = '';
                var lst = result.split(';');

                for (var i = 0; i < lst.length; i++) {
                    if (lst[i] != '') {

                        str += "<div style='float: left; padding: 5px;' id='" + lst[i] + "'>";
                        str += "<img src=\"/images/icon/" + lst[i] + "\" /><img title=\"Remove " + lst[i] + " style=\"cursor: pointer;\" onclick=\"removeImage('" + lst[i] + "');\" src=\"/Content/images/icon/btn_del.gif\" />";
                        str += "</div>";
                    }
                }

                $('#divSlideImages').html(str);
            }
        });

        $('#' + image).remove();
    }

    function removeColor(color) {
        var r = confirm('Are you sure to want to delete this color?');

        if (r) {
            $.ajax({
                url: "/Admin/ProductCategory/RemoveColor",
                data: {
                    itemId: $('#ItemID').val(),
                    colorId: color
                },
                cache: false,
                async: false,
                type: "GET",
                timeout: TIME_OUT,
                dataType: "json",
                success: function (result) {
                    if (result) {
                        var str = '';
                        $('#divColors').html('');

                        for (var i = 0; i < result.length; i++) {
                            str += "<div style=\"float: left; padding: 10px; display:block;\" id=\"" + result[i].ItemID + "\">";
                            str += result[i].Title;
                            str += "<img title=\"Edit " + result[i].Title + "\" style=\"cursor: pointer;\" onclick=\"editColor(" + result[i].ItemID + ");\" src=\"/Content/images/icon/btn_edit.gif\" />";
                            str += "<img title=\"Remove " + result[i].Title + "\" style=\"cursor: pointer;\" onclick=\"removeColor(" + result[i].ItemID + ");\" src = \"/Content/images/icon/btn_del.gif\" />";
                            str += "</div><br/>";
                        }

                        $('#divColors').html(str);
                    }
                }
            });
        }

    }

    function editColor(colorId) {
        $.ajax({
            url: "/Admin/ProductCategory/GetColorItem",
            data: {
                colorId: colorId
            },
            cache: false,
            async: false,
            type: "GET",
            timeout: TIME_OUT,
            dataType: "json",
            success: function (result) {
                if (result) {
                    var str = '';
                    $('#lstImages').html('');
                    var lst = result.ListImages;

                    str += "<ul class=\"gallery clearfix\">";

                    for (var i = 0; i < lst.length; i++) {
                        if (lst[i] != '') {
                            str += "<li style='float: left; padding: 5px;display: inline;' id='" + lst[i] + "'>";
                            str += "<a href=\"/images/" + lst[i] + "\" rel=\"prettyPhoto[gallery1]\">";
                            str += "    <img src=\"/images/icon/" + lst[i] + "\" />";
                            str += "</a><img title=\"Remove " + lst[i] + "\" style=\"cursor: pointer;\" onclick=\"removeColorImage('" + lst[i] + "');\" src=\"/Content/images/icon/btn_del.gif\" />";
                            str += "</li>";
                        }
                    }

                    str += "</ul>";

                    $('#lstImages').html(str);
                    $('#wndProductColor #ProductID').val($('#ItemID').val());
                    $('#wndProductColor #ItemID').val(result.ItemID);
                    $('#wndProductColor #Title').val(result.Title);
                    $('#wndProductColor #Images').val(result.Images);
                    $('#wndProductColor #Code').val(result.Code);

                    var win = $('#wndProductColor').data("kendoWindow");

                    win.center();
                    win.open();
                }
            }
        });
    }

    function addNewCustomField(productId) {
        if (!productId) {
            alert("Product must be saved before adding custom field.")
            return;
        }

        var editor = $("#CustomField").data("kendoEditor");

        var customField = {
            Id: $("#CustomFieldAlias").val(),
            Alias: $("#newCustomFieldAlias").val(),
            Title: $("#newCustomFieldTitle").val(),
            TitleEN: $("#newCustomFieldTitle").val(),
            Order: $("#newCustomFieldOrder").val(),
            Description: editor.value(),
            DescriptionEN: editor.value(),
            productId: productId
        }

        $.ajax({
            url: '@Url.Action("AddCustomField", "ProductCategory")',
            data: customField,
            type: "POST",
            success: function (result) {
                if (result == "title") {
                    alert("Title is existed.")
                    return;
                }

                if (result == "alias") {
                    alert("Alias is existed.")
                    return;
                }

                var ddl = $("#CustomFieldAlias").data("kendoDropDownList")
                ddl.dataSource.add(result);
                ddl.select(function (dataItem) {
                    return dataItem.Id === result.Id;
                });

                //$("#newCustomFieldAlias").val("");
                //$("#newCustomFieldTitle").val("");
                //$("#newCustomFieldOrder").val("");
            }
        });
    }

    function loadCustomField() {
        var currentCustomField = $("#CustomFieldAlias").val();

        if (!currentCustomField) {
            var editor = $("#CustomField").data("kendoEditor");
            editor.value(null);
            $("#newCustomFieldAlias").val("");
            $("#newCustomFieldTitle").val("");
            $("#newCustomFieldOrder").val("");
            return;
        }

        $.post("@Url.Action("GetCustomField", "ProductCategory")?Id=" + currentCustomField, function (data) {
            var editor = $("#CustomField").data("kendoEditor");
            editor.value(data.Description);

            $("#newCustomFieldAlias").val(data.Alias);
            $("#newCustomFieldTitle").val(data.TitleEN);
            $("#newCustomFieldOrder").val(data.Order);
        });
    }

    function deleteCustomField() {
        var currentCustomField = $("#CustomFieldAlias").val();

        if (!currentCustomField) {
            return;
        }

        $.post("@Url.Action("DeleteCustomField", "ProductCategory")?Id=" + currentCustomField, function (data) {
            if (data == true) {
                var editor = $("#CustomField").data("kendoEditor");
                editor.value(null);

                var ddl = $("#CustomFieldAlias").data("kendoDropDownList")
                ddl.dataSource._data.forEach(function (item) {
                    if (item.Id == currentCustomField) {
                        ddl.dataSource.remove(item);
                    }
                });

                $("#newCustomFieldAlias").val("");
                $("#newCustomFieldTitle").val("");
                $("#newCustomFieldOrder").val("");
            } else {
                alert("There is something wrong happened while trying to delete custom field.");
            }
        });
    }

    function updateCustomField() {
        var currentCustomField = $("#CustomFieldAlias").val();

        if (!currentCustomField) {
            return;
        }

        var editor = $("#CustomField").data("kendoEditor");

        var customField = {
            Id: $("#CustomFieldAlias").val(),
            Alias: $("#newCustomFieldAlias").val(),
            Title: $("#newCustomFieldTitle").val(),
            TitleEN: $("#newCustomFieldTitle").val(),
            Order: $("#newCustomFieldOrder").val(),
            Description: editor.value(),
            DescriptionEN: editor.value(),
            productId: null
        }

        $.ajax({
            url: '@Url.Action("UpdateCustomField", "ProductCategory")',
            data: customField,
            type: "POST",
            success: function (result) {
                if (result == true) {
                    alert("Custom field updated successfully.")
                } else {
                    alert("There is something wrong happened while trying to update custom field.");
                }
            }
        });
    }

    function loadMerchant() {
        var merchantId = $("#Merchants").val();

        if (merchantId == "") {
            $("#merchantLink").val("");
            return;
        }

        $.get("@Url.Action("GetMerchantLink", "ProductCategory")?productId=" + @Model.ItemID + "&merchantId=" + merchantId, function (data) {
            $("#merchantLink").val(data);
        })
    }

    function addUpdateMerchant(productId) {
        if (!productId) {
            alert("Product must be saved before adding custom field.")
            return;
        }

        var merchantId = $("#Merchants").val();
        var link = $("#merchantLink").val();

        if (link == ""){
            alert("Link cannot be blank");
            return;
        }

        var merchant = {
            ProductId: productId,
            MerchantId: merchantId,
            Link: link
        }

        $.ajax({
            url: '@Url.Action("AddUpdateMerchant", "ProductCategory")',
            data: merchant,
            type: "POST",
            success: function (result) {
                var ddl = $("#Merchants").data("kendoDropDownList");
                ddl.dataSource.read();
                ddl.refresh();

                ddl.select(function (dataItem) {
                    return dataItem.Id == merchantId;
                });

                alert(result);
            }
        });
    }

    function removeMerchant(productId) {
        var merchantId = $("#Merchants").val();

        $.get("@Url.Action("RemoveProductMerchant", "ProductCategory")?productId=" + @Model.ItemID + "&merchantId=" + merchantId, function (data) {
            if (data == false) return;

            var ddl = $("#Merchants").data("kendoDropDownList");
            ddl.dataSource.read();
            ddl.refresh();

            ddl.select(function (dataItem) {
                return dataItem.Id == merchantId;
            });

            $("#merchantLink").val("");
            alert(data);
        })
    }
</script>


@(Html.Kendo().Window()
    .Name("wndProductColor")
    .Title("Add / Edit Product Color")
    .Modal(false)
    .Draggable()
    .Width(700)
    .Actions(actions => actions.Pin().Minimize().Close())
    .Content(@<text>
        @Html.Partial("partialProductColor", new ProductColorEntity())
    </text>)
)

@using (Html.BeginForm("CreateItem", "ProductCategory", FormMethod.Post, new { id = "formEdit" }))
{
    <table width="100%" cellpadding="3px" cellspacing="3px">
        <tr>
            <td>
                @Html.HiddenFor(m => m.ItemID)
                @Html.HiddenFor(m => m.IconName)
                @Html.HiddenFor(m => m.IconFooter)
                @Html.HiddenFor(m => m.ImageName)
                @Html.HiddenFor(m => m.ThumbVideo)
                @Html.HiddenFor(m => m.Banners)
                @Html.HiddenFor(m => m.BrochureFileName)
                @Html.HiddenFor(m => m.SlideImages)
                @Html.HiddenFor(m => m.RelatedTo)
                @Html.HiddenFor(m => m.SubModel)
                @Html.HiddenFor(m => m.LinkBanners)
            </td>
            <td>
                @ViewBag.ErrorMessage
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.GroupID)</td>
            <td>
                @(Html.Kendo().DropDownList()
                    .Name("GroupID")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .BindTo(new List<SelectListItem>() {
                        new SelectListItem() {
                            Text = "Series",
                            Value = "1"
                        },
                        new SelectListItem() {
                            Text = "Model",
                            Value = "2"
                        }
                    })
                    .Value("1")
                )
            </td>
        </tr>
        <tr>
            <td style="width: 160px;">
                @Html.LabelFor(model => model.ParentID)
            </td>
            <td>
                @(Html.Kendo().DropDownListFor(m => m)
                      .Name("ParentID")
                      .OptionLabel("Select parent category")
                      .DataValueField("ItemID")
                      .DataTextField("DataTextField")
                      .Events(e => e.Change("productTypeChange"))
                      .DataSource(ds => ds.Read(read => read.Action("GetListCombobox", "ProductCategory")))
                      .HtmlAttributes(new { style = "width: 400px;" })
                )
                @Html.Kendo().RadioButton().Name("radioLanguages").Label("English").HtmlAttributes(new { id = "radioEn" }) &nbsp;
                @Html.Kendo().RadioButton().Name("radioLanguages").Label("Vietnamese").Checked(true).HtmlAttributes(new { id = "radioVn" })
                &nbsp;&nbsp;&nbsp;
                <button id="btnSubmit" type="button" class="k-button k-button-icontext k-grid-update">
                    <span class="k-icon k-update"></span>
                    Save
                </button>

                <button id="btnSaveAs" type="button" class="k-button k-button-icontext k-grid-update">
                    <span class="k-icon k-update"></span>
                    Save As
                </button>

                @Html.ActionLink("Cancel", "Index", "ProductCategory", null, new { @class = "k-button k-button-icontext k-grid-cancel" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ProductCode)
            </td>
            <td>
                @Html.TextBoxFor(model => model.ProductCode, new { @class = "k-textbox" })
            </td>
        </tr>
        <tr id="trTitleEN" style="display: none;">
            <td>
                @Html.LabelFor(model => model.TitleEN)
            </td>
            <td>
                @Html.TextBoxFor(model => model.TitleEN, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>

        <tr id="trTitleVN">
            <td>
                @Html.LabelFor(model => model.Title)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Title, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.IconName)
            </td>
            <td>
                @(Html.Kendo().Upload()
                      .Name("fileIcon")
                      .Async(a => a
                          .Save("SaveIcon", "ProductCategory")
                          .Remove("RemoveIcon", "ProductCategory")
                          .AutoUpload(true)
                      )
                )
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.IconFooter)
            </td>
            <td>
                @(Html.Kendo().Upload()
                      .Name("fileIconFooter")
                      .Async(a => a
                          .Save("SaveIconFooter", "ProductCategory")
                          .Remove("RemoveIconFooter", "ProductCategory")
                          .AutoUpload(true)
                      )
                )
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.ImageName)
            </td>
            <td>
                @{
                if (Model.ImageName != "" && Model.ImageName != null)
                {
                    var thumbProduct = Model.ImageName;
                    
                    <img src="~/images/@thumbProduct" width="100" />
                }
                }
                @(Html.Kendo().Upload()
                      .Name("files")
                      .Async(a => a
                          .Save("Save", "ProductCategory")
                          .Remove("Remove", "ProductCategory")
                          .AutoUpload(true)
                      )
                )
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Banners)
            </td>
            <td>
                @(Html.Kendo().Upload()
                      .Name("fileBanners")
                      .Multiple(true)
                      .Async(a => a
                          .Save("SaveBanners", "ProductCategory")
                          .Remove("RemoveBanners", "ProductCategory")
                          .AutoUpload(true)
                      )
                )
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.BrochureFileName)
            </td>
            <td>
                @(Html.Kendo().Upload()
                      .Name("fileBrochure")
                      .Multiple(false)
                      .Async(a => a
                          .Save("SaveBrochure", "ProductCategory")
                          .Remove("RemoveBrochure", "ProductCategory")
                          .AutoUpload(true)
                      )
                )
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ThumbVideo)</td>


            <td>
                @{
                    if (Model.ThumbVideo != "" && Model.ThumbVideo != null)
                    {
                        var thumbVideo = Model.ThumbVideo;
                        
                        <img src="~/images/@thumbVideo" width="100" />
                    }
                }
                @(Html.Kendo().Upload()
                      .Name("fileThumbVideo")
                      .Multiple(false)
                      .Async(a => a
                          .Save("SaveThumbVideo", "ProductCategory")
                          .Remove("RemoveThumbVideo", "ProductCategory")
                          .AutoUpload(true)
                      )
                )
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.LinkVideo)</td>


            <td>
                @Html.TextBoxFor(model => model.LinkVideo, new { @class = "k-textbox form-long-text-box", @placeholder = "http://youtube.com/watch?v=-uI3slFqHGo" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.SlideImages)
            </td>
            <td>
                @(Html.Kendo().Upload()
                    .Name("slides")
                    .Multiple(true)
                    .Async(a => a
                    .Save("SaveSlideImages", "ProductCategory")
                    .Remove("RemoveBrochure", "ProductCategory")
                    .AutoUpload(true)
                    )
                )<br />
                <div id="divSlideImages">
                    @{
    if (Model.ListImages.Any())
    {
        foreach (var image in Model.ListImages)
        {
            <div style="float: left; padding: 5px;" id="@image">
                <img src="/images/icon/@image" /><img title="Remove @image" style="cursor: pointer;" onclick="removeImage('@image');" src="/Content/images/icon/btn_del.gif" />
            </div>
        }
    }
                    }
                </div>

            </td>
        </tr>
       

        <tr id="trShortDescriptionEN" style="display: none;">
            <td>
                @Html.LabelFor(model => model.ShortDescriptionEN)
            </td>
            <td>
                @(Html.Kendo().EditorFor(m => m.ShortDescription)
                    .Name("ShortDescriptionEN").Tools(tools => tools
                          .Clear()
                          .Bold().Italic().Underline().Strikethrough()
                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                          .InsertUnorderedList().InsertOrderedList()
                          .Outdent().Indent()
                          .CreateLink().Unlink()
                          .InsertImage()
                          .ViewHtml()
                      )
                      .Encode(false)
                      .StyleSheets(css =>
                      {
                          css.Add(Url.Content("/Content/Mitsubishi.css"));
                          css.Add(Url.Content("/Content/products.css"));
                      })
                      .ImageBrowser(imageBrowser => imageBrowser
                          .Image("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser")
                          .Thumbnail("Thumbnail", "ImageBrowser"))
                      .FileBrowser(fileBrowser => fileBrowser
                          .File("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser"))
                      .HtmlAttributes(new { style = "height:200px;width:95%;" }

                      )
                )
            </td>
        </tr>
        <tr id="trShortDescriptionVN">
            <td>
                @Html.LabelFor(model => model.ShortDescription)
            </td>
            <td>
                @(Html.Kendo().EditorFor(m => m.ShortDescription)
                    .Name("ShortDescription").Tools(tools => tools
                          .Clear()
                          .Bold().Italic().Underline().Strikethrough()
                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                          .InsertUnorderedList().InsertOrderedList()
                          .Outdent().Indent()
                          .CreateLink().Unlink()
                          .InsertImage()
                          .ViewHtml()
                      )
                      .Encode(false)
                      .StyleSheets(css =>
                      {
                          css.Add(Url.Content("/Content/Mitsubishi.css"));
                          css.Add(Url.Content("/Content/products.css"));
                      })
                      .ImageBrowser(imageBrowser => imageBrowser
                          .Image("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser")
                          .Thumbnail("Thumbnail", "ImageBrowser"))
                      .FileBrowser(fileBrowser => fileBrowser
                          .File("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser"))
                      .HtmlAttributes(new { style = "height:200px;width:95%;" }

                      )
                )
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Colors)
            </td>
            <td>
                <button id="btnColor" type="button" style="float: left;">Add color</button>
                <div id="divColors" style="display: block;float: left;padding-top: 15px;">
                    @{
    if (Model.Colors.Any())
    {
        foreach (var color in Model.Colors)
        {
            <div style="float: left; padding: 10px; display:block;" id="@color.ItemID">
                @color.Title
                <img title="Edit @color.Title" style="cursor: pointer;" onclick="editColor(@color.ItemID);" src="/Content/images/icon/btn_edit.gif" />
                <img title="Remove @color.Title" style="cursor: pointer;" onclick="removeColor(@color.ItemID);" src="/Content/images/icon/btn_del.gif" />
            </div><br />
        }
    }
                    }
                </div>

            </td>
        </tr>
        <tr id="trSpecSummaryVN">
            <td>
                @Html.LabelFor(model => model.SpecSummary)
            </td>
            <td>
                @(Html.Kendo().EditorFor(m => m.SpecSummary)
            .Name("SpecSummary").Tools(tools => tools
                          .Clear()
                          .Bold().Italic().Underline().Strikethrough()
                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                          .InsertUnorderedList().InsertOrderedList()
                          .Outdent().Indent()
                          .CreateLink().Unlink()
                          .InsertImage()
                          .ViewHtml()
                      )
                      .Encode(false)
                      .StyleSheets(css =>
                      {
                          css.Add(Url.Content("/Content/Mitsubishi.css"));
                          css.Add(Url.Content("/Content/products.css"));
                      })
                      .ImageBrowser(imageBrowser => imageBrowser
                          .Image("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser")
                          .Thumbnail("Thumbnail", "ImageBrowser"))
                      .FileBrowser(fileBrowser => fileBrowser
                          .File("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser"))
                      .HtmlAttributes(new { style = "height:200px;width:95%;" }

                      )
                )
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Specifications)
            </td>
            <td>
                @(Html.Kendo().EditorFor(m => m.Specifications)
                      .Name("Specifications").Tools(tools => tools
                          .Clear()
                          .Bold().Italic().Underline().Strikethrough()
                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                          .InsertUnorderedList().InsertOrderedList()
                          .Outdent().Indent()
                          .CreateLink().Unlink()
                          .InsertImage()
                          .ViewHtml()
                      )
                      .Encode(false)
                      .StyleSheets(css =>
                      {
                          css.Add(Url.Content("/Content/Mitsubishi.css"));
                          css.Add(Url.Content("/Content/products.css"));
                      })
                      .ImageBrowser(imageBrowser => imageBrowser
                          .Image("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser")
                          .Thumbnail("Thumbnail", "ImageBrowser"))
                      .FileBrowser(fileBrowser => fileBrowser
                          .File("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser"))
                      .HtmlAttributes(new { style = "height:200px;width:95%;" }

                      )
                )
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.TechnicalDescription)
            </td>
            <td>
                @(Html.Kendo().EditorFor(m => m.TechnicalDescription)
                        .Name("TechnicalDescription").Tools(tools => tools
                          .Clear()
                          .Bold().Italic().Underline().Strikethrough()
                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                          .InsertUnorderedList().InsertOrderedList()
                          .Outdent().Indent()
                          .CreateLink().Unlink()
                          .InsertImage()
                          .ViewHtml()
                      )
                      .Encode(false)
                      .StyleSheets(css =>
                      {
                          css.Add(Url.Content("/Content/Mitsubishi.css"));
                          css.Add(Url.Content("/Content/products.css"));
                      })
                      .ImageBrowser(imageBrowser => imageBrowser
                          .Image("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser")
                          .Thumbnail("Thumbnail", "ImageBrowser"))
                      .FileBrowser(fileBrowser => fileBrowser
                          .File("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser"))
                      .HtmlAttributes(new { style = "height:200px;width:95%;" }

                      )
                )
            </td>
        </tr>

        <tr id="trLongDescriptionEN" style="display: none;">
            <td>
                @Html.LabelFor(model => model.LongDescriptionEN)
            </td>
            <td>
                @(Html.Kendo().EditorFor(m => m.LongDescriptionEN)
                      .Name("LongDescriptionEN").Tools(tools => tools
                          .Clear()
                          .Bold().Italic().Underline().Strikethrough()
                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                          .InsertUnorderedList().InsertOrderedList()
                          .Outdent().Indent()
                          .CreateLink().Unlink()
                          .InsertImage()
                          .InsertFile()
                          .SubScript()
                          .SuperScript()
                          .TableEditing()
                          .ViewHtml()
                          .Formatting()
                          .CleanFormatting()
                          .FontName()
                          .FontSize()
                          .FontColor().BackColor()
                      )
                      .Encode(false)
                      .StyleSheets(css =>
                      {
                          css.Add(Url.Content("/Content/Mitsubishi.css"));
                          css.Add(Url.Content("/Content/products.css"));
                      })
                      .ImageBrowser(imageBrowser => imageBrowser
                          .Image("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser")
                          .Thumbnail("Thumbnail", "ImageBrowser"))
                      .FileBrowser(fileBrowser => fileBrowser
                          .File("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser"))
                      .HtmlAttributes(new { style = "height:650px;width:95%;" }

                      )
                )
            </td>
        </tr>

        <tr id="trLongDescriptionVN">
            <td>
                @Html.LabelFor(model => model.LongDescription)
            </td>
            <td>
                @(Html.Kendo().EditorFor(m => m.LongDescription)
                      .Name("LongDescription").Tools(tools => tools
                          .Clear()
                          .Bold().Italic().Underline().Strikethrough()
                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                          .InsertUnorderedList().InsertOrderedList()
                          .Outdent().Indent()
                          .CreateLink().Unlink()
                          .InsertImage()
                          .InsertFile()
                          .SubScript()
                          .SuperScript()
                          .TableEditing()
                          .ViewHtml()
                          .Formatting()
                          .CleanFormatting()
                          .FontName()
                          .FontSize()
                          .FontColor().BackColor()
                      )
                      .Encode(false)
                      .StyleSheets(css =>
                      {
                          css.Add(Url.Content("/Content/Mitsubishi.css"));
                          css.Add(Url.Content("/Content/products.css"));
                      })
                      .ImageBrowser(imageBrowser => imageBrowser
                          .Image("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser")
                          .Thumbnail("Thumbnail", "ImageBrowser"))
                      .FileBrowser(fileBrowser => fileBrowser
                          .File("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser"))
                      .HtmlAttributes(new { style = "height:650px;width:95%;" }

                      )
                )
            </td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.IsActive)</td>
            <td>@Html.EditorFor(model => model.IsActive)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.IsAllowShowBanner)</td>
            <td>@Html.EditorFor(model => model.IsAllowShowBanner)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.IsAllowShowIndex)</td>
            <td>@Html.EditorFor(model => model.IsAllowShowIndex)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.IsSubModel)</td>
            <td>@Html.EditorFor(model => model.IsSubModel)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.RelatedTo)</td>
            <td>
                @(Html.Kendo().MultiSelect()
                      .Name("multiRelatedTo")
                      .Placeholder("Select products")
                      .AutoBind(true)
                      .Value(Model.ListRelated)
                      .Filter(FilterType.Contains)
                      .DataTextField("Title")
                      .DataValueField("ItemID")
                      .DataSource(source => source.Read(read => read.Action("GetListByParent", "ProductCategory").Data("getParent"))
                          .ServerFiltering(false))
                )
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.SubModel)</td>
            <td>
                @(Html.Kendo().MultiSelect()
                        .Name("multiSubModel")
                        .Placeholder("Select models")
                        .AutoBind(true)
                        .Value(Model.ListSubModel)
                        .Filter(FilterType.Contains)
                        .DataTextField("Title")
                        .DataValueField("ItemID")
                        .DataSource(source => source.Read(read => read.Action("GetListSubModels", "ProductCategory").Data("getParentSubModel"))
                            .ServerFiltering(false))
                )
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.SortOrder)</td>


            <td>
                @(Html.Kendo().IntegerTextBoxFor(m => m.SortOrder)
                      .Min(0)
                      .Max(1000)
                      .Step(1)
                      .Value(Model.SortOrder)
                      .Spinners(true)
                      .HtmlAttributes(new { style = "width:100px;text-align:center;" })
                )
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Price)</td>


            <td>
                @Html.TextBoxFor(model => model.Price, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Promotion)
            </td>
            <td>
                @Html.TextAreaFor(model => model.Promotion, new { @class = "short-description" })
            </td>
        </tr>
       
        
        <tr>
            <td>
                @Html.LabelFor(model => model.RedirectUrl)
            </td>
            <td>
                @Html.TextBoxFor(model => model.RedirectUrl, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.LinkBanners)</td>
            <td>
                @(Html.Kendo().MultiSelect()
                      .Name("multiLinkBanners")
                      .Placeholder("Select banners")
                      .AutoBind(true)
                      .Value(Model.ListLinkBanners)
                      .Filter(FilterType.Contains)
                      .DataTextField("Title")
                      .DataValueField("ItemID")
                      .DataSource(source => source.Read(read => read.Action("GetListBanners", "ProductCategory").Data("getParent"))
                          .ServerFiltering(false))
                )
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.EmailSupport)
            </td>
            <td>
                @Html.TextBoxFor(model => model.EmailSupport, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.MetaKeyword)
            </td>
            <td>
                @Html.TextBoxFor(model => model.MetaKeyword, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.MetaDescription)
            </td>
            <td>
                @Html.TextAreaFor(model => model.MetaDescription, new { @class = "short-description" })
            </td>
        </tr>
        <tr>
            <td>@Html.Label("Merchants")</td>
            <td>
                @(Html.Kendo().DropDownList()
                      .Name("Merchants")
                      .OptionLabel("-- Merchants --")
                      .DataValueField("Id")
                      .DataTextField("Name")
                      .Events(e => e.Change("loadMerchant"))
                      .DataSource(ds => ds.Read(read => read.Action("ReadMerchants", "ProductCategory", new { productId = Model.ItemID })))
                      .HtmlAttributes(new { style = "width: 230px;" })
                )
                <input id="merchantLink" class="k-textbox" placeholder="link" />
                <button type="button" class="k-button k-button-icontext k-grid-update" onclick="addUpdateMerchant(@Model.ItemID);">
                    Add/Update merchant
                </button>
                <button type="button" class="k-button k-button-icontext k-grid-update" onclick="removeMerchant(@Model.ItemID);">
                    Remove merchant
                </button>
            </td>

        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.CustomFields)</td>
            <td>
                <input id="newCustomFieldTitle" class="k-textbox" placeholder="title" />
                <input id="newCustomFieldAlias" class="k-textbox" placeholder="alias" />
                <input id="newCustomFieldOrder" class="k-textbox" placeholder="order" type="number" />
                <button type="button" class="k-button k-button-icontext k-grid-update" onclick="addNewCustomField(@Model.ItemID);">
                    Add custom field
                </button>
            </td>
        </tr>
     
        <tr>
            <td>@Html.Label("Title")</td>
            <td>
                @(Html.Kendo().DropDownList()
                      .Name("CustomFieldAlias")
                      .OptionLabel("-------------------------------------------")
                      .DataValueField("Id")
                      .DataTextField("Title")
                      .BindTo(Model.CustomFields)
                      .Events(e => e.Change("loadCustomField"))
                      .HtmlAttributes(new { style = "width: 230px;" })
                )
                <button type="button" class="k-button k-button-icontext k-grid-update" onclick="updateCustomField();">
                    Update custom field
                </button>
                <button type="button" class="k-button k-button-icontext k-grid-update" onclick="deleteCustomField();">
                    Delete custom field
                </button>
            </td>

        </tr>
        <tr>
            <td></td>
            <td>
                @(Html.Kendo().Editor()
                        .Name("CustomField")                        
                        .Tools(tools => tools
                                      .Clear()
                                      .Bold().Italic().Underline().Strikethrough()
                                      .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                                      .InsertUnorderedList().InsertOrderedList()
                                      .Outdent().Indent()
                                      .CreateLink().Unlink()
                                      .InsertImage()
                                      .InsertFile()
                                      .SubScript()
                                      .SuperScript()
                                      .TableEditing()
                                      .ViewHtml()
                                      .Formatting()
                                      .CleanFormatting()
                                      .FontName()
                                      .FontSize()
                                      .FontColor().BackColor()
                                      .CustomTemplate(ct => ct.Template("<label onclick='insertVideo()' role='button' class='insertVideo-insert'>Video</label>"))
                      )
                      .Encode(false)
                      .StyleSheets(css =>
                      {
                          css.Add(Url.Content("/Content/Mitsubishi.css"));
                          css.Add(Url.Content("/Content/products.css"));
                      })
                      .ImageBrowser(imageBrowser => imageBrowser
                          .Image("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser")
                          .Thumbnail("Thumbnail", "ImageBrowser"))
                      .FileBrowser(fileBrowser => fileBrowser
                          .File("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser"))
                      .HtmlAttributes(new { style = "height:650px;width:95%;" }

                      )
                )
                
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="k-edit-buttons k-state-default" style="padding-top: 15px;"></td>
        </tr>
    </table>
}


<style>
    .k-radio-label {
        font-weight: normal;
    }
</style>


<script type="text/x-kendo-template" id="insertVideo-template">
    <div>
        <label for="videoUrl">Enter a Share URL from YouTube:</label>
        <input type="text" id="videoUrl" name="videoUrl"/>
              
        <div class="insertVideo-actions">
            <button class="k-button insertVideo-insert">Insert</button>
            <button class="k-button insertVideo-cancel">Cancel</button>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="youTube-template">
    <iframe width="458" height="315" src="http://www.youtube.com/embed/#= source #?wmode=opaque&rel=0" frameborder="0"></iframe>
</script>
<script>


    function insertVideo(e) {
        $("#youTube-template").kendoWindow({
            iframe: true
        });
            var editor = $("#CustomField").data("kendoEditor");

            var dialog = $($("#insertVideo-template").html())
                .find(".insertVideo-insert")
                .click(function () {

                    var media = testUrlForMedia(dialog.element.find("input").val());
                    if (media) {
                        var template = kendo.template($("#youTube-template").html());

                        editor.exec("insertHtml", { value: template({ source: media.id }) });
                    }

                    dialog.close();
                })
                .end()
                .find(".insertVideo-cancel")
                .click(function () {
                    dialog.close();
                })
                .end()
                .kendoWindow({
                    modal: true,
                    title: "Insert Video",
                    animation: false,
                    deactivate: function () {
                        dialog.destroy();
                    }
                }).data("kendoWindow");

            dialog.center().open();
        }

        // Check inserted URL for valid Media Link
        function testUrlForMedia(pastedData) {
            var success = false;
            var media = {};
            if (pastedData.match('http://(www.)?youtube|youtu\.be')) {
                if (pastedData.match('embed')) {
                    youtube_id = pastedData.split(/embed\//)[1].split('"')[0];
                } else {
                    youtube_id = pastedData.split(/v\/|v=|youtu\.be\//)[1].split(/[?&]/)[0];
                }
                media.type = "youtube";
                media.id = youtube_id;
                success = true;
            }

            if (success) {
                return media;
            } else {
                alert("No valid media id detected.\nBe sure to use the \"Share\" url, located in the menu under the video on the youtube page.");
            }
            return false;
        }


</script>