﻿@using Mitsubishi.UI.Models.Entities
@model List<CustomField>

<td>@Html.Label("Alias")</td>
<td>
    @(Html.Kendo().DropDownList()
                      .Name("CustomFieldAlias")
                      .OptionLabel("-------------------------------------------")
                      .DataValueField("Id")
                      .DataTextField("Alias")
                      .BindTo(Model)
                      .Events(e => e.Change("loadCustomField"))
                      .HtmlAttributes(new { style = "width: 230px;" })
    )
    <button type="button" class="k-button k-button-icontext k-grid-update" onclick="">
        Delete custom field
    </button>
</td>
