﻿@using Mitsubishi.UI.Models.Entities
@model ProductCategoryEntity

@{
    ViewBag.Title = "Product Category List";
}

<h2 class="module-title">Product Category Management</h2>

<script>

    function editItem(itemId) {
        location.href = '@Url.Action("EditProductCategory", "ProductCategory")?itemId=' + itemId;
    }
    
    function productTypeChange() {
        $('#ParentID').data("kendoDropDownList").dataSource.read();
    }

    function getProductTypeFilter() {
        var productType = $('#ProductTypeId').data("kendoDropDownList").value();

        return {
            productTypeId: productType
        };
    }

</script>

@Html.Partial("partialListProductCategory")

<style>
    .k-edit-form-container {
        width: 100%;
    }

    .datepicker > .k-datetimepicker {
        width: 90% !important;
    }
</style>