﻿@(Html.Kendo().Editor().Name("editorContent").Tools(tools => tools
              .Clear()
              .Bold().Italic().Underline().Strikethrough()
              .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
              .InsertUnorderedList().InsertOrderedList()
              .Outdent().Indent()
              .CreateLink().Unlink()
              .InsertImage()
              .InsertFile()
              .SubScript()
              .SuperScript()
              .TableEditing()
              .ViewHtml()
              .Formatting()
              .CleanFormatting()
              .FontName()
              .FontSize()
              .FontColor().BackColor()
                )
        .Encode(false)
        .StyleSheets(css => css.Add(Url.Content("/Content/Mitsubishi.css")))
        .ImageBrowser(imageBrowser => imageBrowser
            .Image("~/Images/{0}")
            .Read("Read", "ImageBrowser")
            .Create("Create", "ImageBrowser")
            .Destroy("Destroy", "ImageBrowser")
            .Upload("Upload", "ImageBrowser")
            .Thumbnail("Thumbnail", "ImageBrowser"))
        .FileBrowser(fileBrowser => fileBrowser
            .File("~/Images/{0}")
            .Read("Read", "ImageBrowser")
            .Create("Create", "ImageBrowser")
            .Destroy("Destroy", "ImageBrowser")
            .Upload("Upload", "ImageBrowser"))
            .HtmlAttributes(new { style = "height:500px;width:100%;" }
         
    )
)
<div style="float:right; margin-top:10px;">
    <a href="#" id="btnUpdate" class="k-button k-button-icontext k-primary k-grid-update">
        <span class="k-icon k-update"></span>
        Update
    </a>
    <a href="#" id="btnClose" class="k-button k-button-icontext k-grid-cancel">
        <span class="k-icon k-cancel"></span>
        Cancel
    </a>
</div>
