﻿@using Kendo.Mvc.UI
@model Mitsubishi.UI.Models.Entities.ProductCategoryEntity

<table width="100%">
    <tr>
        <td style="width: 130px;">@Html.LabelFor(model => model.ProductTypeId)</td>
        <td>
            @(Html.Kendo().DropDownListFor(m => m)
                .Name("ProductTypeId")
                .Filter(FilterType.Contains)
                .DataValueField("ItemID")
                .DataTextField("NameEng")
                .DataSource(ds => ds.Read(read => read.Action("GetListTypeCombobox", "ProductType")))
                .HtmlAttributes(new { style = "width: 200px;" })
            )
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.ParentID)
        </td>
        <td>
            @(Html.Kendo().DropDownListFor(m => m)
                  .Name("ParentID")
                  .Filter(FilterType.Contains)
                  .DataValueField("ItemID")
                  .DataTextField("TitleEng")
                  .DataSource(ds => ds.Read(read => read.Action("GetListCategoryCombobox", "ProductCategory")))
                  .HtmlAttributes(new { style = "width: 200px;" })
                  )
        </td>
    </tr>
    
    <tr>
        <td>@Html.LabelFor(model => model.IsActive)</td>
        <td>@Html.EditorFor(model => model.IsActive)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.SortOrder)</td>
        <td>
            @(Html.Kendo().NumericTextBoxFor(m => m.SortOrder)
                  .Decimals(0)
                  .Format("{0:##0}")
                  .Min(0)
                  .Max(1000)
                  .Step(1)
                  .HtmlAttributes(new { style = "width:100px;" })
                  )
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.ImageName)
        </td>
        <td>
            @(Html.Kendo().Upload()
                  .Name("files")
                  .Async(a => a
                      .Save("Save", "ProductCategory")
                      .Remove("Remove", "ProductCategory")
                      .AutoUpload(true)
                  )
                  )
            @Html.HiddenFor(m => m.ImageName)
            @if (Model != null)
            {

                <table style="width:100%">
                    <tr>
                        @if (!String.IsNullOrEmpty(Model.ImageName))
                        {
                            <td style="width: 15px; border: 1px solid #DBDBDE" id="colImg" onmouseover="ShowIconDelete('del_icon')" onmouseout="HideIconDelete('del_icon')">
                                <input type="image" id='del_icon' class="loseimage" onclick="RemoveImageCategory('imgCategory', 'colImg', event);" style="display: none; float: left;" title="Delete" src="/images/delete.png">
                                <img src="~/images/@Model.ImageName" id="imgCategory" style="width:50px; height:50px" />
                            </td>
                        }
                    </tr>
                </table>
            }
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Banners)
        </td>
        <td>
            @(Html.Kendo().Upload()
                  .Name("filesBanner")
                  .Async(a => a
                      .Save("SaveBanners", "ProductCategory")
                      .Remove("RemoveBanners", "ProductCategory")
                      .AutoUpload(true)
                  )
                  )
            @if (Model != null && Model.ListBanners != null)
            {
                @Html.HiddenFor(m => m.Banners)
                <table style="width:100%">
                    <tr>
                        @{
                            int i = 0;
                            foreach (var item in Model.ListBanners)
                            {
                                i++;
                                <td style="width: 15px; border: 1px solid #DBDBDE" id="colImg_@i" onmouseover="ShowIconDelete('del_@i')" onmouseout="HideIconDelete('del_@i')">
                                    <input type="image" id='del_@i' class="loseimage" onclick="RemoveImage('@item', 'img_@i', 'colImg_@i', event);" style="display: none; float: left;" title="Delete" src="/images/delete.png">
                                    <img src="~/images/@item" id='img_@i' style="width:100%; height:50px" />
                                </td>
                            }
                        }
                    </tr>
                </table>

            }
        </td>
    </tr>
    <tr>
        <td>@Html.HiddenFor(m => m.ItemID)</td>
        <td class="k-edit-buttons k-state-default">
            <button id="btnCreate" class="k-button k-button-icontext k-grid-update" onclick="createCatogory();">
                <span class="k-icon k-update"></span>
                Create
            </button>

            <a class="k-button k-button-icontext k-grid-cancel" id="CancelBtn" onclick="closePopupCategory();">
                <span class="k-icon k-cancel"></span>
                Cancel
            </a>
        </td>
    </tr>
    </table>

            @(Html.Kendo().PanelBar()
        .Name("panelbar")
        .ExpandMode(PanelBarExpandMode.Single)
        .HtmlAttributes(new { style = "width:800px" })
        .Items(panelbar =>
        {
            panelbar.Add().Text("Vietnamese")
                .Expanded(true)
                .Content(@<table width="100%">
                              <tr>
                                  <td style="width: 130px;">
                                      Title (VN)
                                  </td>
                                  <td>
                                      @Html.TextBoxFor(model => model.Title, new {@class = "k-textbox long-textbox"})
                                  </td>
                              </tr>
                              <tr>
                                  <td>@Html.LabelFor(model => model.ShortDescription)</td>
                                  <td>
                                      <textarea id="txtShortDescription" class="text-area description" onclick=" showDescription($('#popupShortDescription')) "></textarea>
                                      @Html.HiddenFor(m => m.ShortDescription)
                                  </td>
                              </tr>
                              <tr>
                                  <td>@Html.LabelFor(model => model.LongDescription)</td>
                                  <td>
                                      <textarea id="txtLongDescription" class="text-area description" onclick=" showDescription($('#popupLongDescription')) "></textarea>
                                      @Html.HiddenFor(m => m.LongDescription)
                                  </td>
                              </tr>
                          </table>);
                
            panelbar.Add().Text("English")
                .Expanded(false)
                .Content(@<table width="100%">
                            <tr>
                                <td style="width: 130px;">Title</td>
                                <td>
                                    @Html.TextBoxFor(model => model.TitleEng, new { @class = "k-textbox long-textbox" })
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.ShortDescriptionEng)</td>
                                <td>
                                    <textarea id="txtShortDescriptionEng" class="text-area description" onclick="showDescription($('#popupShortDescriptionEng'))"></textarea>
                                    @Html.HiddenFor(m => m.ShortDescriptionEng)
                                </td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.LongDescriptionEng)</td>
                                <td>
                                    <textarea id="txtLongDescriptionEng" class="text-area description" onclick="showDescription($('#popupLongDescriptionEng'))"></textarea>
                                    @Html.HiddenFor(m => m.LongDescriptionEng)
                                </td>
                            </tr>
                        </table>);
        })
)
            <script>
                var banner = $("#Banners").val();
                function ShowIconDelete(element) {
                    $("#" + element).css("display", "block");
                }
                function HideIconDelete(element) {
                    $("#" + element).css("display", "none");
                }
                function RemoveImage(image, element, colImage, e) {
                    banner = banner.replace(image + ";", "");
                    $("#" + element).css("display", "none");
                    $("#" + colImage).empty();
                    $("#Banners").val(banner);
                    e.preventDefault();
                }

                function RemoveImageCategory(element, colImage, e) {
                    $("#" + element).css("display", "none");
                    $("#" + colImage).empty();
                    $("#ImageName").val("");
                    e.preventDefault();
                }
                //$(document).ready(function () {
                //    $("#ProductTypeDDL").data('kendoDropDownList').one("dataBound", function () {
                //        this.select(function (dataItem) {
                //            return dataItem.NameEng === $("#ProductType_NameEng").val();
                //        });
                //    });


                //});
            </script>
