﻿@model Mitsubishi.UI.Models.Entities.ProductColorEntity
           

<script>
    $(document).ready(function () {
        
       
        

        $('#btnSave').click(function () {
          
            $.ajax({
                url: "/Admin/ProductCategory/SaveProductColor",
                data: {
                    productId: $('#ItemID').val(),
                    colorId: $('#wndProductColor #ItemID').val(),
                    title: $('#wndProductColor #Title').val(),
                    code: document.getElementById("Code").color.valueElement.value,
                    images: $('#Images').val(),
                    sortOrder: $('#wndProductColor #SortOrder').val()
                },
                cache: false,
                async: false,
                type: "GET",
                timeout: TIME_OUT,
                dataType: "json",
                success: function (result) {
                    if (result) {
                        $('#wndProductColor').data("kendoWindow").close();

                        location.reload();
                    }
                }

            });



        });
    });

   
    function removeColorImage(image) {


        $.ajax({
            url: "/Admin/ProductCategory/removeColorImage",
            data: {
                image: image
            },
            cache: false,
            async: false,
            type: "GET",
            timeout: TIME_OUT,
            dataType: "json",
            success: function (result) {
                console.log('ok');
            }

        });


        var str = $('#Images').val();
        var lst = str.split(';');

        lst.splice($.inArray(image, lst),1);

        $('#lstImages').html('');
        var html = '';
        str = '';

        for (var i = 0; i < lst.length; i++) {
            if (lst[i] != '') {
                html += "<div style='float: left; padding: 5px;' id='" + lst[i] + "'>";
                html += "<img src=\"/images/icon/" + lst[i] + "\" /><img title=\"Remove " + lst[i] + "\" style=\"cursor: pointer;\" onclick=\"removeColorImage('" + lst[i] + "');\" src=\"/Content/images/icon/btn_del.gif\" />";
                html += "</div>";

                str += lst[i] + ';';
            }
        }

        $('#Images').val(str);
        $('#lstImages').html(html);
    }

</script>
<table width="100%" cellpadding="3px" cellspacing="3px">
    <tr>
        <td style="width: 120px">
            @Html.LabelFor(m => m.Title)
            @Html.HiddenFor(m => m.ItemID)
            @Html.HiddenFor(m => m.ProductID)
            @Html.HiddenFor(m => m.Images)
        </td>
        <td>
            @Html.TextBoxFor(model => model.Title, new { @class = "k-textbox form-long-text-box" })
        </td>
    </tr>

    <tr>
        <td style="width: 120px">
            @Html.LabelFor(m => m.Code)
        </td>
        <td>
            @Html.TextBoxFor(m => m.Code, new { @class = "k-textbox form-long-text-box color" })
        </td>
    </tr>

    <tr>
        <td>@Html.LabelFor(model => model.SortOrder)</td>
        <td>
            @(Html.Kendo().IntegerTextBoxFor(m => m.SortOrder)
                      .Min(0)
                      .Max(1000)
                      .Step(1)
                      .Value(Model.SortOrder)
                      .Spinners(true)
                      .HtmlAttributes(new { style = "width:100px;text-align:center;" })
            )
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(model => model.Images)
        </td>
        <td>
            @(Html.Kendo().Upload()
                  .Name("colorImages")
                  .Multiple(true)
                  .Async(a => a
                      .Save("SaveColorImages", "ProductCategory")
                      .Remove("RemoveColorImages", "ProductCategory")
                      .AutoUpload(true)
                  )
                  )
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div id="lstImages"></div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="k-edit-buttons k-state-default" style="padding-top: 15px;text-align: right;">
            <button id="btnSave" type="button" class="k-button k-button-icontext k-grid-update">
                <span class="k-icon k-update"></span>
                Save
            </button>
        </td>
    </tr>
</table>
<style>
  div.k-window{
      z-index:100!important;
  }
    </style>

<script type="text/javascript" src="~/Scripts/jscolor.js"></script>
