﻿@using Mitsubishi.UI.Models.Entities
@model ManualContentEntity

@{
    ViewBag.Title = "Add / Edit Tip";
}

<h2 class="module-title">Add / Edit Tip</h2>



@using (Html.BeginForm("CreateItem", "Manual", FormMethod.Post))
{
    <table width="100%" cellpadding="3px" cellspacing="3px">
        <tr>
            <td>
                @Html.HiddenFor(m => m.ItemID)
                @Html.HiddenFor(m => m.Thumbnail)
                @*@Html.HiddenFor(m => m.IconName)
                    @Html.HiddenFor(m => m.ImageName)
                    @Html.HiddenFor(m => m.Banners)
                    @Html.HiddenFor(m => m.BrochureFileName)*@
            </td>
            <td>
                @ViewBag.ErrorMessage
            </td>
        </tr>
        <tr>
            <td style="width: 160px;">
                @Html.LabelFor(model => model.ManualCategoryID)
            </td>
            <td>
               @(Html.Kendo().DropDownListFor(m => m)
                        .Name("ManualCategoryID")
                      .OptionLabel("Select Tip category")
                      .DataValueField("ItemID")
                      .DataTextField("Title")
             .DataSource(ds => ds.Read(read => read.Action("GetListCombobox", "ManualCategory", new { TaxonomyId = 1 })))
                      .HtmlAttributes(new { style = "width: 400px;" })
                )
                
                @Html.Kendo().RadioButton().Name("radioLanguages").Label("English").Checked(true).HtmlAttributes(new { id = "radioEn" }) &nbsp;
                @Html.Kendo().RadioButton().Name("radioLanguages").Label("Vietnamese").HtmlAttributes(new { id = "radioVn" })
                &nbsp;&nbsp;&nbsp;
                <button id="btnSave" type="submit" class="k-button k-button-icontext k-grid-update k-primary">
                    <span class="k-icon k-update"></span>
                    Save
                </button>

                @Html.ActionLink("Cancel", "Index", "Content", null, new { @class = "k-button k-button-icontext k-grid-cancel" })
            </td>
        </tr>

        <tr>
            <td style="width: 160px;">
                @Html.LabelFor(model => model.ManualCategoryExtraID)
            </td>
            <td>
                @(Html.Kendo().DropDownListFor(m => m)
                      .Name("ManualCategoryExtraID")
                      .OptionLabel("Select Tư vấn")
                      .DataValueField("ItemID")
                      .DataTextField("Title")
                .DataSource(ds => ds.Read(read => read.Action("GetListCombobox", "ManualCategory", new { TaxonomyId = 2 })))
                      .HtmlAttributes(new { style = "width: 400px;" })
                )

                 </td>
        </tr>

        <tr id="trTitleEN">
            <td>
                @Html.LabelFor(model => model.TitleEN)
            </td>
            <td>
                @Html.TextBoxFor(model => model.TitleEN, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>

        <tr id="trTitleVN" style="display: none;">
            <td>
                @Html.LabelFor(model => model.Title)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Title, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Thumbnail)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(Model.Thumbnail))
                {
                    <img src="~/images/sotaygiadung/thumb/@Model.Thumbnail" width="100" />
                }
                @(Html.Kendo().Upload()
                      .Name("files")
                      .Async(a => a
                          .Save("Save", "Manual")
                            .Remove("Remove", "Manual")
                          .AutoUpload(true)
                      )
                )
            </td>
        </tr>
        <tr id="trLongDescriptionEN">
            <td>
                @Html.LabelFor(model => model.LongDescriptionEN)
            </td>
            <td>
                @(Html.Kendo().EditorFor(m => m.LongDescriptionEN)
                      .Name("LongDescriptionEN").Tools(tools => tools
                          .Clear()
                          .Bold().Italic().Underline().Strikethrough()
                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                          .InsertUnorderedList().InsertOrderedList()
                          .Outdent().Indent()
                          .CreateLink().Unlink()
                          .InsertImage()
                          .InsertFile()
                          .SubScript()
                          .SuperScript()
                          .TableEditing()
                          .ViewHtml()
                          .Formatting()
                          .CleanFormatting()
                          .FontName()
                          .FontSize()
                          .FontColor().BackColor()
                          
                      )
                      .Encode(false)
                      .StyleSheets(css =>
                      {
                          css.Add(Url.Content("/Content/Mitsubishi.css"));
                          css.Add(Url.Content("/Content/products.css"));
                      })
                      .ImageBrowser(imageBrowser => imageBrowser
                          .Image("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser")
                          .Thumbnail("Thumbnail", "ImageBrowser"))
                      .FileBrowser(fileBrowser => fileBrowser
                          .File("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser"))
                      .HtmlAttributes(new { style = "height:650px;width:95%;" }

                      )
                )
            </td>
        </tr>

        <tr id="trLongDescriptionVN" style="display: none;">
            <td>
                @Html.LabelFor(model => model.LongDescription)
            </td>
            <td>
                @(Html.Kendo().EditorFor(m => m.LongDescription)
                      .Name("LongDescription").Tools(tools => tools
                          .Clear()
                          .Bold().Italic().Underline().Strikethrough()
                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                          .InsertUnorderedList().InsertOrderedList()
                          .Outdent().Indent()
                          .CreateLink().Unlink()
                          .InsertImage()
                          .InsertFile()
                          .SubScript()
                          .SuperScript()
                          .TableEditing()
                          .ViewHtml()
                          .Formatting()
                          .CleanFormatting()
                          .FontName()
                          .FontSize()
                          .FontColor().BackColor()
                          .CustomTemplate(ct => ct.Template("<label onclick='insertVideo()' role='button' class='insertVideo-insert'>Video</label>"))
                      )
                      .Encode(false)
                      .StyleSheets(css => css.Add(Url.Content("/Content/Mitsubishi.css")))
                      .ImageBrowser(imageBrowser => imageBrowser
                          .Image("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser")
                          .Thumbnail("Thumbnail", "ImageBrowser"))
                      .FileBrowser(fileBrowser => fileBrowser
                          .File("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser"))
                      .HtmlAttributes(new { style = "height:650px;width:95%;" }

                      )
                )
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.RelatedTo) 
                <p>ID Product, ex: 187,98,65</p>
            </td>
            <td>
                @Html.TextBoxFor(model => model.RelatedTo, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Video)
                <p>Video Youtube ID, ex: IeEnOutNQLI</p>
            </td>
            <td>
                @Html.TextBoxFor(model => model.Video, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.IsActive)</td>
            <td>@Html.EditorFor(model => model.IsActive)</td>
        </tr>
  
      
        <tr>
            <td>@Html.LabelFor(model => model.SortOrder)</td>
            <td>
                @(Html.Kendo().IntegerTextBoxFor(m => m.SortOrder)
                      .Min(0)
                      .Max(1000)
                      .Step(1)
        //.Value(Model.SortOrder)
                      .Spinners(true)
                      .HtmlAttributes(new { style = "width:100px;text-align:center;" })
                )
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="k-edit-buttons k-state-default" style="padding-top: 15px;"></td>
        </tr>
    </table>
}
<script>
    $(document).ready(function () {
        $('#radioEn').val("en-US");
        $('#radioVi').val("vi-VN");
    });
    $("input:radio[name=radioLanguages]").click(function () {
        var value = $(this).val();
        window.selectedLanguage = value;

        if (value == langEN) {
            $('#trTitleEN').show();
           // $('#trShortDescriptionEN').show();
            $('#trLongDescriptionEN').show();

            $('#trTitleVN').hide();
           // $('#trShortDescriptionVN').hide();
            $('#trLongDescriptionVN').hide();
        } else {
            $('#trTitleEN').hidesave
           // $('#trShortDescriptionEN').hide();
            $('#trLongDescriptionEN').hide();

            $('#trTitleVN').show();
            //$('#trShortDescriptionVN').show();
            $('#trLongDescriptionVN').show();
        }
    });

  
</script>

<style>
    .k-radio-label {
        font-weight: normal;
    }
</style>

<script type="text/x-kendo-template" id="insertVideo-template">
    <div>
        <label for="videoUrl">Enter a Share URL from YouTube:</label>
        <input type="text" id="videoUrl" name="videoUrl" />

        <div class="insertVideo-actions">
            <button class="k-button insertVideo-insert">Insert</button>
            <button class="k-button insertVideo-cancel">Cancel</button>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="youTube-template">
    <iframe width="100%" height="400" src="https://www.youtube.com/embed/#= source #?wmode=opaque&rel=0" frameborder="0"></iframe>
</script>
<script>


    function insertVideo(e) {
        $("#youTube-template").kendoWindow({
            iframe: true
        });
        var editor = $("#LongDescription").data("kendoEditor");

            var dialog = $($("#insertVideo-template").html())
                .find(".insertVideo-insert")
                .click(function () {

                    var media = testUrlForMedia(dialog.element.find("input").val());
                    if (media) {
                        var template = kendo.template($("#youTube-template").html());

                        editor.exec("insertHtml", { value: template({ source: media.id }) });
                    }

                    dialog.close();
                })
                .end()
                .find(".insertVideo-cancel")
                .click(function () {
                    dialog.close();
                })
                .end()
                .kendoWindow({
                    modal: true,
                    title: "Insert Video",
                    animation: false,
                    deactivate: function () {
                        dialog.destroy();
                    }
                }).data("kendoWindow");

            dialog.center().open();
        }

        // Check inserted URL for valid Media Link
        function testUrlForMedia(pastedData) {
            var success = false;
            var media = {};
            if (pastedData.match('http://(www.)?youtube|youtu\.be')) {
                if (pastedData.match('embed')) {
                    youtube_id = pastedData.split(/embed\//)[1].split('"')[0];
                } else {
                    youtube_id = pastedData.split(/v\/|v=|youtu\.be\//)[1].split(/[?&]/)[0];
                }
                media.type = "youtube";
                media.id = youtube_id;
                success = true;
            }

            if (success) {
                return media;
            } else {
                alert("No valid media id detected.\nBe sure to use the \"Share\" url, located in the menu under the video on the youtube page.");
            }
            return false;
        }


</script>