﻿@using System.Collections
@using Kendo.Mvc.UI
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Entities
@using Mitsubishi.UI.Models.Services
@using Mitsubishi.UI.Controllers

@{
    ViewBag.Title = "Tip List";
}

<h2 class="module-title">Tip Content Management</h2>
@{
    var service = new ServiceConfiguration();
}

<script>
    var currentField = '';
    var currentData = '';

    $(document).ready(function () {
    });

    function editItem(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var itemId = dataItem.ItemID;
        location.href = '@Url.Action("Edit", "Manual")?itemId=' + itemId;
    }

    function requestEnd(e) {
        if (e.type === "create" || e.type === "update") {
            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.read();
        }
    }

    function searchContent() {

        var q = $("#txtSearch").val();
        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.query({
            page: 1,
            pageSize: 20,
            filter: {
                logic: "or",
                filters: [
                  { field: "TitleEng", operator: "contains", value: q },
                  { field: "Title", operator: "contains", value: q },
                ]
            }
        });
    }

</script>

<div class="box-header">
    <table width="100%" border="0" cellpadding="1px" cellspacing="1px">
        <tr>
            <td style="width: 200px;padding-left: 5px;">
                <a id="lnkAdd" class="k-button k-button-icontext" href="/Admin/Manual/Edit">
                    <span class="k-icon k-add"></span>
                    Add new
                </a>
            </td>
            
           
        </tr>
    </table>
</div>
@(Html.Kendo().Grid<ManualContentEntity>()
    .Name("grid")
    .BindTo((IEnumerable<ManualContentEntity>)ViewBag.Products)
    .Columns(columns =>
    {

        columns.Bound(e => e.ItemID).Hidden().IncludeInMenu(false);
        if (UtilsController.GetCurrentLanguage(GlobalConstants.SESS_ADMIN_LANGUAGE) == GlobalConstants.LANGUAGE_EN)
        {
            columns.Bound(c => c.TitleEN).Width(160).Title("Title").Width(500);
           // columns.ForeignKey(c => c.CategoryID, (IEnumerable)ViewData[GlobalConstants.LIST_CONTENT_CATEGORY], "ItemID", "TitleEN");
        }
        else
        {
            columns.Bound(c => c.Title).Width(160).Title("Title").Width(500);
           // columns.ForeignKey(c => c.CategoryID, (IEnumerable)ViewData[GlobalConstants.LIST_CONTENT_CATEGORY], "ItemID", "Title");
        }


        columns.Bound(c => c.SortOrder).Width(70).Title("Sort #").ClientTemplate("<div style='text-align:center;'>#= SortOrder #</div>");
        columns.Bound(c => c.IsActive).Width(70).Title("Publish").ClientTemplate("<div align='center'><img value='#= ItemID #' style='cursor:pointer;' " +
                                                    "# if (IsActive) " +
                                                    "{ #" +
                                                    " src='/Content/images/icon/icon_yes.gif' onclick='setManualIsActive(#: ItemID #, false);' " +
                                                    "# } " +
                                                    " else { #" +
                                                    " src='/Content/images/icon/icon_no.gif' onclick='setManualIsActive(#: ItemID #, true);' " +
                                                    "# } #" +
                                                    "/></div>");

        columns.Bound(c => c.ModifiedDate).Format("{0:dd/MM/yyyy hh:mm:ss tt}").Width(180);
        columns.Command(command =>
        {
            command.Custom("Edit").HtmlAttributes(new { id = "btnShowWorkflow", @class = "k-button k-button-icontext" }).Click("editItem");
            command.Destroy();
        }).Width(180);
    })
    .HtmlAttributes(new { style = "height:415px" })
    .Scrollable()
    .Sortable()
    .Resizable(resize => resize.Columns(true))
    .Selectable(selectable => selectable
        .Mode(GridSelectionMode.Single))
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(service.PageSizes)
        .ButtonCount(5))
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(service.PageSize)
    .Model(model =>
    {
        model.Id(f => f.ItemID);
        model.Field(f => f.CreatedDate).Editable(false).DefaultValue(DateTime.Now);
        model.Field(f => f.ModifiedDate).Editable(false).DefaultValue(DateTime.Now);
    })
    .Events(events => events.RequestEnd("requestEnd"))
    .Read(read => read.Action("Read", "Manual"))
    .Destroy(update => update.Action("Destroy", "Manual"))
    .ServerOperation(false)
    )
)


<style>
    .k-edit-form-container {
        width: 100%;
    }

    .k-radio-label {
        font-weight: normal;
    }

    .k-dropzone {
        padding-left: 0px;
    }
</style>
