﻿@using Mitsubishi.UI.Models.Services
@using Mitsubishi.UI.Controllers

<script src="~/Scripts/jquery.royalslider.min.js?v=9.3.6"></script>
<div class="clear"></div>
<div class="feature-so-tay-gia-dung col-md-12 col-sm-12 col-xs-12">
    <div class="block-title">SITCOM</div>
    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12 fwImage">
            <div id="video-gallery" class="royalSlider videoGallery rsDefault">

                @{

                    var lst = new VideoController().GetList(15);
                    if (lst.Any())
                    {
                        foreach (var item in lst)
                        {
                            var title = item.Title;
                            var des = Html.Raw(Server.HtmlDecode(item.Description));
                            var image = item.Thumbnail;
                            var linkVideo = item.LinkVideo;

                            <div class="rsContent">
                                <a class="rsImg" data-rsw="943" data-rsh="500" data-rsvideo="@linkVideo" href="~/images/video/@image">
                                    <div class="rsTmb">
                                        <img src="~/images/video/@image" />
                                        <p class="sub-title-video">@title</p>
                                    </div>
                                </a>
                                <h3 class="video-title">@title</h3>
                                <p>@des</p>
                            </div>

                        }
                    }


                }

            </div>
        </div>
        <style>
            #video-gallery {
                width: 100%;
                height: 466px;
            }

            .videoGallery > .rsContent,
            .videoGallery > .rsImg {
                visibility: hidden;
            }


            .videoGallery .rsThumbs {
                width: 360px;
                padding-left: 0;
                padding-right: 0 !important;
            }



            .rsVideoContainer {
                width: 100%;
                height: 100%;
                overflow: hidden;
                display: block;
            }
        </style>
        <script>
            jQuery(document).ready(function ($) {
                $('#video-gallery').royalSlider({
                    arrowsNav: false,
                    fadeinLoadedSlide: true,
                    controlNavigationSpacing: 0,
                    controlNavigation: 'thumbnails',
                    thumbs: {
                        autoCenter: true,
                        fitInViewport: true,
                        orientation: 'vertical',
                        spacing: 0,
                        paddingBottom: 10
                    },
                    keyboardNavEnabled: true,
                    imageScaleMode: 'fill',
                    imageAlignCenter: true,
                    slidesSpacing: 0,
                    loop: false,
                    loopRewind: true,
                    numImagesToPreload: 3,
                    video: {
                        autoHideArrows: false,
                        autoHideControlNav: false,
                        autoHideBlocks: true
                    },
                    autoScaleSlider: true,
                    autoScaleSliderWidth: 1170,
                    autoScaleSliderHeight: 600,

                    /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
                    imgWidth: 770,
                    imgHeight: 407

                });
            });

        </script>

    </div>
    <div class="clear"></div>
</div>
<div class="clear"></div>