﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@using System.Text.RegularExpressions;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Sổ tay gia dụng";
    Layout = "~/Views/Shared/_LayoutManual.cshtml";

    var menuId = 14;
    var navItem = HomeController.GetItem(menuId);
    var breadcrumb_title = navItem.Title;

    var currentLanguage = UtilsController.GetCurrentLanguage();
    if (currentLanguage == GlobalConstants.LANGUAGE_EN)
    {
        breadcrumb_title = navItem.TitleEng;
    }
   
    var breadcrumb_text = "<a href='" + @navItem.NavigateUrl + "'> " + breadcrumb_title + " </a>";
    
}
<style>
    .so-tay-gia-dung-page{
        margin-top:30px;
    }
    .breadcrumb{display:none}
</style>

<div class="container so-tay-gia-dung-page">
    <div class="row">
        <div class="col-md-9 col-sm-12 col-xs-12 ">
            <div class="sotay-content ">
              
                <div class="top-block-category">
                    <ul>
                        @{
                            var ManualCategoryExtraID = "";
                            if (ViewContext.RequestContext.RouteData.Values["ManualCategoryExtraID"] != null)
                            {
                                ManualCategoryExtraID = ViewContext.RequestContext.RouteData.Values["ManualCategoryExtraID"].ToString();
                            }
                            @Html.Raw("<li>");

                                    if (ManualCategoryExtraID != "")
                                    {
                                        @Html.Raw("<a href=\"/so-tay-gia-dung.htm\">Tổng quát</a>");
                                    }
                                    else
                                    {
                                        @Html.Raw("<a class=\"active\" href=\"/so-tay-gia-dung.htm\">Tổng quát</a>");
                                    }
                             
                         @Html.Raw("</li>");
                        var lstTuVan = new ManualController().GetList("2");
                            var class_active = "";
                            if (lstTuVan.Any())
                            {
                                foreach (var entity in lstTuVan)
                                {
                                    if (entity.ItemID.ToString() == ManualCategoryExtraID)
                                    {
                                        class_active = " active ";
                                    }
                                    else
                                    {
                                        class_active = "  ";
                                    }

                                    var url = Url.RouteUrl("ManualCategoryExtra", new
                                    {
                                        title = Utils.ConvertUrf8ToAscii(entity.Title),
                                        ManualCategoryExtraID = entity.ItemID
                                    });
                                    <li><a class="@class_active" href="@url">@entity.Title</a></li>
                                }

                            }

                        }
                        <li><a href="/hoi-dap.htm">Hỏi đáp</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>

                <div class="main-sotay-content">
                    <div class="bg-sotaygiadung"></div>
                    <div class="sotay-content-slider">
                        @{
                            //chuyên mục sổ tay
                            var lst = new ManualController().GetList("1");
                          

                            if (lst.Any())
                            {
                               
                                foreach (var entity in @lst)
                                {

                                    var active_class = "";
                                   // if (entity.Title == "Máy lạnh")
                                   // {
                                   //     active_class = "active";
                                   // }

                                    // var productTypeName = entity.ParentCategory.Title;
                                    var url = Url.RouteUrl("CategoryManual", new
                                    {
                                        title = Utils.ConvertUrf8ToAscii(entity.Title),
                                        CategoryManualID = entity.ItemID
                                    });

                                    <div data="@entity.ItemID" class="itemManual">
                                        <div class="wr-manual-item">
                                            <a class="item-manual-category element-wrap @active_class" title="@entity.Title" data="@entity.ItemID" tuvan="@ManualCategoryExtraID" href="@url">
                                                <img src="~/images/@entity.Thumbnail" alt="@entity.Title">
                                                <span class="hover-element "></span>
                                                <p class="title @active_class">@entity.Title</p>

                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>

                    <div class="row">
                        
                        @{
                            if (this.Request.QueryString["s"] != null)
                            {
                                @Html.Raw("<p class=\"col-md-12 col-xs-12 col-sm-12\"><strong>Kết quả tìm kiếm</strong></p>");
                            }
                         }
                       
                        <div id="sub-cat-manual-container" class="sub-cat-manual-container">
                            @{
                                int t_page = 1;
                                if (ViewContext.RequestContext.RouteData.Values["page"] != null)
                                {
                                    var c_page = ViewContext.RequestContext.RouteData.Values["page"].ToString();
                                    t_page = int.Parse(c_page);
                                }


                                    var lstArticle = new ManualController().GetListItemByCategory("2,3,4,14,5", t_page, ManualCategoryExtraID, 0);
                                    if (this.Request.QueryString["s"] != null)
                                    {
                                        lstArticle = new ManualController().GetListItemBySearch(this.Request.QueryString["s"], t_page);
                                    }
                               
                               

                                var count = lstArticle.Count();
                                if (count > 0)
                                {
                                    if (lstArticle != null)
                                    {
                                        var i = 0;

                                        foreach (var item in lstArticle)
                                        {

                                            i++;
                                            var title_item = Server.HtmlDecode(item.Title);
                                            var url = Url.RouteUrl("ManualDetail", new
                                            {
                                                title = Utils.ConvertUrf8ToAscii(item.Title),
                                                itemId = item.ItemID
                                            });
                                            var except = Server.HtmlDecode(item.LongDescription);


                                            Regex regex = new Regex(" ");
                                            string[] substrings = regex.Split(except);
                                            string tmp = "";

                                            foreach (string match in substrings)
                                            {

                                                tmp += match + " ";
                                                if (tmp.Length > 90)
                                                {
                                                    tmp += "...";
                                                    break;
                                                }
                                            }
                                            except = tmp;
                                            except = Regex.Replace(except, @"<[^>]*>", String.Empty);
                                            
                                           
                                            if (i == 1)
                                            {
                                            @Html.Raw("<div class=\"top-item-article\">");
                                        }
                                        if (i < 4)
                                        {
                                            <div class="col-md-4 col-sm-6 col-xs-12 item-manual">
                                                <div class="thumbnail-item">
                                                    <a href="@url">
                                                        <img src="~/images/sotaygiadung/thumb/@item.Thumbnail" title="@item.Title" alt="@item.Title" />
                                                        <span class="hover-element-article"></span>
                                                    </a>

                                                </div>
                                                <div class="">
                                                    <p class="cat-label">@item.Category.Title</p>
                                                    <h2 class="title-manual"><a class="" href="@url">@title_item</a></h2>
                                                    <p class="createDate">@string.Format("{0:dd/MM/yyyy}", item.ModifiedDate)</p>
                                                    <p class="description">@Html.Raw(except)</p>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        }

                                        else
                                        {
                                            <div class="col-md-6 col-sm-6 col-xs-12 item-manual">
                                                <div class="thumbnail-item col-md-4 col-sm-4 col-xs-12">
                                                    <a href="@url">
                                                        <img src="~/images/sotaygiadung/thumb/@item.Thumbnail" title="@item.Title" alt="@item.Title" />
                                                        <span class="hover-element-article"></span>
                                                    </a>

                                                </div>
                                                <div class="col-md-8 col-sm-8 col-xs-12">
                                                    <p class="cat-label">@item.Category.Title</p>
                                                    @{
                                                        var title_tmp = Server.HtmlDecode(item.Title);

                                          


                                                        Regex regex2 = new Regex(" ");
                                                        string[] substrings2 = regex2.Split(title_tmp);
                                                        string tmp2 = "";

                                                        foreach (string match in substrings2)
                                                        {

                                                            tmp2 += match + " ";
                                                            if (tmp2.Length > 50)
                                                            {
                                                                tmp2 += "...";
                                                                break;
                                                            }
                                                        }
                                                        title_tmp = tmp2;
                                            
                                            
                                            
                                            
                                                    }
                                                    <h2 class="title-manual"><a class="" href="@url">@title_tmp</a></h2>
                                                    <p class="createDate">@string.Format("{0:dd/MM/yyyy}", item.ModifiedDate)</p>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        }
                                        if (i == 3)
                                        {
                                            @Html.Raw("<div class=\"clear\"></div></div><div class=\"bottom-item-article\">");
                                        }
                                        if (i == count)
                                        {
                                            @Html.Raw("<div class=\"clear\"></div></div>");
                                        }
                                        if (count < 3)
                                        {
                                            @Html.Raw("");
                                        }

                                    }

                                    //Phân trang
                                    <div class="clear"></div>
                                    if (lstArticle.PageCount > 1)
                                    {
                                        var catID = string.Empty;
                                        if (ViewContext.RouteData.Values["CategoryManualID"] != null)
                                        {
                                            catID = ViewContext.RouteData.Values["CategoryManualID"].ToString();
                                            @Html.PagedListPager((PagedList.IPagedList)lstArticle, page => Url.Action("Index", "Manual", new { page }))
                                        }
                                        else
                                        {
                                            @Html.PagedListPager((PagedList.IPagedList)lstArticle, page => Url.Action("Index", "Manual", new { page }))
                                        }
                                    }
                                }
                                else
                                {
                                    @Html.Raw("<p>Không tìm thấy!</p>");
                                }
                                 }
                                 else
                                 {
                                    @Html.Raw("<p>Không có bài viết!</p>");
                                 }
}
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 sidebar">
            <div class="wr-video">
                <div class="block-title"><a href="@Url.Action("Playlist", "Manual")">VIDEO</a></div>
                <div class="block-content">
                    @{
                        var lst3 = new ManualController().GetListVideo("", "5");
                        if (lst3.Any())
                        {
                            foreach (var item in lst3)
                            {

                                var title = item.Title;
                                var url = Url.RouteUrl("ManualDetail", new
                                {
                                    title = Utils.ConvertUrf8ToAscii(item.Title),
                                    itemId = item.ItemID
                                });
                                <div class="item-video">
                                    <div class="ThumbItem">

                                        <a style=" line-height: 0;" href="@url">
                                            <img src="~/images/sotaygiadung/thumb/@item.Thumbnail" alt="" title="" />
                                            <span class="hover-element-article"></span>
                                            <span class="video-play-overlay"></span>
                                        </a>
                                    </div>
                                    <p class="cat-label">@item.Category.Title</p>
                                    <h3><a href="@url">@item.Title</a></h3>
                                    <div class="clear"></div>
                                </div>

                            }

                        }
                    }
                    <p style=" float: right; font-style: italic;    margin: 0;" class="video-more">@Html.ActionLink("Xem thêm", "Playlist", "Manual")</p>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>


            <div id="inline" class="ask-question-form-popup" style="width:250px;display: none;">
                <form id="question-form-popup">
                    <div class="question-form-popup">
                        <p class="question-title">GỬI C&#194;U HỎI</p>
                        <p><input required id="a-name" class="name" type="text" placeholder="T&#234;n" /></p>
                        <p><input required id="a-email" class="email" type="email" placeholder="Email" /></p>
                        <p><textarea id="a-question" cols="3" rows="5">C&#226;u hỏi</textarea></p>
                    </div>
                    <input class="submit submit-button" type="submit" value="Gửi" />
                    <p style="color:#BF2314;text-align:center;display:block; padding: 10px 0;" id="status-form-popup"></p>
                </form>
            </div>
            <script>
                jQuery(document).ready(function () {
                    jQuery('.fancybox').fancybox({
                        wrapCSS: 'fancybox-custom',
                        openEffect: 'elastic',
                        openSpeed: 450
                    });
                });
            </script>
            <script type="text/javascript" language="javascript">
                $(document).ready(function () {
                    $(".item-manual-category").on("click", function (e) {
                        $("#sub-cat-manual-container").html("Đang tải...");

                        var breadcumb_text = $(this).attr("title");
                        $(".breadcrumb").html("<a href=\"/\">Trang chủ </a>/ <a href=\"/so-tay-gia-dung.htm\">Sổ tay gia dụng</a> / " + breadcumb_text);


                        var termID = $(this).attr("data");
                        var tuvanID = $(this).attr("tuvan");
                        console.log(tuvanID);
                        // console.log(termID);
                        $.ajax({
                            cache: false,
                            type: "POST",
                            url: "/Manual/GetListItemByCategory_Ajax",
                            data: {
                                "termID": termID,
                                "ManualCategoryExtraID": tuvanID
                            },
                            success: function (data) {
                                // $("#status-form-popup").html("Bình luận của bạn đã được gửi đến BQT chờ xét duyệt!");
                                // setTimeout(closeRegister, 5000);
                                //console.log(data);
                                if (data == "") data = "Nội dung đang cập nhật!";
                                $("#sub-cat-manual-container").html(data);
                                //high lingt
                                $(".item-manual-category").removeClass("active");
                                $(e.target).parent(".item-manual-category").toggleClass("active");
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert('Lỗi.');
                            }
                        });
                        return false;
                    });
                    return false;
                })
            </script>
            

        </div>
    </div>
</div>