﻿@using Mitsubishi.UI.Areas.Publish.Controllers
@using Mitsubishi.UI.Models
@using PagedList.Mvc;

@{
    ViewBag.Title = "Sổ tay gia dụng";
    Layout = "~/Views/Shared/_LayoutManual.cshtml";

    var menuId = 14;
    var navItem = HomeController.GetItem(menuId);
    var breadcrumb_title = navItem.Title;

    var currentLanguage = UtilsController.GetCurrentLanguage();
    if (currentLanguage == GlobalConstants.LANGUAGE_EN)
    {
        breadcrumb_title = navItem.TitleEng;
    }

    var breadcrumb_text = "<a href='" + @navItem.NavigateUrl + "'> " + breadcrumb_title + " </a>";
    
}



<div class="sub-manual-category-container col-md-8 col-sm-8  col-xs-12 ">
    
    <div class="top-block-category">
        <ul>
            <li><a href="#">Tổng quát</a></li>
            @{
                var lstTuVan = new ManualController().GetList("2");
                if (lstTuVan.Any())
                {
                    foreach (var entity in lstTuVan)
                    {
                        var url = Url.RouteUrl("CategoryManual", new
                        {
                            title = Utils.ConvertUrf8ToAscii(entity.Title),
                            CategoryManualID = entity.ItemID
                        });
                        <li><a href="@url">@entity.Title</a></li>
                    }

                }

            }
            <li><a href="#">Hỏi đáp</a></li>
        </ul>
    </div>
    <div class="sub-manual-category">
        <div id="sub-manual-category-slider" class="sub-manual-category-slider">
            @{
    //chuyên mục sổ tay
                var lst = new ManualController().GetList("1");
                if (lst.Any())
                {
                    //  @Html.Partial("partialCategoryManual", lst);
                    var str = "";

                    var itemId = "";
                    var catId = "";
                    if (ViewContext.RequestContext.RouteData.Values["CategoryManualID"] != null)
                    {
                        str = ViewContext.RequestContext.RouteData.Values["CategoryManualID"].ToString();
                    }

                    //trang detail
                    if (ViewContext.RequestContext.RouteData.Values["itemId"] != null)
                    {
                        itemId = ViewContext.RequestContext.RouteData.Values["itemId"].ToString();
                        var itemM = new ManualController().GetItemManual(int.Parse(itemId));
                        catId = itemM.ManualCategoryID.ToString();
                    }

                    foreach (var entity in @lst)
                    {
                        var active_class = "";
                        if (str == entity.ItemID.ToString() || catId == entity.ItemID.ToString())
                        {
                            active_class = "active";
                        }

                        // var productTypeName = entity.ParentCategory.Title;
                        var url = Url.RouteUrl("CategoryManual", new
                        {
                            title = Utils.ConvertUrf8ToAscii(entity.Title),
                            CategoryManualID = entity.ItemID
                        });

                        <div data="@entity.ItemID" class="itemManual">
                            <div class="wr-manual-item">
                                <a class="item-manual-category element-wrap" title="@entity.Title" data="@entity.ItemID" href="@url">
                                    <img src="~/images/@entity.Thumbnail" alt="@entity.Title">
                                    <span class="hover-element @active_class"></span>
                                    <p class="title @active_class">@entity.Title</p>

                                </a>
                            </div>
                        </div>
                    }
                }
            }
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
        
        <div>         
            <div id="sub-cat-manual-container" class="sub-cat-manual-container">
                @{

                    if (@Model != null)
                    {
                        var i = 0;
                       
                        foreach (var item in @Model)
                        {
                           
                            i++;

                            var url = Url.RouteUrl("ManualDetail", new
                            {
                                title = Utils.ConvertUrf8ToAscii(item.Title),
                                itemId = item.ItemID
                            });
                            var except = Server.HtmlDecode(item.LongDescription);
                            if (except.ToString().Length > 90)
                            {
                                except = UtilsController.removeHtml(except);
                                except = except.Substring(0, 120);

                            }
                            if (i == 1)
                            {
                                @Html.Raw("<div class=\"top-item-article\">");
                            }
                            if (i < 4)
                            {
                                <div class="col-md-4 col-sm-6 col-xs-4 item-manual">
                                    <div class="thumbnail-item col-md-12 col-sm-12 col-xs-12">
                                        <a href="@url"><img src="~/images/sotaygiadung/thumb/@item.Thumbnail" title="@item.Title" alt="@item.Title" /></a>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <h2 class="title-manual"><a class="" href="@url">@Html.Raw(Server.HtmlDecode(item.Title))</a></h2>
                                        <p class="description">@Html.Raw(except)...</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            }
                            else if (i == 3)
                            {
                                @Html.Raw("</div><div class\"bottom-item-article\">");
                            }
                            else
                            {
                                <div class="item-manual">
                                    <div class="thumbnail-item col-md-4 col-sm-4 col-xs-12">
                                        <a href="@url"><img src="~/images/sotaygiadung/thumb/@item.Thumbnail" title="@item.Title" alt="@item.Title" /></a>
                                    </div>
                                    <div class="col-md-8 col-sm-8 col-xs-12">
                                        <h2 class="title-manual"><a class="" href="@url">@Html.Raw(Server.HtmlDecode(item.Title))</a></h2>
                                        <p class="description">@Html.Raw(except)...</p>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            }
                         } 
                       @Html.Raw("</div>");
                        //Phân trang
                        if (Model.PageCount > 1)
                        {
                            var catID = string.Empty;
                            if (ViewContext.RouteData.Values["CategoryManualID"] != null)
                            {
                                catID = ViewContext.RouteData.Values["CategoryManualID"].ToString();
                                @Html.PagedListPager((PagedList.IPagedList)Model, page => Url.Action("Index", "Manual", new { page }))
                            }
                            else
                            {
                                @Html.PagedListPager((PagedList.IPagedList)Model, page => Url.Action("Index", "Manual", new { page }))
                            }
                         }
                     }
                    else
                    {
                    <p>Không tìm thấy!</p>
                    }
                 }

                                    
                                    <div class="clear"></div>
                                    <div>

                                    </div>
                                </div>
        </div>
        </div>
        <div class="clear"></div>
    </div>
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class=" wr-activation ">
    <div class="block-title">VIDEO</div>
    <div class="block-content">
        @{
            var lst3 = new ManualController().GetListVideo();
            if (lst3.Any())
            {
                foreach(var item in lst3){

                    var title = item.Title;

                <div class="item-activation">
                    <h3><a href="">@item.Title</a></h3>
                    <div class="ThumbItem">
                        <img src="~/images/activation/@item.Thumbnail" alt="" title="" />
                    </div>
                   
                    <div class="clear"></div>
                </div>

                }

            }
        }
        <a class="extend-activation" href="/dia-diem-activation.htm">Xem tất cả ></a>
     <div class="clear"></div>
    </div>
    </div>
    <div class="clear"></div>
    <div class=" wr-follow-social">
        <a target="_blank" href="https://www.facebook.com/mitsubishielectricvietnam/?fref=ts">
            <img src="~/Images/follow-facebook.png" class="img-responsive follow-social-icon" alt="so-tay-gia-dung" />
        </a>
        <a target="_blank" href="https://www.youtube.com/channel/UCuVxGbAFuFNdxVbRzI3BBsg">
            <img src="~/Images/follow-youtube.png" class="img-responsive follow-social-icon" alt="so-tay-gia-dung" />
        </a>
    </div>
    <div class="support-block">
        <div class="ask-question-block">
            <p class="text">BẠN CÓ THẮC MẮC CẦN<br />GIẢI ĐÁP?</p>
            <p style="text-align:center" class="sub-text">@HomeController.GetTextValue("SendQuestionToUs")</p>
            <a class="btn-ask-question fancybox" href="#inline">@HomeController.GetTextValue("SendQuestion")</a>
        </div>
       <!--
         <div class="social-block">
            <div class="fb-page" data-href="https://www.facebook.com/mitsubishielectricvietnam" data-tabs="timeline" data-width="275" data-height="207" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/mitsubishielectricvietnam"><a href="https://www.facebook.com/mitsubishielectricvietnam">Mitsubishi Electric Vietnam</a></blockquote></div></div>
        </div>
           -->
    </div>
    <div id="inline" class="ask-question-form-popup" style="width:250px;display: none;">
        <form id="question-form-popup">
            <div class="question-form-popup">
                <p class="question-title">GỬI C&#194;U HỎI</p>
                <p><input required id="a-name" class="name" type="text" placeholder="T&#234;n" /></p>
                <p><input required id="a-email" class="email" type="email" placeholder="Email" /></p>
                <p><textarea id="a-question" cols="3" rows="5">C&#226;u hỏi</textarea></p>
            </div>
            <input class="submit submit-button" type="submit" value="Gửi" />
            <p style="color:#BF2314;text-align:center;display:block; padding: 10px 0;" id="status-form-popup"></p>
        </form>
    </div>
    <script>
    jQuery(document).ready(function () {
        jQuery('.fancybox').fancybox({
            wrapCSS: 'fancybox-custom',
            openEffect: 'elastic',
            openSpeed: 450
        });
    });
    </script>
    <script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $(".item-manual-category").on("click", function (e) {
            $("#sub-cat-manual-container").html("Đang tải...");

            var breadcumb_text = $(this).attr("title");
            $(".breadcrumb").html("<a href=\"/\">Trang chủ </a>/ <a href=\"/so-tay-gia-dung.htm\">Sổ tay gia dụng</a> / " + breadcumb_text);


            var termID = $(this).attr("data");
           // console.log(termID);
            $.ajax({
                cache: false,
                type: "POST",
                url: "/Manual/GetListItemByCategory_Ajax",
                data: {
                    "termID": termID
                },
                success: function (data) {
                   // $("#status-form-popup").html("Bình luận của bạn đã được gửi đến BQT chờ xét duyệt!");
                    // setTimeout(closeRegister, 5000);
                    console.log(data);
                    if (data == "") data = "Nội dung đang cập nhật!";
                    $("#sub-cat-manual-container").html(data);
                    //high lingt
                    $(".hover-element ").removeClass("active");
                    $(e.target).toggleClass("active");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Lỗi.');
                }
            });
            return false;
        });
        return false;
    })
    </script>
    <script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#search-text-input').autocomplete({
            source: function (request, response) {
                var customer = new Array();
                console.log(request);
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("Autocomplete_Search", "Manual"))",
                    data: { "term": request.term },
                    success: function (data) {
                        console.log(data);
                        for (var i = 0; i < data.length ; i++) {
                            customer[i] = { label: data[i].Text, Id: data[i].Value };

                        }
                        response(customer);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Lỗi.');
                    }
                });

            },
            minLength: 3,
            select: function (event, ui) {
                window.location = ui.item.Id;
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });
    })
    </script>

    </div>
@Html.Partial("_PartialVideo")