﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@using PagedList.Mvc; 
@model List<Mitsubishi.UI.Models.Entities.ManualContentEntity>

@{
    ViewBag.Title = "Sổ tay công dụng";
    Layout = "~/Views/Shared/_LayoutManual.cshtml";
    
}
<div class="sub-cat-manual-container">
@{
    //mặc định
    string str = "";
    var currentLanguage = UtilsController.GetCurrentLanguage();

    if (ViewContext.RouteData.Values["CategoryManualID"] != null)
    {
        str = ViewContext.RouteData.Values["CategoryManualID"].ToString();
        
        var c_page =  this.Request.QueryString["page"] ;
        int t_page = 1;
        if (c_page != null)
        {
            t_page = int.Parse( c_page );
        }
        var lst = new ManualController().GetListItemByCategory(str, t_page);

        
        if (lst.Count > 0)
        {
            @Html.Partial("partialListItemManual", lst);
        }
        else
        {
            <p>Không có bài viết nào!</p>
        }
               
    }
}

    <div class="clear"></div>
</div>