﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Services
@model Mitsubishi.UI.Models.Entities.ManualContentEntity
@{

    Layout = "~/Views/Shared/_LayoutManualDetail.cshtml";

}
@{
    var title = @Html.Raw(Server.HtmlDecode(Model.Title));

    ViewBag.Title = title;
    var cat_name = "";
    if (Model.Category != null) cat_name = Model.Category.Title;


    //   var url = Url.RouteUrl("CategoryManual", new { title = Utils.ConvertUrf8ToAscii(Model.Title),CategoryManualID = 1});


    ViewBag.breadcrumb = @Html.Raw(" / " + cat_name + " / " + title);

    string body = Server.HtmlDecode(Model.LongDescription);

    body = body.Replace("<img", "<img alt=\"" + title + "\" ");

   // var date = Model.CreatedDate;
    
<div class="container so-tay-gia-dung-page sotay-detail-container">
    <div class="row">
        <div class="col-md-9 col-sm-12 col-xs-12 ">
            <div class="sotay-content ">
                @if (Model.Video == "") { 
                <div class="top-block-category">
                    <ul>
                        <li><a href="/so-tay-gia-dung.htm">Tổng quát</a></li>
                        @{
                            var lstTuVan = new ManualController().GetList("2");
                            
                            if (lstTuVan.Any())
                            {
                                var class_active = "";
                                foreach (var entity in lstTuVan)
                                {
                                    
                                    if (entity.ItemID == @Model.ManualCategoryExtraID)
                                    {
                                        class_active = " active ";
                                    }
                                    else
                                    {
                                        class_active = " ";
                                    }
                                    var url = Url.RouteUrl("ManualCategoryExtra", new
                                    {
                                        title = Utils.ConvertUrf8ToAscii(entity.Title),
                                        ManualCategoryExtraID = entity.ItemID
                                    });
                                   
                                    <li><a class="@class_active" href="@url">@entity.Title</a></li>
                                }

                            }

                        }
                        <li><a href="/hoi-dap.htm">Hỏi đáp</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="main-sotay-content">
                    <div class="bg-sotaygiadung"></div>
                    <p class="cat-label">@Model.Category.Title</p>
                    <p class="datePublish">@string.Format("{0:dd/MM/yyyy}", Model.CreatedDate)</p>
                    <h1 class="post-title">@title</h1>
                    
                    <div class="content-manual row " style="margin-top:15px">
                       <div class="col-md-2 col-sm-2 col-xs-12 sotay-content-left">
                           <a href="http://www.facebook.com/sharer.php?u=@Request.Url.AbsoluteUri" target="_blank">
                               <img style="max-width:100%" src="~/images/sharefb-button.png" />
                           </a>
                           &nbsp;&nbsp;
                       </div>
                        <div class="col-md-10 col-sm-10 col-xs-12 sotay-content-right">
                            <div class="full-thumnail">
                                <img src="~/images/sotaygiadung/thumb/@Model.Thumbnail" alt="" title="" />
                            </div>
                            @Html.Raw(Server.HtmlDecode(body))
                        </div>
                        
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                }
                else
                {
                    
                    <div class="video-full">
                        <iframe width="100%" height="500" src="https://www.youtube.com/embed/@Model.Video?showinfo=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <div class="content-manual row " style="margin-top:15px">
                        <div class="col-md-2 col-sm-2 col-xs-12 sotay-content-left">
                            <a href="http://www.facebook.com/sharer.php?u=@Request.Url.AbsoluteUri" target="_blank">
                                <img style="max-width:100%" src="~/images/sharefb-button.png" />
                            </a>
                            &nbsp;&nbsp;
                        </div>
                        <div class="col-md-10 col-sm-10 col-xs-12 sotay-content-right">
                            <p class="cat-label">@Model.Category.Title</p>
                            <h1 class="post-title">@title</h1>
                            @Html.Raw(Server.HtmlDecode(body))
                        </div>

                        <div class="clear"></div>
                    </div>
    <div class="clear"></div>
                }
                
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 sidebar">
            <div class="wr-video">
                @if (Model.Video == "")
                {

                <div class="block-title">TIN LIÊN QUAN</div>
                <div class="block-content">
                    @{
                        var lst3 = new ManualController().Related(9, @Model.ItemID, @Model.ManualCategoryID);
                        if (lst3.Any())
                        {
                            foreach (var item in lst3)
                            {
                                 var url = Url.RouteUrl("ManualDetail", new
                                        {
                                            title = Utils.ConvertUrf8ToAscii(item.Title),
                                            itemId = item.ItemID
                                        });
                                <div class="item-sotay">
                                    <div class="ThumbItem">
                                        <a href="@url">
                                            <img src="~/images/sotaygiadung/thumb/@item.Thumbnail" alt="@item.Title" title="@item.Title" />
                                        </a>
                                    </div>
                                    <p><a href="@url">@Server.HtmlDecode(item.Title)</a></p>
                                    <div class="clear"></div>
                                </div>
                            }
                        }
                    }
                    
                </div>
                }
                else
                {
                    <div class="block-title"><a href="@Url.Action("Playlist", "Manual")">VIDEO</a></div>
    <div class="block-content">
        @{
                    var lst3 = new ManualController().GetListVideoRelated(Model.ManualCategoryID.ToString(), "5",Model.ItemID);
                    if (lst3.Any())
                    {
                        foreach (var item in lst3)
                        {

                            var url = Url.RouteUrl("ManualDetail", new
                            {
                                title = Utils.ConvertUrf8ToAscii(item.Title),
                                itemId = item.ItemID
                            });
                            <div class="item-video">
                                <div class="ThumbItem">

                                    <a style=" line-height: 0;" href="@url">
                                        <img src="~/images/sotaygiadung/thumb/@item.Thumbnail" alt="" title="" />
                                        <span class="hover-element-article"></span>
                                        <span class="video-play-overlay"></span>
                                    </a>
                                </div>
                                <p class="cat-label">@item.Category.Title</p>
                                <h3><a href="@url">@item.Title</a></h3>
                                <div class="clear"></div>
                            </div>

                        }

                    }
        }
        <p style=" float: right; font-style: italic;    margin: 0;" class="video-more">@Html.ActionLink("Xem thêm", "Playlist", "Manual")</p>
        <div class="clear"></div>
    </div>
                }
            </div>
        </div>

    </div>
    <div class="bottom-content-sotay product-related-block row">
        <p class="col-md-12 col-sm-12 col-xs-12 title-block"><strong>SẢN PHẨM BẠN SẼ THÍCH</strong></p>
        
    @{
        var relateds = Model.RelatedTo;
        var arRelateId = relateds.Split(',');
        var i = 0;
        foreach (var RelateId in arRelateId)
        {
            i++;
            if (i == 7)
            {
                break;
            }
            
            if (RelateId != "") {
                var entity = new ProductCategoryService().GetItemFullDetail(int.Parse(RelateId));
            //lấy 6 sp
            if (i == 7)
            {
                break;
            }
           
               
                var Name = Html.Raw(entity.Title);

                var productTypeName = entity.ProductType.Title;
                var parentName = entity.ParentCategory.Title;
                var url = Url.RouteUrl("ProductCategory", new
                {
                    ProductTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                    ProductTypeId = entity.ProductTypeId,
                    ProductCategoryName = Utils.ConvertUrf8ToAscii(entity.Title),
                    productCategoryId = entity.ItemID
                });
                 var thumb = "";
                 if (entity.Colors.Any()) {
                     
                     List<string> lsImage = entity.Colors[0].ListImages;
                     var count = lsImage.Count();
                     thumb = lsImage[count-1];
                }
                 if (thumb == "") { thumb = entity.ListImages[0]; }
               

                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="product-item">
                        <a href="@url"><img src="~/images/@thumb" alt="@Name" /></a>
                        <a class="product-title" href="@url">@Name</a>
                    </div>
                </div>
            }
      }
}
       
       
       
        
    </div>
</div>
}