﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model System.Array
@using PagedList.Mvc;

@{
    ViewBag.Title = "Sổ tay gia dụng";
    Layout = "~/Views/Shared/_LayoutManual.cshtml";

    var menuId = 14;
    var navItem = HomeController.GetItem(menuId);
    var breadcrumb_title = navItem.Title;

    var currentLanguage = UtilsController.GetCurrentLanguage();
    if (currentLanguage == GlobalConstants.LANGUAGE_EN)
    {
        breadcrumb_title = navItem.TitleEng;
    }

    var breadcrumb_text = "<a href='" + @navItem.NavigateUrl + "'> " + breadcrumb_title + " </a>";

}
<div class="container so-tay-gia-dung-page playlist-page">
    <div class="wr-playlist">
	
	<div class="row">
	
	
				@{
                    var lst5 = new ManualController().GetListVideo("9", "0");
                    if (lst5.Any())
                    {
                            @Html.Raw("<div class=\"playlist-item\">")
                            @Html.Raw("<strong><a class=\"playlist-title col-md-12 col-sm-12 col-xs-12\" href=\"#accordion-3\"><img class=\"catalogue-icon\" src=\"/Content/images/prettyPhoto/mitsu/arrow-catalogue-icon.png\">MÁY LẠNH</a></strong>")
                            @Html.Raw("<div id=\"accordion-3\" style=\"display:block\" class=\"col-md-12 col-sm-12 col-xs-12 accordion-section-content\">")
                            @Html.Raw("<div class=\"row\">")


                        foreach (var item in lst5)
                        {
                            var url = Url.RouteUrl("ManualDetail", new
                            {
                            title = Utils.ConvertUrf8ToAscii(item.Title),
                            itemId = item.ItemID
                            });
                            var title = item.Title;

                            <div class="item-video col-md-3 col-sm-6 col-xs-12">
                                <div class="ThumbItem">

                                    <a href="@url">
                                        <img src="~/images/sotaygiadung/thumb/@item.Thumbnail" alt="" title="" />
                                        <span class="hover-element-article"></span>
                                        <span class="video-play-overlay"></span>
                                    </a>
                                </div>
                                <p class="cat-label">@item.Category.Title</p>
                                <h3><a href="@url">@item.Title</a></h3>
                                <div class="clear"></div>
                            </div>
                        }
                       @Html.Raw("</div>");
                       @Html.Raw("<div class=\"clear\"></div>");
                       @Html.Raw("</div>");
                       @Html.Raw("<div class=\"clear\"></div>");
                       @Html.Raw("</div>");
                     }
                       
                }
	
	
	
        
            <div class="playlist-item">
                <strong><a class="playlist-title  col-md-12 col-sm-12 col-xs-12" href="#accordion-1"><img class="catalogue-icon" src="/Content/images/prettyPhoto/mitsu/arrow-catalogue-icon.png">SITCOM</a></strong>
                <div id="accordion-1" class="col-md-12 col-sm-12 col-xs-12 accordion-section-content">
                    <div class="row">
                        @{

                            var lst_sitcom = new ManualController().GetListVideo("7", "0");
                            if (lst_sitcom.Any())
                            {

                                foreach (var item in lst_sitcom)
                                {

                                    var title = item.Title;
                                    var url = Url.RouteUrl("ManualDetail", new
                                    {
                                        title = Utils.ConvertUrf8ToAscii(item.Title),
                                        itemId = item.ItemID
                                    });
                                    <div class="item-video col-md-3 col-sm-6 col-xs-12">
                                        <div class="ThumbItem">
                                            <a class="" href="@url">
                                                <img src="~/images/sotaygiadung/thumb/@item.Thumbnail" alt="" title="" />
                                                <span class="video-play-overlay"></span>
                                                <span class="hover-element-article"></span>
                                            </a>
                                        </div>
                                        <p class="cat-label">@item.Category.Title</p>
                                        <h3><a href="@url">@item.Title</a></h3>
                                        <div class="clear"></div>
                                    </div>
                                }

                            }
    // Html.Raw("</div>");
                        }

                        <div class="clear"></div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="playlist-item">
                <strong><a class="playlist-title col-md-12 col-sm-12 col-xs-12" href="#accordion-2"><img class="catalogue-icon" src="/Content/images/prettyPhoto/mitsu/arrow-catalogue-icon.png">TỦ LẠNH</a></strong>
                <div id="accordion-2" class="col-md-12 col-sm-12 col-xs-12 accordion-section-content">
                    <div class="row">
                        @{

                            var lst3 = new ManualController().GetListVideo("2", "0");
                            if (lst3.Any())
                            {

                                foreach (var item in lst3)
                                {

                                    var title = item.Title;
                                    var url = Url.RouteUrl("ManualDetail", new
                                    {
                                        title = Utils.ConvertUrf8ToAscii(item.Title),
                                        itemId = item.ItemID
                                    });
                                    <div class="item-video col-md-3 col-sm-6 col-xs-12">
                                        <div class="ThumbItem">
                                            <a class="" href="@url">
                                                <img src="~/images/sotaygiadung/thumb/@item.Thumbnail" alt="" title="" />
                                                <span class="video-play-overlay"></span>
                                                <span class="hover-element-article"></span>
                                            </a>
                                        </div>
                                        <p class="cat-label">@item.Category.Title</p>
                                        <h3><a href="@url">@item.Title</a></h3>
                                        <div class="clear"></div>
                                    </div>
                                }

                            }
    //  Html.Raw("</div>");
                        }

                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
                
            </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<script type="text/javascript" src="/Scripts/jquery.accordion.js"></script>

<script type="text/javascript">
            jQuery(document).ready(function () {
                function close_accordion_section() {
                    jQuery('.playlist-title').removeClass('active');
                    jQuery('.accordion-section-content').slideUp(300).removeClass('open');
                }

                jQuery('.playlist-title').click(function (e) {
                    // Grab current anchor value
                    var currentAttrValue = jQuery(this).attr('href');

                    if (jQuery(e.target).is('.active')) {
                        close_accordion_section();
                    } else {
                        close_accordion_section();

                        // Add active class to section title
                        jQuery(this).addClass('active');
                        // Open up the hidden content panel
                        jQuery(currentAttrValue).slideDown(300).addClass('open');
                    }

                    e.preventDefault();
                });
            });
</script>
