﻿@using Mitsubishi.UI.Models.Entities
@model ManualCategoryEntity

@{
    ViewBag.Title = "Add / Edit Tip Category";
}

<h2 class="module-title">Add / Edit Tip Category</h2>
<script>
    $(document).ready(function () {
        $('#radioEn').val("en-US");
        $('#radioVi').val("vi-VN");

      
        $('#btnSubmit').click(function() {
            
           $('#formEdit').submit();
        });


        $("input:radio[name=radioLanguages]").click(function() {
            var value = $(this).val();
            window.selectedLanguage = value;

            if (value == langEN) {
                $('#trTitleEN').show();
                $('#trTitleVN').hide();
            } else {
                $('#trTitleEN').hide();

                $('#trTitleVN').show();
            }
        });
    });

  
  
</script>


@using (Html.BeginForm("CreateItem", "ManualCategory", FormMethod.Post, new { id = "formEdit" }))
{
    <table width="100%" cellpadding="3px" cellspacing="3px">
        <tr>
            <td>
                @Html.HiddenFor(m => m.ItemID)
            </td>
            <td>
                @ViewBag.ErrorMessage
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
               
            </td>
        </tr>
        <tr>
            <td style="width: 160px;">
                @Html.LabelFor(model => model.ParentID)
            </td>
            <td>
                @(Html.Kendo().DropDownListFor(m => m)
                      .Name("ParentID")
                      .OptionLabel("Select parent category")
                      .DataValueField("ItemID")
                      .DataTextField("DataTextField")
      .DataSource(ds => ds.Read(read => read.Action("GetListCombobox", "ManualCategory", new { TaxonomyId = 1 })))
                      .HtmlAttributes(new { style = "width: 400px;" })
                )
                @Html.Kendo().RadioButton().Name("radioLanguages").Label("English").HtmlAttributes(new { id = "radioEn" }) &nbsp;
                @Html.Kendo().RadioButton().Name("radioLanguages").Label("Vietnamese").Checked(true).HtmlAttributes(new { id = "radioVn" })
                &nbsp;&nbsp;&nbsp;
                <button id="btnSubmit" type="submit" class="k-button k-button-icontext k-grid-update">
                    <span class="k-icon k-update"></span>
                    Save
                </button>


                @Html.ActionLink("Cancel", "Index", "ManualCategory", null, new { @class = "k-button k-button-icontext k-grid-cancel" })
            </td>
        </tr>
    
        <tr id="trTitleEN" style="display: none;">
            <td>
                @Html.LabelFor(model => model.TitleEN)
            </td>
            <td>
                @Html.TextBoxFor(model => model.TitleEN, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>

        <tr id="trTitleVN">
            <td>
                @Html.LabelFor(model => model.Title)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Title, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Thumbnail)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(Model.Thumbnail))
                {
                    <img src="~/images/@Model.Thumbnail" width="100" />
                }
                @(Html.Kendo().Upload()
                      .Name("files")
                      .Async(a => a
                          .Save("Save", "ManualCategory")
                          .Remove("Remove", "ProductCategory")
                          .AutoUpload(true)
                      )
                )
            </td>
        </tr>
     
        <tr>
            <td>@Html.LabelFor(model => model.IsActive)</td>
            <td>@Html.EditorFor(model => model.IsActive)</td>
        </tr>
       
        <tr>
            <td>@Html.LabelFor(model => model.SortOrder)</td>
            <td>
                @(Html.Kendo().IntegerTextBoxFor(m => m.SortOrder)
                      .Min(0)
                      .Max(1000)
                      .Step(1)
                      .Value(Model.SortOrder)
                      .Spinners(true)
                      .HtmlAttributes(new { style = "width:100px;text-align:center;" })
                )
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.MetaKeyword)
            </td>
            <td>
                @Html.TextBoxFor(model => model.MetaKeyword, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.MetaDescription)
            </td>
            <td>
                @Html.TextAreaFor(model => model.MetaDescription, new { @class = "short-description" })
            </td>
        </tr>
    </table>
}


<style>
    .k-radio-label {
        font-weight: normal;
    }
</style>
