﻿@using Mitsubishi.UI.Models.Entities
@model ManualCategoryEntity

@{
    ViewBag.Title = "Tip Category List";
}

<h2 class="module-title">Tip Category Management</h2>

<script>

    function editItem(itemId) {
        location.href = '@Url.Action("EditManualCategory", "ManualCategory")?itemId=' + itemId;
    }


</script>

@Html.Partial("partialListManualCategory")

<style>
    .k-edit-form-container {
        width: 100%;
    }

    .datepicker > .k-datetimepicker {
        width: 90% !important;
    }
</style>