﻿@using Kendo.Mvc.UI
@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Entities

<div class="box-header">
    <table width="100%" border="0" cellpadding="1px" cellspacing="1px">
        <tr>
            <td style="width: 380px;padding-left: 5px;">
                <a id="lnkAdd" class="k-button k-button-icontext" href="/Admin/ManualCategory/EditManualCategory">
                    <span class="k-icon k-add"></span>
                    Add new
                </a>
            </td>
            <td align="right">
                Language:&nbsp;
                @(Html.Kendo().DropDownList()
                    .Name("Languages")
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .Events(e => e.Change("changeLanguage"))
                    .BindTo(new List<SelectListItem>() {
                          new SelectListItem() {
                              Text = "English",
                              Value = "en-US"
                          },
                          new SelectListItem() {
                              Text = "Vietnamese",
                              Value = "vi-VN"
                          }
                      })
                    .Value(UtilsController.GetCurrentLanguage(GlobalConstants.SESS_ADMIN_LANGUAGE))
                    .HtmlAttributes(new { style = "width:120px; text-align:left;" })
                )
            </td>
        </tr>
    </table>
</div>

@(Html.Kendo().TreeList<ManualCategoryEntity>()
    .Name("treelist")
        .Columns(columns =>
        {
            if (UtilsController.GetCurrentLanguage(GlobalConstants.SESS_ADMIN_LANGUAGE) == GlobalConstants.LANGUAGE_EN)
            {
                columns.Add().Field("TitleEN").Title("Title");
            }
            else
            {
                columns.Add().Field("Title").Title("Title");
            }

            columns.Add().Field("SortOrder").Width("70px").Title("Sort #").Template("<div align='center'>#= SortOrder #</div>");
            columns.Add().Field("IsActive").Width("90px").Title("Publish").Template("<div align='center'><img value='#= ItemID #' style='cursor:pointer;' " +
                                                     "# if (IsActive) " +
                                                     "{ #" +
                                                     " src='/Content/images/icon/icon_yes.gif' onclick='setManualCategoryIsActive(#: ItemID #, false);' " +
                                                     "# } " +
                                                     " else { #" +
                                                     " src='/Content/images/icon/icon_no.gif' onclick='setManualCategoryIsActive(#: ItemID #, true);' " +
                                                     "# } #" +
                                                     "/></div>");
            columns.Add().Field("ModifiedDate").Width("180px").Title("Modified Date").Format("{0:MM/dd/yyyy hh:mm:ss tt}");
            columns.Add().Template("<button class='k-button k-button-icontext' onClick= 'editItem(#: ItemID #);'>Edit</button>" +
                                   "<button class='k-button k-button-icontext' onclick='DestroyManualCategory(#: ItemID #);'>Delete</button>").Width(200);
        })
    .Filterable(false)
    .Sortable(true)
    .DataSource(dataSource => dataSource
        .Read(read => read.Action("Read", "ManualCategory"))
        .Destroy(update => update.Action("Destroy", "ManualCategory"))
        .Model(m =>
        {
            m.Id(f => f.ItemID);
            m.ParentId(f => f.ParentID);
        })
    )
    .Height(415)
)

