﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Mitsubishi CORPORATION</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    <script src="~/Scripts/Mitsubishi.js"></script>
    <link href="~/Content/prettyPhoto.css" rel="stylesheet" type="text/css" media="screen" title="prettyPhoto main stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery.prettyPhoto.js"></script>

    @{ var culture = System.Threading.Thread.CurrentThread.CurrentCulture.ToString(); }
    <script src="@Url.Content("~/Scripts/kendo/cultures/kendo.culture.en.min.js")"></script>

    @* Set the current culture *@
    <script>
        kendo.culture("@culture");

        $(document).ready(function () {
            $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto(
            {
                animation_speed: 'fast',
                deeplinking: false,
                theme: 'pp_default',
                slideshow: 3000,
                autoplay_slideshow: false
            });
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mitsubishi", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        @Html.ActionLink("Product Category", "Index", "ProductCategory")
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            <li>@Html.ActionLink("Merchant", "Index", "Merchant")</li>
                            <li>@Html.ActionLink("Comment", "Index", "Comment")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Content", "Index", "Content")</li>
                    <li class="dropdown">
                        @Html.ActionLink("Sổ tay", "Index", "Manual")
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            <li>@Html.ActionLink("FAQ", "Index", "Faq")</li>
                            <li>@Html.ActionLink("Video", "Index", "Video")</li>
                            <li>@Html.ActionLink("Activation", "Index", "Activation")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Inquiry", "Index", "Inquiry")</li>
                    <li>@Html.ActionLink("Careers", "Index", "Careers")</li>
                    <li>@Html.ActionLink("Agency", "Index", "Agency")</li>
                   
                   
                    <li class="dropdown">@Html.ActionLink("System Config", "Index", "SystemConfig")
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                            <li>@Html.ActionLink("Banner", "Index", "Banner")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mitsubishi Corporation</p>
        </footer>
    </div>
</body>
</html>
