﻿@using Microsoft.AspNet.Identity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ADMIN MITSUBISHI</title>
    <link href="~/Areas/Admin/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Css/Login/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Css/Admin-Digi.css" rel="stylesheet" />

    @Styles.Render("~/Content/kendo/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")

    <link href="~/Areas/Admin/Css/jquery-ui.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery.prettyPhoto.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @{ var culture = System.Threading.Thread.CurrentThread.CurrentCulture.ToString(); }
    <script src="@Url.Content("~/Scripts/kendo/cultures/kendo.culture.en.min.js")"></script>

    @* Set the current culture *@
    <script>
        kendo.culture("@culture");

        $(document).ready(function () {
            $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto(
            {
                animation_speed: 'fast',
                deeplinking: false,
                theme: 'pp_default',
                slideshow: 3000,
                autoplay_slideshow: false
            });
        });
    </script>
</head>
<body>
    <div class="topmenu">
        <h1 class="logo-text pull-left"><a target="_blank" href="@Url.Content("~/")"><i class="fa fa-home" aria-hidden="true" style="padding: 0px 5px 0px 0px;"></i>Mitsubishi</a></h1>
        <div class="pull-right top-right">
            @Html.ActionLink("Hi! " + User.Identity.GetUserName(), "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Administrator" })
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out" aria-hidden="true" style="font-size: 19px;"></i></a>
                }
            }
        </div>
    </div>
    
        <div class="left pull-left col-md-2">
            <ul class="lv1">
                <li class="active">
                    <a href="@Url.Content("~/Admin/Home/Index")">
                        <i class="fa fa-tachometer" aria-hidden="true"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#sanpham">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                        Sản phẩm
                        <ul class="collapse lv2" id="sanpham">
                            <li><a href="#">Danh mục sản phẩm</a></li>
                            <li><a href="@Url.Content("~/Admin/ProductCategory")">Sản phẩm</a></li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#baiviet">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        Bài viết
                        <ul class="collapse lv2" id="baiviet">
                            <li><a href="#">Danh mục</a></li>
                            <li><a href="@Url.Content("~/Admin/Content")">Bài viết</a></li>
                        </ul>
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Admin/Merchant")">
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                        Merchant
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Admin/Comment")">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        Comment
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Admin/Manual")">
                        <i class="fa fa-tag" aria-hidden="true"></i>
                        Sổ tay
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Admin/Faq")">
                        <i class="fa fa-question" aria-hidden="true"></i>
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Admin/Video")">
                        <i class="fa fa-video-camera" aria-hidden="true"></i>
                        Video
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Admin/Activation")">
                        <i class="fa fa-calendar" aria-hidden="true"></i>                        
                        Activation
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Admin/Inquiry")">
                        <i class="fa fa-hand-rock-o" aria-hidden="true"></i>
                        Inquiry
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Admin/Careers")">
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        Tuyển dụng
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Admin/Agency")">
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        Agency
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/Admin/Banner")">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                        Banner
                    </a>
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#user">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        User
                        <ul class="collapse lv2" id="user">
                            <li><a href="@Url.Content("~/Admin/Account/ListUsers")">Tất cả user</a></li>
                            <li><a href="@Url.Content("~/Admin/Account/AddUser")">Thêm user</a></li>
                        </ul>
                    </a>
                </li>                
                <li>
                    <a href="@Url.Content("~/Admin/SystemConfig")">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        Cấu hình hệ thống
                    </a>
                </li>
                
            </ul>
        </div>
        <div class="right pull-right col-md-10">
            @RenderBody()
        </div>
    <script src="~/Areas/Admin/Js/bootstrap.js"></script>
    <script>
        var h = window.innerHeight;
        //alert(h);
        jQuery(".left").css("height", h);
    </script>
</body>
</html>
