
#feature-factory {
    background:#fff;
    width: 100%;
    height: 173px;
}

.slider-factory ul li a.title {
	font-size:15px;
	color: #111 !important;
	line-height:17px;
	text-decoration:none;
}
.slider-factory ul li a.title:hover{
	text-decoration:none;
	color:#cc0000;
}

.slider-factory {
	float: left;
	left: -5000px;
	margin: 0px 25px;
	position: relative;
	visibility: hidden;
}
.slider-factory ul {
	height: 173px;
	width: 850px ;
}
.slider-factory ul li {
	padding: 0px;
	width:170px;
	text-align: center;
}
.slider-factory ul li a img {
	cursor: pointer;
	height: 125px;
	width: 145px;
	margin:0 30px;
	
}

.slider-bt-factory {
	float: left;
	left: -1000px;
	margin: 5px 35px;
	position: relative;
	visibility: hidden;
}
.slider-bt-factory ul {
	height: 140px;	
}
.slider-bt-factory ul li {
	padding: 0px;
	width:155px;
	height:160px;
		text-align:center;
}
.slider-bt-factory ul li a.title{
	font-size: 14px;
	color: #fff;	
	text-align: center;
	cursor:pointer;	
}
h6{ text-align: left;}
.slider-bt-factory ul li a.title:hover {
	color: #cc0000;	
	text-decoration:none;
	
}
.slide-bt-factory ul li a img {
	cursor: pointer;
	height: 130px;
	width: 145px;		
}
.line-factory{ 	
	margin: 0 auto;
}
.line-factory img{
	max-width:1000px;
}
.container-factory{
	width:1150px;
	margin: 0 auto;
	position: relative;
	padding:10px 0;
}
.container-factory h1.list-proTitle{
	font-size:30px;
	color:#570000;
	text-transform:uppercase;
	font-weight:normal;
	margin:10px 0 20px 0;
}
.listProductFactory{
	position:relative;
	margin:0px auto;
	overflow: hidden;
}
.listProductFactory .listItem{
	margin-bottom:30px;	
	margin-top: 10px;
	float:left;
	display:block;
}
.headerItem{
 	background: -webkit-linear-gradient(left, #a40006 , #490001); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #a40006, #490001); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #a40006, #490001); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #a40006 , #490001);
  color: #fff;
	padding:10px 0;
	
}
.headerTitle{
	font-size:20px;
	color:#fff;
	margin-left: 258px;
	padding-top: 15px;
}
.bgImageitem{
	background:#fff;
	border-radius:3px;
	border:solid 1px #ddd;
	margin-top:-30px;
	float:left;
	margin-right:20px;
	width:232px;
	height:180px;
	margin-left: 5px;
}
.Imageitem{
	margin-top:5px;
	margin-left:5px;
	width:220px;
	height:170px;
}
.Imageitem{
	max-width:220px;
}
.itemText{
	float:left;
	margin-right:30px;
	width:390px;
	font-size:15px;
	line-height: 22px;
	margin-top: 5px;
}
.Othersitem{
	background: url(../images/factory_automation_line.png) left top no-repeat;
	float:left;
	width:300px;
	}
.Othersitem li{
	float: none;
	position: relative;
	line-height: 25px;
	background: url(../images/arrow-right.png) 0px 9px no-repeat;
	padding-left:15px;
	display:block;
		}
.Othersitem li a {	
	color: #cc0000;
	font-size: 14px;
	text-decoration:none		
}
.Othersitem li a:hover {
	color: #cc0000;
	text-decoration:underline;
}

@media only screen and (max-width: 768px) {
	#list {width:750px;}	
	.slider-factory {margin: 0px 10px;}
	.slider-factory ul {height: 173px;width: 730px;}
	.slider-factory ul li {	padding: 0px; width:145px;}
	.slider-factory ul li a img {	height: 125px;width: 135px;margin:5px 0px;}
	.container-factory{ width:720px; margin:0 auto;}
	.line-factory img { width:700px}
	.container-factory h1.list-proTitle {font-size:25px;}
	.Othersitem { background: none;margin-left: 215px; width:400px;}
	.Othersitem li{ float:left; width:180px;}
	.listProductFactory .listItem {margin-bottom: 10px; margin-top:0px;}
	.doc-02 { font-size:15px;}
}
@media only screen and (max-width: 640px) {
	#list {width:625px;}
	.slider-factory ul {width: 625px;}
	.slider-factory {margin: 0px }	
	.slider-factory ul li {	padding: 0px; width: 120px}
	.slider-factory ul li a img {margin: 0; width:100px;}
	.container-factory{ width:625px; margin:0 auto;}
	.line-factory img { width:625px}
	.itemText {  width: 350px; margin-right:0;}
	.headerTitle {font-size:17px;}
}
@media only screen and (min-width: 568px) and (max-width: 667px) {
	.doc-02 { font-size:15px;}
	#list { width: 550px;}
}
@media only screen and (min-width: 320px) and (max-width: 480px){
	#feature-factory { display:none;}
	.container-factory{ width:300px; margin:0 auto;}
	.line-factory img { width:300px}
	.itemText {  width: 300px; margin-right:0;}
	.Othersitem { background: none;margin-left:10px; width:300px;}
	.Othersitem ul{padding-left:0px;}
	.Othersitem li{ float:none; display:block}
	.bgImageitem {margin-left: 30px; margin-top: 5px;display:block; float:none;}
	.headerTitle {margin-left:10px; font-size:15px;}
	.container-factory h1.list-proTitle {font-size: 20px;}
	.headerItem {padding: 5px 0px;}
	.doc-02 {font-size:15px;}
	#list {width:300px;}
	
}