﻿.sotay-content{
    position:relative;
    padding-bottom:40px;
}
.sotay-content .top-background{
    background: url(images/prettyPhoto/mitsu/top-page-manual-bg.png)repeat-x center;
    height:32px;
}
.bg-sotaygiadung{
    background: url(../images/bg_sotaygiadung.png)no-repeat;
    position: absolute;
    width: 102px;
    left: -102px;
    top: 0;
    height: 689px;
}
.main-sotay-content{
    position: relative;
    background: #fff;
    z-index: 9;
    border: 1px solid #F6F6F6;
    padding: 30px;
    min-height: 800px;
}
.feature-so-tay-gia-dung{
    margin-bottom:14px;
    padding-left: 15px;
    padding-right: 15px;
}
.wr-video .block-content{
     padding:15px;
    background:#fff;
}
.sidebar .wr-video .item-video{
    padding:15px 0;
}
.wr-video .item-video a{
    display:block;
}
.item-video .video-play-overlay{
background: url(../images/play_icon.png)no-repeat center;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: -35px;
}
.sidebar .wr-video .item-video:first-child{
        padding-top:0;
    }

.wr-video .item-video .ThumbItem{
      display: block;
    position: relative;
}
.wr-video h3{
    font-size:15px;
    font-weight:bold;
}
.wr-video .ThumbItem img{
    border: 1px solid #EFEFEF;
    max-width: 100%;
    margin: 0 auto;
    /* text-align: center; */
    display: block;
}
.sidebar .wr-video .item-video .info-video{
    width:60%;
    float:left;
    padding-left: 10px;
}
.wr-video-full .item-video{
        padding: 10px 15px!important;
}
.item-video .wr-element-video{
   
    margin: 0;
    font-size: 13px;
    padding-left:25px;
}
.item-video .wr-local{
    background:url(../images/icon_local.png)no-repeat;
        height: 78px;
}
.item-video .wr-date-video{
    background:url(../images/icon_date.png)no-repeat;
    
}
.wr-video .extend-video{
    color:#cc0000;
    font-weight:bold;
    text-align:right;
    float:right;
}
.item-video .wr-time-video{
    background:url(../images/icon_time.png)no-repeat;
    
}
.ui-widget-content{
    background-image: none!important;
}
/*slider*/
.sotay-content-slider {
    padding-bottom: 15px;
}
.sotay-content-slider .itemManual{
    padding: 0;
    width: 20%;
    float: left;
    margin-bottom:7px;
}
.sotay-content-slider .itemManual .wr-manual-item{
    border: 1px solid #dbdbdb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
   margin-right: 15px;
    border-radius: 5px;

}
.sotay-content-slider .itemManual:first-child .wr-manual-item{
    margin-left:0;
}
.sotay-content-slider .itemManual:last-child .wr-manual-item{
    margin-right:0;
}
.sotay-content-slider .itemManual a{
    line-height:0;
    display: block;
    position:relative;
}
.sotay-content-slider .item-manual-title::after{
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
}
.sotay-content-slider .itemManual img{
    display: block;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 10px;
    -o-border-top-left-radius: 10px;
    border-top-left-radius: 5px;

    -moz-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 10px;
    -o-border-top-right-radius: 10px;
    border-top-right-radius: 5px;

    margin: 0 auto;
    width: 100%;
}
.sotay-content-slider .itemManual .title{

        background: #505051;
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-border-bottom-left-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    -o-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.sotay-content-slider .itemManual .title{
    text-align:center;
    color:#fff;
    line-height:1.5em;
    padding:8px 5px;
    font-size:13px;
}

.sotay-detail-container .full-thumnail{
    margin-bottom: 15px;
}
.sotay-detail-container .product-related-block .product-item img{
    text-align: center;
    max-height: 150px;
    width: 100%;
    display: block;
    margin: 0 auto;
}
.sotay-detail-container .product-related-block .product-item{
    padding: 5px 5px;
    background: #fff;
    margin: 15px 0;
    overflow: hidden;
    border: 1px solid #E9E9E9;
}
.sotay-detail-container .product-related-block .product-title{
    font-weight:bold;
    color:#0c733c;
    text-align:center;
    padding: 5px 0;
    display:block;
}
.sotay-detail-container .product-related-block .product-title:hover{
    color:#cc0000;
    
}
.sotay-detail-container .full-thumnail img{
max-width: 100%;
    /* width: 100%; */
    margin: 0 auto;
    /* text-align: center; */
    display: block;
}
.form-search-manual {
       background: #DDDDDD;
       padding-top: 15px;
       padding-bottom: 15px;
}
.form-search-manual .form-search-text{
    font-weight: bold;
}
.form-search-manual form{
    position:relative;
}
.form-search-manual .submit{
    position: absolute;
    top: 6px;
    /* left: 0; */
    right: 0;
    bottom: 6px;
    width: 55px;
    text-indent: -9999px;
    margin: 0;
    border: none;
    padding: 0;
    height: 30px;
    background: url(../images/btn-search-manual.png)no-repeat center;
    background-size: contain;
}
.form-search-manual .text-field::-webkit-input-placeholder{
    color:#666;
}
.form-search-manual .text-field:-moz-placeholder { /* Firefox 18- */
   color:#666;
}
.form-search-manual .text-field{
    line-height: 20px;    background:#fff;
    padding: 10px 50px 10px 10px;
    border: 1px solid #dbdbdb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 5px;
    width:100%;
}

/*text welcome*/
.manual-container .text-welcome-block{
    z-index:0;
        padding: 42px 48px 10px 130px;
    height: 265px;
    position: absolute;
    top: -56px;
    left: 100px;
    width: 473px;
    background: url(../images/messenger_box.png);
    background-size:cover;
}
.manual-container .text-welcome-block .text-welcome{
    font-size: 35px;color:#000;
}
.manual-container .text-welcome-block .sub-text{
    font-size: 18px;
    color:#000;
}
/*Block search*/

.manual-container .breadcrumb{margin:10px 0;}
.manual-container .breadcrumb a{color:#000;}
.manual-container .top-block{
    height: 350px;
}
.ask-question-form{
    position:relative;
     margin-top: 100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 5px;
    background: #3D8B61;
        padding: 30px;
    float: right;
    width: 55%;
    
}
.ask-question-form input[type=text]{
    background: #fff;
    font-size: 16px;
    padding: 5px 50px 5px 5px;
    border: 1px solid #347851;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 5px;
    width: 96%;
    display: inline-block;
    margin: 0 auto;
    line-height: 36px;
}
.ask-question-form input[type=submit]{
   margin-left: -66px;
   cursor:pointer;
    border-left: 1px solid #dbdbdb;
    text-indent: -9999px;
    display: inline-block;
    border-top: none;
    border-right: none;
    border-bottom: none;
    width: 48px;
    margin-top: 0;
    padding: 0;
    height: 45px;
    background: url(images/prettyPhoto/mitsu/btn-search-manual.png)no-repeat center;
}
.ask-question-form .text{
  color: #fff;
    text-align: center;
    font-weight: bold;
    line-height: 0;
    font-size: 16px;
    padding: 0 0 10px 0;
}
/*end block search*/

.so-tay-gia-dung-page{
    margin: 0 auto;
}

.so-tay-gia-dung-page .manual-container{
    position:relative;
}
.so-tay-gia-dung-page .manual-container-category-page,.so-tay-gia-dung-page .manual-container-detail-page{
    position: relative;   
}
.so-tay-gia-dung-page .top-block-category{
    margin:0;
}
.so-tay-gia-dung-page .top-block-category ul{
        margin: 0;
    padding: 0;
}
.so-tay-gia-dung-page .top-block-category li{
    float:left;
}
.so-tay-gia-dung-page .top-block-category li a{
background: #0C733C;
    padding: 8px 30px;
    color: #fff;
    font-weight:bold;
    display: inline-block;
    margin: 0 5px;
        -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}
.so-tay-gia-dung-page .top-block-category li a:hover,.so-tay-gia-dung-page .top-block-category li a.active{
    background: #E8232D;
    color:#fff;
}
.so-tay-gia-dung-page .top-block-category li a:first-child{
    margin-left:0;
}
.sotay-content table{
    border-collapse: collapse;
        width: 100%!important;
}
.sotay-content table td,.sotay-content table th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
.sotay-content iframe {
    max-width: 100%!important;
}
.sotay-content table td{
    padding: 5px 10px;
    line-height: 1em;
}
.sotay-content img{
    max-width:100%;
}
.manual-container .block-title,.manual-container .block-title a{
    color: #fff;
    background: #0c733c;
    padding: 7px 10px;
    font-size: 15px;
    font-weight: bold;
    margin: 0;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
}

.wr-related-manual .block-content{
    background:#fff;
    padding: 14px;
}

.sidebar .item-sotay{
    border-bottom:1px solid #ccc;
    padding:15px 0;
}
.sidebar .item-sotay p{
    margin:0;
    font-weight:bold;
}
.sidebar .item-sotay:first-child{
    padding-top:0;
}
.sidebar .item-sotay .ThumbItem{
    float:left;
    width:40%;
    padding-right: 14px;
}
.wr-related-manual .item-manual:last-child{
    border-bottom:none;
}
.wr-related-manual .item-manual .title-manual{
    padding-left: 10px;
    width: 60%;
    font-weight:bold;
    margin:0;
    float:left;
    background: url(../images/dotter-manual-item.jpg)no-repeat left top;
    line-height: 20px;
}
.so-tay-gia-dung-page .wr-playlist{
    background: #fff;    padding: 30px;
}
.so-tay-gia-dung-page .accordion-section-content{
    display:none;
}
.so-tay-gia-dung-page .playlist-item{
    border-bottom: 1px solid #000;
    /* margin: 15px 0; */
    padding: 15px 0;
}
.playlist-page .item-video{
        margin-bottom: 30px;
}
.playlist-page .item-video .ThumbItem img{
        max-width: 100%;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.playlist-page .item-video .ThumbItem a{
    position:relative;
    display:block;
    line-height:0;
}
.playlist-page .item-video h3{
    font-size: 15px;
    height: 52px;
    font-weight: bold;
    margin-left:0;
}

.faq-container .faq-item {
    background: #FAFAFA;
    margin-bottom: 50px;
    padding: 20px;
    position: relative;
    border: 1px solid #F0F0F0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.add-faq-block .not-found-text{
    text-align:right;margin:0;font-size: 13px; line-height: 19px;
}
.faq-container .faq-item:first-child{
        margin-top: 15px;
}
.faq-container .faq-item h3{
    font-weight:bold;
}
.faq-container .faq-item .ticket-faq{
     position: absolute;
    top: -35px;
    right: -24px;
    z-index: 99;
}
.faq-form input,.faq-form textarea{
background: #FAFAFA;
    padding: 10px;
    border: 1px solid #CDCDCD;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 5px;
    width: 100%;
    margin: 15px 0;
}
.faq-form textarea {

    height:200px
}
.btn-ask-question{
margin: 0 auto;
    background: url(../images/btn-ask-question.png)no-repeat center;
    background-size: contain;
    width: 100%;
    color: #fff;
    display: block;
    height: 42px;
    /* font-size: 13px; */
    /* line-height: 37px; */
    text-align: center;
    padding-left: 23px;
    float: right;
    border: none;
    text-indent: -9999px;
}
.btn-ask-question:hover{
    color:#fff;
}
/*Root menu*/
.root-manual-category{
    position:relative;
    z-index:9;
    margin-top:253px;
    margin-bottom:50px;
}
.root-manual-category .item-root{
    display:block;
    margin:0;
}
.root-manual-category .item-root a{
    display: block;
    color: #F0E5E7;
    font-weight: bold;
    text-align: center;
    padding: 18px 28px;
    text-transform: uppercase;
}
.root-manual-category .item-root a:hover{color:#000;}
.root-manual-category .item-root:nth-child(1){
    background:#2F6EA8;
}
.root-manual-category .item-root:nth-child(2){
    background:#199597;
}
.root-manual-category .item-root:nth-child(3){
    background:#705EAC;
}
/*End root menu*/

/*topic manual*/
.manual-container .topic-manual{
    border:1px solid #bcbcbc;
    background: #efeeee;
    margin-bottom: 28px;
}
.manual-container .name-manual{
    background:#efeeee;
    display:block;
}
.manual-container .name-manual a{
display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 25px 0;
    color: #000;
}
.manual-container .name-manual a:hover{
    color:#cc0000;
}

.wr-follow-social .follow-social-icon,.manual-container .support-block{
        padding: 15px 0;
}
.wr-follow-social .follow-social-icon{
        width: 70%;
    margin: 0 auto;
    text-align: center
}
.manual-container-category-page .wr-video{
		 padding-bottom: 15px;
}

/*topic */
.manual-topic-container{
    padding: 20px;
}
.manual-topic-container table{
	width:100%!important;
	border-collapse: collapse;
}
.manual-topic-container table,.manual-topic-container th,.manual-topic-container td{
	 border: 1px solid #ccc;
	 padding:10px;
	 vertical-align: top;
}
.manual-topic-container .content-manual{    text-align: justify;}
.manual-topic-container .content-manual ul{
       list-style-type: circle;
    list-style: initial;
}
.manual-topic-container .content-manual ol{
        list-style-type: amharic-abegede;
}
.manual-topic-container .content-manual li{
        display: list-item;
}
.manual-topic-container img{
    max-width:100%;
}
.main-sotay-content .post-title{
font-size: 22px;
    color: #ED242C;
    line-height: 30px;

}
.main-sotay-content img{
    max-width:100%;
}
.main-sotay-content .sotay-content-left{

}
.col-md-2.sotay-content-left{
display: inline-block;
}
    
.main-sotay-content .datePublish{
    font-style: italic;
    margin: 5px 0;
}
.manual-container-detail-page .bottom-manual-block{
    margin-top: 20px;
     margin-bottom: 20px;
}

.sotay-detail-container .content-manual h2{
        line-height: 1.5em;    
        font-size: 20px;
}
.manual-container-detail-page .content-manual h3{font-size: 18px;}
.manual-container-detail-page .bottom-manual-block .text{
    font-weight:bold;
}
.manual-container-detail-page .bottom-manual-block .shareFacebook{
        width: 100%;
    height: 40px;
       padding: 0 0 0 20px;
    margin: 0;
    display: block;
    text-align: center;
    background: url(../images/bg_share_fb.png)no-repeat;
    background-size: cover;
    font-weight: bold; 
    line-height: 40px;
    color: #fff;
}
.manual-container-detail-page .bottom-manual-block .shareEmail{
width: 100%;
    margin: 8px 0;
    padding-left: 25px;
    height: 40px;
    background: url(../images/bg_share_email.png)no-repeat;
    background-size: cover;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    color: #fff;
    display: block;
}
.element-wrap {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: middle;
    z-index: 0;
    margin: 0 auto;
}
.hover-element{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    transition: background-color .2s linear;
     background: rgba(0,0,0,0.3);
}
.element-wrap:hover .hover-element,.element-wrap.active .hover-element{
    background:none;
}
.hover-element-article{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    transition: background-color .2s linear;
     
      background:none;
}
.hover-element-article:hover,.hover-element-article.active{
   background: rgba(0,0,0,0.3);
}
.manual-container-detail-page .bottom-manual-block .make-question-link{
	margin: 8px 0;
    width: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    height: 40px;
    background-size: contain;
    background: #D52918;
    text-align: center;
    font-weight: bold;
    display: block;
    line-height: 40px;
    color: #fff;
    display: block;
}
.ask-question-form-popup .submit-button{
    border-radius: 5px;
    border: none;
    padding: 10px 53px;
    background: #BF2314;
    margin: 0 auto;
    display: block;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
}
.ask-question-form-popup .question-title{font-weight:bold;text-align:center;}
.ask-question-form-popup .question-form-popup{
    width: 90%;
    margin: 0 auto;
}
.ask-question-form-popup input[type="text"], .ask-question-form-popup input[type="tel"],.ask-question-form-popup input[type="email"] {
    padding: 8px;
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 5px;
}
.ask-question-form-popup select{
    padding:5px;
    border: 1px solid #dedede;
    border-radius: 5px;
        width: 100%;
}
.ask-question-form-popup textarea{
    padding:5px;
        width: 100%;
        border: 1px solid #dedede;
    border-radius: 5px;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
width: 100% !important;
}

/*List item by category*/
.sub-cat-manual-container{
    padding-top: 15px;
    padding-bottom: 15px;
}
.so-tay-gia-dung-page .top-item-article{
        margin-bottom: 15px;
}
.so-tay-gia-dung-page .top-item-article .item-manual{
    display: block;
    min-height: 384px;
    padding-bottom:15px;
}
.so-tay-gia-dung-page .item-manual .thumbnail-item{   
    position:relative;
    padding: 0;
}
.so-tay-gia-dung-page .item-manual .thumbnail-item a{
    display:block;
}
.so-tay-gia-dung-page .item-manual .thumbnail-item img{    
    display: block;
        border: 1px solid #EFEFEF;
    max-width: 100%;
    margin: 0 auto;}
.so-tay-gia-dung-page .bottom-item-article .title-manual a{
    color:#000;
}
.so-tay-gia-dung-page .bottom-item-article .title-manual a:hover{
    color:#cc0000;
}

.so-tay-gia-dung-page .top-item-article .title-manual a {
    color: #cc0000;
    }
.so-tay-gia-dung-page .item-manual .title-manual a{  
    font-size:15px; 
    padding: 0;
    line-height: 15px;
    

}
.so-tay-gia-dung-page .bottom-item-article .item-manual{
    padding-bottom:15px;
    height: 130px;
}
.so-tay-gia-dung-page .cat-label{
    background: #0C733C;
    padding: 5px 7px;
    display: initial;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
}
.so-tay-gia-dung-page .post-title{
        line-height: 35px;
}
.so-tay-gia-dung-page .top-item-article .title-manual a:hover{
    color:#000;
}

.so-tay-gia-dung-page .top-item-article .title-manual{
  min-height:52px;
    margin:0;
}
.so-tay-gia-dung-page .item-manual .title-manual{
    margin:0;
}
.so-tay-gia-dung-page .item-manual .createDate{
        margin: 0;
    padding: 5px 0;    font-weight: normal;
    font-style: italic;
    font-size: 12px;
}
.so-tay-gia-dung-page .item-manual .description{
    margin: 7px 0;
}
.so-tay-gia-dung-page .item-manual .highlight{
    color:#cc0000;
}
.so-tay-gia-dung-page .item-manual .title:hover{
    color:#cc0000
}
/*
    list-product-container: trang danh sach sp
*/
.list-product-container{

}
.list-product-container .product-item .col-md-4{
    padding:0 10px;
}
.list-product-container .product-item{
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
}
.list-product-container .product-item .title{
    color:#0C733C;
}
.list-product-container .product-item .seemore-link{
    font-size: 20px;
    border-radius: 4px;
    background-color: #0C733C;
    padding: 8px 9px;
    color: #fff;
}
.list-product-container .product-item a{
    font-size:20px;
}
.list-product-container .product-item .thumbnail-item{
    display:inline-block;
    float:left;
    width:40%;
}
.list-product-container .product-item .description{
    display:inline-block;
    float:left;
    padding: 0 10px;
    width:60%;
}

/*shoping-agent*/
.shoping-agent-link{
    position: fixed;
    top: 50%;
    margin-top:-80px;
   
	 float: left;
    right: 0px;
}

#order-now{
    display:none;
    margin-bottom:-13px;
	max-width:604px;
}

#shoping-agent .agent a{
    float: left;
    width: 146px;
	    height: 73px;
    padding: 5px 5px;
    margin: 5px 0;
}
#shoping-agent .agent .mt-icon {
    
    height: 54px;
    margin: 0 auto;
    text-indent: -9999px;
    position: relative;
    display: block;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    transition: 400ms;
}
#shoping-agent .agent .cholon-icon,#shoping-agent .agent .cholon-icon:after{
    background: url(../images/mt/cholon-hover.png);width:115px;
}
#shoping-agent .agent .nguyenkim-icon,#shoping-agent .agent .nguyenkim-icon:after{
    background: url(../images/mt/nguyenkim-hover.png);width:115px;
}
#shoping-agent .agent .dienmayxanh-icon,#shoping-agent .agent .dienmayxanh-icon:after{
    background: url(../images/mt/dienmayxanh-hover.png);width:111px;
}
#shoping-agent .agent .thienhoa-icon,#shoping-agent .agent .thienhoa-icon:after{
    background: url(../images/mt/thienhoa-hover.png);width:68px;
}
#shoping-agent .agent .cholon-icon:after {
    content: '';
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    background-position: center bottom;
    background-repeat: no-repeat;
    -webkit-transition: 400ms;
    -moz-transition: 400ms;
    transition: 400ms;
}
#shoping-agent .agent a:hover .mt-icon{
    background-position: 0 100%;
}

#shoping-agent ul .li:last-child{border-right: none!important}
#shoping-agent ul{    padding: 0 10px;}
.fancybox-shoping-agent .fancybox-skin{
        padding: 0!important;
}
.fancybox-shoping-agent .fancybox-inner{
    width:auto;
}
.fancybox-shoping-agent .fancybox-close{
    background-image: url('../images/btnCloseShopping.png')!important;
    width:17px;
    height:17px;
    right: 10px;    background-size: contain;
    top: 10px;
}
#shoping-agent .title{
    background-color: #0c733c;
    margin:0;
    padding:5px 15px;
    font-weight:bold;
    color:#fff;
}

@media only screen and (max-width: 465px) {
    
    .manual-container .text-welcome-block{

    }
	.comment-popup-link{
		position: inherit!important;
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	#overview{display:none;}
	.tech-infomation table{
		
	}
	
}
@media only screen and (max-width: 1199px) {
    .so-tay-gia-dung-page .top-block-category li a{        
    padding: 6px 18px;
    font-size: 14px;
    margin: 0px 3px;
    }
}

@media only screen and (max-width: 991px) {
	.so-tay-gia-dung-page .item-manual .description{
		height: 78px;
	}
    .bg-sotaygiadung{
        background:none;
    }
	.row-eq-height{
		 display: block!important;
	}
    .Imgproduct{
            padding: 15px;
    }
    .featureInfo .where-to-buy-btn{
        margin: 0 auto;
        text-align: center;
        display: block;
        /* max-width: 100%; */
        float: none;
        /* clear: both; */
        width: 150px;
    }
	.container-align .align-bottom{
		position:initial!important;
        right: initial!important;
	}
    .row-eq-height{display:block;}
    .manual-container-category-page{
        
        position: relative;
        z-index: 9;
    }
    .manual-container .top-block{
            height: auto;
    }
   
    .text-welcome-block{
        position:relative;
        margin:0 auto;
    }
    .ask-question-form{
        margin: 0 auto;
        float: none;
        width: 100%;
    }
    .root-manual-category{
            margin: 20px 0;
    }
    .sotay-content-slider .itemManual{
        width:33%;
    }
    .wr-video .item-video .info-activation,
    .wr-video .item-video .ThumbItem
    {
        width:100%;
        margin: 7px 0;
    }
    .wr-video .item-activation .info-activation{
            padding-left: 0;
    }
    .wr-video .item-video .ThumbItem{
            padding-right: 0;
    }
    sidebar .wr-video .item-video{
        padding:0;
    }
  
    .wr-follow-social .follow-social-icon{
        width:100%;
    }
    .add-faq-block{
        margin:15px 0;
    }
    .add-faq-block p{
           line-height: 42px;
    }
     .add-faq-block .not-found-text{
   line-height: 42px;
}
     .so-tay-gia-dung-page .top-block-category li a{
         padding: 8px 16px;    margin: 0 3px;font-size:13px;
     }
}

@media only screen and (max-width: 767px) {
	.so-tay-gia-dung-page .item-manual .description{
		height: auto;
	}
    .so-tay-gia-dung-page{
        margin-top:15px!important;
    }
    .main-sotay-content{
        min-height: auto;
    }
    .so-tay-gia-dung-page .bottom-item-article .item-manual{
        height:auto;
    }
    .add-faq-block .not-found-text{
        text-align:center;
        display:block;
    }
    .so-tay-gia-dung-page{
        margin-bottom:0 !important;
    }
    .btn-ask-question{
            text-align: center;
    display: block;
    margin: 0 auto;
    float: none;
    padding-left: 0;
    width: 100%;
    }
    .top-block-category{
        margin-bottom:15px!important;
    }
    .so-tay-gia-dung-page .top-block-category li{
        width:100%;
    }
    .so-tay-gia-dung-page .top-block-category li a{
        -moz-border-radius: inherit;
        -webkit-border-radius: inherit;
        width:100%;
        text-align: center;
        border-bottom: 1px solid #ccc;
        background: #fff;
        color: #0C733C;
    }
    .so-tay-gia-dung-page .top-block-category li a:hover, .so-tay-gia-dung-page .top-block-category li a.active{
        text-align: center;
        color:#fff;
        background: #0C733C;
    }
    .manual-container .text-welcome-block{

    }
   
     .sotay-content-slider .itemManual{
        width:50%;
    }
     .sub-cat-manual-container .item-manual .thumbnail-item{height:auto!important}
	 .item-video .wr-local{
		height:auto;
	 }
	 .shoping-agent-link{
		bottom: 44px;
		top: inherit;
		margin-top: 0;
		z-index:99;
	}
	#featurePro .sub-product-category{
		    height: auto;
	}
}
.fridge-content p, .fridge-content span, .fridge-content strong{
	color:black;
	font-size:15px;
}

.fridge-content .image-align{
	width: 205px;
	height: 112px;
} 

.neuro-table {
    border: 0px !important;
}

    .neuro-table td {
        background-color: white;
        border: 0px;
    }

    .neuro-table img {
        width: auto;
        height: 90px;
    }

    .neuro-table strong {
        font-size: 15px;
    }

    .neuro-table .image-item {
        padding: 0px !important;
    }
	
.image-forced {
    height: 258px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.container-align{
	position:relative;
}

.container-align .align-bottom{
	position:absolute;
	bottom: 0;
	right: 15px;
	width: 95%;
}