@font-face {
	font-family: 'Conv_HelveticaNeue';		
	src: url('../fonts/HelveticaNeue.eot');
	src: local('☺'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype'), url('../fonts/HelveticaNeue.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_HelveticaNeue-Bold';
	src: url('../fonts/HelveticaNeue-Bold.eot');
	src: local('☺'), url('../fonts/HelveticaNeue-Bold.woff') format('woff'), url('../fonts/HelveticaNeue-Bold.ttf') format('truetype'), url('../fonts/HelveticaNeue-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_HelveticaNeue-Medium';
	src: url('../fonts/HelveticaNeue-Medium.eot');
	src: local('☺'), url('../fonts/HelveticaNeue-Medium.woff') format('woff'), url('../fonts/HelveticaNeue-Medium.ttf') format('truetype'), url('../fonts/HelveticaNeue-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_HelveticaNeue-Light';
	src: url('../fonts/HelveticaNeue-Light.eot');
	src: local('☺'), url('../fonts/HelveticaNeue-Light.woff') format('woff'), url('../fonts/HelveticaNeue-Light.ttf') format('truetype'), url('../fonts/HelveticaNeue-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
body {
	margin: 0;
	padding: 0;
}
html {
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}
body {	
	font-size: 14px;
	line-height: 1.78571em;
}
.clear {
	clear: both;
}
img{
	border:none;
	
	}
.header-container {
	background: #fff;
	width: 100%;	
	margin: 0;
	overflow: hidden
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.container {
	width: 1170px;
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto
}
.img-thumbnail {
	display: inline-block;
	max-width: 100%;
	height: auto;
	padding: 4px;
	line-height: 1.428571429;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out
}
.logo {
	padding-left: 0px;
}
.col-lg-2 {
	
}
.col-lg-4 {
	width: 33%;
}
.global {
	float:left;
	display:block;
	margin-left:180px;
}
.global ul {	
	padding-top: 15px;	
	list-style-type: none;		
}

.global ul li{
	float:left;
	padding:1px 16px 0 0;
	font-family: 'Conv_HelveticaNeue-Light';
	color: #000;
	font-size: 14px;
}
.global ul li a{
	color:#000;
	font-size: 14px;
	text-decoration:none;
}
.global ul li a:hover{
	color:#db0000;	
	text-decoration:none;
}
.global ul li i{
	float:left;
	margin-right:5px;
	}
.global ul li.arrow-001{
  float: left;
	text-align: left;
	font-size: 14px;
	
}
.global ul li.arrow-001 a{	
	background-image: url(../images/arrow-right-black.png);
	background-repeat: no-repeat;
	background-position:5px;	
	float:left;
	color:#000;
	font-size: 14px;
	text-decoration:none;
	padding: 0px 17px;	
	}
.global ul li.arrow-001 a:hover{
	background-image: url(../images/arrow-right.png);
	background-repeat: no-repeat;
	background-position:5px;
	color:#db0000;
}

.ver-line{
	background: url(../images/vertical-line.png) no-repeat;
	width:2px;
	height:29px;	
}	
.col-lg-2 {
	float: left;
}
.slogan {
	color: #000;
	font-size: 16px;
	text-transform: uppercase;	
	padding: 20px;
	float: left;
	font-family: 'Conv_HelveticaNeue-Medium';
	font-style:normal;
	width:115px;
}
.search-box {
	display: table-cell;
	vertical-align: middle;
	float: right;
	padding-top: 35px;
}
.search-box form {
	display: table;
	position: relative;
	top: -5px;
}
.ic-search {
	background: none repeat scroll 0px 0px transparent;
	border: 0px none;
	left: 10px;
	padding-right: 0px;
	position: absolute;
	top: 6px;
	min-width: 0px;
}
.search-box .query {
	background-color: #b4b5b8;
	padding: 5px 5px 5px 25px;
	border: none;
	border-radius: 4px;
}
.search-box .btn-search {
	background: #abadaf;
	border: 0px none;
	color: #fff;
	border-radius: 4px;
	padding: 4px 3px;
	cursor: pointer;
	margin-left:5px;
}
.search-box .ic-search > i {
	color: #333;
	display: block;
	font-size: 14px;
	height: 25px;
}
i.fa {
	margin-right: 5px;
}
.fa-search {
	background: url(../images/ico-search.png) no-repeat;
	width:15px;
	height:14px;
}
/* Menu Bar */

.nav-container {
	position: relative;
	background: url(../images/bg-menu.png) repeat-x;
	width: 100%;
	height: 60px;
}


.background-header {
	position: absolute;
	z-index: 100;
	top: 165px;
	left: 0;
	
	max-width:100%;
}
.background-header img{
	max-width:100%;
	width:1360px;
	}
.right-wrap {
	position: absolute;
	right: 15%;
	top: 5px;
	width:190px;
	font-family: 'Conv_HelveticaNeue';
}
.language{
	display:block;
	float:right;
	margin-top:9px;
	}
.language .lanuageico {
	float: left;
	background: url(../images/global-ico.png) no-repeat;
	margin-right: 10px;
	width: 20px;
	height: 16px;
	margin-top: 0;
}
.language .function {
	float: left;
	text-align: left;
	font-size: 12px;
	border-bottom: solid 2px #cdcdcd;
	padding-bottom: 5px;
}
.language .function a {
	color: #222;
	text-decoration: none;
	float: left;
	background-image: url(../images/arrow-down.png);
	background-repeat: no-repeat;
	padding: 0 15px;
	line-height: 8px;
	font-family: 'Conv_HelveticaNeue';
}
.language .function a:hover {
	text-decoration: none;
	color: #f00;
	background-image: url(../images/arrow-right.png);
	background-repeat: no-repeat;
}
.language .function a.active {
	color: #f00;
	background-image: url(../images/arrow-right.png);
	background-repeat: no-repeat;
}
.hot-line {
	color: #222;
	font-size: 12px;
	text-align: left;
	
}
.hot-line .ic-call {
	float: left;
	margin-left:15px;
	margin-top: 5px;
	background: url(../images/call-ico.png) no-repeat;
	width: 20px;
	height: 16px;
	margin-right: 15px;
}
.number {
	padding-top:2px;
	float:left;
	font-family: 'Conv_HelveticaNeue';
	font-size:12px;
	font-weight: normal;
}
nav {
	width: 100%;
	font-family: 'Conv_HelveticaNeue-Medium';
	
}
ul {
	list-style: none;
	width: 100%;
}
li {
	display: inline-block;
}
a {
	display: block;
	text-decoration: none;
}
nav > ul {
	margin: 0 auto;
	width: 1170px;	
	positon: relative;
}
nav > ul li {
	float: left;		
	cursor: pointer;
	position:relative;
}
.marginTop{
	margin-top:17px;
	}

nav > ul li a.active {	
	text-decoration: none;
	text-transform: uppercase;
	background:#fff;	
	border-radius:5px 5px 0 0;
	padding: 14px 35px;	
	margin-top:6px;	
	color:#cc0000;
}
nav > ul li a {
	font-size: 15px;
	color: #000;	
	padding: 20px 35px;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;		
}
nav > ul li a:hover {
	text-decoration: none;
	background:#fff;	
	border-radius:5px 5px 0 0;	
	position: relative;
	color:#cc0000;	
	padding: 14px 35px;	
	margin-top:6px;	
}
nav ul li div.drop-menu {	
	width: auto;
	position: absolute;	
	z-index: 99999;
	background: -webkit-linear-gradient(#fff 60%, #c4c4c4); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff 60%, #c4c4c4); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff 60%, #c4c4c4); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff 60%, #c4c4c4); /* Standard syntax (must be last) */
	border-radius:7px;	
	top:52px;
	display:none;
	
	padding:5px 30px;
	
}
.product-menu{
	width:630px;
	margin:12px auto;
	}
.company-menu{
	width:260px;
	margin:0 auto;
	}
.list-about{	
	padding-bottom:5px;
	padding:0px;
	margin:5px 0;	
}
.list-about a{
	font-family: 'Conv_HelveticaNeue-Medium';
	font-size:13px;
	color:#000;
	padding:0px;
	border-bottom: solid 1px #dedede;
	padding-top:1px;		
	text-decoration:none;
	text-transform:none;
	font-weight:normal;
	}
.list-about a:hover{	
	color:#cc0000;
	text-decoration:none;
	padding:0;
	background:none;
	}

.arrow-drop{
	background:url(../images/arrow-drop.png) no-repeat;
	position:absolute;
	left:40px;
	z-index:9999999;
	width:56px;
	height:13px;
	top:-13px;
	}
nav ul li div.drop-menu .dropdown{
	list-style-type: none;	
	margin:5px;
	overflow: hidden;	
	
}
.line-drop{
	background: url(../images/line-drop.png) repeat-x;
	margin: 10px 0; 
	height:3px;
	}

.dropdown .Img-item{
	display:block;
	width:110px;	
	font-size:12px;
	margin:0 5px;
	font-family: 'Conv_HelveticaNeue';
	cursor:pointer;
	color:#000;
	line-height:16px;
	text-align:center;
	float:left;
	letter-spacing:-1px;
	}
.dropdown .Img-item .tt a{
	cursor:pointer;
	color:#000;
	text-decoration:none;
	text-transform:none;
	margin-top: 0px;
	padding:0;
	}
.dropdown .Img-item .tt a:hover{	
	color:#cc0000;
	text-decoration:none;
}

.dropdown .Img-item a{
	border:none;	
	text-align: center;	
	padding:0;
	padding-top:6px;
	}
.dropdown .Img-item a:hover{
	background: none;
	color:#cc0000;
	padding:0;
	}
nav > ul > li:hover > div.drop-menu { /* swap ":hover" with ".active" to allow this to work as a class */
	display:block;
}

.button-sub, .button-sub-red{
	padding:5px 10px;
	border-radius: 5px;
	border: solid 1px #ccc;
	color:#000;
	font-size:18px;
	cursor:pointer;
	font-family: 'Conv_HelveticaNeue';
	text-align:center;
	width:200px;
	box-shadow:0px 1px 2px #ccc;
	background: -webkit-linear-gradient(#fff, #efefef); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff, #efefef); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fff, #efefef); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #efefef); /* Standard syntax (must be last) */
}

.button-sub-red:hover, .button-sub:hover{ 
	background: -webkit-linear-gradient(#dd2a00, #c02500); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#dd2a00, #c02500); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#dd2a00, #c02500); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#dd2a00, #c02500); /* Standard syntax (must be last) */
	color:#fff;
	border: solid 1px #db0000
}
.col-50{
	width:40%;
	}
.menu-2{
	display:block;
	margin-top:20px;
	}
.col-1{
	width: 27%;
	margin-right: 15px;
	}
.col-2{
	width: 35%;
	}
.item-2{
	display:block;	
}
.item-2 a{
	font-family: 'Conv_HelveticaNeue-Medium';
	font-size:12px;
	padding:0;
	color:#000;
	margin:5px 0;	
	padding-top:1px;
	text-decoration:none;	
	text-transform:none;
	line-height:18px;
}
.item-2 a:hover{	
	color:#cc0000;
	padding:0px;
	text-decoration:none;	
	text-transform:none;
	background:none;	
}
.black-bullet{
	float:left;
	background:url(../images/black-bullet.png) no-repeat;
	width:5px;
	height:15px;
	margin-right:8px;
	margin-top: 5px;
	display:block;
}
.bg-submenu{
	background:#000;
	width:100%;
	height:35px;
}
div.subnav {	
	position: absolute;	
	height: 35px;
	top:60px;
	left:0;
	z-index: 99999;
	width:100%;
	display:block;
}
ul.submenu {
	margin: 0px auto;
	width: 1000px;	
	padding-left: 0px;
}

nav ul li div.subnav ul.submenu li.sub:last-child {
	border-right: none;
}
nav ul li div.subnav ul.submenu li.sub {
	float: left;
	border-right: solid 1px #313131 !important;
	margin: 0;
	padding: 0;
	height: 35px;
}
nav ul li div.subnav ul.submenu li.sub a {
	font-size: 14px;
	color: #fff;
	border-bottom: none;
	text-transform: none;
	padding: 5px 20px;
}
nav ul li div.subnav ul.submenu li.sub a:hover {
	background: -webkit-linear-gradient(#e6e6e6, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e6e6e6, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e6e6e6, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e6e6e6, #fff); /* Standard syntax (must be last) */
	color: #db0000;	
	padding: 5px 20px;
	margin-top:0px;
	font-weight:normal;
	border-radius: 0;
}
nav ul li div.subnav ul.submenu li.sub .active {
	background: -webkit-linear-gradient(#e6e6e6, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e6e6e6, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e6e6e6, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e6e6e6, #fff); /* Standard syntax (must be last) */
	color: #db0000;	
	padding: 5px 20px;
	margin-top:0px;
	font-weight:normal;
	border-radius: 0;
}
 nav > ul > li:hover > a {  
	font-size: 15px;
	text-decoration: none;
	background:#fff;	
	border-radius:5px 5px 0 0;
	padding:14px 35px;
	margin-top:6px;
	color:#db0000;
}
/* Slider Banner */
.slider_container {
	position: relative;
	margin: 0 auto;	
	width: 1300px;
	height: 500px;
	overflow: hidden;
}

.slide {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1300px;
	height: 500px;
	overflow: hidden;
}

.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
	background: url(../images/b21.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb21 div {
	background-position: -5px -5px;
}
.jssorb21 div:hover, .jssorb21 .av:hover {
	background-position: -35px -5px;
}
.jssorb21 .av {
	background-position: -65px -5px;
}
.jssorb21 .dn, .jssorb21 .dn:hover {
	background-position: -95px -5px;
}
.jssora21l, .jssora21r, .jssora21ldn, .jssora21rdn {
	position: absolute;
	cursor: pointer;
	display: block;
	background: url(../images/a21.png) center center no-repeat;
	overflow: hidden;
}
.jssora21l {
	background-position: -3px -33px;
}
.jssora21r {
	background-position: -63px -33px;
}
.jssora21l:hover {
	background-position: -123px -33px;
}
.jssora21r:hover {
	background-position: -183px -33px;
}
.jssora21ldn {
	background-position: -243px -33px;
}
.jssora21rdn {
	background-position: -303px -33px;
}
/* feature Product*/
#feature {
	width: 100%;
	background: #fff;
}
#feature-carousel {
	background: url(../images/bg-carousel.jpg) repeat-x;
	width: 100%;
	height: 173px;
}
.content-carousel {
	width: 1000px;
	margin: 0 auto;
}
.slider-bt a.title{
	font-size: 13px;
	color: #fff;	
	text-align: center;
	cursor:pointer;
	font-family: 'Conv_HelveticaNeue-Light';
}
.slider-bt a.title:hover {
	color: #ff0;	
	text-decoration: underline;
	
}

.slider a.title {
	font-size:13px;
	color: #111 !important;
	text-align: left;
	text-align: center;
	line-height:17px;
	font-family: 'Conv_HelveticaNeue-Light';
}
.slider a.other {
	color: #000;
	font-size: 11px;
	letter-spacing:-1px;
	text-align: center;
	line-height: 10px;
	font-weight:bold;
	font-family: "Myriad Pro", arial;
}
/************************************************
	      JCAROUSEL LITE		
************************************************/
#list-bottom {	
	width:560px;	
	position: relative;
	margin:20px 0;
	
}
.slider-bt {
	float: left;
	left: -1000px;
	margin: 5px 35px;
	position: relative;
	visibility: hidden;
}
.slider-bt ul {
	height: 140px;	
}
.slider-bt ul li {
	padding: 0px;
	width:155px;
	height:160px
}
.slide-bt ul li a img {
	cursor: pointer;
	height: 130px;
	width: 145px;		
}
.prev-bt {
	position: absolute;
	top: 65px;
	left: 3px;
	float: left;
	z-index: 100;
}
.next-bt {
	position: absolute;
	top: 65px;
	right: 30px;
	float: left;
	z-index: 100;
}
#list {
	height: 173px;
	width: 950px;
	margin: 0px auto;
	position: relative;
}
.slider {
	float: left;
	left: -5000px;
	margin: 0px 25px;
	position: relative;
	visibility: hidden;
}
.slider ul {
	height: 173px;
	width: 850px;
}
.slider ul li {
	padding: 0px;
}
.slider ul li img {
	cursor: pointer;
	height: 125px;
	width: 165px;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 9px;
}
.prev {
	position: absolute;
	top: 65px;
	left: 3px;
	float: left;
	z-index: 100;
}
.next {
	position: absolute;
	top: 65px;
	right: 3px;
	float: left;
	z-index: 100;
}
#featurePro {
	width: 100%;
	background: url(../images/bg-product01.jpg) left bottom no-repeat;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.content-01 {
	width: 1000px;
	margin: 0px auto;
	margin-top: 40px;
}
.item {
	margin: 0px 4px 40px 4px;
	width: 325px;
	float: left;
	
	position: relative;
}
.item-pro {
	margin: 0px 10px 40px 0px;
	width: 240px;
	float: left;
	background: #fff;
	position: relative;
}
.item-pro img:hover {
	border: none;
}
.item img, .item-ad img, .item-pro img {
	opacity: 1;
	transition: all 1s ease 0s;
	width: 100%;
	height: auto;
	display: block;
}
.item-title {
	padding: 3px 0;
	position: absolute;
	top: 5px;
	right: 10px;
	color: #fb0007;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: solid 1px #cacbcb;
	font-family: Arial;
}
.title-pro {
	padding: 0px 0;
	position: absolute;
	top: 5px;
	right: 10px;
	color: #fb0007;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: solid 1px #cacbcb;
}
.title-pro a {
	text-decoraton: none;
	font-weight: normal;
	color: #fb0007;
	font-family:arial;
}
.title-pro a:hover {
	text-decoraton: none;
	font-weight: bold;
}
.ic-arrow {
	background: url(../images/icoArrow.png);
	cursor: pointer;
	margin-right: 10px;
	width: 21px;
	height: 21px;
	float: left;
	margin-top: 3px
}
.item-more a {
	padding: 3px 0;
	position: absolute;
	bottom: 5px;
	right: 15px;
	color: #fb0007;
	font-size: 14px;
	font-weight: normal;
	text-decoration: none;
	font-family:arial;
}
.item-more a:hover {
	text-decoration: underline;
}
.item-more2 a {
	padding: 3px 0;
	position: absolute;
	bottom: 40px;
	left: 110px;
	color: #fb0007;
	font-size: 15px;
	font-weight: normal;
	text-decoration: none;
	font-family:arial;
}
.item-more2 a:hover {
	text-decoration: underline;
}
.advertise {
	text-align: center;
	margin: 0 auto;
	width: 50%;
}
.advertise .item-ad {
	float: left;
	margin: 0px 20px 30px 0;
	width: 215px;
}
h2.heading {
	color: #fb0007;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: lighter;
	font-family: arial;
}
h4 {
	color: #000;
	font-family: 'Conv_HelveticaNeue-Light';
	font-size: 80px;
	font-weight: lighter;
	margin: 40px 0;
}
h3 {
	color: #fb0007;
	font-family: 'Conv_HelveticaNeue-Light';
	font-size: 60px;
	font-weight: lighter;
	margin-top: 40px;
	margin-bottom: 20px;
}
h5{
	color:#660000;
	font-family: 'Conv_HelveticaNeue-Light';
	font-size: 43px;
	font-weight: lighter;
	margin-top:60px;
	margin-bottom: 20px;
	text-transform:uppercase;
	}
.brown-arr{
	margin:0 10px;
	width:30px;
	height:47px;	
	}
.brown-arr-left{	
	width:25px;	
	}
.brown-arr-left img{
	margin-right: 10px;
}
.brown-SKU{
	background:#660000;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	font-size:48px;
	text-align:center;
	padding:20px 30px;
	width:445px;
	font-family: 'Conv_HelveticaNeue-Medium';
	}
.bg-gradient {
	background: -webkit-linear-gradient(#fff, #ddd); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#fff, #ddd); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#fff, #ddd); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#fff, #ddd);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#ddd');
	box-shadow: 0px 3px 3px #c9c9c9;
	z-index: 1;
	float: left;
	width: 100%
}
.container-feature {
	width: 1150px;
	margin: 0 auto;
	position: relative;
	padding:10px 0;
}
.container-product{
	width:1000px;
	margin:20px auto 30px;
	position: relative;
	overflow:hidden;
	}
.featureInfo {	
	width: 49%;
	font-size: 18px;
	color: #000;
	line-height: 25px;
}
.featureInfo .doc {
	font-size: 18px;
	color: #000;
	font-family: 'Conv_HelveticaNeue-Light';
	line-height: 25px;
}
.featureInfo .doc-01 {
	font-size: 18px;
	color: #000;
	font-family: 'Conv_HelveticaNeue-Light';
	line-height: 25px;
	margin-left:20px;
}
.bullet-01{
	border-radius:50%;
	width:6px;
	height:6px;
	float:left;
	background: #333;
	margin-top:10px;
	margin-right: 10px;
}
.featureInfo .title-color{
	font-size:22px;	
	color:#000;
	line-height: 30px;
	font-family: 'Conv_HelveticaNeue-Medium';
	}
.grey-color{
	border-radius:50%;
	background:#5c5c5e;
	border:solid 1px #000;
	width:20px;
	float:left;
	height:20px;	
	margin-right:10px;
	margin: 5px 5px 5px 0
	}
.tx-color{
	font-family: 'Conv_HelveticaNeue-Medium';
	color:#000;
	font-size:16px;
	margin-left: 35px;
	padding-top:3px
	}
.clr{
	display:block;
	margin:7px 0;
	}
.btn-download-02{
	background: url(../images/bg-bt-download.png) no-repeat;
	float:left;
	font-family: 'Conv_HelveticaNeue-Medium';
	font-size:13px;
	text-align:center;
	color:#fff;
	height:36px;
	border:0;
	text-decoration:none;
	cursor:pointer;
	margin-right: 10px;
	margin-bottom:10px;
}
.btn-download-02:hover{
	text-decoration:none;
	color:#ff0
	}
.slider_container-02{
	width:100%;
	margin:20px auto;
	display:block;
	}
.slider_container-02 img{
	width:100%;
	}
.red-color{
	border-radius:50%;
	background:#aa1015;
	border:solid 1px #000;
	width:20px;	
	height:20px;
	float:left;
	margin: 5px 5px 5px 0
	}
.Imgproduct{	
	width:49%;
	}
.Imgproduct img{
	width:480px;	
}
.Left{
	float:left;
	}
.Right{
	float:right;
	}

.featureInfo .btn-download {
	background: #fff;
	border-radius: 4px;
	padding: 10px;
	color: #f00;
	font-family: 'Conv_HelveticaNeue-Light';
	font-size: 14px;
	cursor: pointer;
	border: solid 1px #F00
}
.featureInfo .btn-download:hover {
	color: #000;
	background: #f8f8f8;
	border: solid 1px #000;
}
.featureInfo ul.listlogo {
	list-style-type: none;
	margin: 20px 0;
	padding: 0;
	width: 600px;
	float: left;
}
.featureInfo ul.listlogo li {
	float: left;
	margin-left: 0px;
	padding: 0;
}
.featureInfo .listlogo li img {
	float: left;
	max-width: 100%;
}
.featureImg {
	position: absolute;
	right: 0;
	top: 8px;
	z-index: 10;
}
.featureImg img {
	max-width: 100%;
	display: block;
}
.bullet {
	width: 16px;
	height: 16px;
	background: #fb0007;
	float: left;
	margin-right: 15px;
	margin-top: 5px;
}
.list-pro {
	margin: 0px 15px 40px 15px;
	width: 220px;
	float: left;
	position: relative;
}
.name-pro a {
	font-size: 18px;
	font-weight: lighter;
	padding-top: 5px;
	text-decoration: none;
	color: #fb0007;
	font-family: 'Conv_HelveticaNeue-Light';
}
.name-pro a:hover {
	text-decoration: none;
	color: #fb0007;
}
.list-pro img {
	margin: 0 20px;
}
.list-pro .txt-detail {
	color: #020202;
	font-size: 11px;
	font-family: "Myriad Pro", arial;
}
.red-line {
	width: 100%;
	height: 3px;
	background: #fb0007;
	margin: 5px auto;
}
#featureBottom {
	width: 100%;
	background:#000;
	overflow:hidden;
	position:relative;
	height:220px;
}

#featureBottom .bottom-slider{
	float:left;
	width:560px;
	display:block;
	height:215px;
	border-right:solid 1px #1a1a1a;
	padding-right:5px;
	
	}
#featureBottom .bottom-choose{
	float:left;
	width:310px;
	position:relative;	
	display:block;	
	padding: 0 10px;
	height:215px;
	border-right:solid 1px #1a1a1a;
	}
.bottom-choose .img-check{
	float:left;
	width:80px;
	margin-right:20px;
	margin-top:54px;
	display:block;	
}

#featureBottom .bottom-location{
	float:right;
	width:280px;
	position:relative;		
	display:block;	
	padding: 0 10px;
	height:215px;
}
.bottom-location .img-location{
	float:left;
	margin-right:10px;
	margin-top:50px;
	display:block;
	width:80px;
	
	}


.where-to-buy, .choose-tx{
	float:left;
	padding:3px 30px 5px 0;
	border-bottom: solid 2px #cccdcc;
	font-family:arial;
	font-weight:bold;
	margin-top:50px;
	font-size:15px;
	color:#fff;	
	text-transform:uppercase;	
	display:block;
	}
.grey{
	color:#fff;
	font-family:arial;
	font-weight:normal;
	font-size:14px;
	float:left;
	margin-top:10px;
	}
footer {
	background: #FFF;
	width: 100%;	
	font-size: 11px;
	color: #000;
	font-family:arial;
}
.grid_6 {
	width: 40%;
	float: left;
}
.fhome a {
	text-decoration: none;
	color: #000;
	margin-top: 10px;
	line-height: 17px;
}
.fhome a:hover {
	text-decoration: underline;
}
.copyright{
	line-height:10px;
}
.frighti {
	float: right !important;
}
.frighti2 {
	float: right;
}
.footer-navigation {
	padding-right: 20px;
	text-align: right;
	margin-top: 20px;
}
.footer-navigation .f-menu {
	display: inline-block;
	border-right: solid 1px #000;
	padding-right: 15px;
	line-height: 10px;
}
.footer-navigation .f-menu a {
	color: #000;
	text-decoration: none;
	margin-left: 20px;
	font-family: Arial;
}
.footer-navigation .f-menu a:hover {
	text-decoration: underline;
}
h6{
	font-size:24px;
	font-family: 'Conv_HelveticaNeue';
	font-weight:bold;
	color:#000;
	margin:0;
	margin-left:40px;
	text-transform:uppercase;
	}
h7{
	font-size:24px;
	font-family: 'Conv_HelveticaNeue';
	font-weight:bold;
	color:#660000;
	text-transform:uppercase;
	margin-top:20px;
	display:block;
	
	}
h8{
	font-size:48px;
	font-family: 'Conv_HelveticaNeue';
	font-weight: normal;
	color:#fff;
	text-transform:uppercase;	
	line-height: 55px;
	margin-bottom:20px;
	float:left;
	width:100%;
	
	
	}
.doc-02{
	font-soze:18px;
	color:#000;
	font-family: 'Conv_HelveticaNeue';
	font-weight:normal;
	width:390px;
	margin-left:40px;
	margin-bottom:30px;
	}
.dark-bg{
	width:100%;
	background:#1e0303;
	overflow:hidden;
	padding:20px 5px;
	}
.dark-bg-01{
	width:100%;
	 background-image: url(../images/hand.png); 
	 background-repeat:no-repeat; 
	 background-color:#1e0303; 
	 padding:40px 5px; 
	}
.white-hand-bg{
	width:100%;
	 background-image: url(../images/hand.png); 
	 background-repeat:no-repeat; 
	 background-color:#fff; 
	 padding:40px 5px; 
	}
.bullet-number{
	background:#fff;
	border-radius:50%;
	width:35px;
	height:35px;
	text-align:center;
	float:left;
	color: #330000;
	font-size:30px;
	padding-top: 3px;
	font-weight:bold;
	display: block;
	font-family: 'Conv_HelveticaNeue';
	margin-right: 20px;
}
.row-01{
	margin:40px 0;
	position: relative;
	}
.tt-w{
	color:#fff;
	font-family: 'Conv_HelveticaNeue';
	font-size:24px;	
	text-transform:uppercase;
	line-height: 30px
	}
.tt-brown{
	color:#330000;
	font-family: 'Conv_HelveticaNeue';
	font-size:28px;	
	text-transform:uppercase;
	line-height: 30px
	}
.tt-brown-01{
	color:#000;
	font-family: 'Conv_HelveticaNeue';
	font-size:22px;
	font-weight:bold;
	text-transform:uppercase;
	line-height: 30px
	}
.tt-black{
	color:#000;
	font-family: 'Conv_HelveticaNeue';
	font-size:18px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:right;
	
	}
.tt-w-01{
	color:#fff;
	font-family: 'Conv_HelveticaNeue-Light';
	font-size:18px;
	font-weight:lighter;
	text-transform:uppercase;
	line-height: 30px
	}
.txt-w{
	color:#fff;
	font-size:15px;
	font-family: 'Conv_HelveticaNeue-Light';
	margin-top:15px;
	margin-left:55px;
	}
.txt-w-01{
	color:#fff;
	font-size:15px;	
	margin-top:5px;	
	}
.line-dot{
	height:2px;
	border-width: 1px 0 0 0;
	border-color:#000;
	border-style: dashed;
	margin:5px 0;
	}
.line-dot-w{
	height:2px;
	border-width: 1px 0 0 0;
	border-color:#fff;
	border-style: dashed;
	margin:30px 0;
	}
.line-dot-w-0{
	height:2px;
	border-width: 1px 0 0 0;
	border-color:#fff;
	border-style: dashed;
	margin-top: 10px;
	
	}
.m-Left{
	margin-left:40px;
	}
.bullet-02{
	border-radius:50%;
	width:6px;
	height:6px;
	float:left;
	background: #fff;
	margin-top:10px;
	margin-right: 10px;
}
.bullet-03{
	border-radius:50%;
	width:10px;
	height:10px;
	float:left;
	background: #000;
	margin-top:10px;
	margin-right: 10px;
}
.white{ color:#fff !important}
.black{color:#000 !important}
.white-20{
	font-size:20px;
	color:#fff;	
	margin:10px 0;
	}
.margin-01{
	margin:15px 0
}
.font20{
	font-size:20px;
	}
.font15{
	font-size:15px;
	}
.doc-03{
	font-size:18px;	
	margin:20px 0;	
	font-family: 'Conv_HelveticaNeue-Light';
	}
.img-food{
	margin-top:30px;
	}
.row-02{
	width:400px;
	margin-top:20px;
	text-align:right;
}
.featureInfo02{
	width:33%;	
}
.featureInfo04{
	width:58%;
}
.text-right{
	text-align:right;
	}
.line-arrow{
	background:url(../images/line-arrow.png) no-repeat;
	position:absolute;
	bottom:-20px;
	right:0;
	width:343px;
	height: 39px;
	}
.ngandahuoi-05{
	margin-top:50px;
}
.other-01{
	position:absolute;
	background:url(../images/other-01.png) no-repeat;
	width:156px;
	height:75px;
	top:-15px;
	right:10px;
	}
/*---------------------------------------------------------------------------------*/
/*	Responsive Structure
/*-----------------------------------------------------------------------------------*/


@media only screen and (max-width: 1024px) {
	.container {width:1000px;}
	.background-header{	width:100%;	}
	.background-header img{ width:1024px;}
	.right-wrap{ right:2%;}
	.global {margin-left:55px;	}
	footer{width:100%;}	
	nav > ul {width: 1000px;}
	nav ul li div.subnav ul.submenu {width:1000px;}
	#featurePro{ width:100%}
	.item {   width: 300px; margin: 0px 12px 30px 12px; }
	.item-title { font-size:15px;}
	.grid_6{width:50%}
	#list-bottom {	width:560px;}
	#featureBottom .bottom-slider{ width:500px}
	.slider-bt ul li {width:135px;}
	.slide-bt ul li a img {	cursor: pointer;width: 125px;	}
	.next-bt{right:80px}
	#featureBottom .bottom-choose, #featureBottom .bottom-location {width:245px; float:left}
	.bottom-choose .img-check {width:70px; margin-right:6px;}
	.bottom-choose .img-check img{width:60px}
	.item-more2 a {bottom:20px; left:10px;}
	.where-to-buy, .choose-tx{ font-size:16px;}
	.bottom-location .img-location{width:70px; margin-right:6px;}
	.bottom-location .img-location img{width:60px}
	.grey{ font-size:13px;}
	.container-feature{ width:1000px}
	.Imgproduct img{ width:450px;}
	h8{ font-size:40px;}
	h5{font-size:35px;  line-height: 40px}
	.tt-w{font-size:20px;}
	.txt-w{font-size:15px;}
	.img-thongso-full img, .img-food img{ width:980px; margin:0 auto; }
	.Img09 img{ width:480px;}
	.row-02{width:300px}
	.font20 {font-size:15px;}
	.Img14 img {width:290px;}
	.ngandahuoi-05 img {width:400px;}
	.other-02 img {width:500px;}
}

@media only screen and (max-width: 768px) {
	.container {width: 750px;}
	nav > ul {width: 750px; height:60px;}
	.search-box {padding-top: 28px; float:left;}
	.right-wrap {top: -53px;}
	nav > ul li a.active {padding: 12px 35px;margin-top:6px;color:#cc0000;}
	nav > ul li a {	padding: 18px 35px;font-weight: normal;text-decoration: none;text-transform: uppercase;}
	nav > ul li a:hover {color:#cc0000;padding: 12px 35px;	margin-top:6px;	}
	div.subnav{left:-100px;}
	#featurePro{ width:100%}
	 .content-01{ width:720px; margin:20px auto !important;}
	 .global {margin-left:65px; float:none;	overflow:hidden}
	.global ul{ padding-top:7px}
	.global ul li{ padding:1px 12px 0 0;}
	.background-header {top: 196px;}
	footer{width:100%}
	.item {width: 230px;margin: 0px 5px 30px 5px;}
	.advertise {width:70%;}
	.grid_6{width:100%}
	.frighti { float:left !important}
	.footer-navigation {padding-left:0px; text-align:left; margin: 10px 0;}
	.footer-navigation .f-menu { padding:0 15px;}
	.footer-navigation .f-menu a {margin-left: 0px;}
	.fhome a, .copyright{padding-left:15px; line-height:16px;}
	.item-pro{width:170px}
	.fhome a, .copyright{padding-left:15px; line-height:16px;}
	.list-pro{ height:240px; margin: 0px 10px 40px 10px}
	h2.heading {margin-left:20px}
	h4{margin-left:15px; font-size:70px}
	#list {width:750px;}
	.slider ul {width: 750px;}
	.slider {margin: 0px 15px;}
	.slider ul {height: 173px;width: 730px;}
	.slider ul li {	padding: 0px;}
	.slider ul li img {	height: 125px;width: 135px;margin-top: 5px;margin-right: 5px;margin-left: 5px}
	h3{margin-left:15px; font-size:50px}
	.container-feature{width:730px !important; margin:10px auto}
	.featureInfo .doc { font-size:14px}
	.featureImg { float:right}
	.featureImg img {width:350px;display: block;} 
	.featureInfo ul.listlogo{ width:400px}
	#featureBottom{ height:auto}
	#list-bottom, #featureBottom .bottom-slider{width:700px; border-right:none; margin: 0 50px}
	#list-bottom{ margin:0px auto; width:700px;}
	.slider-bt{margin:0px 50px; width:700px;}
	.slider-bt ul li {width:165px; height:160px; }
	.slide-bt ul li a img {	width: 165px;}
	.present img{ width:720px}
	#featureBottom .bottom-choose, #featureBottom .bottom-location { width: 330px;float: left; margin: 0 15px}
	.item-more2 a {bottom:20px; left:100px;}
	.bottom-choose .img-check, .bottom-location .img-location {width:90px; margin-right:6px;}
	.bottom-choose .img-check img{width:70px}
	.bottom-location .img-location img {width: 70px;}
	.container-product { width: 750px; margin:15px auto;}
	h5 {font-size: 28px; margin-top:30px; }
	.brown-arr img{ width:20px;}
	.brown-SKU { width: 310px;}
	.Imgproduct img{ width:320px; margin-top: 50px;}
	.Imgfunction img {width:300px;}
	.btn-download-02{ margin-right:30px;}
	nav ul li div.drop-menu{padding:5px 10px;}
	.dropdown .Img-item{display:block;width:100px;}
	.product-menu{ width:560px;}
	.anti-logo img{ width:150px;}
	.img-vitamin img{ width:700px;}
	.dark-bg-01{background-image:none;}
	.featureInfo-01 { float:none; margin:0 auto; width:700px;}
	.three-round img{ width:300px;}
	h8{ font-size:30px; line-height:30px}
	.brown-arr-left img{ width:20px;}
	.tt-w{font-size:18px;}
	.txt-w{font-size:15px;}
	.img-thongso-full img, .img-food img{ width:750px; margin:0 auto; }
	.Img09 img{ width:350px;}
	.row-02{width:200px}
	.font20, .tt-brown-01, .doc-03 {font-size:15px;}
	.Img14 img {width:250px;}
	.tt-brown {font-size:25px;}	
	 .featureInfo .doc-01{ font-size:15px;line-height: 20px;}
	 .featureInfo02, .featureInfo04{width:48%;	}
	 .doc-02, .m-Left {margin-left:0px;}
	 h6{ margin-left:0; font-size:20px;}
	.ngandahuoi-05 img {width:300px;}
	.ngandaduoi-07 img {width:350px;}
	.other-02 img {width:350px;}
	.other-01 {right:-80px;}
	.other-03, .other-04{ float:right}
	.white-hand-bg {background-image:none; padding:20px 0}
	  
	
}
@media only screen and (max-width: 640px) {
	.container {width: 625px; margin:0 auto;}	
	.search-box { width:250px;float:left;margin-left:5px; padding-top:10px;}
	.search-box .query{ width:200px; padding: 7px 7px 7px 30px;}
	.search-box .btn-search{ margin-left:5px}	
	.logo { padding-right: 10px;}	
	.logo img{width:150px;}	
	.global { display:block; float:left; width:330px; margin:10px 3px;	padding:0;	} 	
	.global ul {padding-top:0px;padding-left:0; margin:0;}
	.global ul li{float:left;padding:0px 4px 0 0;font-size: 13px;}
	.global ul li.arrow-001 a{font-size:13px;}
	.global ul li a{color:#000;	font-size: 13px;text-decoration:none;}	
	.slogan{ float:none; padding-left:10px; margin-left:150px;}
	.background-header {top:208px;}
	.right-wrap{top:-110px; right:2%;}
	nav > ul {width: 625px; margin:0 auto; padding:0; height:60px}
	nav > ul li a.active {padding: 12px 25px;margin-top:6px;color:#cc0000;}
	nav > ul li a {	padding: 18px 25px;font-weight: normal;text-decoration: none;text-transform: uppercase;}
	nav > ul li a:hover {color:#cc0000;padding: 12px 25px;	margin-top:6px;}
	 nav > ul > li:hover > a { 	background:#fff;	padding:12px 25px;}
	div.subnav{left:-110px;}
	nav ul li div.subnav ul.submenu {padding-left:0}
	nav ul li div.subnav ul.submenu li.sub:first-child { margin-left: 0px;}
	#featurePro{ width:100%}
	 .content-01{ width:625px; margin:20px auto !important;}	
	footer{width:100%}
	.item {width: 200px;margin: 0px 4px 30px 4px;}
	.item-title { font-size:11px; right:5px; top: 1px;}
	.advertise {width:480px; margin:0 auto}
	.grid_6{width:100%}
	.frighti { float:left !important}
	.footer-navigation {padding-left:0px; text-align:left; margin: 10px 0;}
	.footer-navigation .f-menu { padding:0 15px;}
	.footer-navigation .f-menu a {margin-left: 0px;}
	.fhome a, .copyright{padding-left:15px; line-height:16px;}
	.item-pro{width:285px; margin:20px 13px;}
	.list-pro{ height:230px; margin: 0px 45px 40px 45px}
	h2.heading {margin-left:20px}
	#list {width:625px;}
	.slider ul {width: 625px;}
	.slider {margin: 0px }
	.slider ul {height: 150px;width: 625px;}
	.slider ul li {	padding: 0px;}
	.slider ul li img {	height:100px;width: 110px;margin-top: 15px;margin-left:10px;}
	h4{margin-left:15px; font-size:50px}
	h3{margin-left:15px; font-size:40px}
	.featureImg {display:none}
	.container-feature{width:625px !important; margin:10px auto}
	.featureInfo .doc { font-size:14px}	 
	.featureInfo ul.listlogo{ width:625px}
	#list-bottom, #featureBottom .bottom-slider{width:620px; border-right:none; margin: 0 50px}
	#list-bottom{ margin:0px auto; width:600px;}
	.slider-bt{margin:0px 30px; width:600px;}
	.slider-bt ul li {width:145px; height:160px; }
	.slide-bt ul li a img {	width: 145px;}
	.present img{ width:620px}
	#featureBottom .bottom-choose, #featureBottom .bottom-location { width: 300px;float: left; margin: 0 5px}
	.item-more2 a {bottom:20px; left:100px;}
	.bottom-choose .img-check, .bottom-location .img-location {width:90px; margin-right:6px;}
	.bottom-choose .img-check img{width:70px}
	.bottom-location .img-location img {width: 70px;}
	.container-product { width: 620px; margin:0px auto;}
	.featureInfo, .Imgproduct {width: 550px; margin: 0 auto; float:none;}
	h5 {font-size: 45px;  }
	.brown-arr img{ width:30px;}
	.brown-SKU { width: 400px;}
	.Imgproduct img{ width:540px; margin-top: 20px;}
	.Imgfunction img {width:433px;}
	.btn-download-02{ margin-right:100px;}
	nav ul li div.drop-menu{padding:5px 10px; }
	.dropdown .Img-item{display:block;width:85px;}
	.product-menu{ width:485px;}
	.button-sub{ font-size:15px;}
	.col-1, .col-2{width:31%;}
	.img-vitamin img{ width:600px;}
	h8{ font-size:30px; margin-left:35px;}
	
	.tt-w{font-size:20px;}
	.txt-w{font-size:15px;}
	.img-thongso-full img, .img-food img{ width:600px; margin:0 auto; }
	.Img09 img{ width:480px;}
	.row-02{width:300px}
	.font20 {font-size:15px;}
	.Img14 img {display:none;}	
	 .featureInfo02, .featureInfo04{width:550px; margin:0 auto; float:none;}
	 .ngandaduoi-02 img{ width:300px;}
	 .ngandahuoi-05 img {display:none;}
	 .other-02 img, .other-03 img, .other-04 img {display:none}
	.other-01 {right:10px;}
	
}

@media only screen and (min-width: 320px) and (max-width: 480px){
	.container {width: 320px; margin:0 auto;padding:0; overflow: hidden; position:relative;}
	.search-box { width:300px;float:left;margin-left:5px}
	.search-box .query{ width:260px; padding: 7px 7px 7px 30px;}
	.search-box .btn-search{ margin-left:5px}
	.global { display:block; float:left; width:300px; margin:0 3px;	padding:0;	} 	
	.global ul {padding-top:0px;padding-left:0; margin:0;}
	.global ul li{float:left;padding:0px 5px 0 0;font-size: 12px;}
	.global ul li a{color: #000;font-size: 12px;text-decoration:none;}
	.global ul li img {display:none;}
	.global ul li.arrow-001 a{font-size:12px; padding:0 14px;}	
	.logo{padding-left:0px !important;} 
	.logo img{width:120px;}
	.col-lg-2 {float:none;}
	.slogan{ font-size:13px;padding:0 0 0 5px; margin-left:10px}
	.language .function a{color:#000}
	.number{color:#000; margin-left:50px;}
	.background-header {top:211px;}
	.nav-container{ position:relative; font-family:'Conv_HelveticaNeue-Light';height:38px;}
	.right-wrap{top:-145px; right:5px}
	.language .lanuageico, .hot-line .ic-call {display:none;}
	nav > ul {width: 320px; margin:0 auto; padding:0}
	.marginTop {margin-top:7px;}
	nav > ul li{padding:0;}
	nav > ul li a{ padding:8px 2px; letter-spacing:0px;font-size:11px;}
	nav > ul li a.active, nav > ul li a:hover {font-size:11px; letter-spacing:0px; padding:3px 2px; }
	nav > ul > li:hover > a {	padding:3px 2px;font-size:11px;}
	.bg-submenu{ height:30px;}
	nav ul li div.subnav {top:38px; left:-40px; padding:0; margin: 0}
  nav ul li div.subnav ul.submenu {width:320px; margin:0 auto; padding-left:0}	
	nav ul li div.subnav ul.submenu li.sub {height:30px}
	nav ul li div.subnav ul.submenu li.sub a {font-size:10px;padding: 3px 2px; letter-spacing:0px; }
	nav ul li div.subnav ul.submenu li.sub a:hover {padding: 3px 2px;letter-spacing:0px;font-size: 10px;}
	
	#featurePro{ width:100%}
	.content-01{ width:300px; margin:20px auto !important;}	
	footer{width:100%}
	.item {width: 290px;margin:20px 3px;}
	.item-title { font-size:15px; right:10px; top: 5px;}
	.advertise {width:300px; margin:0 auto}
	.grid_6{width:100%}
	.frighti { float:left !important}
	.footer-navigation {padding-left:0px; text-align:left; margin: 10px 0;}
	.footer-navigation .f-menu { padding:0 15px;}
	.footer-navigation .f-menu a {margin-left: 0px;}
	.advertise .item-ad { margin: 5px auto;width: 215px;float: none;}
	.fhome a, .copyright{padding-left:15px; line-height:20px;}
	.item-pro{width:290px; margin:15px 3px;}
	h2.heading {margin-left:20px; font-size:20px;}
	.list-pro{ width:255px; margin: 0px 22px 40px 22px; height:230px}
	.list-pro img {    margin: 0px 36px;}
	.name-pro a{ font-size:16px;}
	#list {display:none;}
	#feature-carousel {display:none;}
		h4{margin-left:15px; font-size:50px}
	h3{margin-left:15px; font-size:40px}
	.featureImg {display:none}
	.container-feature{width:300px !important; margin:10px auto}
	.featureInfo .doc { font-size:14px; padding:0 10px}
	.btn-download { margin-left:10px;}
	.present img { width:300px;}
	.featureInfo ul.listlogo{ width:320px}
	#list-bottom, #featureBottom .bottom-slider{width:320px; margin:0 auto}
	#featureBottom{ height:auto;}
	#list-bottom{ margin:0; height:200px;}
	.slider-bt{margin: 5px 10px;}
	.slider-bt ul li {width:100px;}
	.slide-bt ul li img {width: 80px;}	
	.bottom-location .img-location{ width:80px;margin-top:0px}
	.next-bt{right:10px;}
	.item-more2 a{ top:110px; left:90px;}
	#featureBottom .bottom-choose{border-right:none; margin-top:0px; height:150px;border-bottom:solid 1px #1a1a1a;} 
	.choose-tx, .where-to-buy{ margin-top:0px}
	.bottom-choose .img-check{ margin-top:0px}
	#featureBottom .bottom-location {width:320px; margin-top:10px; height:140px;}	
	.container-product { width: 300px; margin:0px auto;}
	.featureInfo, .Imgproduct {width: 295px; margin: 0 auto; float:none;}
	h5 {font-size: 25px; margin-top:25px; }
	.brown-arr img{ width:15px;}
	.brown-SKU { width: 300px; font-size:40px;}
	.featureInfo .doc-01 {font-size:16px; margin-left:5px;}
	.featureInfo .title-color { font-size:20px; line-height:22px;}
	.tx-color {font-size: 14px;padding-top: 1px;}
	.Imgproduct img{ width:295px; margin-top: 20px;}
	.Imgfunction img {width:295px;}
	.btn-download-02{ margin-right:0px;}
	nav ul li div.drop-menu{padding:5px 10px; top:33px; left:-40px;  }
	.dropdown .Img-item{display:block;width:70px;}
	.dropdown .Img-item a{ text-align:left;}
	.dropdown .Img-item img {display:none;}
	.product-menu{ width:250px;}
	.company-menu{	width:200px;margin:0 auto;	}
	.button-sub{ font-size:13px;}
	.frighti2 {	float: left;}
	.col-50{width:90%; margin-bottom:5px;}
	.col-1, .col-2{width:90%;}
	.item-2 a{font-size: 12px; font-family: 'Conv_HelveticaNeue-Light'; margin:2px 0;}
	.item-2 a:hover { margin:2px 0;}
	.list-about a{font-size:12px; font-weight:normal;letter-spacing:0px; line-height: 17px;}
	.list-about a:hover{ letter-spacing:0px;font-size:12px;}	
	.img-vitamin img{ width:300px;}
	.brown-arr-left img {width:20px}
	h6{font-size:15px; letter-spacing:-1px; margin-left:5px}
	.doc-02 {font-size:13px; margin-left:5px; width:300px;}
	.m-Left{margin-left:5px;}
	.title-color{font-size:16px;}
	h7{font-size:20px;}
	.dark-bg, .dark-bg-01{padding:0px;}
	h8{font-size:26px; margin:0px 0 15px 0}
	.tt-w {font-size:16px;}
	.tt-brown {font-size:22px;}
	.txt-w {font-size:14px; line-height:18px; margin-top:5px; margin-left:0px;}
	.txt-w img {width:310px;}
	.row-01 {margin:20px 0; width:300px;}
	.bullet-number{width:30px; height:30px; font-size:20px; margin-right:10px;}
	.tt-w-01 {font-size:15px; line-height:24px;}
	.txt-w-01 {font-size:14px; line-height:20px;}
	.eco-logo img{width:300px;}
	.white-20 {font-size: 15px; margin:0;}
	.brown-arr {display:none;}
	.img-thongso-full img{ width:300px; margin:0 auto; }
	 .img-food img {display:none;}
	.Img09 img{ width:300px;}
	.doc-03 {font-size: 13px;margin:0;}
	.img-ngan-dong img{ display:none;}
	.margin-01 {margin:7px 0;}
	.row-02{width:280px;}
	.text-right{ text-align:left;}
	.three-round img { display:none;}
	.ngandaduoi-07 img{width:300px}
	.other-01{ top:-5px; right:-15px;}
	.white-hand-bg {padding:0}
}
