﻿.row:before,
.row:after {
	display: table;
	content: " ";
}
.row:after {
	clear: both;
}
.owl-controls .owl-buttons {
	width: 100% ;
  	position: absolute;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
.owl-controls .owl-pagination {
  	position: absolute;
  	bottom: 0;
}
.owl-buttons {
	color: #fff;
	font-weight: 900;
	width: 100%;
}
/*Trang sổ tay*/
#sub-manual-category-slider .owl-theme .owl-buttons .owl-prev,
#sub-manual-category-slider .owl-theme .owl-buttons .owl-next{
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    display: inline-block;
	
}
#sub-manual-category-slider .owl-theme .owl-buttons .owl-prev{
    background: url(images/prettyPhoto/mitsu/btn-back-slider.png) no-repeat;
}
#sub-manual-category-slider .owl-theme .owl-buttons .owl-next{
    background: url(images/prettyPhoto/mitsu/btn-next-slider.png) no-repeat;
}

/*trang chủ*/
.list-product-type .owl-theme .owl-buttons .owl-prev,
.list-product-type .owl-theme .owl-buttons .owl-next{
    width: 13px;
    height: 19px;
    text-indent: -9999px;
    float:left;
	
}

.list-product-type .owl-theme .owl-buttons .owl-prev{
    background: url(images/prettyPhoto/mitsu/btn-left-slider-product-type.png) no-repeat;
    margin-left: 0;
}
.list-product-type .owl-theme .owl-buttons .owl-next{
    background: url(images/prettyPhoto/mitsu/btn-right-slider-product-type.png) no-repeat;
    margin-right: 0px; 
}


.owl-theme:hover .owl-buttons .owl-prev,
.owl-theme:hover .owl-buttons .owl-next{
	opacity: 1;
}
.owl-buttons .owl-prev{
	left: 0;
	margin-left: -20px;
    position:absolute;
}
.owl-buttons .owl-next{
    position:absolute;
	right: 0;
	margin-right: -20px;
	position: absolute;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #cad3d0;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}