﻿/* Style Air Condition */


.green { color: #2b8f22; }
.l-blue { color: #007b94 !important; }
.blue { color: #094b9f !important; }
.orange { color: #da3d06; }
.col-30 { width: 30%; }
.heading-RAC { font-size: 16px; color: #000; text-transform: uppercase; border-bottom: solid 3px #cc0000; width: 35%; }
.lightgreen-SKU { background: #84aa28; color: #FFF; text-transform: uppercase; font-size: 30px; text-align: center; padding: 7px 0px; width: 320px;  margin-bottom: 10px; line-height: 35px; }
.green-SKU { background: #2b8f22; color: #FFF; font-size: 30px; padding: 15px 15px; width: 400px;  margin: 15px 0; line-height: 35px; }
.product-title{
color: #000;
    padding: 15px 0;
    font-weight: bold;
    line-height: 32px;
    font-size: 26px;
}
.black-SKU { background: #000; color: #FFF; font-size: 30px; text-align: center; padding: 10px 0px; width: 400px;  margin-bottom: 10px; line-height: 35px; }
.btn-download-gr { background: url(../images/green-bt-download.png) no-repeat; margin: 10px 0 25px; }
.green-bg { width: 100%; background: #2b8f22; overflow: hidden; padding: 20px; }
.blue-bg { width: 100%; background: #45a9e4; overflow: hidden; padding: 20px 5px; }
.orange-bg { background: #e7470a; width: 100%; overflow: hidden; padding: 20px 20px; }
.slider-airCon ul li a.title { font-size: 15px; color: #111 !important; line-height: 17px; text-decoration: none; }
.slider-airCon ul li a.title:hover { text-decoration: none; color: #cc0000; }
.slider-airCon { float: left; left: -5000px; margin: 0px 20px; position: relative; visibility: hidden; }
.slider-airCon ul { height: 140px; width: 1000px; }
.slider-airCon ul li { padding: 0px; width: 220px; text-align: center; }
.slider-airCon ul li a img { cursor: pointer; height: 100px; width: 210px; margin: 0 10px; }
.slider-airCon-bt a.title { font-size: 13px; color: #fff; text-align: center; cursor: pointer; width: 140px; margin: 0 auto;  }
.slider-airCon-bt a.title:hover { color: #f00; text-decoration: none; }
.slider-airCon-bt { float: left; left: -1000px; margin: 5px 35px; position: relative; visibility: hidden; }
.slider-airCon-bt ul { height: 140px; }
.slider-airCon-bt ul li { padding: 0px; width: 230px; text-align: center; }
.slider-airCon-bt ul li a img { cursor: pointer; width: 220px; }
.prev-airCon-bt { position: absolute; top: 65px; left: 3px; float: left; z-index: 100; }
.next-airCon-bt { position: absolute; top: 65px; right: 30px; float: left; z-index: 100; }
.imgBenbi { margin: 0; padding: 0; height: 425px; }
.padding { padding: 0; }
.featurebenbi { width: 500px; padding-top: 0; margin-top: 0; margin-left: 30px; }
.featurebenbi h1 {  font-size: 45px; font-weight: lighter; margin-top: 30px; line-height: 45px; margin-bottom: 20px; }
.featurebenbi img { margin-top: 40px; }
.EnergyBox { width: 98%; margin-top: 10px; border-radius: 5px; background: #19a53a; padding: 10px; color: #fff; overflow: hidden; font-family: "Conv_HelveticaNeue"; position: relative; }
.titleEnergy { font-size: 15px; text-transform: uppercase; text-align: center; line-height: 33px; }
.energycontent { font-size: 14px; display: block; margin-top: 5px; }
.col-md-l { width: 58%; }
.col-md-s { width: 42%; }
.energycontent .row { margin-bottom: 5px; display: block; }
.temp-VNEEF { position: absolute; bottom: 0; right: 10px; }
.iConFeatures { float: left; margin-right: 10px; }
.paddingTop { padding-top: 14px; }
.ctFeature { margin-top: 10px; display: block; font-size: 18px; font-family: "Conv_HelveticaNeue-Light" }
.ctFeature .Img { max-width: 100%; margin: 0 auto; }
.ctFeature .Img img { }
.col-tl { width: 92%; }
.col-md { width: 50% }
.label { width: 30px; height: 30px; float: left; margin-right: 10px; }
.Saveenergy { background: #f38118; }
.airQuaity { background: #6fc29e; }
.design { background: #f5b2d1; }
.convenient { background: #84a6d8; }
.Others { background: #babcbf; }
.titleHeader { font-weight: bold; font-size: 21px;  color: #000; }
.divTable { display: table; width: 100%; border-spacing: 5px; }
.divRow { display: table-row; width: 100%; }
.divCell { float: left; display: table-column; }
.doc-ZEN { font-size: 18px; color: #000; font-family: 'Conv_HelveticaNeue'; font-weight: normal; margin-left: 95px; margin-bottom: 20px; }
/* Style Refrigerator */

.sliderREF { width: 1000px; margin: 0 auto; height: 140px; position: relative; }
.sliderREF ul { height: 140px; width: 900px; margin: 7px auto 0; padding: 0 }
.sliderREF ul li { padding: 0px; text-align: center; margin: 0; width: 175px; line-height: 15px; height: 140px; }
.sliderREF ul li a { text-decoration: none; color: #111; font-size:14px;text-align: center; text-transform: none; line-height: 18px; padding-bottom: 5px; font-family: "Conv_HelveticaNeue" }
.sliderREF ul li a:hover { text-decoration: none; color: #cc0000; }
.sliderREF ul li img { cursor: pointer; margin: 0 auto; }
.sliderREFBottom a.title { font-size: 13px; color: #fff; text-align: center; cursor: pointer;  }
.sliderREFBottom a.title:hover { color: #f00; text-decoration: none; }
.sliderREFBottom { width: 560px; position: relative; margin-top: 40px; }
.sliderREFBottom ul { height: 140px; }
.sliderREFBottom ul li { padding: 0px; width: 155px; height: 160px; text-align: center; }
.sliderREFBottom ul li a img { cursor: pointer; }
.display_count { float: left; height: 25px; line-height: 25px; font-size: 12px; font-family: "Conv_HelveticaNeue"; color: #777; position: absolute; top: 3px; left: -10px; }
.black-bg { width: 100%; background: #000; overflow: hidden; padding: 20px 5px; }
.w-bg {    margin-top:0; width: 100%; overflow: hidden; padding: 20px 0; /*background: url(../images/bgWhite.png) left top repeat-x*/ ; background-color: #fff; }
.w1-bg { width: 100%; overflow: hidden; padding: 20px 5px; background: url(../images/bgWhite.png) left top repeat-x; background-color: #fff; }
.black-bg-01 { width: 100%; background-image: url(../images/hand.png); background-repeat: no-repeat; background-color: #000; padding: 40px 5px; }
.white-bg-01 { width: 100%; background-image: url(../images/hand.png); background-repeat: no-repeat; background-color: #f8f8f8; padding: 40px 5px; }
.Smartfeatures { display: block; padding: 10px 0; }
.benefit-features {margin:35px 15px 0 15px; overflow: hidden;}
.ds-features{ padding:5px;}

.benefit-features strong{ font-weight:bold; display:block;}
.benefit-features .col-benefit{ width:33.3%; float: left; padding-left:7px; padding-right:7px;}
.icon-benefit { float: left; margin-right: 10px; padding-bottom:65px; }
.icon-benefit-say-tay{    margin-left: 50px;}
.title-benefit {font-weight: bold;  font-size:15px; line-height:22px;}
.title-benefit .around{ background:#8cc02b;margin-right: 5px; border-radius:50%; padding:5px 10px;  font-weight:bold; font-size:15px;}
.benefit-features p{font-size: 15px;  line-height:24px; margin:7px 0;  }
.itemFeatures { float: left; padding: 7px }
.col-tl01, .col-tl02 { width: 48%; }
.itemFeatures .imgFeatures { width: 160px; float: left; margin-right: 15px; display: block; border-radius: 5px; }
.itemFeatures .contentFeatures { margin-left: 175px; }
.itemFeatures .contentFeatures p { font-size: 15px; line-height: 24px; }
.itemFeatures .imgFeatures img { width: 160px; border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; "
}
.titleFeatures { font-size: 20px; font-weight: normal; text-transform: uppercase; text-align: left;    line-height: 30px; }
.white { color: #fff; }
.black { color: #000; }
.brown { color: #330000; }
.color-brownG { color: #1e0a0b; }
.color-pinkG { color: #8f435e; }
.color-ST { color: #1e0a0b; }
.color-DB { color: #000; }
.viewFullTSKT { display: block; overflow: hidden; }
.viewFullTSKT a { background: url(../images/arrow-linkfull.png) left top no-repeat; float: right; line-height: 17px; margin: 5px 0; color: #c20018; font-size: 15px; text-decoration: underline; padding-left: 20px; text-align: right; }
.bigFeatureImage { display: block; margin-bottom: 20px; margin: 0 auto; }
.Div11 { width: 100%; margin: 10px auto; text-align: center; }
.white_button { display: inline-block; color: #330000 !important; font-size: 14px; line-height: 18px; letter-spacing: -1; vertical-align: middle; font-weight: bold; text-transform: uppercase; text-align: center; text-decoration: none; padding: 8px 15px; margin:5px 5px; outline: medium none; border-radius: 5px; white-space: nowrap; background: -moz-linear-gradient(center top, #fff, #ccc) repeat scroll 0% 0% transparent; background: #ccc; background: -webkit-linear-gradient(#fff, #ccc);/* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(#fff, #ccc); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(#fff, #ccc); /* For Firefox 3.6 to 15 */ background: linear-gradient(#fff, #ccc); /* Standard syntax */ }

.white_button:hover { text-decoration: none; color: #cc0000 !important; box-shadow: 0 1px 8px rgba(0,0,0,.15); }
.red_button{
display: inline-block; color: #fff !important; font-size: 14px; line-height: 18px; letter-spacing: -1; vertical-align: middle; font-weight: bold; text-transform: uppercase; text-align: center; text-decoration: none; padding: 8px 15px; margin: 0 5px; outline: medium none; border-radius: 5px; white-space: nowrap; 

  background: -webkit-linear-gradient(#cc0000, #a80000);
    background: -o-linear-gradient(#cc0000, #a80000);
    background: -moz-linear-gradient(#cc0000, #a80000);
    background: linear-gradient(#cc0000, #a80000);
}
.red_button:hover{
background: -webkit-linear-gradient(#a80000, #cc0000);
    background: -o-linear-gradient(#a80000, #cc0000);
    background: -moz-linear-gradient(#a80000, #cc0000);
    background: linear-gradient(#a80000, #cc0000);
}

.img-thongso-full { width: 600px; margin: 20px auto; text-align: center; }
.bt-capdongmem { position: absolute; left: 128px; top: 230px; }
.bt-nganlanh453 { position: absolute; left: 190px; top: 160px; }
.bt-nganlanh-NDD { position: absolute; left: 132px; top: 160px; }

.bt-nganrauqua-NDD { position: absolute; left: 111px; top: 360px; }
.bt-nha-may-vitamin-NDD{    position: absolute;    top: 350px;    left: 85px;}
.bt-ngandong-NDD { position: absolute; left: 135px; top: 500px; }
.bt-ngan-rieng-biet-NDD{
        position: absolute;
    top: 342px;
    right: 80px;
}
.bt-nganlanh { position: absolute; right: 172px; top: 160px; }
.bt-vitamin-FD { position: absolute;     right: 159px;top: 265px; }
.bt-ngandong-FD { position: absolute; right: 190px; top: 415px; }
.bt-thiet-ke-tien-dung-NDT{
    top: 180px;
    position: absolute;
    right: 80px;
}
.bt-ngan-dong-NDT{
    position: absolute;
        top: 95px;
    left: 105px;
}
.bt-ngan-lanh-NDT{
        position: absolute;
    top: 255px;
    left: 105px;
}
.bt-thiet-ke-3-ngan-rieng-biet{

}
.bt-ngan-rau-qua-dac-biet-NDT{
    position: absolute;
    top: 380px;
    left: 145px;
}
.bt-nha-may-vitamin-NDT{
    left: 75px;
    top: 367px;
    position: absolute;
}
.bt-ngandong-NDT{
        position: absolute;
    left: 160px;
        top: 95px;
}
.bt-nganlanh-NDT{    position: absolute;
    left: 160px;
    top: 256px;}
.bt-ngan-rieng-biet-NDT{    position: absolute;
    right: 30px;
    top: 233px;}

.bt-ve-sinh-de-dang{position: absolute;
    top: 57px;
    right: 100px;}
.bt-nganmat { position: absolute; left: 155px; top: 355px; }
.bt-nganlamda { position: absolute; left: 180px; top: 348px; }
.bt-ngandong { position: absolute; right: 158px; top: 285px; }
.bt-ngandongthuong-z65 { position: absolute;     right: 121px;    top: 396px;}
.bt-ngandongthuong { position: absolute; left: 75px; top: 460px; }
.bt-nganrauqua { position: absolute; left: 145px; top: 463px; }
.overview-feature { display: block; }
.bt-led { position: absolute; left: 63px; top: 195px; }
.bt-nganlanh-tienloi { position: absolute; right: 140px; top: 170px; }
.bt-vitamin { position: absolute; left: 105px; top: 335px; }
.bt-khaykinh { position: absolute; right: 155px; top: 325px; }
.bt-ngancapdongthuong { position: absolute; left: 72px; top: 478px; }
.bt-ngandongdadang { position: absolute; right: 134px; top: 445px; }
.img-overview-frenchdoor { width: 670px; margin: 0 auto; }
.top_button { background-position: center bottom; position: absolute; right: 50px; top: -20px; display: block; background-image: url("../images/top_button.png"); width: 70px; height: 25px; }
.top_button:hover { background-position: center top; }
.Imgproduct img { margin: 0 auto; text-align: center; max-width:100%;}
.jssora05l, .jssora05r, .jssora05ldn, .jssora05rdn { position: absolute; cursor: pointer; display: block; background: url(../images/a17.png) no-repeat; overflow: hidden; }
.jssora05l { background-position: -130px -40px; }
.jssora05r { background-position: -190px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05ldn { background-position: -250px -40px; }
.jssora05rdn { background-position: -310px -40px; }
.jssort01 .w { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
.jssort01 .c { position: absolute; top: 0px; left: 0px; width: 90px; height: 80px; border: #ddd 1px solid; }
.jssort01 .p:hover .c, .jssort01 .pav:hover .c, .jssort01 .pav .c { border-width: 0px; top: 2px; left: 2px; width: 90px; height: 80px; }
.jssort01 .p:hover .c, .jssort01 .pav:hover .c { top: 0px; left: 0px; width: 90px; height: 80px; border: #fff 1px solid; }
.logo-award { margin-right: 5px; }
.ImgREF { width: 450px; margin: 0 auto; text-align: center; }
.drawerREF { float: left; margin-right: 10px; }
.contentdrawerREF { font-size: 18px; color: #000; line-height: 24px; }
.imgdrawerREF { float: left; margin-right: 10px; }
.imgdrawerREF img { width: 225px; }
.capDongmem { margin-left: 10px; line-height: 55px!important; }
.viDeo {width: 520px;height: 345px;float: left; position: relative;  }
.viDeo iframe {position: absolute;	top: 0;	left: 0;	width: 100%;	height: 100%;}
.col-video{width:49%; float:left;}
.viDeoInfo{ width:48%; float:right;}
.marginLeft165 { margin-left: 165px; }
.Imgvitamin { margin-right: 0px; }
.Neuroheader { margin-bottom: 10px; display: block; width: 100%; }
.NeuroLogo { float: left; margin-right: 25px; }
.subTT { display: block; font-size: 22px; color: #000; text-transform: none; }
.NeuroTitle { font-size: 35px; text-transform: uppercase; line-height: 45px; padding-top: 25px; }
.Neurofeature { width: 100%; display: block; overflow: hidden; }
.Neurofeature .col-N { width: 29%; margin: 0 20px; float: left; }
.itemN { height: 90px; }
.itemN p { line-height: 22px; padding-top: 25px }
.Large { font-size: 40px; }
.feature_half_width { width: 48%; min-height: 120px; padding-left: 175px; position: relative; margin-top: 10px; margin-bottom: 10px; }
.feature_image { position: absolute; left: -10px; top: -10px; width: 160px; height: 120px; }
.feature_image img { width: 160px; border-radius: 5px; }
/* Style FAN */

.lightblue-color { border-radius: 50%; background: #9fc990; border: solid 1px #000; width: 20px; float: left; height: 20px; margin-right: 10px; margin: 5px 5px 5px 0 }
.darkblue-color { border-radius: 50%; background: #158cd7; border: solid 1px #000; width: 20px; float: left; height: 20px; margin-right: 10px; margin: 5px 5px 5px 0 }
.brown-SKU span {  font-size: 16px; font-weight: normal; text-transform: none; padding-left: 10px; }
.green-SKU span { font-size: 18px; font-weight: normal; text-transform: none;  }
.doc-val { text-transform: uppercase; font-size: 28; font-weight: normal; }
.doc-02 {  }
.M-bottom { margin-bottom: 15px; }
.radio-list > label { margin-bottom: 0px; }
.radio-list > label { display: block; margin-left: 15px; font-size: 15px; color: #000; }
.radio-list .radio { padding-top: 0px; }
.radio, .checkbox { min-height: 27px; }
.radio, .checkbox, .radio-inline, .checkbox-inline { padding-top: 8px; margin-top: 0px; margin-bottom: 0px; }
div.radio { margin-right: 0px; margin-left: 10px; display: inline-block; vertical-align: middle; }
.radio > span { margin-top: 0px; }
div.radio span { display: inline-block; text-align: center; }
div.radio input { opacity: 1; border: medium none; background: none repeat scroll 0% 0% transparent; display: inline-block; text-align: center; }
div.radio { }
.light-grey-cl { color: #A6A6A6; }
.dark-red-cl { color: #C00000; }
.light-green-cl { color: #92D050; }
.dark-blue-cl { color: #0070C0; }
div.radio, div.radio span, div.radio input { height: 22px; }
div.radio { position: relative; }
.radio input[type="radio"], .checkbox input[type="checkbox"] { position: absolute; margin-left: -24px }
div.radio span.checked { font-weight: normal; }
label > .checked { font-weight: normal; }
.col-30 { width: 33%; float: left; }
.col-small { width: 135px; float: left; display: block; height: 200px; margin-right: 10px; }
.col-small-lg { width: 25%; float: left; display: block; height: 180px; margin-right: 10px; }
.col-txt { float: left; color: #fff; font-size: 14px; width: 230px; }
.col-txt-lg { float: left; color: #fff; font-size: 14px; width: 70%; }
.safe-heading { text-transform: uppercase; color: #fff; font-size: 16px; }
.safe-heading01 { text-transform: uppercase; color: #fff; font-size: 20px; }
.bgSafety { background: url(../images/safety-bg.png) no-repeat; height: 409px; }
.brown-SKU-01 { background: #660000; color: #fff; font-weight: bold; text-transform: uppercase; font-size: 30px; text-align: center; padding: 10px 20px; line-height: 30px; width: 400px;  }
.brown-SKU-01 span { font-size: 18px; font-weight: lighter; text-transform: none; padding-left: 20px; }
.green-SKU-01 { background: #2b8f22; color: #fff; font-weight: bold; text-transform: uppercase; font-size: 30px; text-align: center; padding: 10px 20px; line-height: 30px; width: 450px;  }
.green-SKU-01 span { font-size: 18px; font-weight: lighter; text-transform: none; padding-left: 20px; }
.m-right { margin-right: 18px; float: right; }
.desc-01 { font-size: 18px; color: #000;  line-height: 26px; }
.desc-01 ul {padding-left: 0px;}
.desc-01 li{ display:block; margin: 5px;}
/* Style Jet Towel */

.brownBg { width: 100%; background: #1e0303; overflow: hidden; padding: 20px 5px; }
.font30 { font-size: 30px; color: #fff; }
.tx-yl { font-size: 18px; color: #fff; display: block; font-weight: bold }
.brown-SKU-1 { background: #660000; color: #fff; font-weight: bold; text-transform: uppercase; font-size: 30px; padding: 10px 30px; line-height: 30px; width: 380px;  }
.brown-SKU-1 span { font-size: 14px; font-weight: normal; text-transform: none; }
.l-green-SKU { background: #00bdf4; color: #fff; font-weight: bold; text-transform: uppercase; font-size: 30px; padding: 10px 30px; line-height: 30px; width: 380px; font-family: 'Conv_HelveticaNeue'; }
.l-green-SKU span { font-size: 14px; font-weight: normal; text-transform: none; }
.SKU-small { font-size: 16px; font-weight: lighter; text-transform: none; display: block; text-align: left; }
.SKU-medium { font-size: 24px; font-weight: normal; font-style: italic; text-transform: uppercase; display: block; text-align: left; }
.tx-uppercase { text-transform: uppercase; }
.itemFeatures .imgFeaturesJettowel { width: 450px; float: left; margin-right: 15px; display: block; margin-bottom: 15px; }
.itemFeatures .imgFeaturesJettowel img { width: 450px; }
.itemFeatures .contentFeaturesJettowel { font-size: 14px; line-height: 20px; margin-left: 465px; }
.light-green { color: #00a0cf }
.title-gr-color { font-size: 22px; color: #00a0cf; line-height: 30px;  }
.l-greenBG { background: #83b428; overflow: hidden; padding: 20px 5px; width: 100%; }
.jettowelIcon { width: 110px; height: 90px; margin: 5px auto; display: block; }
.jettoweltt { font-weight: normal; color: #444; font-size: 20px; text-transform: uppercase; padding-top: 10px; text-align: center; width: 100%; }
.txt-14 { color: #333; font-size: 15px; line-height: 22px; }
/* Style Package Air Condition */

h1 {  font-size: 40px; font-weight: lighter; text-align: left; line-height: 40px; margin-bottom: 10px; }
.multi-bold { font-size: 26px; line-height: 30px; color: #222; }
.multi-bold span { text-transform: uppercase; }
.m-left20 { margin-left: 20px; }
.series-heading { font-size: 45px; color: #222; text-transform: none; }
.unit-head { font-size: 35px; color: #222; text-transform: none; padding-bottom: 15px; padding-top: 15px; display: block; margin-left: 5px; }
.upLine-wr { width: 100%; margin: 20px 0 10px; float: left; display: block; }
.upline-col { width: 33%; float: left; height: 260px; }
.remote-col { width: 33%; float: left; }
.upline-Img { margin: 0 auto }
.upline-title { background: #767676; border-radius: 4px; line-height: 18px; padding: 3px 10px; color: #fff; font-size: 14px; width: 60%; margin: 5px auto; text-align: center }
.upline-title a { text-decoration: none; color: #fff; }
.upline-title a:hover { text-decoration: underline; color: #fff; }
.upline-title span { text-transform: none; font-size: 14px; display: block }
.colOutDooroom { width: 47%; float: left; margin: 10px 4px; }
.outDooroomtt { font-weight: bold; color: #222; font-size: 24px; text-transform: uppercase; padding-top: 36px; }
.outDooroomIcon { float: left; margin-right: 5px; }
.outDooroomImg { margin: 0 auto; }
.colOutDooroom p { font-size: 18px; margin: 6px 0; }
.PAC-wr { width: 100%; margin: 20px 0; float: left; display: block; }
.PAC-title { font-size: 15px; font-weight: bold; text-align: center; }
.PAC-title-bg { background: #767676; border-radius: 4px; line-height: 18px; padding: 3px 10px; color: #fff; font-size: 14px; width: 60%; margin: 5px auto; text-align: center }
.PAC-title-bg a { text-decoration: none; color: #fff; }
.PAC-title-bg a:hover { text-decoration: underline; color: #fff; }
.PAC-heading { font-size: 35px; float: left; color: #2b8f22; text-align: left; position: relative; width: 100%; font-weight: bold; margin-top: 20px }
.PAC-heading span { font-size: 24px; color: #222; padding-left: 10px; font-weight: bold; text-transform: uppercase; }
.PAC-Img { width: 350px; }
.PAC-Img img { width: 240px; margin: 0 45px; }
.btn-download-brown { background: url(../images/bg-button-brown.png) no-repeat; width: 158px; height: 36px; color: #fff; margin: 10px 0 25px; position: absolute; right: 0px; top: -10px; border: none; font-size: 13px; text-align: center; cursor: pointer; }
.btn-download-brown:hover { text-decoration: none; color: #ff0 }
.roW { display: block; margin: 10px auto; overflow: hidden; }
.w80 { width: 80%; }
.col-coltrol { width: 200px; float: left; margin-right: 20px }
.col-coltrolR { width: 250px; float: left; }
.col-coltrolR p { font-size: 15px; color: #fff; line-height: 26px; margin: 5px 0 }
.h230 { }
.featureInfo .doc-01 { line-height: 26px; }
.title-coolingsp { width: 80%; margin: 0 auto; text-align: center; }
.title-coolingsp a { font-size: 20px; font-weight: normal; text-transform: uppercase; text-decoration: none }
.title-coolingsp a:hover { text-decoration: underline; color: #fff; }
.doc-01 { font-size: 18px; color: #000;  line-height: 25px; }
h8 { font-size: 35px !important; font-weight: normal; color: #fff; text-transform: uppercase; line-height: 35px; margin-bottom: 20px; float: left; width: 100%; }
.bullet-w { width: 16px; height: 16px; background: #Fff; float: left; margin-right: 15px; margin-top: 5px; }
/* Style Projects */
.project-left { float: left; width: 220px; margin-right: 20px; background: #eee; display: block }
.project-left .header { background: #000; font-size: 18px; color: #fff; padding: 5px; }
.project-left ul { padding-left: 0px; }
.project-left li { color: #000; background: #eee; text-align: left; }
.project-left li span { }
.project-left li a { text-decoration: none; color: #000; width: 220px; float: left; background: #eee; font-size: 14px; padding: 5px 7px; line-height: 20px; font-family: 'Conv_HelveticaNeue'; }
.project-left li a:hover { text-decoration: none; color: #e60023; background: #fff; }
.project-right { float: left; width: 750px; }
.project-right .banner-project { width: 750px; height: 300px; margin-bottom: 10px; float: left; }
.project-right .banner-project img { width: 750px; height: 300px; }
.project-right h1 { font-size: 30px; color: #000; margin-top: 20px; font-weight: bold; }
.project-right h2 { font-size: 20px; color: #000; margin-top: 20px; font-weight: bold; }
.project-right p { color: #040000; font-size: 16px; line-height: 20px; }
hr.style-two { border: 0px none; margin-top: 10px; height: 1px; background-image: -moz-linear-gradient(left center, transparent, rgba(0, 0, 0, 0.75), transparent); }
.blue-line { height: 2px; background: #094b9f; }
.model-list { margin-left: 70px; display: block; }
.choice-model {    margin: 5px 0 5px 10px;float: left;  width: 45%; }
.choice-model span { text-transform: uppdercase; font-weight: bold; color: #F00; line-height: 30px; font-size: 16px; }
.bold { font-weight: bold }
.non-upper { text-transform: none; }
h8.heading { font-weight: lighter;  font-size: 30px !important; margin: 20px 0; text-transform: none; }
.red-line01 { height: 2px; width: 100%; background: #941b25; margin: 10px 0; border: none; }
.col-70 { width: 70%; }
.col-30 { width: 30%; }
.dark-blue { color: #29496b; font-size: 26px; font-weight: bold; line-height: 35px; margin: 20px 5px; }
.black20 { font-size: 19px; color: #333; line-height: 25px;  }
.Inner .imgInner { float: left; margin-right: 15px; }
.Inner .contentInner { display: block }
.black14 { font-size: 14px; color: #333; line-height: 28px;  }
.indoor-title { font-size: 25px; color: #F00; margin-bottom: 10px; font-weight: bold; }
.indoor-title-bl { font-size: 23px; color: #000; margin: 10px 0; font-weight: bold; text-transform: uppercase; line-height: 30px }
.indoor-title-bg { background: #767676; border-radius: 4px; line-height: 18px; padding: 8px 16px; color: #fff; text-transform: uppercase; font-size: 24px; width: 45%; text-align: center }
.indoor-title-bg a { text-decoration: none; color: #fff; }
.indoor-title-bg a:hover { text-decoration: underline; color: #fff; }
.indoor-Img { width: 500px; }
.indoor-Img img { }
.outdoor-title-bg { background: #767676; border-radius: 4px; line-height: 18px; padding: 8px 16px; color: #fff; font-size: 18px; width: 50%; text-align: center }
.remote-title { font-size: 20px; color: #000; margin: 10px auto; text-align: center; text-transform: uppercase; line-height: 30px }
.outdoor-title-bg a { text-decoration: none; color: #fff; }
.outdoor-title-bg a:hover { text-decoration: underline; color: #fff; }

.TSKT-wr{width:100%;background:#fff;}
.tskt-col{width:50%; float:left;}
table.tskt-table {font-size:14px;}
table.tskt-table .t-left{ text-align:left;}
table.tskt-table .t-center{ text-align:center;}
table { border-spacing: 0px;border-collapse: collapse;background-color: transparent;}
table.tskt-table tr td{ font-weight: bold; padding:5px; text-align:left;}
.bg-td-l{ background:#cfc4c4;} 
.td-border{ border-right: solid 1px #fff;}
.bg-td-r{ background:#b39a98;}
.has-check{ border-radius:50%; width:20px; background:#000; text-align:center; float:left; height:20px;margin: 0 35%;} 

.table-feature { font-family: "Arial"; margin-bottom: 20px; margin-top: 15px;}
table.tskt-feature { border: solid 1px #232020}
table.tskt-feature tr { border: solid 1px #232020}
table.tskt-feature tr th{ font-weight: bold; padding:5px; text-align:center; background: #232020; border-left: solid 1px #fff; color:#fff;}
table.tskt-feature tr th:first-child{border-left: none;}
table.tskt-feature tr td{ color:#000; font-weight: 500; font-size: 16px; border-right: solid 1px #232020; padding:5px; text-align:center;}
.bdb{ border-bottom: solid 1px #fff;}
.bdl{ border-left: solid 1px #fff !important}
.align-left{ text-align:left !important;}

table.tskt-fan { border: solid 1px #232020}
table.tskt-fan tr { border: solid 1px #232020; background: #fff;}
table.tskt-fan tr:nth-child(2n){background:#d7effc;}
table.tskt-fan tr th{ font-weight: bold; padding:5px; text-align:center; background: #232020; border-left: solid 1px #fff; color:#fff;}
table.tskt-fan tr th:first-child{border-left: none;}
table.tskt-fan tr td{ color:#000; font-weight: 500; font-size: 16px; border-right: solid 1px #232020; padding:5px; text-align:center;}
.borderleft{border-left: solid 1px #fff !important;}
.textleft{ text-align:left; padding-left:15%;}

table.tskt-exfan { border: solid 1px #232020}
table.tskt-exfan tr { border: solid 1px #232020}
table.tskt-exfan tr th{ font-weight: bold; padding:5px; text-align:center; background: #d3e7b4; border-left: solid 1px #232020; color:#000;}
table.tskt-exfan tr th:first-child{border-left: none;}
table.tskt-exfan tr td{ color:#000; font-weight: 600; background:#fff; font-size: 16px; border-right: solid 1px #232020; padding:5px 10px; text-align:center;}
.bdb1{ border-bottom: solid 1px #232020;}
.bdl1{ border-left: solid 1px #232020 !important}
.tt-exfan {font-weight: bold; text-transform:uppercase; font-size:16px;}
.exfan-size img {max-width:100%}
.benefit-item{ display: block; margin-bottom: 10px;overflow: hidden; float:left}
.primium-safety { margin-left: 10px; font-size:20px; color:#fff; text-transform: uppercase;margin-top: 50px;float: left; }
.bg-safety{ padding: 10px;display: block; overflow: hidden; background:#e1f3fd; width:100%; margin:0px auto 20px; border-radius:10px; }
.icon-safety { float: left; margin-right: 10px; }
.title-safety {font-weight: bold; color:#000; font-size:16px; line-height:20px; padding-top: 10px;}
.bg-safety p{ont-size: 16px;color: #000;line-height: 22px;margin: 5px 0px;}
.safetyFeature { display:block; margin-bottom:5px; clear:both}
.bg-safety .note {color: #e90101; font-size:15px; font-style:italic; text-align:center; line-height:22px; width: 80%; margin: 10px auto}
.img-safety{ float:left;}
.ft-size {width:100%; text-align:center;}
.img-safety img, .icon-safety img, .ft-size img{max-width:100%;}
.benefit-jettowel-tt{ line-height: 20px; width:100%; margin-bottom:10px;background:#fff; text-transform:uppercase; border-radius:8px; padding:10px 5px; font-size:15px; color:#017026; font-weight:bold;}
.jettowel-number {float:left;margin-right:5px;vertical-align: middle;}
.jettowel-number span{ background:#97b845; border-radius:50%; padding:5px 10px;  color:#fff; font-size:20px; font-weight:bold;}
.mgtop{ margin-top: 5px;}
.jettowel-txt{font-size: 15px;line-height: 24px; margin-bottom:15px; color:#fff;}
.feature-bg {background: transparent url("../images/bg-slider.png") no-repeat scroll center bottom;margin-bottom: 40px; width: 100%;}

table.tskt-jettowel { border: solid 2px #fff}
table.tskt-jettowel tr { border: solid 2px #fff}
table.tskt-jettowel tr th{ font-weight: bold; padding:5px; text-align:center; background:#c0ddeb; color:#262524;border-right: solid 2px #fff;}
table.tskt-jettowel tr td{ color:#262524; font-weight: 600; background:#e3f8e2; font-size: 15px; border-right: solid 2px #fff; padding:5px 10px; text-align:center;}


/*---------------------------------------------------------------------------------*/
/*	Responsive Structure
/*-----------------------------------------------------------------------------------*/

 @media only screen and (max-width: 1024px) {
   .ft-benbi img { width: 950px; margin: 0 auto; }
   .slider-airCon-bt ul li { width: 200px; }
   dsss .slider-airCon-bt ul li a img { width: 190px; }
   .bigFeatureImage img { width: 1000px }
   .itemFeatures .imgFeaturesJettowel { width: 400px; }
   .itemFeatures .imgFeaturesJettowel img { width: 400px; }
   .imgBenbi { height: auto }
   .imgBenbi img { width: 500px; }
   .featurebenbi { width: 450px; padding-top: 0; margin-top: 0; margin-left: 20px; }
   .featurebenbi h1 { font-size: 38px; margin-top: 8px; line-height: 38px; }
   .img-thongso-full { width: 600px }
   .img-thongso-full img { }
   .logo-capdongmem { left: 70px; top: 95px; }
   .bt-capdongmem { left: 80px; top: 230px; }
   .bt-nganlanh { right: 110px; top: 160px; }
   .bt-nganmat { left: 110px; top: 357px; }
   .bt-ngandong { right: 110px; top: 283px; }
   .bt-ngandongthuong { left: 35px; top: 407px; }
   .bt-nganrauqua { left: 88px; top: 465px; }
   .bt-nganlamda { left: 80px; top: 347px; }
   .bt-ngandongthuong-z65 { right: 100px; top: 388px; }
   .bt-led { position: absolute; left: 22px; top: 180px; }
   .bt-nganlanh-tienloi { position: absolute; right: 65px; top: 155px; }
   .bt-vitamin { position: absolute; left: 65px; top: 315px; }
   .bt-khaykinh { position: absolute; right: 77px; top: 305px; }
   .bt-ngancapdongthuong { position: absolute; left: 32px; top: 450px; }
   .bt-ngandongdadang { position: absolute; right: 55px; top: 418px; }
   .bt-nganlanh453 { left: 110px; top: 160px; }
   .bt-vitamin-FD { right: 130px; top: 260px; }
   .bt-ngandong-FD { right: 110px; top: 415px; }
   .bt-nganlanh-NDD { left: 84px; top: 165px; }
   .bt-nganrauqua-NDD { left: 56px; top: 366px; }
   .bt-ngandong-NDD { left: 78px; top: 506px; }
   .Imgproduct img { max-width:100%; }
   .Imgvitamin img { width: 345px; }
   .ImgLibrary img { width: 550px; }
   .viDeoInfo { width: 45%;}
}
@media only screen and (max-width: 768px) {
   .ft-benbi img { width: 700px; }
   .col-md { width: 100%; }
   .slider-airCon-bt ul li { width: 270px; }
   .slider-airCon-bt ul li a img { width: 260px; }
   .slider-airCon ul li { width: 170px; }
   .slider-airCon ul li a img { width: 160px; }
   .green-SKU { font-size: 25px; padding-top: 10px; padding-bottom: 10px; width: 350px; }
   .ft-benbi img { width: 700px; }
   .slider-airCon-bt ul li { width: 270px; }
   .slider-airCon-bt ul li a img { width: 260px; }
   .slider-airCon ul li { width: 170px; }
   .slider-airCon ul li a img { width: 160px; }   
   .itemFeatures .imgFeaturesJettowel { width: 450px; float: none; margin: 10px auto; text-align: center; }
   .itemFeatures .imgFeaturesJettowel img { width: 450px; }
   .itemFeatures .contentFeaturesJettowel { margin-left: 0px; }
   .col-small-lg img { width: 200px; }
   .bgSafety { background: #FFF; height: 100%; }
   h1 { font-size: 30px; line-height: 30px; }
   .multi-bold { line-height: 25px; }
   .upline-Img img { width: 220px; }
   .upline-title { font-size: 16px; width: 90%; }
   .outDooroomImg img { width: 340px; }
   .PAC-Img img { width: 200px; margin: 0px 25px; }
   .PAC-line img { width: 760px; }
   .imgBenbi { height: auto }
   .imgBenbi img { width: 350px; }
   .featurebenbi { width: 350px; padding-top: 0; margin-top: 0; margin-left: 20px; }
   .featurebenbi h1 { font-size: 30px; margin-top: 8px; line-height: 30px; }
   .white-20 { font-size: 15px; }
   .img-thongso-full { width: 450px }
   .img-thongso-full img { width: 450px }
   .white_button { font-size: 13px; padding: 8px 10px }
   .logo-capdongmem { left: 8px; top: 57px; }
   .bt-capdongmem { left: -15px; top: 198px; }
   .bt-nganlanh { right: 20px; top: 140px; }
   .bt-nganmat { left: 17px; top: 316px; }
   .bt-ngandong { right: 20px; top: 250px; }
   .bt-ngandongthuong { left: -5px; top: 300px; }
   .bt-nganrauqua { left: -5px; top: 410px; }
   .bt-led { position: absolute; left: -13px; top: 130px; }
   .bt-nganlanh-tienloi { position: absolute; right: 29px; top: 112px; }
   .bt-vitamin { position: absolute; left: 20px; top: 230px; }
   .bt-khaykinh { position: absolute; right: 38px; top: 223px; }
   .bt-ngancapdongthuong { position: absolute; left: 2px; top: 333px; }
   .bt-ngandongdadang { position: absolute; right: 15px; top: 310px; }
   .bt-nganlanh-NDD { left: 30px; top: 117px; }
   .bt-nganrauqua-NDD { left: 10px; top: 270px; }
   .bt-ngandong-NDD { left: 28px; top: 378px; }
   .col-tl02 { width: 100% }
   .label { width: 20px; height: 20px; float: left; margin-right: 5px; }
   .titleHeader { font-size: 15px; margin-left: 25px; line-height: 19px; color: #000; }
   .black-bg-01 { background-image: none; }
   .ImgLibrary img { width: 410px; }
   .Imgvitamin img { width: 300px; }
   .NeuroLogo img { width: 350px; }
   .Neurofeature .col-N { width: 29%; margin: 0px 15px; }
   .sliderREF ul { width: 750px }
   .sliderREF { width: 750px; }
   .bt-nganlamda { left: 0px; top: 307px; }
   .bt-ngandongthuong-z65 { right: 18px; top: 345px; }
   .bt-nganlanh453 { left: 25px; top: 137px; }
   .bt-vitamin-FD { right: 40px; top: 230px; }
   .bt-ngandong-FD { right: 21px; top: 360px; }
   .itemFeatures .imgFeatures { width: 120px; }
   .itemFeatures .contentFeatures { margin-left: 130px; }
   .titleFeatures { font-size: 15px; line-height: 20px; }
   .itemFeatures .contentFeatures p { font-size: 15px; line-height: 20px; }
   .ImgREF { width: 350px; }
   h7 { font-size: 20px; }
   h8 { font-size: 30px !important; }
   .TitleVitamin { font-size: 30px; }
   .white-bg-01 { background-image: none; background: #fff; padding: 0px; }
   .desc-01 { font-size: 15px; line-height: 24px; }
   .l-green-SKU { padding: 10px 20px; line-height: 30px; width: 350px; font-size: 27px; }
   .colOutDooroom { width: 100%; margin: 10px auto; text-align: center; float: none; }
   .itemFeatures .imgFeatures img { width: 120px; }
   .display_count{ left:10px; top:-5px}
   .col-video{width:100%;}
	.viDeoInfo{ width:100%; margin-top:20px}
	.benefit-features .col-benefit { width:100%;}
}
 @media only screen and (max-width: 640px) {
	.ft-benbi img { width: 600px; }
	.slider-airCon-bt ul li { width: 250px; }
	.slider-airCon-bt ul li a img { width: 240px; }
	.next-airCon-bt { right: 3px }
	.slider-airCon ul li { width: 150px; }
	.slider-airCon ul li a img { width: 140px; }
	.ngandaduoi-06 img { width: 250px }
	.ngandaduoi-07 img { width: 230px; margin-top: 20px; float: left }
	.col-tl01 { width: 100%; }
	.black-bg, .w-bg { padding: 0 5px; }
	.bigFeatureImage img { width: 620px }
	.white_button { font-size: 12px; padding: 5px; }
	.three-round { display: none }
	.font30 { font-size: 25px }
	brown-SKU-1 { padding: 10px; }
	.col-30 { width: 100%; float: none; height: 150px; }
	.col-small-lg img { width: 150px; }
	.col-txt { width: 460px }
	.col-small { height: 150px }
	.upline-Img img { width: 200px; }
	.outDooroomImg img { width: 300px; }
	.upline-title { font-size: 14px; width: 96%; }
	.PAC-Img img { width: 160px; margin: 0px 20px; }
	.PAC-line img { width: 600px; }
	.PAC-title-bg { width: 50%; }
	.PAC-heading { font-size: 30px; }
	.imgBenbi { height: auto }
	.imgBenbi img { width: 100%; }
	.featurebenbi { width: 600px; margin-top: 20px; }
	.featurebenbi h1 { font-size: 30px; margin-top: 8px; line-height: 30px; }
	.white-20 { font-size: 15px; }
	.bt-led { position: absolute; left: -15px; top: 132px; }
	.bt-nganlanh-tienloi { position: absolute; right: 0px; top: 115px; }
	.bt-vitamin { position: absolute; left: 0px; top: 235px; }
	.bt-khaykinh { position: absolute; right: 4px; top: 230px; }
	.bt-ngancapdongthuong { position: absolute; left: -10px; top: 333px; }
	.bt-ngandongdadang { position: absolute; right: -10px; top: 312px; }
	.tt-brown { font-size: 27px; margin-top: 30px; }
	.container-product { padding: 25px 0; }
	h8 { line-height: 30px; margin-bottom: 20px; float: left; width: 100%; }
	.logo-capdongmem { left: 0px; top: 57px; }
	.bt-capdongmem { left: -13px; top: 110px; }
	.bt-nganlanh { right: 0px; top: 110px; }
	.bt-nganmat { left: 0px; top: 171px; }
	.bt-ngandong { right: 0px; top: 227px; }
	.bt-ngandongthuong { left: -13px; top: 300px; }
	.bt-nganrauqua { left: -13px; top: 397px; }
	.black-bg-01 { background-image: none; background: #000; }
	.col-tl { width: 100%; }
	.ctFeature .col-md-s { width: 100% }
	.ctFeature .col-md-l { width: 100% }
	.sliderREF { width: 550px;}	  
	.sliderREF ul {  width: 550px;}
	.viewFullTSKT { display:none}
	.img-thongso-full img {max-width:100%;}
	.bt-nganmat {left: 0px; top: 320px;}
	  .bt-capdongmem {left: -13px; top: 204px;}
	  .bt-nganlanh {right: -6px;top: 145px;}
	  .bt-ngandong {right: 0px; top: 256px;}
	  .bt-nganrauqua {left: -13px;top: 413px;}
	  .w-bg, .dark-bg, .black-bg { padding: 10px 5px;}
	  .drawerREF { float: none;}
	  .titleFeatures {font-size: 22px;line-height: 30px;}
	  .NeuroLogo img { width: 250px;}
	  .NeuroTitle {font-size: 30px;line-height: 36px;padding-top: 5px;}
	  .subTT {font-size: 15px;color: #000; text-transform: none;}
	  .Neurofeature .col-N { margin: 10px 0;  width: 100%; border-bottom: solid 1px #fff; padding-bottom: 15px;}
	  .itemN { display: block;height: auto;clear: both;padding: 5px 0px;}
	  .ft-benbi img { width: 500px;}
	  .upline-col { width: 50%; }
	  .colOutDooroom {}
	  .Img img {max-width:100%;}
	  .benefit-features .col-benefit { width:100%;}
	  .primium-safety{ float:none; text-align: left; padding-left: 90px; margin-top:30px;}
}
@media only screen and (min-width: 568px) and (max-width: 667px) {
	.sliderREF { width: 550px;}	  
	.sliderREF ul {  width: 550px;}
	.viewFullTSKT { display:none}
	.ImgREF img {max-width:100%;}
	.img-thongso-full img {max-width:100%;}
	.bt-nganmat {left: 0px; top: 320px;}
	  .bt-capdongmem {left: -13px; top: 204px;}
	  .bt-nganlanh {right: -6px;top: 145px;}
	  .bt-ngandong {right: 0px; top: 256px;}
	  .bt-nganrauqua {left: -13px;top: 413px;}
	  .w-bg, .dark-bg, .black-bg { padding: 10px 5px;}
	  .drawerREF { float: none;}
	  .titleFeatures {font-size: 22px;line-height: 30px;}
	  .NeuroLogo img { width: 250px;}
	  .NeuroTitle {font-size: 30px;line-height: 36px;padding-top: 5px;}
	  .subTT {font-size: 15px;color: #FFF; text-transform: none;}
	  .Neurofeature .col-N { margin: 10px 0;  width: 100%; border-bottom: solid 1px #fff; padding-bottom: 15px;}
	  .itemN { display: block;height: auto;clear: both;padding: 5px 0px;}
	  .ft-benbi img { width: 500px;}
	  .upline-col { width: 50%; }
	  .colOutDooroom { }
	  .Img img {max-width:100%;}
	  .col-video{width:100%;}
	  .benefit-features .col-benefit { width:100%;}
	  
	

}
 @media only screen and (min-width: 320px) and (max-width: 480px) {
   .ft-benbi img { width: 300px; }
   .green-SKU { font-size: 20px; padding-top: 2px; padding-bottom: 2px; width: 280px; line-height: 28px; }
   .slider-airCon-bt ul li { width: 120px; }
   .slider-airCon-bt ul li a img { width: 110px; }
   .prev-airCon-bt, .next-airCon-bt { top: 30px }
   .prev-airCon-bt { left: 0 }
   .next-airCon-bt { right: 0 }
   .prev-airCon-bt img, .next-airCon-bt img { width: 30px; }
   .black-bg, .w-bg { padding: 0 5px; }
   .itemFeatures .imgFeatures { width: 180px; float: none; margin: 0 auto 20px; }
   .itemFeatures .imgFeatures img { width: 180px; }
   .itemFeatures .contentFeatures { font-size: 13px; line-height: 18px; margin-left: 0px; }
   .col-tl01, .col-tl02 { width: 100%; }
   .bigFeatureImage img { width: 300px }
   /*.white_button {font-size:12px; padding: 5px 15px;  width:80%; float:none;}*/
   
   .font30 { font-size: 18px }
   .itemFeatures .imgFeaturesJettowel { width: 250px; float: none; margin: 10px auto; text-align: center; }
   .itemFeatures .imgFeaturesJettowel img { width: 250px; }
   .itemFeatures .contentFeaturesJettowel { margin-left: 0px; }
   .titleFeatures { font-size: 16px; }
   .brown-SKU-1 { font-size: 20px; padding: 10px; line-height: 20px; width: 265px; }
   .brown-SKU-01 { width: 300px; font-size: 25px; }
   .brown-SKU-01 span { font-size: 15px; }
   .col-30 { width: 100%; float: none; height: 300px; }
   .col-small { float: none; width: 300px; margin: 0 auto; text-align: center; }
   .col-small-lg { float: none; width: 300px; text-align: center; height: auto }
   .col-small-lg img { width: 230px; margin: 0 auto; }
   .col-txt, .col-txt-lg { width: 300px }
   .txt-safety { font-size: 14px; }
   .upline-col { width: 100%; float: none; }
   .upline-Img img { width: 300px; }
   .upline-title { font-size: 15px; width: 90%; }
   .series-heading { font-size: 35px; }
   .unit-head { font-size: 28px; float:left; }
   .colOutDooroom { width: 100%; float: none; margin: 10px 0; }
   .PAC-heading span { font-size: 18px; }
   .PAC-heading { font-size: 23px; }
   .PAC-line img { width: 300px; }
   .btn-download-brown { height: 30px; right: 3px; top: -45px; margin: 10px 0; }
   .m-top35 { margin-top: 35px; }
   .PAC-Img img { width: 230px; margin: 0px 35px; }
   .featurebenbi { width: 300px; margin: 10px; }
   .featurebenbi img { margin-top: 20px; width: 300px; }
   /*.img-thongso-full {width:160px}
	   .img-thongso-full img{width:160px}
	   .white_button{ font-size:10px; font-weight:bold; padding:4px 3px}
	   .logo-capdongmem img{width:70px;}
	   .logo-capdongmem {left: 8px;top:0px;}
	   .bt-capdongmem {left: -15px;top: 32px;}
	   .bt-nganlanh {right: 30px;top: 110px;}
	   .bt-nganmat {left: 39px;top: 171px;}
	   .bt-ngandong {right: 26px;top: 227px;}
	   .bt-ngandongthuong {left: 4px;top: 300px;}
	   .bt-nganrauqua {left: 6px;top: 397px;}*/
   
   .overview-feature { display: none; }
   .Imgproduct img { max-width:100%; }
   h8 { line-height: 30px; font-size: 24px !important; }
   .top_button { right: 10px; }
   .black-bg-01 { background-image: none; background: #000; }
   .ctFeature .Img img { width: 280px; }
   .col-tl { width: 100%; }
   .ctFeature .col-md-s { width: 100% }
   .ctFeature .col-md-l { width: 100% }
   .EnergyBox { display: none; }
   .ImgREF {width: 300px;}
   .Left{ float:none;}
   .marginLeft165 {margin-left: 0px;}
   .top_button{display:none;}
   .drawerREF img{ width:300px;}
   .imgdrawerREF { float:none;}
   .TitleVitamin{background:none; font-size:28px; line-height:35px; height: auto; padding-left:0px;}
   .ImgLibrary img{width:300px;}
   .NeuroLogo img {width: 300px;}
   .NeuroTitle { font-size: 30px;}
   .subTT {font-size: 15px;}
   .Neurofeature .col-N { width: 100%; margin: 10px auto;}
   .Neurofeature .col-N img, .itemN img{ }
   .itemN {height: auto;}
   .col-video{width:100%;}
   .viDeo { width:300px; height:200px; margin:0 auto 15px;  }
   .viDeoInfo{ width:100%; margin-top:20px}
   .sliderREF { width: 300px; margin-top:15px;}
   .sliderREF ul { width: 300px; }
   .sliderREF ul li { width: 140px; margin:0 auto; float:left; }
   .model-list { margin-left: 0;  margin-top: 10px;}
   .divCell { width: 100% !important; margin: 3px 0;}
   .viewFullTSKT{ display:none;}
   .capDongmem{ margin-left:0px; float:left;}
   .itemN p {line-height: 18px; padding-top: 0;}
   .display_count{top:-15px;}
   .blue-bg{ padding:0 5px;}
   .upLine-wr { margin: 0;}
   h7{margin-top: 10px; font-size:24px;}
   .multi-bold {font-size: 20px;}
   h1 {font-size: 30px;line-height: 35px;}
   .m-left20 { margin-left: 0px;}
   .colOutDooroom {}
   .Img img {max-width:100%;}
   .doc-ZEN {margin-left: 0px; margin-bottom: 20px; }
   table.tskt-feature tr th{ line-height: 16px; padding:3px; font-size:12px;}
   table.tskt-feature tr td{ font-size: 12px; line-height: 15px;  padding:3px; }
   table.tskt-fan tr th{ line-height: 16px; padding:3px; font-size:12px;}
   table.tskt-fan tr td{ font-size: 12px; line-height: 15px;  padding:3px; }
   .benefit-fan .col-benefit { width:100%;}
   .icon-benefit {float:none; margin: 10px auto; text-align: center; padding-bottom: 0px;}
   .primium-safety {font-size:18px; margin-top:0;}
   .safetyFeature{height: auto; clear: both;}
   .icon-safety {padding-bottom:20px;}
   .bg-safety .note {width:100%;}
   .img-safety img, .icon-safety img, .ft-size img{width:100%;}
   .table-feature {display:none;}
   .benefit-features {margin:35px 0 0}
   .feature-bg{margin-bottom: 30px;}
   
}

 .fridge-content .image-align{
     display:block;
     margin:0 auto;
 }
