﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.module-title {
    color: #000;
    margin-bottom: 0;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.box-header {
    background: #f3f3f4;
    border-color: #dbdbde;
    border-width: 1px 1px 0 !important;
    border-style: solid;
    padding-bottom: 3px;
    padding-top: 3px;
}

.criteria-search {
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-block;
    height: 32px;
    width: 100%;
    border: 1px solid #dadada;
    -ms-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 32px;
    text-indent: 10px;
}

.form-short-text-box {
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-block;
    height: 28px;
    width: 200px;
    border: 1px solid #dadada;
    -ms-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
    line-height: 28px;
}

.form-long-text-box {
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
    height: 28px;
    width: 95% !important;
    border: 1px solid #dadada;
    -ms-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 28px;
}

.short-description {
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 130px;
    width: 95% !important;
    border: 1px solid #dadada;
    -ms-border-radius: 5px;
    border-radius: 5px;
    font-size: 16px;
    padding-top: 5px;
}

.career-description {
    height: 150px !important;
}

.text-box {
    width: 167px;
    height: 23px;
    text-indent: 0.33em;
}

.long-textbox {
    width: 95%;
}

.product-name {
    max-width: 500px !important;
    width: 75% !important;
}

.supplier-phone {
    width: 200px;
}

#tblCustomerDetail .title, #tblUpdateRawProduct .title {
    width: 130px;
    text-align: right;
    padding: 0.25em 1em 0.25em 0em;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
