﻿.banner_container {
    width: 100%;
    height: 305px;
    margin: 0 auto;
    padding: 0;
}

    .banner_container img {
        width: 100%;
        height: 305px;
    }

.service-container {
    margin: 0 auto;
    padding: 0px;
    overflow: hidden;
}

.imgContact {
    padding-right: 20px;
    float: left;
    margin-top: 0px;
}

.imgNews {
    padding-right: 20px;
    float: left;
}

.authorise-container #btnSearch {
    margin: 10px auto;
    padding: 10px 20px;
    font-weight: bold;
    display: block;
}

.service-container h1,
.authorise-container h1 {
    font-weight: bold;
    color: #222;
    font-size: 40px;
    border-bottom: solid 2px #cdcdcd;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.service-container h2 {
    font-weight: bold;
    color: #222;
    font-size: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    padding-top: 10px;
}

.service-container h3 {
    font-weight: bold;
    color: #222;
    font-size: 24px;
    margin: 0;
    margin: 0;
    padding: 0;
}

.requirement {
    /* width: 750px; */
    margin: 0;
}

.wr-requirement {
    width: 750px;
    margin: 0 auto !important;
}

.block_breakumb {
    padding: 0px 0px 8px;
    margin: 10px 0 20px 0;
    font-style: italic;
    color: #fe0000;
    font-size: 15px;
}

    .block_breakumb a {
        float: left;
        text-decoration: none;
        color: #fe0000;
    }

        .block_breakumb a:hover {
            color: #000;
        }

    .block_breakumb strong {
        font-size: 20px;
        color: #fe0000;
        margin: 0px 6px;
    }

.requirement-tt {
    font-size: 24px;
    color: #000;
    margin-bottom: 0px;
}

.requirement .ita {
    font-size: 13px;
    font-style: italic;
    color: #424242;
    margin-top: 15px;
    line-height: 18px;
}

.txt-red {
    color: #ff0000 !important;
}

.margleft {
    margin-left: 20px;
}

.red-bullet {
    float: left;
    margin-right: 5px;
    height: 20px;
    margin-top: 2px;
}

.bg-inquire {
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
    padding-bottom: 40px;
    background: #fff;
}

.bg-inquire_02 {
    width: 100%;
    background: #fff;
}

.enquireComment {
    width: 750px;
    overflow: hidden;
    background: #e7e7e7;
    border-radius: 4px;
    padding: 8px;
    margin: 0 auto;
    padding-top: -20px;
}

.comment-body {
    padding: 5px;
}

.form-group {
    vertical-align: middle;
    overflow: hidden;
}

i.redArrBullet {
    background: url(../images/ArrowRight-01.png) no-repeat;
    float: left;
    margin-right: 7px;
    width: 6px;
    height: 14px;
    margin-top: 5px;
}

.enquireBotline {
    height: 2px;
    border-bottom: solid 1px #cdcdcd;
    margin: 3px;
}

.control-label {
    padding-top: 7px;
    margin-bottom: 0px;
    text-align: left;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

.control-label01 {
    font-weight: normal;
    padding-top: 7px;
}

.form-control {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    width: 100%;
    height: 35px;
    padding: 6px;
    background-color: #f6f6f6;
    border-left: none;
    border-right: none;
    border-top: solid 1px #c2c3c5;
    border-bottom: solid 1px #c2c3c5;
}

input,
button,
select,
textarea {
}

textarea {
    overflow: auto;
}

    textarea.form-control {
        height: auto;
    }

.radio-list > label {
    margin-bottom: 0px;
}

.radio-list > label {
    display: block;
    margin-left: 15px;
    font-size: 14px;
    color: #000;
}

.radio-list .radio {
    padding-top: 0px;
}

.radio,
.checkbox {
    min-height: 27px;
}

.radio,
.checkbox,
.radio-inline,
.checkbox-inline {
    padding-top: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

div.radio {
    margin-right: 0px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.radio > span {
    margin-top: 0px;
}

div.radio span {
    display: inline-block;
    text-align: center;
}

div.radio input {
    opacity: 1;
    border: medium none;
    background: none repeat scroll 0% 0% transparent;
    display: inline-block;
    text-align: center;
}

div.radio {
}

    div.radio,
    div.radio span,
    div.radio input {
        height: 20px;
    }

div.radio {
    position: relative;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
}

div.radio span.checked {
    font-weight: bold;
}

label > .checked {
    font-weight: bold;
}

.processInfo {
    margin-top: 20px;
    font-size: 14px;
    color: #424242;
    font-weight: normal;
    line-height: 22px;
}

    .processInfo strong {
        font-size: 15px;
        font-weight: bold;
        line-height: 23px;
    }

.bullet-04,
.bullet-red {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    float: left;
    background: #000;
    margin-top: 10px;
    margin-right: 10px;
}

.bullet-red {
    background: #F00;
}

.button-grey,
.button-red,
.button-green {
    margin: 0px 5px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.65);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 15px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

.button-yellow {
    margin: 0px 5px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.65);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 15px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    margin: 10px 5px;
    height: 40px;
    background: linear-gradient(#009531, #006521);
    background: linear-gradient(#009531, #006521);
    background: linear-gradient(#009531, #006521);
    background: linear-gradient(#009531, #006521);
}

.button-grey {
    background: -webkit-linear-gradient(#8d8d8d, #767676);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#8d8d8d, #767676);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#8d8d8d, #767676);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#8d8d8d, #767676);
    /* Standard syntax (must be last) */
    margin: 0 20px;
}

    .button-grey:hover {
        background: -webkit-linear-gradient(#767676, #8d8d8d);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#767676, #8d8d8d);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#767676, #8d8d8d);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(#767676, #8d8d8d);
        /* Standard syntax (must be last) */
    }

.button-red {
    padding: 10px 15px;
    background: -webkit-linear-gradient(#cc0000, #a80000);
    background: -o-linear-gradient(#cc0000, #a80000);
    background: -moz-linear-gradient(#cc0000, #a80000);
    background: linear-gradient(#cc0000, #a80000);
}

    .button-red:hover {
        background: -webkit-linear-gradient(#a80000, #cc0000);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#a80000, #cc0000);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#a80000, #cc0000);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(#a80000, #cc0000);
        /* Standard syntax (must be last) */
    }

.button-green {
    margin: 10px 5px;
    height: 40px;
    background: linear-gradient(#009531, #006521);
    background: linear-gradient(#009531, #006521);
    background: linear-gradient(#009531, #006521);
    background: linear-gradient(#009531, #006521);
}

    .button-green:hover {
        background: linear-gradient(#006521, #009531);
        color: #fff;
    }

.button-yellow:hover {
    background: linear-gradient(#006521, #009531);
    color: #fff;
}

.c:hover {
    background-color: yellow;
}

.auto {
    margin: 0 auto;
}

.wr-warranty .chooseProduct {
    width: 44%;
    float: left;
    border-radius: 4px;
    margin-right: 10px;
    padding: 0;
    font-size: 14px;
    color: #000;
    background: -o-linear-gradient(#f7f8f8, #e5e6e7);
    background: -moz-linear-gradient(#f7f8f8, #e5e6e7);
    margin: 0;
    background: none;
    border: none;
}

.authorise-container .chooseProduct {
    float: left;
    border-radius: 4px;
    margin: 0;
    border: none;
    padding: 14px 14px;
    font-size: 14px;
    color: #000;
    background: none;
}

.wr-location .btnFindNearby {
    margin: 0;
}

.wr-location .text {
    margin: 0 10px 0 0;
    padding: 0;
    font-weight: bold;
}

.wr-location .searchBlock {
    margin: 20px 0 0 0;
}

.wr-location .radio-list label {
    padding-left: 7px;
    margin: 0 20px 0 0;
}

.authorise-container .chooseProduct .chooseSelect {
    width: 90%;
    float: left;
}

.authorise-container .chooseProduct {
    border-radius: 4px;
    margin: 6px 0;
    border: solid 1px #e5e6e7;
    padding: 4px 10px;
    font-size: 14px;
    color: #000;
    background: -webkit-linear-gradient(#f7f8f8, #e5e6e7);
    background: -o-linear-gradient(#f7f8f8, #e5e6e7);
    background: -moz-linear-gradient(#f7f8f8, #e5e6e7);
    background: linear-gradient(#f7f8f8, #e5e6e7);
}

.wr-warranty .chooseProduct .text {
    margin: 0 10px 0 0;
    padding: 0;
    float: left;
    font-weight: bold;
}

.chooseSelect {
    float: right;
    width: 65%;
}

#location-list {
    height: 399px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 50px;
}

    #location-list::-webkit-scrollbar {
        width: 7px;
        height: 10px;
    }

    #location-list::-webkit-scrollbar-thumb {
        background: #A1A1A1;
    }

    #location-list::-webkit-scrollbar-track {
        background: #EBEBEB;
    }

    #location-list .localtion-item {
        padding: 15px 10px 15px 50px;
    }

        #location-list .localtion-item:hover {
            background: #DDFFDC;
        }

.leaflet-control-locate {
    position: absolute;
    top: 72px;
    left: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fff url('/images/icon-explorereset.png') 0 0 no-repeat;
    border: 1px solid #bfbfbf;
    display: block;
    height: 30px;
    z-index: 999;
    /* width: 30px; */
    background-size: cover;
    width: 30px;
}

.col-map-right {
    float: left;
    width: 50%;
}

.col-map-left {
    float: left;
    width: 50%;
}

.chooseSelect01 {
    float: left;
    width: 60%;
}

.form-select {
    background: #f8f8f8;
    border-radius: 3px;
    padding: 6px;
    font-size: 14px;
    line-height: 20px;
    color: #000;
    width: 100%;
    border: 0;
}

.requirementNotice {
    width: 450px;
    margin: 20px auto;
    background: url(../images/bg-notice.png) repeat-x;
    text-align: center;
    font-size: 20px;
    color: #cc0000;
    height: 245px;
    font-weight: bold;
    padding: 10px 20px;
}

.bgBottom {
    background: url(../images/inquire_bg_bottom.png) repeat-x;
    width: 100%;
    height: 185px;
}

.wr-contact {
    width: 700px;
    margin: 20px auto;
    font-size: 14px;
    font-weight: normal;
}

    .wr-contact p {
        padding: 0px 10px;
    }

    .wr-contact .nameCompany {
        font-size: 16px;
        font-weight: bold;
    }

.bg-offices {
    background: -webkit-linear-gradient(#f9f9f9 40%, #a4a5a6);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f9f9f9 40%, #a4a5a6);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f9f9f9 40%, #a4a5a6);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f9f9f9 40%, #a4a5a6);
    /* Standard syntax (must be last) */
    border-left: 3px solid #ff0000;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: bold;
}

.bg-news {
    width: 100%;
}

.bg-news2 {
    background: #fff;
    height: auto;
}

.tt-top {
    margin-bottom: 10px;
    padding: 0 0 20px 0;
    margin-bottom: 30px;
    width: 100%;
    margin-top: 10px;
    border-bottom: solid 2px #cdcdcd;
}

    .tt-top h3 {
        line-height: 75px;
    }

.wr-news {
    background: #fff;
    padding: 30px;
}

    .wr-news .col-md-3 {
        padding-left: 7px;
        padding-right: 7px;
    }

    .wr-news .news-item {
        padding: 7px;
    }

        .wr-news .news-item .except {
            height: 65px;
        }

    .wr-news ul {
        padding-left: 0;
    }

    .wr-news li {
        margin: 2px 0;
    }

.pagination {
    max-width: 450px;
    margin-top: 20px;
}

    .pagination li a {
        margin: 5px;
        border-radius: 4px;
        /* width: 90px; */
        background-color: #0c733c;
        padding: 3px 7px;
        color: #fff;
    }

.label-news,
.label-grey-news {
    float: left;
    margin-right: 40px;
    width: 97px;
    height: 30px;
    margin-top: 5px;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    padding-left: 15px;
    padding-top: 3px;
}

.label-news {
    background: url(../images/label-news.png) no-repeat;
}

.label-grey-news {
    background: url(../images/label-grey-news.png)no-repeat;
}

.title-news a {
    font-size: 18px;
    color: #000;
    line-height: 22px;
    font-weight: bold;
    text-decoration: none;
}

    .title-news a:hover {
        color: #C00;
        text-decoration: none;
    }

.title-newsDetail {
    font-size: 30px;
    color: #000;
    line-height: 32px;
}

    .title-newsDetail span {
        font-weight: lighter;
        color: #444;
        font-size: 26px;
        text-transform: none;
    }

.title-news span {
    font-weight: lighter;
    color: #444;
    font-size: 16px;
    text-transform: none;
}

.wr-news p {
    font-size: 14px;
    color: #000;
    line-height: 21px;
    font-weight: normal;
    margin-bottom: 0px;
}

.wr-news .viewdetail {
}

    .wr-news .viewdetail .icon-detail {
        background: url(../images/icon-detail.png) no-repeat;
        width: 15px;
        float: left;
        margin-top: 6px;
        height: 15px;
        margin-right: 5px;
    }

    .wr-news .viewdetail a {
        font-style: italic;
        margin-right: 10px;
        color: #ff0000;
        text-decoration: underline;
        font-size: 11px;
    }

        .wr-news .viewdetail a:hover {
            text-decoration: underline;
        }

.wr-news .col-md-4,
.wr-news .col-md-8,
.wr-news .col-md-3 {
    padding-left: 7px;
    padding-right: 7px;
}

.wr-news .top-news-block .news-block-left,
.wr-news .top-news-block .news-block-right {
}

    .wr-news .top-news-block .news-block-right .item-news,
    .related-news .item-news {
        margin: 10px 0;
    }

.wr-news .top-news-block {
    padding-bottom: 20px;
}

.wr-news .news-conent {
    padding-top: 20px;
}

wr-news .top-news-block .news-block-right .item-news {
    margin: 10px 0;
}

.wr-news .top-news-block .news-block-right .datePublish {
    margin: 0;
}

.wr-news .top-news-block h3 {
    padding: 5px 0;
    font-size: 14px;
    margin: 0;
    width: auto;
    line-height: 1.5em;
}

.wr-news .top-news-block .news-block-left .datePublish {
    margin: 0px 0 10px 0;
    border-bottom: 1px solid #000;
    padding: 0;
}

.tab-news .tab-item {
    float: left;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    padding: 7px 35px;
    background-color: #C8C8C8;
}

    .tab-news .tab-item.tab-active,
    .tab-news .tab-item:hover {
        background: #E12C1B !important;
        color: #fff !important;
    }

.wr-news .top-news-block .news-block-left h2 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.wr-news .news-content {
    margin: 42px 0;
}

.wr-news .news-conent .top-news {
    display: block;
}

    .wr-news .news-conent .top-news .news-thumbnail {
        margin: 0 auto;
    }

    .wr-news .news-conent .top-news h3 {
        line-height: 1.5em;
        font-size: 16px;
        overflow: hidden;
        margin: 0;
        padding: 10px 0;
        max-height: 62px;
        width: auto;
    }

.wr-Detailnews {
}

    .wr-Detailnews h1 {
        font-size: 28px;
        border: none;
        line-height: 1.2em;
    }

    .wr-Detailnews .related-news {
        background: #fff;
    }

        .wr-Detailnews .related-news h3 {
            padding: 5px 0;
            font-size: 14px;
            margin: 0;
            width: auto;
            line-height: 1.5em;
        }

.related-news .item-news:first-child {
    margin-top: 0 !important;
}

.wr-Detailnews .datePublish {
    margin: 0;
    padding: 10px 0 0 0;
}

.wr-Detailnews .title {
    line-height: 1.2em;
    width: auto;
    margin: 0;
    padding: 5px 0 10px 0;
    font-size: 16px;
}

.wr-Detailnews .cat-news {
}

.wr-Detailnews .news-conent-main {
    padding: 20px 32px;
    background: #fff;
}

    .wr-Detailnews .news-conent-main table {
        width: 100%;
    }

.wr-Detailnews p {
    font-size: 15px;
    line-height: 22px;
}

.wr-Detailnews img {
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

.tt-detail {
    font-size: 16;
    text-transform: uppercase;
    font-weight: bold;
}

.down-post {
    margin: 0px;
    float: right;
}

.down-post-btn {
    background: url(../images/green-bt-download.png) no-repeat;
    width: 158px;
    height: 36px;
    float: right;
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    cursor: pointer;
    font-weight: bold;
    border: none;
    text-align: center;
}

    .down-post-btn:hover {
        color: #ff0;
    }

.itemN img {
    width: 80px;
    padding-right: 5px;
}

.news-slider {
    width: 100%;
    background: #323232;
    padding: 0px 0;
    margin-top: 5px;
    overflow: hidden;
}

.contentSlider {
    width: 880px;
    margin: 0 auto;
    position: relative;
}

    .contentSlider h1 {
        font-size: 14px;
        border-bottom: solid 2px #fff;
        color: #fff;
        width: 165px;
        text-transform: uppercase;
        font-weight: bold;
    }

#news {
    width: 880px;
    margin: 20px auto;
    position: relative;
}

.slider-news {
    float: left;
    left: -5000px;
    margin: 0px 25px;
    position: relative;
    visibility: hidden;
}

    .slider-news ul {
        height: 150px;
    }

        .slider-news ul li {
            padding: 0px;
            width: 185px;
            height: 150px;
            margin: 0 10px;
        }

            .slider-news ul li a img {
                cursor: pointer;
                width: 185px;
                height: 125px;
            }

.prev-news {
    position: absolute;
    top: 30px;
    left: 3px;
    float: left;
    z-index: 100;
}

.next-news {
    position: absolute;
    top: 30px;
    right: 10px;
    float: left;
    z-index: 100;
}

.tt-about {
    font-size: 24px;
    color: #000;
    display: block;
    float: left;
    margin-top: 40px;
    margin-left: 30px;
    width: 430px;
}

.line-about {
    margin-top: 0;
    padding: 0;
    margin-left: 30px;
    display: none;
}

.ct-about {
    font-size: 16px;
    color: #424242;
    line-height: 22px;
    margin-left: 0px;
    margin-top: 15px;
    font-weight: normal;
}


/* Collapse --- */

.wr-career {
    width: 90%;
    display: block;
    margin-top: 5px;
    margin-left: 10%;
}

.career-collapse {
    padding: 0;
    margin: 0;
}

.accordion {
    background: #e2e2e2;
    padding: 1px 10px;
    color: #000;
    border-left: solid 6px #ff0000;
    font-size: 14px;
    font-weight: normal;
    margin: 2px 0;
}

.accordion-open {
    background: #e2e2e2;
    color: #000;
}

    .accordion-open span {
        display: block;
        float: right;
        width: 90px;
        text-align: right;
        padding-left: 5px;
        font-size: 12px;
        font-weight: normal;
        color: #ff0000;
    }

    .accordion-open span {
        background: url(../images/icon-detail-hover.png) 0px 40% no-repeat;
        cursor: pointer;
    }

.accordion-close span {
    display: block;
    float: right;
    background: url(../images/icon-detail.png) 0px 40% no-repeat;
    cursor: pointer;
    width: 90px;
    text-align: right;
    padding-left: 5px;
    font-size: 12px;
    font-weight: normal;
    color: #ff0000;
}

div.container-colapse {
    padding: 0;
    background: #f1f1f1;
    margin: 0;
    overflow: auto;
}

div.content {
    margin: 0;
    padding: 10px;
    line-height: 1.5em;
    height: 200px;
}

.tt-career {
    font-size: 24px;
    margin-bottom: 5px;
}

div.content ul,
div.content p {
    padding: 0;
    margin: 0;
    padding: 3px;
}

    div.content ul li {
        list-style-position: inside;
        line-height: 20px;
    }

        div.content ul li a {
            color: #555555;
        }

code {
    overflow: auto;
}

.text-authorize {
    color: #000;
    font-weight: bold;
    line-height: 22px;
    margin-top: 10px;
    width: 95%;
}

.authorise-container {
    margin: 0 auto;
    padding: 0px;
    display: block;
    /*overflow: hidden;*/
}

.catalogue-container {
    background: #fff;
    padding: 14px;
}

.catalogue-item-title .Thumb {
}

.catalogue-item-title .catalogue-title {
    padding-top: 40px;
    font-weight: bold;
}

.catalogue-item .link {
    display: block;
    float: right;
    text-align: right;
}

    .catalogue-item .link span {
        margin: 0 15px 0 0;
    }

.catalogue-container .catalogue-icon {
}

.catalogue-container .accordion-section-content {
    padding: 10px 0;
}

.catalogue-container .col-hidden {
    text-indent: -999px;
}

.catalogue-item-title .link {
    padding-top: 40px;
}

.catalogue-item-title .Thumb,
.catalogue-item-title .catalogue-title {
    float: left;
}

.catalogue-item-title .link {
    float: right;
    text-align: right;
}

    .catalogue-item-title .link a {
        display: block;
    }

.catalogue-item {
    border-bottom: 1px solid #ccc;
    /* margin: 15px 0; */
    padding: 15px 0;
}

.wr-location {
    display: block;
}

.col-sp {
    width: 47%;
    float: left;
}

.col-location {
}

    .col-location .form-gr {
        margin-bottom: 3px;
        overflow: hidden;
        width: 100%;
    }

.radio-inline01 {
    display: inline-block;
    margin-top: 6px;
    float: left;
    padding-left: 25px;
}

.m-bottom {
    margin-bottom: 3px;
}

.m-top {
    margin-top: 30px;
}

.form-input {
    background: #fff;
    border: none;
    padding: 5px;
    border-radius: 3px;
    width: 100%;
    font-size: 15px;
}

i.location-icon {
    background: url(../images/location-icon.png) no-repeat;
    width: 11px;
    height: 16px;
    float: left;
    margin-right: 5px;
}

i.search-icon {
    background: url(../images/search-icon-w.png) no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
}

#wrap-map {
    width: 100%;
    margin: 0;
    display: block;
    background: #fff;
}

    #wrap-map .breadcrumb {
        padding-left: 50px;
    }

    #wrap-map .col-map-left > p {
        padding-left: 50px;
        line-height: 13px;
        /* padding: 5px 0; */
        margin: 5px 0 10px 0;
        font-weight: bolder;
        margin-bottom: 20px;
        margin-top: 15px;
    }

    #wrap-map .chooseProduct {
        background: #F8F8F8;
        padding-left: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

.localtion-item h3 {
    font-weight: bold;
    font-size: 16px;
}

    .localtion-item h3 a {
        color: #0E743D;
        text-transform: uppercase;
    }

.localtion-item p {
    font-size: 13px;
    line-height: 16px;
    color: #666;
    margin: 5px 0;
    padding: 0;
}

.localtion-item .logo-agent {
}

    .localtion-item .logo-agent img {
        border: 2px solid #0E743D;
        padding: 5px;
        max-width: 100%;
    }


/*.wrap-map img {max-width:100%;}*/

.bg-about {
    width: 100%;
}

.bg-about-2 {
    /*background:url(../images/bgAuthorized-2.png) no-repeat; height:1965px;*/
    width: 100%;
}

.font18 {
    font-size: 18px;
    color: #000;
    line-height: 24px;
    display: block;
    padding: 30px 10px 20px;
}

.wr-agents {
    width: 98%;
    margin: 0 auto;
}

    .wr-agents .col-agents {
        height: 411px;
    }

.wr-table {
    border: solid 1px #cdcdcd;
    border-radius: 10px;
    background: #fff;
    width: 100%;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.col-agents {
    width: 33.33%;
    float: left;
    border-right: solid 1px #ddd;
    margin-top: 10px;
    solid 1px #cdcdcd;
    margin-bottom: 30px;
}

.noborderight {
    border-right: none !important;
}

.head-320 {
    background: #f7f7f7;
    height: 35px;
    border-bottom: solid 1px #cdcdcd;
    padding: 3px 0;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
    font-size: 15px;
    width: 100%;
}

.head {
    background: #f7f7f7;
    border-radius: 10px 10px 0 0;
    height: 35px;
    border-bottom: solid 1px #cdcdcd;
    border-top: solid 1px #cdcdcd;
    padding: 3px 0;
}

.col-head {
    width: 33.33%;
    height: 30px;
    float: left;
    border-right: solid 1px #cdcdcd;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}

.head-2 {
    background: #f7f7f7;
    border-radius: 10px 10px 0 0;
    height: 35px;
    border-bottom: solid 1px #cdcdcd;
    border-top: solid 1px #cdcdcd;
    padding: 3px 0;
}

.content-agent {
    width: 80%;
    margin: 0 auto;
    padding-top: 10px;
}

.logo-agent {
    margin: 5px auto;
    width: 100%;
    display: block;
}

    .logo-agent img {
        max-width: 100%;
    }

.name-agent {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

    .name-agent p {
        font-style: italic;
        text-decoration: underline;
        line-height: 18px;
        text-transform: none;
        margin: 0px;
        font-size: 13px;
        font-weight: normal;
    }

.address-agent {
    margin: 10px auto;
    display: block;
}

    .address-agent .add-l {
        width: 20%;
        margin-right: 5px;
        float: left;
        font-weight: bold;
        font-size: 15px;
        height: 50px;
    }

    .address-agent .add-r {
        margin-right: 5px;
        width: 76%;
        float: right;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
    }

.col-agents .red a {
    font-size: 13px;
    color: #F00;
    text-decoration: underline;
    font-style: italic;
    float: right;
    text-align: right;
}

.pagination {
    margin: 20px auto;
    text-align: center;
}

    .pagination li.active a, .pagination li:hover a {
        background: #cc0000;
        border: none;
    }

.pagination_list {
    display: block;
    list-style: outside none none;
}

.pagination_page {
    color: #111;
    text-decoration: none;
    display: block;
    font-size: 14px;
    height: 27px;
    padding: 0px 9px;
}

.pagination_page-current {
    display: block;
    font-size: 14px;
    height: 27px;
    padding: 0px 9px;
    background: #f00;
    color: #fff;
}

.pagination_page:hover {
    background: #e51b23;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.accordion-section .text {
    margin: 0;
    background: -webkit-linear-gradient(#c8cacb, #e5e7e7);
    background: -o-linear-gradient(#c8cacb, #e5e7e7);
    background: -moz-linear-gradient(#c8cacb, #e5e7e7);
    background: linear-gradient(#c8cacb, #e5e7e7);
}

.accordion-section .accordion-section-title img {
    padding-right: 10px;
}

.accordion-section .accordion-section-title {
    background: url(images/prettyPhoto/mitsu/dropdown_warranty.png)no-repeat right;
    padding: 15px 25px;
    display: block;
    width: 98%;
    font-weight: bold;
}

    .accordion-section .accordion-section-title.active {
        background: url(images/prettyPhoto/mitsu/down_warranty.png)no-repeat right !important;
    }

.accordion-section-content {
    background-color: #fff;
    margin: 0;
    padding: 30px;
    display: none;
}


/*product*/

.featureInfo img {
    max-width: 100%;
}

.tech-infomation {
    margin: 30px 0;
}

.product-overview {
    background: #fff;
}

.tech-infomation img {
    max-width: 100%;
    height: auto;
}

.custom-thong-so-ky-thuat table img {
    width: 100%;
}

.tech-infomation .thumbProduct {
    display: block;
    padding-left: 50px;
    margin: 200px auto 0 0;
}

.tech-infomation .custom-field-container {
    padding-bottom: 30px;
}

.tech-infomation table {
    width: 100%;
}


.tech-infomation .accordion-section-content {
    font-size: 15px;
    background: #fff;
    margin: 0;
    padding: 10px 30px;
}

.clearfix {
    display: inline-block;
}

.tech-infomation .accordion-section-content .tskt-content {
    font-size: 1em; /* 12/16 */
    width: 100%; /* 650/960 */
    max-width: 1140px;
    text-align: left;
    margin: 0px auto; /*auto centers the container */
    padding: 0%; /* 25/650 */
}

.tech-infomation .accordion-section-content .columns {
    -moz-column-width: 19.5em; /* Firefox */
    -webkit-column-width: 19.5em; /* webkit, Safari, Chrome */
    column-width: 19.5em;
}

    .tech-infomation .accordion-section-content .columns ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .tech-infomation .accordion-section-content .columns li strong {
        display: block;
    }

    .tech-infomation .accordion-section-content .columns li {
        width: 100%;
        padding: 5px 10px;
        border-bottom: 1px solid #ccc;
    }

.tech-infomation .accordion-section-content .label-tskt {
    float: left;
    width: 50%;
    margin: 0;
}

.tech-infomation .accordion-section-content .value-tskt {
    float: left;
    width: 50%;
    margin: 0;
}

.tech-infomation .accordion-section-content [class^="col-"] {
    margin-bottom: 15px;
}

.tech-infomation .accordion-section-content .col-benefit-left {
    padding-right: 50px;
}

.tech-infomation .accordion-section-content .col-benefit-right {
    padding-left: 50px;
}

.title-benefit-say-tay {
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    padding: 10px 0;
}

.tech-infomation .accordion-section-content.custom-ngan-cap-dong-linh-hoat {
    color: #fff !important;
    background: #1E0303 !important;
}

    .tech-infomation .accordion-section-content.custom-ngan-cap-dong-linh-hoat strong,
    .tech-infomation .accordion-section-content.custom-ngan-cap-dong-linh-hoat p,
    .tech-infomation .accordion-section-content.custom-ngan-cap-dong-linh-hoat span {
        color: #fff !important;
    }

.tech-infomation iframe {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.tech-infomation tr:nth-child(even) {
    background: #FFF;
}

.tech-infomation tr:nth-child(odd) {
    background: #F1F1F1;
}

.tech-infomation .accordion-section-title {
    font-weight: bold;
    text-transform: uppercase;
}

.tech-infomation table,
.tech-infomation th,
.tech-infomation td {
    border: 1px solid #666;
    padding: 5px 10px;
}

    .tech-infomation th p,
    .tech-infomation td p {
        margin: 0 !important;
    }

.warranty {
    margin: 10px auto;
    display: block;
}

.tt-top-warranty {
    margin: 0;
    border-bottom: none;
    padding: 0;
}

.w-icon {
    float: left;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    margin-top: -2px;
}

.w-title {
    font-size: 18px;
    font-weight: bold;
    color: #f00;
    margin-top: 20px;
}


/* Sitemap  */

.sitemap .section {
    margin-bottom: 20px;
    margin-top: 10px;
    clear: both;
    overflow: hidden;
}

.sitemap .headline {
    margin-bottom: 10px;
    border-bottom: medium none;
    font-size: 18px;
}

    .sitemap .headline span {
        border-color: #DADADA;
    }

.headline span {
    display: block;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #E0E0E0;
}

    .headline span a {
        display: inline-block;
        padding-left: 19px;
        background: url(../images/arrow-forward-red.png) no-repeat scroll 0px 0.3em transparent;
        text-decoration: none;
        color: #000;
        text-transform: uppercase;
    }

.sitemap .headline span a:hover {
    text-decoration: none;
    color: #cd0000;
}

.sitemap h2 {
    font-weight: bold;
    color: #222;
    font-size: 24px;
    border-bottom: 2px solid #CDCDCD;
    padding-bottom: 10px;
}

.sitemap ul.rows {
    margin: 5px 0;
    padding-left: 10px;
    float: left;
}

    .sitemap ul.rows li {
        margin-top: 0px;
        padding: 2px 0px;
        float: left;
        display: block;
        clear: both;
    }

        .sitemap ul.rows li a {
            padding-left: 18px;
            font-size: 14px;
            float: left;
            background: url(../images/arrow-forward.png) no-repeat scroll 0px 0.5em transparent;
            color: #FB0007;
            text-decoration: none;
        }

.headtt a {
    color: #222;
    padding-left: 10px;
    background: url(../images/arrow-forward-bl.png) no-repeat right transparent;
    padding-right: 20px;
    font-size: 16px;
}

    .headtt a:hover {
        color: #cd0000;
    }

.sitemap .colsm {
    float: left;
    width: 33%;
    padding-left: 5px;
    padding-right: 5px;
}

.me-support {
    width: 1000px;
    margin: 0 auto;
}

    .me-support h1 {
        font-weight: bold;
        color: #222;
        font-size: 40px;
        border-bottom: 2px solid #CDCDCD;
        padding-bottom: 20px;
        margin-bottom: 0px;
    }

.con-type {
    clear: both;
    padding-top: 30px;
}

h2.search-tit {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: normal;
}

.support-enhance {
    margin-bottom: 40px;
    padding: 0;
}

.aform {
    padding: 0;
}

    .aform form {
        clear: both;
        margin-top: 0px;
        padding-bottom: 0px;
    }

.support-enhance .support-registraion {
    padding: 10px 20px;
    overflow: hidden;
}

.support-registraion {
    background: none repeat scroll 0% 0% #F2F1EE;
    font-size: 13px;
    clear: both;
    color: #444;
}

    .support-registraion .left {
        float: left;
    }

.support-enhance .support-registraion p.clearfix {
    margin-left: 50px;
    margin-top: 0px;
}

.support-enhance .support-registraion label {
    margin-top: 7px;
}

.lb-search {
    margin-right: 10px;
}

.form-search {
    margin-top: 5px;
    display: block;
    width: 50%;
    height: 34px;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    border: solid 1px #ccc;
}

.srch-btn {
    margin-top: 8px;
    margin-left: 10px;
    float: left;
}

.button-red-s {
    background: -webkit-linear-gradient(#cc0000, #a80000);
    background: -o-linear-gradient(#cc0000, #a80000);
    background: -moz-linear-gradient(#cc0000, #a80000);
    background: linear-gradient(#cc0000, #a80000);
    padding: 7px 10px;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

    .button-red-s:hover {
        background: -webkit-linear-gradient(#a80000, #cc0000);
        /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#a80000, #cc0000);
        /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#a80000, #cc0000);
        /* For Firefox 3.6 to 15 */
        background: linear-gradient(#a80000, #cc0000);
        /* Standard syntax (must be last) */
    }

.category_form form {
    display: block;
    background: #F2F1EE;
    padding: 10px 10px 17px;
    position: relative;
    overflow: hidden;
}

.category_form ul.dropdown_group {
    display: block;
    list-style: outside none none;
    padding-left: 0;
    margin: 0;
}

    .category_form ul.dropdown_group li.dropdown_sell {
        display: block;
        position: relative;
        margin: 0px 10px 0px 0px;
        float: left;
        width: 22%;
    }

.category_form .subject {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.seclect-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 8px;
    font-size: 13px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    border: solid 1px #ccc;
}

.search-cate-bt {
    float: left;
    margin-top: 26px;
}

h2.title-line {
    position: relative;
    text-transform: uppercase;
    width: 100%;
    font-size: 18px;
    margin-top: 20px;
    overflow: hidden;
}

.global_download_list {
}

table.manuals {
    width: 100%;
    font-size: 13px;
}

    table.manuals thead tr {
        background: none repeat scroll 0% 0% #F5F5F5;
    }

    table.manuals tr:last-child td {
        padding-bottom: 17px;
    }

    table.manuals td.ldata {
        padding-left: 22px;
        text-align: left;
        border-left: 0px none;
    }

    table.manuals td {
        padding: 4px 0px;
        text-align: center;
        border-left: 1px dotted #CCC;
    }

        table.manuals td.ldata a {
            color: #D80546;
            padding-top: 3px;
            line-height: 15px;
            text-decoration: none;
        }

            table.manuals td.ldata a:hover {
                text-decoration: underline;
            }

.ico-pdf {
    display: inline-block;
    width: 20px;
    height: 18px;
    background: url(../images/icon-pdf.png) no-repeat !important;
    vertical-align: middle;
}

table.manuals thead th.first {
    padding-left: 22px;
    text-align: left;
    border-left: 0px none;
}

table.manuals thead th {
    padding: 9px 0px 4px;
    text-align: center;
    border-left: 1px dotted #CCC;
}

.searchResultInfo {
    border-bottom: solid 1px #ccc;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}

.Result-list {
    margin-bottom: 30px;
    margin: 0 auto;
}

.gsc-result-info {
    text-align: left;
    color: #222 !important;
    font-size: 22px !important;
    padding-left: 8px;
    float: left;
    margin: 6px 0px;
}

.Result-list .box {
    padding: 10px;
    display: table;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 0px;
    border-bottom: 1px dotted #ccc;
}

.Result-list .colSearchImg {
    display: table-cell;
    float: none;
    width: 100px;
    vertical-align: middle;
    border-radius: 4px;
    border: solid 1px #ddd;
}

    .Result-list .colSearchImg img {
        max-width: 100%;
    }

.Result-list .details {
    float: left;
    margin-left: 20px;
}

.Result-list .rs-title {
    font-size: 15px;
    display: block;
    margin-bottom: 0px;
}

.Result-list .rs-title a {
    color: #FB0007;
    text-decoration: none;
}

.gsc-url-bottom {
    display: block;
}

    .gsc-url-bottom a {
        color: #FB0007;
        text-decoration: none;
    }

.rs-description p {
    font-size: 13px;
    line-height: 20px;
    margin: 0px;
}

.searchForm .searchText {
    width: 476px;
    padding: 7px 10px;
    margin: 0px;
    border-radius: 4px;
    border: solid 1px #ccc;
}

.searchForm .btn-search {
    background: #ABADAF none repeat scroll 0% 0%;
    border: 0px none;
    color: #FFF;
    border-radius: 4px;
    padding: 7px;
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
    line-height: 1em;
}

.searchshow {
    float: right;
    text-align: right;
    margin-right: 5px;
    margin-top: 10px;
}

    .searchshow p {
        font-weight: bold;
        margin: 0;
        display: inline;
    }

.Result-list .pagination {
    display: block;
    text-align: right;
    width: auto;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
    margin-bottom: 20px;
}

.Result-list .pagination_list {
    display: block;
    list-style: outside none none;
    padding-left: 0px;
}

    .Result-list .pagination_list > li:first-child,
    .pagination_list > li:last-child {
        width: auto;
    }

    .Result-list .pagination_list > li {
        display: inline-block;
    }

.Result-list .pagination_page-current {
    display: block;
    font-size: 14px;
    padding: 0px 9px;
    background: #EEE none repeat scroll 0% 0%;
    border: 1px solid #E1E8ED;
    color: #444;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}

.Result-list .pagination_page {
    display: block;
    font-size: 14px;
    padding: 0px 9px;
    color: #111;
    text-decoration: none;
}

    .Result-list .pagination_page:hover {
        background: #e51b23;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
    }

.gs-webResult.gs-result a.gs-title:link {
    color: #FB0007 !important;
    text-decoration: none !important;
}

.gs-result .gs-title {
    color: #FB0007 !important;
    font-size: 15px !important;
    line-height: 20px;
    text-decoration: none !important;
}

.gs-webResult .gs-snippet {
    font-size: 14px;
    line-height: 18px;
    color: #222 !important;
}

.gsc-webResult .gsc-result {
    border-bottom: dotted 1px #ccc !important;
}

.no-padding {
    padding: 0 !important;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

.authorise-container .button-red {
    margin: 10px 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.tooltip-info {
    position: relative;
}

    .tooltip-info .tooltip-content {
        display: none;
        position: absolute;
        left: -113px;
        top: 15px;
    }

    .tooltip-info.active .tooltip-content {
        display: inline-block;
    }

.product-category {
}

    .product-category.hide {
        display: none;
    }

.block-container {
    padding: 30px 0;
    background: linear-gradient(#f5f5f5, #fff);
    float: left;
    width: 100%;
}

    .block-container.mobile-only {
        display: none;
    }

        .block-container.mobile-only.show {
            display: block;
        }

.new-product-item {
    text-align: center;
    background: #fff;
    padding-bottom: 30px !important;
    margin-bottom: 30px !important;
    margin-left: -15px;
    margin-right: 10px;
}

    .new-product-item.hidden-item {
        display: none;
    }

    .new-product-item a.title {
        text-align: center;
        display: block;
        background: #007226;
        height: 40px;
        font-weight: bold;
        line-height: 40px;
        color: #fff;
    }

    .new-product-item a.img {
        display: block;
        height: 200px;
        background: #fff;
        padding: 10px;
    }

    .new-product-item img {
        height: 170px;
        padding: 10px;
    }

    .new-product-item div {
        background: #fff;
        padding: 0 15px;
        text-align: left;
        height: 200px;
        overflow: hidden;
        margin-bottom: 20px;
    }

        .new-product-item div p {
            margin: 0;
        }

        .new-product-item div ul {
        }

            .new-product-item div ul li {
            }

.product-filter-message {
    display: none;
}

    .product-filter-message.show {
        display: block;
    }

.new-product-item a.button-green {
}

.new-product-item .hidden-spec {
    display: none !important;
}

.new-product-item .thumbnail {
    position: relative;
    width: 100%;
    height: 170px;
    display: block;
}

    .new-product-item .thumbnail span {
        position: absolute;
        right: 10px;
        bottom: 5px;
        color: red;
        font-weight: bold;
        background: rgba(255, 255, 255, 0.52);
        padding: 5px;
    }

.new-product-item .spec img {
    height: auto;
    width: 120px;
    padding: 0;
}

.product-filter-holder {
    position: relative;
}

.filter-button {
    display: none;
}

.product-filter {
}

    .product-filter.floating {
        position: fixed;
        width: 350px;
    }

        .product-filter.floating.scroll-down {
            bottom: 0;
        }

            .product-filter.floating.scroll-down.scroll-down-footer {
                bottom: 350px;
            }

        .product-filter.floating.scroll-up {
            top: -100px;
        }

/*---------------------------------------------------------------------------------*/


/*	Responsive Structure
/*-----------------------------------------------------------------------------------*/


@media only screen and (max-width: 767px) {
    .service-container {
        margin: 0 auto;
    }

    .requirement {
        margin: 0 auto;
    }

    .enquireComment {
        width: 600px;
    }

    .news-home .col-md-5 {
        width: 100%;
    }

    div.subnav {
        width: 590px;
        left: 5px;
    }

    .line-img img {
        width: 600px;
    }

    .requirement-tt {
        font-size: 20px;
    }

    .service-container h1 {
        font-size: 35px;
        padding-bottom: 25px;
    }

    .form-control {
        height: 30px;
    }

    .banner_container {
        height: 145px;
    }

        .banner_container img {
            height: 145px;
        }

    .wr-contact,
    wr-Detailnews,
    .contentSlider {
        width: 620px;
    }

    #news {
        width: 620px;
    }

    .slider-news ul li {
        width: 130px;
        margin: 0 5px;
    }

    .wr-location {
        width: 620px;
    }

    .radio-inline01 {
        padding-left: 10px;
    }

    .text-authorize {
        width: 95%;
    }

    .authorise-container {
    }

        .authorise-container h1 {
            font-size: 35px;
            padding-bottom: 15px;
        }

    .address-agent .add-l {
        font-size: 13px;
    }

    .address-agent .add-r {
        font-size: 13px;
    }

    .content-agent {
        width: 98%;
    }

    .small-icon img {
        width: 95%;
    }

    .bg-about-2 {
        height: auto;
    }

    .bg-about {
        height: auto;
    }

    .col-sp,
    .col-location {
        float: left;
    }

    .chooseSelect {
        float: right;
        width: 45%;
    }

    .catalogue-item-title .link {
        display: block;
        float: none;
        text-align: center;
    }

    .catalogue-item-title .Thumb, .catalogue-item-title .catalogue-title {
        float: none;
        display: block;
        text-align: center;
    }

    .catalogue-item-title .img-responsive {
        margin: 0 auto;
        text-align: center;
    }
}

@media only screen and (min-width: 568px) and (max-width: 667px) {
    .service-container,
    .authorise-container {
        margin: 0px auto;
    }

        .service-container h3 {
            width: 550px;
            padding-top: 0;
            margin-top: 22px;
            margin-bottom: 0;
            padding-bottom: 15px;
        }

    .wr-contact,
    .contentSlider {
        width: 550px;
    }

    .requirement,
    .wr-location {
        width: 100%;
        margin: 0px auto;
    }

    .col-sp,
    .col-location {
        width: 100%;
        float: left;
    }

    .chooseSelect {
        float: right;
        width: 45%;
    }

    .sitemap .colsm {
        width: 100%;
        padding-top: 10px;
    }

    .me-support {
        width: 550px;
    }

    .support-enhance .support-registraion p.clearfix {
        margin-left: 0px;
    }

    .category_form ul.dropdown_group li.dropdown_sell {
        width: 48%;
    }

    .search-cate-bt {
        float: left;
        margin-top: 10px;
    }

    .me-support h1 {
        font-size: 30px;
    }

    .srch-btn {
        margin-top: 8px;
        margin-right: 31px;
        float: right;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .filter-button {
        background: #007226 none repeat scroll 0 0;
        color: #fff;
        display: inline-block;
        font-weight: bold;
        margin: 10px 0 0;
        padding: 4px 15px;
        right: 0;
        text-align: center;
    }

        .filter-button::before {
            content: "\f0b0";
            font-family: fontawesome;
            padding: 0 5px 0 0;
        }

    .product-filter {
        position: fixed;
        top: 0;
        background: #fff;
        padding: 10px;
        margin-left: 20px;
        height: 100%;
        overflow: scroll;
        padding-bottom: 70px;
        display: none;
    }

        .product-filter.active {
            display: block;
        }

    .right-wrap {
    }

    .service-container {
        margin: 0 auto;
    }

        .service-container h1 {
            font-size: 28px;
            padding-bottom: 20px;
        }

    .requirement {
        margin: 0 auto;
    }

    .enquireComment {
        width: 300px;
    }
    /*
    .col-md-5 { width: 100%; }
   .col-md-2 { width: 50% }
       .col-md-4 { width: 100%; }
   */
    .block_breakumb {
        font-size: 14px;
    }

    .col-md-3,
    .col-md-9 {
    }

    .bg-inquire {
        background: none;
    }

    .line-img img {
        width: 300px;
    }

    .requirement-tt {
        font-size: 16px;
    }

    .banner_container,
    .banner_container img {
        height: 120px;
    }

    .chooseSelect {
        float: none;
        width: 90%;
    }

    .bg-inquire_02 {
        height: auto;
        padding-bottom: 20px;
        background: none;
    }

    .requirementNotice {
        width: 300px;
        font-size: 15px;
    }

    .imgContact img {
        width: 80px;
    }

    .wr-contact {
        width: 300px;
        overflow: hidden;
        font-size: 13px;
    }

    .service-container h2 {
        padding-bottom: 15px;
        padding-top: 0px;
    }

    .wr-contact .nameCompany {
        font-size: 14px;
    }

    .bg-offices {
        font-size: 14px;
    }

    .top-news .label-news,
    .top-news .label-grey-news {
        float: none;
    }

    .top-news .title-news {
        font-size: 15px;
        line-height: 18px;
        margin-top: 5px;
    }

    .imgNews img,
    .imgContact {
        display: none;
    }

    .tt-top {
        width: 300px;
    }

    .service-container h3 {
        padding-bottom: 10px;
        margin-left: 0px;
        padding-top: 0px;
        font-size: 22px;
        margin-top: 10px;
    }

    .line-about {
        margin-left: 0;
    }

        .line-about img {
            width: 300px;
        }

    .tt-about {
        font-size: 16px;
        margin-top: 10px;
        margin-left: 0px;
    }

    .ct-about {
        font-size: 14px;
        margin-left: 0px;
    }

    .contentSlider {
        width: 300px;
    }

    #news {
        width: 300px;
    }

    .slider-news ul li {
        width: 120px;
        margin: 0 8px;
    }

    .next-news {
        right: 0;
    }

    .accordion-close span,
    .accordion-open span {
        display: block;
        width: 20px;
        font-size: 0px !important;
    }

    .accordion {
        font-size: 12px;
    }

    .text-authorize {
        width: 95%;
        font-size: 13px;
    }

    .wr-location {
        width: 300px;
    }

    .col-sp,
    .col-location {
        width: 100%;
        float: none;
    }

    .authorise-container {
    }

    .head,
    .head-2 {
        display: none;
    }

    .col-agents {
        width: 100%;
        border-right: none;
        margin-top: 0px;
    }

    .head-320 {
        display: block;
    }

    .content-agent {
        width: 90%;
    }

    .authorise-container h1 {
        font-size: 30px;
        padding-bottom: 15px;
    }

    .bg-about,
    .bg-about-2 {
        background: none;
    }

    .warranty {
        width: 300px;
    }

    .chooseSelect01 {
        width: 48%;
    }

    div.subnav {
        width: 300px;
        left: 0px;
    }

    .logo-agent {
        width: 100%;
    }

    .label-news,
    .label-grey-news {
        width: 90px;
        font-size: 15px;
    }

    .title-news a {
        font-size: 15px;
    }

    .title-news span {
        font-size: 13px;
    }

    .col-md-1 {
        width: 100%;
    }

    .title-newsDetail {
        font-size: 20px;
        line-height: 25px;
    }

        .title-newsDetail span {
            font-size: 15px;
        }

    .service-container h2 {
        font-size: 22px;
    }

    .accordion {
        padding: 2px 2px;
        border-left: 3px solid #F00;
        margin: 2px 0px;
    }

    .sitemap .colsm {
        width: 100%;
        padding-top: 10px;
    }

    .me-support {
        width: 300px;
    }

    .form-search {
        width: 100%;
    }

    .support-enhance .support-registraion p.clearfix {
        margin-left: 0px;
    }

    .category_form ul.dropdown_group li.dropdown_sell {
        width: 100%;
    }

    .search-cate-bt {
        float: left;
        margin-top: 10px;
    }

    .me-support h1 {
        font-size: 25px;
    }

    .srch-btn {
        margin-top: 8px;
        margin-right: 0px;
        float: right;
    }

    .search-cate-bt {
        float: right;
        margin-top: 10px;
    }

    .con-type {
        padding-top: 20px;
    }

    .support-enhance {
        margin-bottom: 25px;
    }

    .searchForm .searchText {
        width: 250px;
    }

    .gsc-result-info {
        padding-left: 0px;
        float: none;
        font-size: 20px;
    }

    .searchshow {
        float: left;
        font-size: 13px;
        margin-top: 0px;
    }

    .Result-list .colSearchImg {
        display: block;
        width: 200px;
        margin: 0 auto;
    }

    .Result-list .details {
        margin-left: 0;
        margin-top: 10px;
    }

    .Result-list .pagination_page,
    .Result-list .pagination_page-current {
        padding: 0 7px;
    }
}

@media only screen and (max-width: 767px) {
    .service-container {
        margin: 0 auto;
    }

    .accordion-section-content {
        padding: 15px;
    }

    #cssmenu {
        display: block !important;
    }

    #nav-container {
        display: none;
    }

    .bg-submenu {
        display: none;
    }

    .banner_container,
    .banner_container img {
        height: 175px;
    }

    .bg-news {
        background: none;
        height: auto;
    }

    .service-container h3 {
        width: 700px;
    }

    .requirement {
    }

    .contentSlider,
    .enquireComment {
        width: 700px;
    }

    #news {
        width: 700px;
    }

    .slider-news ul li {
        width: 140px;
    }

    .authorise-container {
    }

    .content-agent {
        width: 95%;
    }

    .name-agent {
        font-size: 15px;
        line-height: 19px;
    }

    .address-agent .add-l {
        font-size: 15px;
        width: 100%;
        height: auto;
    }

    .address-agent .add-r {
        font-size: 15px;
        line-height: 20px;
        width: 100%;
        float: left;
        margin-right: 0px;
    }

    .bg-about {
        height: auto;
    }

    .bg-about-2 {
        height: auto;
    }

    div.subnav {
        width: 720px;
        left: 20px;
    }

    .service-container h2 {
        font-size: 25px;
    }

    .title-newsDetail {
        font-size: 25px;
        line-height: 32px;
    }

    .service-container h1,
    .authorise-container h1 {
        font-size: 30px;
    }

    .col-sp,
    .col-location {
        width: 92%;
        float: left;
    }

    .chooseSelect {
        float: right;
        width: 39%;
    }

    .wr-location {
        width: 100%;
        display: block;
        margin-top: 30px;
    }

    .logo-agent {
        text-align: center;
    }

    .smallicon2 {
        margin-top: 7px;
    }

    .me-support {
        width: 740px;
    }

    .support-enhance .support-registraion p.clearfix {
        margin-left: 0px;
    }

    .category_form ul.dropdown_group li.dropdown_sell {
        width: 48%;
    }

    .search-cate-bt {
        float: left;
        margin-top: 10px;
    }

    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12 {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-xs-1 {
        width: 15%;
    }

    .col-xs-2 {
        width: 16.66666667%;
    }

    .col-xs-3 {
        width: 25%;
    }

    .col-xs-4 {
        width: 33.33333333%;
        /*width: 49%;*/
    }

    .col-xs-5 {
        width: 41.66666667%;
    }

    .col-xs-6 {
        width: 50%;
    }

    .col-xs-7 {
        width: 58.33333333%;
    }

    .col-xs-8 {
        width: 66.66666667%;
    }

    .col-xs-9 {
        width: 75%;
    }

    .col-xs-10 {
        width: 83.33333333%;
    }

    .col-xs-10 {
        width: 83.33333333%;
    }

    .col-xs-11 {
        width: 91.66666667%;
    }

    .col-xs-12 {
        width: 100%;
    }

    .row-eq-height {
        display: block !important;
    }

    .scrollToTop {
        right: 5px;
        bottom: 5px;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 734px;
    }

    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-sm-1 {
        width: 15%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33333333%;
        /*width: 49%;*/
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .header-container .global {
        display: none;
    }
}

@media (min-width: 992px) {
    .container {
        width: 954px;
    }

    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-1 {
        width: 15%;
    }

    .col-md-2 {
        width: 16.66666667%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.33333333%;
        /*width: 49%;*/
    }

    .col-md-5 {
        width: 41.66666667%;
    }

    .col-md-6 {
        width: 50%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-md-7 {
        width: 58.33333333%;
    }

    .col-md-8 {
        width: 66.66666667%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.33333333%;
    }

    .col-md-11 {
        width: 91.66666667%;
    }

    .col-md-12 {
        width: 100%;
    }

    .header-container .global {
        display: block;
    }
}


.fan-slider-mobile {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .fan-slider-mobile {
        display: block;
    }

    .fan-slider {
        display: none;
    }

    .banner_container,
    .banner_container img {
        height: 250px;
    }

    .service-container h3 {
        width: 550px;
    }

    .name-agent {
        font-size: 15px;
    }

    .chooseSelect {
        float: right;
        width: 64%;
    }

    .bg-news {
        background: none;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media only screen and (max-width: 480px) {

    .col-map-right {
        float: left;
        width: 100%;
    }

    .col-map-left {
        float: left;
        width: 100%;
    }

    .map-container {
        height: 350px !important;
    }

    .col-map-left .breadcrumb, .col-map-left p {
        padding-left: 20px !important;
        line-height: 20px !important;
        margin-bottom: 10px !important;
    }

    #location-list {
        height: 260px;
        margin-bottom: 5px;
    }

        #wrap-map .chooseProduct, #location-list .localtion-item {
            padding-left: 20px;
        }
}
