
#cssmenu{ display:none;}
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  overflow: visible;
  line-height: 0;
  height: auto;
  text-indent:-999px;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {  
  background: #000;
   display: none;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 15px;  
  text-decoration: none;  color: #000;
  
  text-transform: uppercase;}
#cssmenu > ul > li:hover > a {  
  color:#E60000;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;	
	border-left: 10px solid #ff0000;
  display: block;
  background:#ff0000;
  content: '';
  -webkit-transform: translateZ(0);
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;	
	border-left: 10px solid #ff0000;
  background: #ff0000;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-transform: translateZ(0);
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul#main_menu{
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  padding: 11px 15px; 
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a{
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);   
  text-decoration: none;  
  font-weight: 400; 
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  -webkit-transform: translateZ(0);
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}

@media all and (max-width: 992px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu{  -webkit-transform: translateZ(0);}
  #cssmenu .right-wrap { position: absolute;font-size: 13px !important; right: 3%; top: -125px; width: 190px;  }
.language { display: block; float: right; margin-top: 9px; }
.language .lanuageico { float: left; background: url(../images/global-ico.png) no-repeat; margin-right: 10px; width: 20px; height: 16px; margin-top: 0; }
.language .function { float: left; text-align: left; border-bottom: solid 2px #cdcdcd; padding-bottom: 5px; }
.language .function a {font-size: 13px; color: #222; text-decoration: none; float: left; background-image: url(../images/arrow-down.png); background-repeat: no-repeat; padding: 0 10px; line-height: 8px;  }
.language .function a:hover { text-decoration: none; color: #f00; background-image: url(../images/arrow-right.png); background-repeat: no-repeat; }
.language .function a.active { color: #f00; background-image: url(../images/arrow-right.png); background-repeat: no-repeat; }
.hot-line { color: #222; font-size: 12px; text-align: left; }
.hot-line .ic-call { float: left; margin-left:20px; margin-top: 5px; background: url(../images/call-ico.png) no-repeat; width: 20px; height: 16px; margin-right: 15px; }
.number { padding-top: 2px; float: right;  font-weight: normal; }
  #cssmenu {
	-webkit-transform: translateZ(0);overflow: visible;
        margin: 14px 0;
  }
 
  #cssmenu ul {
    width: 100%;
    display: none;
	
  }
 
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    color:#000;   
    background: #eee;    border-bottom: 1px solid #ccc;
  }
   #cssmenu ul ul li{
	   background:#fff;
	   
	   }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
    color:#000;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul li a {
    padding-left: 5px;
  }
  #cssmenu ul ul li a {
    color: #000;
    background: none;
    font-size: 15px
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
   
    color: #E60000;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
	height:100%;
	-webkit-transform: translateZ(0);
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #dddddd;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 17px;
    right: 17px;
    display: block;
    height: 10px;
    width: 20px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    content: '';
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 10px;
    right: 17px;
    display: block;
    height: 3px;
    width: 20px;
    background: #fff;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    position: absolute;
    top: 17px;
    right: 17px;
    display: block;
    height: 10px;
    width: 20px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:before {
   position: absolute;
    top: 10px;
    right: 17px;
    display: block;
    height: 3px;
    width: 20px;
    background: #fff;
    content: '';
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
   
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #none;
  }
  #cssmenu ul ul .submenu-button {
    height: 44px;
    width: 44px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 19px;
    right: 22px;
    border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;	
	border-left: 8px solid #ff0000; 
    display: block;    
    content: '';
	-webkit-transform: translateZ(0);
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
     border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;	
	border-left: 8px solid #ff0000;   
    content: '';
	-webkit-transform: translateZ(0);
  }
  #cssmenu ul ul .submenu-button:before {
    top: 22px;
    right: 16px;
  }
  #cssmenu ul ul li.height{ height:50px; line-height: 30px;}
	#cssmenu ul ul li.button-sub-red a { width: 200px; }
	#cssmenu ul ul li.button-sub a,
	#cssmenu ul ul li.button-sub-red a { padding: 6px 20px; border-radius: 5px; border: solid 1px #ccc; color: #000; font-size: 15px; cursor: pointer; text-transform: none;  text-align: center; display: inline; box-shadow: 0px 1px 2px #ccc; background: -webkit-linear-gradient(#fff, #efefef); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(#fff, #efefef); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(#fff, #efefef); /* For Firefox 3.6 to 15 */ background: linear-gradient(#fff, #efefef); /* Standard syntax (must be last) */ }
	#cssmenu ul ul li.button-sub a:hover,
	#cssmenu ul ul li.button-sub-red a:hover { color: #fff; padding: 6px 20px; border-radius: 5px; font-size: 15px; text-decoration: none; background: -webkit-linear-gradient(#dd2a00, #c02500); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(#dd2a00, #c02500); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(#dd2a00, #c02500); /* For Firefox 3.6 to 15 */ background: linear-gradient(#dd2a00, #c02500); /* Standard syntax (must be last) */ border: solid 1px #db0000 }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
}
