﻿<div class="container">
    <div class="content-error col-md-12">
        <img src="~/images/system/404.png" style="max-width: 100%;" />
        <p><a class="back-homepage" href="@Url.Content("~/")">VỀ TRANG CHỦ</a></p>
    </div>
</div>

