﻿<div class="container">
    <div class="content-error col-md-12">
        <p><h1>LỖI KHÔNG XÁC ĐỊNH</h1></p>
        <p><a class="back-homepage" href="@Url.Content("~/")">VỀ TRANG CHỦ</a></p>
    </div>
</div>