﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
<!DOCTYPE html>
<html class="no-js" lang="vi">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @HomeController.GetParamValue("WEBSITE_TITLE")</title>
    <meta name="description" content="@Html.Raw(Server.HtmlDecode(ViewBag.Description))" />
    <meta property="og:url" content="@ViewBag.Url" />
    <meta property="og:title" content="@ViewBag.Title - @HomeController.GetParamValue("WEBSITE_TITLE")" />
    <meta property="og:description" content="@Html.Raw(Server.HtmlDecode(ViewBag.Description))" />
    <meta property="og:image" content="https://mitsubishi-electric.vn/images/sotaygiadung/thumb/@Model.Thumbnail" />
    <meta property="fb:app_id" content="955843737810173" /> 
    <link rel="canonical" href="@ViewBag.Url.Replace("http://", "https://")" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link type="text/css" rel="stylesheet" href="~/Content/Mitsubishi.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/style-02.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/styles-mobile.css" />

    <link type="text/css" rel="stylesheet" href="~/Content/istyles.css" />

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Mitsubishi.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.accordion.js"></script>

    <script type="text/javascript" src="~/Scripts/script.js"></script>

    <link rel='stylesheet' id='owl-carousel-css' href='~/Content/owl.carousel.css?ver=1.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-theme-css' href='~/Content/owl.theme.css?ver=1.3.2' type='text/css' media='all' />
    <link rel='stylesheet' id='owl-transitions-css' href='~/Content/owl.transitions.css?ver=1.3.2' type='text/css' media='all' />

    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <script src="~/Scripts/jquery-ui.js"></script>

    <script src="~/Scripts/jquery.fancybox.pack.js"></script>
    <link rel="stylesheet" href="~/Content/jquery.fancybox.css">

   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70768888-1', 'auto');
  ga('send', 'pageview');

</script>
    <script type="application/ld+json">
        {
        "@@context" : "http://schema.org",
        "@@type" : "Organization",
        "name" : "Mitsubishi Electric Vietnam",
        "url" : "https://mitsubishi-electric.vn",
        "logo": "https://www.mitsubishielectric.com/shared/img/header/logo_mitsubishi.gif",
        "address": "Head Office, Vincom Center Building, 72 Le Thanh Ton, District 1, HCMC, Vietnam",
        "email": "mevn.inquiry@asia.meap.com",
        "contactPoint" : [
        {
        "@@type" : "ContactPoint",
        "telephone" : "+841800585833",
        "contactType" : "Customer Service"
        } ,
        {
        "@@type" : "ContactPoint",
        "telephone" : "+84839105945",
        "contactType" : "sales"
        }
        ]
        }
    </script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   
	<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '142124219478287');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=142124219478287&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<meta property="fb:pages" content="426918457456986" />
</head>
<body>
    @Html.Partial("partialHeader")

    @Html.Partial("partialNavigation")

    <div class="form-search-manual">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-xs-12">
                    @{ var str_search = this.Request.QueryString["s"]; 
                       var title_search = ""; 
                           if (str_search != null) { 
                               title_search = str_search; 
                           } 
                       }
                    <form action="@Url.Action("Index", "Manual")" method="get">
                        <input id="search-text-input" name="s" value="@title_search" placeholder='Nhập nội dung cần tìm trong "Sổ tay gia dụng"' type="text" class="text-field" />
                        <input class="submit" type="submit" value="search" />
                    </form>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 add-faq-block">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <p class="not-found-text">&nbsp;</p>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <a class="btn-ask-question fancybox" href="/dat-cau-hoi.htm">GỬI CÂU HỎI</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    </div>
    <script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $('#search-text-input').autocomplete({
            source: function (request, response) {
                var customer = new Array();
                console.log(request);
                $.ajax({
                    async: false,
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("Autocomplete_Search", "Manual"))",
                    data: { "term": request.term },
                    success: function (data) {
                        console.log(data);
                        for (var i = 0; i < data.length ; i++) {
                            customer[i] = { label: data[i].Text, Id: data[i].Value };

                        }
                        customer.push('...');
                        response(customer);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Lỗi.');
                    }
                });

            },
            minLength: 3,
            select: function (event, ui) {
                window.location = ui.item.Id;
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });
    })
    </script>

    <div id="manual-container">
        <div class="manual-container manual-container-category-page">
            <div class="container ">
                <div class="breadcrumb"><a href="/">@HomeController.GetTextValue("Home") </a>/ <a href="/so-tay-gia-dung.htm">Sổ tay gia dụng</a> @ViewBag.breadcrumb</div>
            </div>


            @RenderBody()
            <div class="clear"></div>

        </div>
        @Html.Partial("partialFooter")
    </div>
    <a href="#" class="scrollToTop" style="display: inline;">Scroll To Top</a>
    <script>
        $(document).ready(function () {

            //Check to see if the window is top if not then display button
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.scrollToTop').fadeIn();
                } else {
                    $('.scrollToTop').fadeOut();
                }
            });

            //Click event to scroll to top
            $('.scrollToTop').click(function () {
                jQuery('html,body').animate({
                    scrollTop: 0
                }, 500);



                return false;
            });

            
        });
        if ($(window).width() <= 767) {
            var count = $(".wr-video .block-content .item-video").size();
            var i = 0;
            $(".wr-video .block-content .item-video").each(function (index) {
                if (i > 2) {
                    $(this).hide();
                }
                i++;
            });


            
            count = $(".wr-video .block-content .item-sotay").size();
            var i = 0;
            $(".wr-video .block-content .item-sotay").each(function (index) {
                if (i > 2) {
                    $(this).hide();
                }
                i++;
            });

        }
    </script>
	 <!-- Google Code for Remarketing Tag -->
    <!--------------------------------------------------
    Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
    --------------------------------------------------->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 939449190;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/939449190/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
</body>
</html>
