﻿<!DOCTYPE html>
<html class="no-js" lang="vi">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Mitsubishi Electric</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <link type="text/css" rel="stylesheet" href="~/Content/Mitsubishi.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jssor.js"></script>
    <script type="text/javascript" src="~/Scripts/jssor.slider.js"></script>
    <script type="text/javascript" src="~/Scripts/jcarousellite_1.0.1.pack.js"></script>
    <script type="text/javascript" src="~/Scripts/Mitsubishi.js"></script>

    <script type="text/javascript">
        $(function () {
            $(".slider").jCarouselLite({
                btnNext: ".next",
                btnPrev: ".prev",
                visible: 5
            });
        });

        $(function () {
            $(".slider-bt").jCarouselLite({
                btnNext: ".next-bt",
                btnPrev: ".prev-bt",
                visible: 3
            });
        });

    </script>
	<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '142124219478287');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=142124219478287&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<meta property="fb:pages" content="426918457456986" />
</head>
    <body>
        @Html.Partial("partialHeader")

        @Html.Partial("partialNavigation")
        
        @Html.Partial("partialListModelByCategory")
        
        <div>
            @RenderBody()
        </div>
        
        @Html.Partial("partialFooter")
		 <!-- Google Code for Remarketing Tag -->
    <!--------------------------------------------------
    Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
    --------------------------------------------------->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 939449190;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/939449190/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
    </body>
</html>
