﻿@{
    var __configs = (Dictionary<String, Mitsubishi.UI.Models.SystemConfig>)ViewBag.configs;
    string baseUrl = Request.Url.GetLeftPart(UriPartial.Authority);
    string currentUrl = Request.Url.ToString();
    string title = __configs["WEBSITE_TITLE"].ParamValue;
    string keyword = __configs["META_KEYWORD"].ParamValue;
    string description = __configs["META_DESCRIPTION"].ParamValue;
    string h1_tag = __configs["H1_TAG_HOME"].ParamValue;
    string h2_tag = __configs["H2_TAG_HOME"].ParamValue;
    string imageurl = __configs["IMG_SOCIAL"].ParamValue;
    string sitename = __configs["SITE_NAME"].ParamValue;


    if (ViewBag.title != null)
    {
        title = ViewBag.title;
    }

    if (ViewBag.description != null)
    {
        description = ViewBag.description;
    }
    if (ViewBag.keyword != null)
    {
        keyword = ViewBag.keyword;
    }

    if (ViewBag.imageurl != null)
    {
        imageurl = ViewBag.imageurl;
    }

    if (ViewBag.sitename != null)
    {
        sitename = ViewBag.sitename;
    }

}
<!DOCTYPE html>
<html class="no-js" lang="vi">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @title</title>
    <meta name="keyword" content="@keyword" />
    <meta name="description" content="@description" />
    <!-- Facebook metadata -->
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="@description" />
    <meta property="og:image" content="@imageurl" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="@sitename" />
    <meta property="og:url" content="@currentUrl" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" initial-scale="1" />
    @Styles.RenderFormat(@"<link type=""text/css"" rel=""stylesheet"" href=""{0}"" media=""screen"" />", "~/Content/csshome")
    @Scripts.Render("~/bundles/jshome")
    @Scripts.Render("~/bundles/jsbanner")
    <meta property="fb:pages" content="426918457456986" />
</head>
<body>
    <h1 style="display:none">@h1_tag</h1>
    <h2 style="display:none">@h2_tag</h2>

    @Html.Partial("partialHeader")

    @Html.Partial("partialNavigation")


    <div>
        @RenderBody()
    </div>


    @Html.Partial("partialFooter")



    <script async defer>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-70768888-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- Google Code for Remarketing Tag -->
    <!--------------------------------------------------
    Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
    --------------------------------------------------->
    <script async defer type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 939449190;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script async defer type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/939449190/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>

    <script  async defer type="application/ld+json">
        {
        "@@context" : "http://schema.org",
        "@@type" : "Organization",
        "name" : "Mitsubishi Electric Vietnam",
        "url" : "http://mitsubishi-electric.vn",
        "logo": "http://www.mitsubishielectric.com/shared/img/header/logo_mitsubishi.gif",
        "address": "Head Office, Vincom Center Building, 72 Le Thanh Ton, District 1, HCMC, Vietnam",
        "email": "mevn.inquiry@asia.meap.com",
        "contactPoint" : [
        {
        "@@type" : "ContactPoint",
        "telephone" : "+841800585833",
        "contactType" : "Customer Service"
        } ,
        {
        "@@type" : "ContactPoint",
        "telephone" : "+84839105945",
        "contactType" : "sales"
        }
        ]
        }
    </script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Facebook Pixel Code -->
    <script async defer>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
        document, 'script', '//connect.facebook.net/en_US/fbevents.js');

        fbq('init', '142124219478287');
        fbq('track', "PageView");</script>
    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=142124219478287&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
    <script>
        if (typeof (parent) == 'undefined') {
            
        }
        else {
            { window.location = "https://google.com.vn"; }
        }
    </script>
</body>
</html>
