﻿<!DOCTYPE html>
<html class="no-js" lang="vi">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Mitsubishi Electric</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @*<link type="text/css" rel="stylesheet" href="~/Content/Mitsubishi.css"/>*@
    @{ var culture = System.Threading.Thread.CurrentThread.CurrentCulture.ToString(); }
    <script src="@Url.Content("~/Scripts/kendo/cultures/kendo.culture.en.min.js")"></script>
    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-70768888-1', 'auto');
    ga('send', 'pageview');

    </script>
    @* Set the current culture *@
    <script>
        kendo.culture("@culture");
    </script>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/939449190/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
	<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '142124219478287');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=142124219478287&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<meta property="fb:pages" content="426918457456986" />
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Mitsubishi Electric", "Index", "Home")</p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>

                @if (1==1)
                {
                    <nav>
                        @(Html.Kendo().Menu()
                                  .Name("Menu")
                                  .Items(items =>
                                  {
                                      items.Add()
                                          .Text("Product Management")
                                          .Items(children =>
                                          {
                                              //children.Add().Text("Product Types").Action("Index", "ProductType").HtmlAttributes(new { title = "Product Types" });
                                              children.Add().Text("Product Category").Action("Index", "ProductCategory").HtmlAttributes(new { title = "Product Category" });
                                              children.Add().Text("Product List").Action("Index", "Customer").HtmlAttributes(new { title = "Product List" }); ; ;
                                          });
                                      items.Add()
                                          .Text("Content Management")
                                          .Items(children =>
                                          {

                                              //children.Add().Text("Khách hàng mua").Action("Index", "Customer").HtmlAttributes(new {title = "Quản lý khách hàng"});
                                              children.Add().Text("Category").Action("Index", "ContentCategory").HtmlAttributes(new { title = "Category" });
                                              children.Add().Text("Content").Action("Index", "Content").HtmlAttributes(new { title = "Content" });
                                              
                                          });

                                      items.Add()
                                          .Text("Member Management")
                                          .Items(children =>
                                          {
                                              children.Add().Text("Member").Action("Index", "Member").HtmlAttributes(new { title = "Member Management" });
                                          });

                                  })
                        )

                    </nav>
                }

            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Mitsubishi Electric</p>
            </div>
        </div>
    </footer>
	 <!-- Google Code for Remarketing Tag -->
    <!--------------------------------------------------
    Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
    --------------------------------------------------->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 939449190;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/939449190/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
</body>
</html>
