﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@{
    var currentLanguage = UtilsController.GetCurrentLanguage();
}
<div id='cssmenu' class="">    
    <ul id="main_menu">
        <li><a href='/'>@HomeController.GetTextValue("Home")</a></li>
        <li id="menu_products">
            <a class="menu-level-1" href='#'>@HomeController.GetTextValue("Product")</a>
            <ul>
                @{
                    var productType = ProductCategoryController.GetItem(GlobalConstants.PRODUCT_TYPE_HOME_APPLIANCES);
                    var productTypeName = productType.Title;

                    if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                    {
                        productTypeName = productType.TitleEN;
                    }

                    var url = Url.RouteUrl("ProductTypes", new
                    {
                        ProductTypeName = Utils.ConvertUrf8ToAscii(productType.Title),
                        productTypeId = productType.ItemID
                    });
                }
                <li class="button-sub-red height">
                    <a href="@url" title="@productTypeName">@Server.HtmlDecode(productTypeName)</a>
                </li>

                @{
                    var lstCategory = ProductCategoryController.GetListSubCategory(productType.ItemID);

                    if (lstCategory != null && lstCategory.Any())
                    {
                        foreach (var category in lstCategory)
                        {
                            var catTitle = category.Title;
                            var typeName = category.ProductType.Title;

                            if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                            {
                                catTitle = category.TitleEN;
                                typeName = category.ProductType.TitleEN;
                            }

                            url = Url.RouteUrl("ProductCategory", new
                            {
                                ProductTypeName = Utils.ConvertUrf8ToAscii(typeName),
                                ProductTypeId = category.ProductType.ItemID,
                                ProductCategoryName = Utils.ConvertUrf8ToAscii(catTitle),
                                productCategoryId = category.ItemID
                            });

                            if (!string.IsNullOrEmpty(category.RedirectUrl))
                            {
                                url = category.RedirectUrl;
                            }

                            <li> <a class="tt" href="@url">@Server.HtmlDecode(catTitle)</a></li>
                        }
                    }
                }

                @{
                    productType = ProductCategoryController.GetItem(GlobalConstants.CATEGORY_AIR_CONDITIONER);

                    productTypeName = productType.Title;

                    if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                    {
                        productTypeName = productType.TitleEN;
                    }

                    url = Url.RouteUrl("ProductTypes", new
                    {
                        productTypeName = Utils.ConvertUrf8ToAscii(productType.Title),
                        productTypeId = productType.ItemID
                    });
                }
                <li class="button-sub-red height">
                    <a href="@url" title="@productTypeName">@Server.HtmlDecode(productTypeName)</a>
                </li>

                @{
                    lstCategory = ProductCategoryController.GetListSubCategory(GlobalConstants.PRODUCT_TYPE_AIR_CONDITIONER);

                    if (lstCategory != null && lstCategory.Any())
                    {
                        foreach (var category in lstCategory)
                        {
                            var catTitle = category.Title;
                            var typeName = category.ProductType.Title;

                            if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                            {
                                catTitle = category.TitleEN;
                                typeName = category.ProductType.TitleEN;
                            }

                            url = Url.RouteUrl("ProductCategory", new
                            {
                                ProductTypeName = Utils.ConvertUrf8ToAscii(typeName),
                                ProductCategoryName = Utils.ConvertUrf8ToAscii(catTitle),
                                productCategoryId = category.ItemID
                            });

                            if (!string.IsNullOrEmpty(category.RedirectUrl))
                            {
                                url = category.RedirectUrl;
                            }

                            <li> <a class="tt" href="@url">@Server.HtmlDecode(catTitle)</a></li>
                        }
                    }
                }

                @{
                    productType = ProductCategoryController.GetItem(GlobalConstants.CATEGORY_FACTORY_AUTOMATION);

                    productTypeName = productType.Title;

                    if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                    {
                        productTypeName = productType.TitleEN;
                    }

                    url = Url.RouteUrl("ProductTypes", new
                    {
                        productTypeName = Utils.ConvertUrf8ToAscii(productType.Title),
                        productTypeId = productType.ItemID
                    });
                }

                <li class="button-sub-red height">
                    <a href="@url" title="@productTypeName">@Server.HtmlDecode(productTypeName)</a>
                </li>
                @{
                    lstCategory = ProductCategoryController.GetListSubCategory(GlobalConstants.PRODUCT_TYPE_FACTORY_AUTOMATION);

                    if (lstCategory != null && lstCategory.Any())
                    {
                        foreach (var category in lstCategory)
                        {
                            var catTitle = category.Title;
                            var typeName = category.ProductType.Title;

                            if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                            {
                                catTitle = category.TitleEN;
                                typeName = category.ProductType.TitleEN;
                            }

                            url = Url.RouteUrl("ProductCategory", new
                            {
                                ProductTypeName = Utils.ConvertUrf8ToAscii(typeName),
                                ProductCategoryName = Utils.ConvertUrf8ToAscii(catTitle),
                                productCategoryId = category.ItemID
                            });

                            if (!string.IsNullOrEmpty(category.RedirectUrl))
                            {
                                url = category.RedirectUrl;
                            }

                            <li> <a class="tt" href="@url">@Server.HtmlDecode(catTitle)</a></li>
                        }
                    }
                }
            </ul>
        </li>
        <li id="menu_company">
            @{
                var menuId = 3;
                var navItem = HomeController.GetItem(menuId);
                var title = navItem.Title;

                if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                {
                    title = navItem.TitleEng;
                }

                <a class="menu-level-1" href='@navItem.NavigateUrl'>@title</a>

                    var menuItems = HomeController.GetListNavigation(menuId);

                    if (menuItems.Any())
                    {
                        <ul id="sub_menu_company">
                            @foreach (var menuItem in menuItems)
                            {
                                title = menuItem.Title;

                                if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                                {
                                    title = menuItem.TitleEng;
                                }
                                <li> <a href="@menuItem.NavigateUrl" title="@title" target="_self">@title</a> </li>
                            }
                        </ul>
                    }
                }
        </li>
        <li id="menu_customer">
            @{
                menuId = 4;
                navItem = HomeController.GetItem(menuId);
                title = navItem.Title;

                if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                {
                    title = navItem.TitleEng;
                }

                <a class="menu-level-1" href='@navItem.NavigateUrl'>@title</a>

                menuItems = HomeController.GetListNavigation(menuId);

                if (menuItems.Any())
                {
                    <ul id="sub_menu_customer">
                        @foreach (var menuItem in menuItems)
                        {
                            title = menuItem.Title;

                            if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                            {
                                title = menuItem.TitleEng;
                            }
                            <li> <a href="@menuItem.NavigateUrl" title="@title" target="_self">@title</a> </li>
                        }
                    </ul>
                }
            }
        </li>
       
        <li>
            @{
                menuId = 14;
                navItem = HomeController.GetItem(menuId);
                title = navItem.Title;

                if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                {
                    title = navItem.TitleEng;
                }
                <a href="/so-tay-gia-dung.htm">@title</a>
            }
      </li> 
        <li class="search-box-mobile">

            <!--Search Bar-->
            @*<form name="quick_find_header" action="" method="get">

                <div class="ic-search"> <i class="fa fa-search"></i></div>
                <input placeholder="Tìm kiếm" id="criteria" class="query" maxlength="30" type="text">

                <button id="search" class="btn-search" type="button">@HomeController.GetTextValue("Home_ButtonGo")</button>
            </form>*@
            
            <input id="criteria-m" class="query" placeholder="Tìm kiếm" maxlength="30" type="text">

            <button id="search-m" class="btn-search" type="button">@HomeController.GetTextValue("Home_ButtonGo")</button>
            <!--Search Bar Ends-->
        </li>
    </ul>
  
</div>
