﻿@using System.Configuration
@using System.Globalization
@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models


<nav id="nav-container">
    <div class="container">

        <div class="clear"></div>
    </div>
    <ul class="nav container">
        @{
            var currentLanguage = UtilsController.GetCurrentLanguage();
            var lstMenu = HomeController.GetListNavigation();

            foreach (var nav in lstMenu)
            {
                var title = nav.Title;

                if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                {
                    title = nav.TitleEng;
                }

                var className = "";
                var href = "";

                if (nav.ItemID == 1)
                {
                    href = "/";
                }

                if (ProductCategoryController.IsProductCategory() && nav.ItemID == 2)
                {
                    className = "active";
                }
                href = nav.NavigateUrl;

                var style = "";

                if (nav.ItemID == 1)
                {
                    style = "text-align:center;";
                }

                <li class="menu_@nav.ItemID" style="@style">

                    @{
                if (href == "" || href == null)
                {
                    @Html.Raw("<span id='menu_" + @nav.ItemID + "' class='item-lv-1 " + className + "'>" + @title + "</span>");
                }
                else
                {
                    @Html.Raw("<a href=\"" + href + "\" id='menu_" + @nav.ItemID + "' class='item-lv-1 " + className + "'>" + title + "</a>");
                }
                    }

                    @if (nav.ItemID == GlobalConstants.NAV_PRODUCT)
                    {
                        var categoryId = ProductCategoryController.GetProductCategoryId();

                        if (categoryId != "")
                        {
                            <script>
                                $(document).ready(function () {
                                    $(".bg-submenu").show();
                                });
                            </script>
                            <div class="bg-submenu">
                                <div class="subnav">
                                    <ul class="submenu container">
                                        @{
                            var currentItem = ProductCategoryController.GetItem(Convert.ToInt32(categoryId));

                            if (ProductCategoryController.IsSubCategory())
                            {
                                categoryId = currentItem.ParentCategory.ItemID.ToString();
                            }

                            if (currentItem != null)
                            {
                                var lstCategory = ProductCategoryController.GetListSubCategory(currentItem.ProductTypeId);

                                if (lstCategory != null)
                                {
                                    foreach (var categoryEntity in lstCategory)
                                    {
                                        var catTitle = categoryEntity.Title;
                                        var typeName = categoryEntity.ProductType.Title;

                                        if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                                        {
                                            catTitle = categoryEntity.TitleEN;
                                            typeName = categoryEntity.ProductType.TitleEN;
                                        }

                                        var url = Url.RouteUrl("ProductCategory", new
                                        {
                                            ProductTypeName = Utils.ConvertUrf8ToAscii(typeName),
                                            ProductTypeId = categoryEntity.ProductType.ItemID,
                                            ProductCategoryName = Utils.ConvertUrf8ToAscii(catTitle),
                                            productCategoryId = categoryEntity.ItemID
                                        });

                                        if (!string.IsNullOrEmpty(categoryEntity.RedirectUrl))
                                        {
                                            url = categoryEntity.RedirectUrl;
                                        }
                                        var tmp = categoryEntity.ItemID.ToString(CultureInfo.InvariantCulture);
                                        //kiểm tra 3 lần
                                        if (categoryId == tmp || currentItem.ParentID.ToString() == tmp || currentItem.ParentCategory.ParentID.ToString() == tmp)
                                        {
                                            <li class="sub"> <a class="active" href="@url">@catTitle</a> </li>
                                        }
                                        else
                                        {
                                            <li class="sub"> <a href="@url">@catTitle</a> </li>
                                        }
                                    }

                                }
                            }
                                        }

                                    </ul>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        }
                        <div class="drop-menu" id="sub_menu_@nav.ItemID">
                            <div class="product-menu" id="sub_menu_product">
                                @{
                        var productTypeEntity = ProductCategoryController.GetItem(GlobalConstants.PRODUCT_TYPE_HOME_APPLIANCES);
                        var productTypeName = string.Empty;

                        if (productTypeEntity != null)
                        {
                            productTypeName = productTypeEntity.Title;

                            if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                            {
                                productTypeName = productTypeEntity.TitleEN;
                            }

                            <div class="button-sub">
                                <a href="@Url.RouteUrl("ProductTypes", new
                                                     {
                                                         ProductTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                                                         productTypeId = productTypeEntity.ItemID
                                                     })" title="@productTypeName">@productTypeName</a>
                                                </div>
                        }
                                }

                                
                                
                                <div class="button-sub">
                                    @{
                        var productType = ProductCategoryController.GetItem(GlobalConstants.CATEGORY_AIR_CONDITIONER);
                        title = productType.Title;

                        if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                        {
                            title = productType.TitleEN;
                        }
                                    }
                                    <a href="@Url.RouteUrl("ProductTypes", new
                                             {
                                                 ProductTypeName = Utils.ConvertUrf8ToAscii(productType.Title),
                                                 productTypeId = productType.ItemID
                                             })" title="@productType.Title">@title</a>
                                        </div>
                                <div class="button-sub">
                                            @{
                        productType = ProductCategoryController.GetItem(GlobalConstants.CATEGORY_FACTORY_AUTOMATION);
                        title = productType.Title;

                        if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                        {
                            title = productType.TitleEN;
                        }
                                            }
                                            <a href="@Url.RouteUrl("ProductTypes", new
                                             {
                                                 ProductTypeName = Utils.ConvertUrf8ToAscii(productType.Title),
                                                 productTypeId = productType.ItemID
                                             })" title="@productType.Title">@title</a>
                                        </div>

                                <div class="dropdown active">
                                    @{
                        var lstCats = ProductCategoryController.GetList(GlobalConstants.PRODUCT_TYPE_HOME_APPLIANCES);

                        foreach (var categoryEntity in lstCats)
                        {
                            var catName = categoryEntity.Title;

                            if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                            {
                                catName = categoryEntity.TitleEN;
                            }

                            var url = Url.RouteUrl("ProductCategory", new
                            {
                                ProductTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                                ProductTypeId = categoryEntity.ProductType.ItemID,
                                ProductCategoryName = Utils.ConvertUrf8ToAscii(catName),
                                productCategoryId = categoryEntity.ItemID
                            });

                            <div class="Img-item">
                                <a href="@url"><img src="~/images/@categoryEntity.IconName" alt="@catName" title="@catName"></a>
                                <span class="tt"> <a href="@url">@catName</a></span>
                            </div>
                        }
                                    }
                                </div>
                                <div class="dropdown">
                                    @{
                        lstCats = ProductCategoryController.GetList(GlobalConstants.CATEGORY_AIR_CONDITIONER).Take(4).ToList();

                        foreach (var categoryEntity in lstCats)
                        {
                            var catName = categoryEntity.Title;

                            if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                            {
                                catName = categoryEntity.TitleEN;
                            }

                            var url = Url.RouteUrl("ProductCategory", new
                            {
                                ProductTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                                ProductTypeId = categoryEntity.ProductType.ItemID,
                                ProductCategoryName = Utils.ConvertUrf8ToAscii(catName),
                                productCategoryId = categoryEntity.ItemID
                            });

                            <div class="Img-item">
                                <a href="@url"><img src="~/images/@categoryEntity.IconName" alt="@catName" title="@catName"></a>
                                <span class="tt"> <a href="@url">@catName</a></span>
                            </div>
                        }
                                    }

                                    <div class="Img-item">
                                        <a href="/product-types/dieu-hoa-khong-khi-du-an-12.htm"></a>
                                        <span class="tt"> <a href="/product-types/dieu-hoa-khong-khi-du-an-12.htm">Sản phẩm khác ></a></span>
                                    </div>

                                </div>
                                <div class="dropdown">
                                    @{
                        lstCats = ProductCategoryController.GetList(GlobalConstants.CATEGORY_FACTORY_AUTOMATION).Take(4).ToList();

                        foreach (var categoryEntity in lstCats)
                        {
                            var catName = categoryEntity.Title;

                            if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                            {
                                catName = categoryEntity.TitleEN;
                            }

                            var url = Url.RouteUrl("ProductCategory", new
                            {
                                ProductTypeName = Utils.ConvertUrf8ToAscii(productTypeName),
                                ProductTypeId = categoryEntity.ProductType.ItemID,
                                ProductCategoryName = Utils.ConvertUrf8ToAscii(catName),
                                productCategoryId = categoryEntity.ItemID
                            });

                            <div class="Img-item">
                                <a target="_blank" href="@categoryEntity.RedirectUrl"><img src="~/images/@categoryEntity.IconName" alt="@catName" title="@catName"></a>
                                <span class="tt"> <a target="_blank" href="@categoryEntity.RedirectUrl">@catName</a></span>
                            </div>
                        }
                                    }
                                    <div class="Img-item">
                                        <a href="/product-types/tu-dong-hoa-cong-nghiep-13.htm"></a>
                                        <span class="tt"> <a href="/product-types/tu-dong-hoa-cong-nghiep-13.htm">Sản phẩm khác ></a></span>
                                    </div>
                                </div>
                                        <div class="clear"></div>



                                    </div>
                                </div>
                    }
                    else
                    {
                        var lstChild = HomeController.GetListNavigation(nav.ItemID);
                        var selectedNav = lstChild.FirstOrDefault(x => x.ItemID == ViewBag.CurrentPage);

                        if (lstChild.Any())
                        {
                            if (selectedNav == null)
                            {
                                <div class="drop-menu" id="sub_menu_@nav.ItemID" style="z-index: 9999;">
                                    <div class="company-menu" id="sub_menu_company">
                                        @foreach (var child in lstChild)
                                        {
                                            title = (currentLanguage == GlobalConstants.LANGUAGE_EN ? child.TitleEng : child.Title);

                                            <div class="list-about"><a href="@child.NavigateUrl" target="_self">@title</a></div>
                                        }

                                    </div>

                                </div>
                            }
                            else
                            {
                                <div class="drop-menu" id="sub_menu_@nav.ItemID" style="z-index: 9999;">
                                    <div class="company-menu" id="sub_menu_company">
                                        @foreach (var child in lstChild)
                                        {
                                            title = (currentLanguage == GlobalConstants.LANGUAGE_EN ? child.TitleEng : child.Title);

                                            <div class="list-about"><a href="@child.NavigateUrl" target="_self">@title</a></div>
                                        }
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        $(".bg-submenu").show();
                                    });
                                </script>
                                <div class="bg-submenu">
                                    <div class="subnav" style="z-index: 999;">
                                        <ul class="submenu container">
                                            @foreach (var child in lstChild)
                                            {
                                                if (child.ItemID == 5 && ContentController.GetContentID() == ConfigurationManager.AppSettings["ABOUT_MITSU"])
                                                {
                                                    className = "active";
                                                }
                                                else
                                                {
                                                    className = (child.ItemID == selectedNav.ItemID ? "active" : "");
                                                }

                                                title = (currentLanguage == GlobalConstants.LANGUAGE_EN ? child.TitleEng : child.Title);

                                                <li class="sub"> <a href="@child.NavigateUrl" class="@className">@title</a> </li>
                                            }
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            }
                        }
                    }
                    @{
                    /*
                        if (@nav.ItemID == 14)
                {
                    <img class="man-logo" src="/Content/images/prettyPhoto/mitsu/man-logo.png" />
                }
                 */
                    }
                </li>
                if (@nav.ItemID != 14)
                {
                    @*<li class="ver-line marginTop"></li>*@
                }
            }
        }
    </ul>
    <div class="clear"></div>
</nav>
<!-- FIXED: Margin Top -->
<script type="text/javascript">
    jQuery(document).ready(function () {
        var menuheight = $('.subnav').height();
        if (menuheight != 0 && menuheight != null) {
            if (menuheight > 35) {
                $('#featurePro').css("margin-top", "70px");
            } else {
                $('#featurePro').css("margin-top", "35px");
            }
        }

        $('.button-sub a').hover(function () {
            var _index = $(this).parent().index();

            $('#nav-container ul li div.drop-menu .dropdown.active').removeClass('active');
            $('#nav-container ul li div.drop-menu .dropdown:eq(' + _index + ')').addClass('active');
        });

    });

    jQuery(window).resize(function () {
        var menuheight = $('.subnav').height();
        if (menuheight != 0 && menuheight != null) {
            if (menuheight > 35) {
                $('#featurePro').css("margin-top", "70px");
            } else {
                $('#featurePro').css("margin-top", "35px");
            }
        }
    });
</script>