﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model Mitsubishi.UI.Models.Entities.ProductCategoryEntity


<div class="relatedProduct product-detail-participant">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">

                <p class="block-title">@HomeController.GetTextValue("Product_Will_Like")</p>
            </div>
            @{  var currentLanguage = UtilsController.GetCurrentLanguage();
              var lstRelated = Model.ListRelated;

              if (lstRelated != null)
              {
                  lstRelated = lstRelated.OrderBy(e => e.SortOrder).ToList();
                  lstRelated = lstRelated.OrderBy(e => e.SortOrder).ToList();
                  foreach (var item in lstRelated)
                  {
                      var title = item.Title;
                      var image = item.ImageName;

                      if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                      {
                          title = item.TitleEN;
                      }

                      var url = Url.RouteUrl("SubProductCategory", new
                      {
                          productTypeName = Utils.ConvertUrf8ToAscii(title),
                          parentCategoryName = Utils.ConvertUrf8ToAscii(item.ParentCategory.Title),
                          subCategoryName = Utils.ConvertUrf8ToAscii(item.Title),
                          productCategoryId = item.ItemID
                      });

                    <div class="col-md-2 col-sm-3 col-xs-6 rel-item-product">
                        <a href="@url"><img src="~/images/@item.IconName" alt="@title" title="@title" /></a>
                        <p class="title"><a href="@url">@Html.Raw(title)</a></p>
                    </div>

                  }
              }


            }

            <div class="clear"></div>
        </div>
    </div>
</div>
