﻿@using Mitsubishi.UI.Controllers

<script>
    $(document).ready(function() {
        getLanguage(SESS_LANGUAGE);

        var lang = currentLanguage;

        if (lang == "en-US") {
            $('#langVN').removeClass('active');
            $('#langEN').addClass('active');
            $('#logoLanguage').html('Vietnam');
        } else {
            $('#langEN').removeClass('active');
            $('#langVN').addClass('active');
            $('#logoLanguage').html('Việt Nam');
        }

        $('#menu_2').hover(function () {
            $('#sub_menu_2').show();
        });
        $('#menu_2').mouseleave(function () {
            $('#sub_menu_2').hide();
        });
        $('#sub_menu_2').mouseenter(function () {
            $('#sub_menu_2').show();
        });
        $('#sub_menu_2').mouseover(function () {
            $('#sub_menu_2').show();
        });
        $('#sub_menu_2').mouseout(function () {
            $('#sub_menu_2').hide();
        });
        $('#sub_menu_product').mouseleave(function () {
            $('#sub_menu_2').hide();
        });

        $('#menu_3').hover(function () {
            $('#sub_menu_3').show();
        });
        $('#menu_3').mouseleave(function () {
             $('#sub_menu_3').hide();
        });

        $('#sub_menu_3').mouseenter(function () {
            $('#sub_menu_3').show();
        });
        $('#sub_menu_3').mouseleave(function () {
            $('#sub_menu_3').hide();
        });

        $('#menu_4').hover(function () {
            $('#sub_menu_4').show();
        });
        $('#menu_4').mouseleave(function () {
            $('#sub_menu_4').hide();
        });

        $('#sub_menu_4').mouseenter(function () {
            $('#sub_menu_4').show();
        });
        $('#sub_menu_4').mouseleave(function () {
            $('#sub_menu_4').hide();
        });
    });

</script>

@Html.Partial("_TabletMenu")
@Html.Partial("_MobileMenu")

<div class="clear"></div>



