﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
<footer>
   
    <div class="container copy">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <p class="footer-line">line</p>
            </div>         
        <div class="global col-sm-12 col-xs-12">
            <ul>
                <li> <a href="http://www.mitsubishielectric.com/index.html"> <i><img src="/images/icon-001.png"></i>@HomeController.GetTextValue("Top_GlobalWebsite")</a></li>
                <li class="ver-line"></li>
                <li> <a href="http://www.mitsubishielectric.asia/"><i> <img src="/images/icon-001.png"></i>@HomeController.GetTextValue("Top_AsiaPacificPortal")</a></li>
                <li class="ver-line"></li>
                <li class="arrow-001"> <a href="/sitemap.htm">@HomeController.GetTextValue("Top_SiteMap")</a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
            </div>
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-12  col-1">
                <ul>
                    <li><a href="/">@HomeController.GetTextValue("Home")</a></li>
                    <li>
                        <a href="/san-pham.htm">@HomeController.GetTextValue("Product")</a>
                        <ul>
                            @{
                                var currentLanguage = UtilsController.GetCurrentLanguage();

                                var lst = ProductCategoryController.GetList();
                                foreach (var item in lst)
                                {
                                    var title = item.Title;


                                    if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                                    {
                                        title = item.TitleEN;
                                    }


                                    var url = Url.RouteUrl("ProductTypes", new
                                                    {
                                                        ProductTypeName = Utils.ConvertUrf8ToAscii(title),
                                                        productTypeId = item.ItemID
                                                    });

                                    <li> <a href="@url" title="@title">@title</a></li>
                                }
                            }
                        </ul>
                    </li>

                </ul>

            </div>

            <div class="col-md-4 col-xs-12 col-sm-12 col-2">
                <ul>
                    <li><a href="/news-detail/gioi-thieu-tap-doan-mitsubishi-electric-1.htm">@HomeController.GetTextValue("Company")</a></li>
                    <li><a href="/where-to-buy.htm">@HomeController.GetTextValue("CustomerService")</a></li>
                    <li><a href="/so-tay-gia-dung.htm">@HomeController.GetTextValue("Tip")</a></li>

                </ul>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-12">
                <div class="advertise">
                    <div class="item-ad">
                        <a href="@HomeController.GetParamValue("LINK_ECO")" target="_blank">
                            <img title="For a greener tomorrow" alt="For a greener tomorrow" src="/images/img-bottom-01.png" height="75" width="215" />
                        </a>
                    </div>
                    <div class="item-ad">
                        <a href="@HomeController.GetParamValue("LINK_BRIEF")" target="_blank">
                            <img  title="Mitsubishi Electric in Brief" alt="Mitsubishi Electric in Brief" src="/images/img-bottom-02.png" height="75" width="215" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            </div>
        <div class="grid_6">
            <div class="copyright">Copyright © @DateTime.Now.Year Mitsubishi Electric Corporation. All Rights Reserved</div>
        </div>
        <div class="grid_6 frighti">
            <nav class="footer-navigation">
			<!--/terms-of-use.htm  /privacy.htm -->
                <div class="f-menu"><a href="http://www.mitsubishielectric.com/copyright/terms.html">@HomeController.GetTextValue("Home_TermsOfUse")</a> </div>
                <div class="f-menu"><a href="http://www.mitsubishielectric.com/copyright/privacy.html"> @HomeController.GetTextValue("Home_Privacy")</a></div>
                <div class="f-menu"><a href="/contact-us.htm">@HomeController.GetTextValue("Home_Contact")</a></div>
            </nav>
            <div class="socials">
                <a href="@HomeController.GetParamValue("LINK_FB")" target="_blank">
                    <img title="Facebook" alt="Facebook" class="socialIcon" src="/images/icon-face.png">
                </a>
                <a href="@HomeController.GetParamValue("LINK_YOUTUBE")" target="_blank">
                    <img title="youtube" alt="youtube" class="socialIcon" src="/images/icon-youtube.png">
                </a>
            </div>
        </div>
        </div>
    </div>
</footer>
 <!--send email-->
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#question-form-popup").submit(function (event) {
            $("#status-form-popup").html("Đang gửi...");
            var name = $("#a-name").val();
            var email = $("#a-email").val();
            var question = $("#a-question").val();
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: "@(Url.Action("SendEmail", "Manual"))",
                data: {
                    "name": name,
                    "email": email,
                    "question": question
                },
                success: function (data) {
                    $("#status-form-popup").html("Gửi thành công!");
                    setTimeout(closeRegister, 5000);

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Lỗi.');
                }
            });
            $("#status-form-popup").html("");
            return false;

        });
        return false;
		
		

    })
    function closeRegister() {
        jQuery.fancybox.close();
    }
	

</script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
	
	if($( window ).width()<992){
		 $("#menu_company a.menu-level-1, #menu_customer a.menu-level-1,#menu_products a.menu-level-1").on( "click", function() {
			$(this).siblings("ul").toggle();
			return false;
			});
		}
	});
</script>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '955843737810173',
            xfbml: true,
            version: 'v2.4'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
