﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model Mitsubishi.UI.Models.Entities.ProductCategoryEntity

<div class="comment-product-block product-detail-participant">
    <div class="container">
     

        <div id="comment-popup">
            <div id="shoping-agent" style="display: block;">
                <p class="title">Viết đánh giá</p>
                <div class="comment-popup-content">
                    <form id="form-comment-popup" action="" method="post">
                        <p><span class="text">Tên</span><input required id="name" type="text" /></p>
                        <div class="clear"></div>
                        <p><span class="text">Email</span><input required id="email" type="email" /></p>
                        <div class="clear"></div>
                        <p><span class="text">Nội dung bình luận</span><textarea id="content" cols="5" rows="5" name="content"></textarea></p>
                        <div class="clear"></div>
                        <div style="margin: 10px 0;">
                            <input type="submit" style="float: right;" value="GỬI BÌNH LUẬN" class="button-red" />
                            <div class="clear"></div>
                        </div>
                        <input id="ProductID" type="hidden" value="@Model.ItemID" />
                        <p id="status-form-popup" style="text-align:center"></p>
                        <div class="clear"></div>
                    </form>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <p class="block-title">@HomeController.GetTextValue("Review_Product")</p>
				 <a href="#comment-popup" class="comment-popup-link fancybox button-red">VIẾT ĐÁNH GIÁ</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <ul class="owlCarousel">
                    @{

                        var lst = new CommentController().GetListByProduct(Model.ItemID);

                        if (lst.Count() > 0)
                        {

                            foreach (var item in lst)
                            {
                                var des = item.Description; var name = item.Name;
                                var date = string.Format("{0:dd/MM/yyyy}", item.CreatedDate);

                                <li>
                                    <div class="">
                                        <span class="name">@name</span> <span style="font-style: italic; ">đánh giá vào</span> <span class="datePublish">@date</span>
                                        <p>@des</p>
                                    </div>
                                </li>
                            }

                        }
                    }
                </ul>
            </div>
        </div>
        <script type='text/javascript' src='~/Scripts/owl.carousel.js?ver=1.3.2'></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $(".owlCarousel").owlCarousel({
                    autoPlay: 3000, //Set AutoPlay to 3 seconds
                    items: 2,
                    itemsDesktop: [1199, 2],
                    itemsDesktopSmall: [979, 2],
                    itemsTablet: [768, 2],
                    itemsMobile: [479, 1],
                    // Navigation
                    navigation: true,
                    navigationText: ["&lt;", "&gt;"],
                    rewindNav: true,
                    scrollPerPage: false,

                    //Autoplay
                    autoPlay: true,
                    stopOnHover: true,

                    pagination: false,
                    paginationNumbers: false,

                });

            });
        </script>

        <script type="text/javascript" language="javascript">
            $(document).ready(function () {
                $("#form-comment-popup").submit(function (event) {
                    $("#status-form-popup").html("Đang gửi...");
                    var name = $("#name").val();
                    var email = $("#email").val();
                    var content = $("#content").val();
                    var productID = $("#ProductID").val();
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: "/Comment/Create",
                        data: {
                            "name": name,
                            "email": email,
                            "content": content,
                            "productID": productID
                        },
                        success: function (data) {
                            $("#status-form-popup").html("Bình luận của bạn đã được gửi đến BQT chờ xét duyệt!");
                            setTimeout(closeRegister, 5000);

                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            alert('Lỗi.');
                        }
                    });
                    // $("#status-form-popup").html("");
                    return false;

                });
                return false;

            })
            function closeRegister() {
                jQuery.fancybox.close();
            }

        </script>
        <div class="clear"></div>
    </div>
</div>
   
