﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models

<div class="tab-news nav nav-tabs">
    <a class="tab-item tab-item-news " href="#news-tab">@HomeController.GetTextValue("News")</a>
    <a class="tab-item tab-item-event" href="#event-tab">@HomeController.GetTextValue("Event")</a>
</div>
<div class="clear"></div>
<div id="news-tab" class="related-news">
    @{
        var lst = new ContentController().RelatedNews(Model.ItemID, "2" , 5, "ItemID", "ASC", true);
       
        var currentLanguage = UtilsController.GetCurrentLanguage();
            foreach (var item in lst)
            {
                var R_title = item.Title;

                if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                {
                    R_title = item.TitleEN;
                }
                
                
                var R_url = Url.RouteUrl("NewsDetail", new
                {
                    title = Utils.ConvertUrf8ToAscii(R_title),
                    itemId = item.ItemID
                });
                var R_thumb = item.Thumbnail;

                <div class="item-news">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <a href="@R_url"><img src="~/images/news/thumb/@R_thumb" class="news-thumbnail img-responsive" alt="@R_title"></a>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="datePublish">@string.Format("{0:dd/MM/yyyy}", item.ModifiedDate)</p>
                        <h3 class="title"><a href="@R_url">@R_title</a></h3>
                    </div>
                    <div class="clear"></div>
                </div>
            }
    }

</div>
<div id="event-tab" class="related-news">
    @{
        var e_lst = new ContentController().RelatedNews(Model.ItemID, "3" , 5 , "ItemID", "ASC", true);

        foreach (var item in e_lst)
            {
                var e_title = item.Title;
                if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                {
                    e_title = item.TitleEN;
                }
            
                var e_url = Url.RouteUrl("NewsDetail", new
                {
                    title = Utils.ConvertUrf8ToAscii(e_title),
                    itemId = item.ItemID
                });
                var e_thumb = item.Thumbnail;

                <div class="item-news">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <a href="@e_url"><img src="~/images/news/@e_thumb" class="news-thumbnail img-responsive" alt="@e_title"></a>
                    </div>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <p class="datePublish">@string.Format("{0:dd/MM/yyyy}", item.ModifiedDate)</p>
                        <h3 class="title"><a href="@e_url">@e_title</a></h3>
                    </div>
                    <div class="clear"></div>
                </div>
            }

        }

</div>
<script>
        $('.tab-news').each(function () {
            // For each set of tabs, we want to keep track of
            // which tab is active and it's associated content
            var $active, $content, $links = $(this).find('a');

            // If the location.hash matches one of the links, use that as the active tab.
            // If no match is found, use the first link as the initial active tab.
            $active = $($links.filter('[href="' + location.hash + '"]')[0] || $links[0]);
            $active.addClass('tab-active');

            $content = $($active[0].hash);

            // Hide the remaining content
            $links.not($active).each(function () {
                $(this.hash).hide();
            });

            // Bind the click event handler
            $(this).on('click', 'a', function (e) {
                // Make the old tab inactive.
                $active.removeClass('tab-active');
                $content.hide();

                // Update the variables with the new link and content
                $active = $(this);
                $content = $(this.hash);

                // Make the tab active.
                $active.addClass('tab-active');
                $content.show();

                // Prevent the anchor's default click action
                e.preventDefault();
            });
        });
</script>