﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@{
    var currentLanguage = UtilsController.GetCurrentLanguage();
    foreach (var Topic in @Model)
    {
        
        var title = "";
        var TitleEN = "";
        if (currentLanguage == GlobalConstants.LANGUAGE_EN)
        {
            title = Topic.TitleEN;
            TitleEN = Topic.TitleEN;
        }
        else
        {
            title = Topic.Title;
            TitleEN = Topic.Title;
        }


        var url = Url.RouteUrl("ListManual", new
        {
            TopicId = Topic.ItemID,
            TopicTitle = Utils.ConvertUrf8ToAscii(title)
        });


        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="topic-manual">
                <a href="@url">
                    <img class="img-responsive" src="~/images/@Topic.Thumbnail" alt="@title" title="@title" />
                </a>
                <div class="name-manual">
                    <a href="@url">
                        @title
                    </a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    }
}