﻿
<a href="#" class="scrollToTop">Scroll To Top</a>
<script>
    $(document).ready(function () {

        //Check to see if the window is top if not then display button
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('.scrollToTop').fadeIn();
            } else {
                $('.scrollToTop').fadeOut();
            }
        });

        //Click event to scroll to top
        $('.scrollToTop').click(function () {
            jQuery('html,body').animate({
                scrollTop: jQuery("#overview").offset().top
            }, 500);

            jQuery('.accordion-section-title').removeClass('active');
            jQuery('.accordion-section-content').slideUp(300).removeClass('open');

            return false;
        });

    });
</script>