﻿@using Mitsubishi.UI.Controllers
<script>
    jQuery(document).ready(function () {
        jQuery('.fancybox').fancybox({
            wrapCSS: 'fancybox-custom',
            openEffect: 'elastic',
            openSpeed: 450
        });	
    });
</script>
<div id="inline" class="ask-question-form-popup" style="width:250px;display: none;">
    <form id="question-form-popup">
        <div class="question-form-popup">
            <p class="question-title">@HomeController.GetTextValue("SendQuestion")</p>
            <p><input required id="a-name" class="name" type="text" placeholder="@HomeController.GetTextValue("Inquiry_Name")" /></p>
            <p><input required id="a-email" class="email" type="email" placeholder="@HomeController.GetTextValue("Inquiry_Email")" /></p>
            <p><textarea id="a-question" cols="3" rows="5">@HomeController.GetTextValue("Question")</textarea></p>
        </div>
        <input class="submit submit-button" type="submit" value="@HomeController.GetTextValue("Send")" />
        <p style="color:#BF2314;text-align:center;display:block; padding: 10px 0;" id="status-form-popup"></p>
</form>
</div>