﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models

@{
    var str = "";
    
    var itemId = "";
    var catId = "";
    if (ViewContext.RequestContext.RouteData.Values["CategoryManualID"] != null)
    {
        str = ViewContext.RequestContext.RouteData.Values["CategoryManualID"].ToString();
    }
    
    //trang detail
    if (ViewContext.RequestContext.RouteData.Values["itemId"] != null)
    {
        itemId = ViewContext.RequestContext.RouteData.Values["itemId"].ToString();
        var itemM = new ManualController().GetItemManual(int.Parse(itemId));
        catId = itemM.ManualCategoryID.ToString();
    }
    
    foreach (var entity in @Model)
    {
        var active_class = "";
        if (str == entity.ItemID.ToString() || catId == entity.ItemID.ToString())
        {
            active_class = "active";
        }
        
        
        var title = entity.Title;
       // var productTypeName = entity.ParentCategory.Title;
        var url = Url.RouteUrl("CategoryManual", new
        {            
            title = Utils.ConvertUrf8ToAscii(title),
            CategoryManualID = entity.ItemID            
        });
       
            <div data="@entity.ItemID" class="itemManual">
                <div class="wr-manual-item">
                    <a class="item-manual-category element-wrap" title="@title" data="@entity.ItemID" href="@url">
                        <img src="~/images/@entity.Thumbnail" alt="@title">
                        <span  class="hover-element @active_class"></span>
                        <p class="title @active_class">@title</p>

                    </a>
                </div>             
            </div>
    }
}