﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models

@{
    var currentLanguage = UtilsController.GetCurrentLanguage();
        foreach (var entity in @Model)
        {
            var title = entity.Title;
            
            if (currentLanguage == GlobalConstants.LANGUAGE_EN)
            {
                title = entity.titleEN;
            }
            var url = Url.RouteUrl("TypeManualCategory", new
            {
                title = Utils.ConvertUrf8ToAscii(title),
                TypeManualId = entity.ItemID
            });
            <div class="item-root">
                <a href="@url">@title</a>
            </div>
        }
}
