﻿@using Mitsubishi.UI.Controllers
<header class="header-container  ">
    <div class="container" style="position:relative">
        <!-- Logo Container -->
        <div class="logo col-lg-2 col-xs-12">
            <a href="/"> <img alt="logo" style="max-width:100%" src="~/images/mitsubishi-logo.png"> </a>
            <div class="clear"></div>
        </div>
        <div class="search-box">

            <!--Search Bar-->
            @*<form name="quick_find_header" action="" method="get">

                    <div class="ic-search"> <i class="fa fa-search"></i></div>
                    <input id="criteria" class="query" maxlength="30" type="text">

                    <button id="search" class="btn-search" type="button">@HomeController.GetTextValue("Home_ButtonGo")</button>
                </form>*@           
            <div class="timkiem">
                <input placeholder="Nhập từ khóa.." id="criteria" class="query" maxlength="30" type="text">
                <button id="search" class="btn-search" type="button"></button>
            </div>
            <!--Search Bar Ends-->
            <a href="tel:1800585833" class="hot-line">
                1800 585 833
            </a>
        </div>
        <div class="global">
            <ul>
                <li> <a href="javascript:void(0)" class="active">Việt Nam</a></li>
                <li> <a href="@HomeController.GetParamValue("LINK_GLOBAL")" target="_blank">@HomeController.GetTextValue("Top_GlobalWebsite")</a></li>

                <li> <a href="@HomeController.GetParamValue("LINK_ASIA")" target="_blank">@HomeController.GetTextValue("Top_AsiaPacificPortal")</a></li>
                <li> <a href="/sitemap.htm">@HomeController.GetTextValue("Top_SiteMap")</a></li>
            </ul>
        </div>

        <div class="clear">
        </div>
        <!-- <div class="background-header"> <img src="~/images/shadow.man-logo.png"></div>-->

    </div>

</header>

<script>
    $(document).ready(function () {
        $('#criteria').keypress(function (e) {
            if (e.keyCode == 13) {
                var criteria = $('#criteria').val();
                var url = '@Url.Action("Index", "Search")' + '?q=' + criteria;

                window.location.href = url;
            }
        });

        $('#search').click(function () {
            var criteria = $('#criteria').val();
            var url = '@Url.Action("Index", "Search")' + '?q=' + criteria;

            window.location.href = url;
        });
        //mobile
        $('#criteria-m').keypress(function (e) {
            if (e.keyCode == 13) {
                var criteria = $('#criteria-m').val();
                var url = '@Url.Action("Index", "Search")' + '?q=' + criteria;

                window.location.href = url;
            }
        });
        $('#search-m').click(function () {
            var criteria = $('#criteria-m').val();
            var url = '@Url.Action("Index", "Search")' + '?q=' + criteria;

            window.location.href = url;
        });
    });
</script>
<div class="right-wrap">

</div>