﻿@using Mitsubishi.UI.Controllers

<div class="clear"></div>
@Scripts.Render("~/bundles/jsbanner")
<script type="text/javascript">
    $(function () {
        SyntaxHighlighter.all();
    });
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            animationLoop: true,
            slideshow: true,
            touch : true,
            slideshowSpeed : 5000,
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>



@{
    var lst = ProductCategoryController.GetListBannerCurrentCategory();
    var allowBanner = ProductCategoryController.IsAllowShowBanner();

    if (allowBanner)
    {
        if (lst.Count > 1 || lst.Count == 0)
        {
            <div id="slider1_container" class="slider_container">
             
               

    @{
            if (lst.Any())
            {
                @Html.Raw("<div u=\"slides\" class=\"slide\">");
                    foreach (var item in lst)
                    {
                    var image = item.ImageName ;
                    <div> <img u="image" src="~/images/banners/@image" /></div>
                    }
               @Html.Raw("</div>");
            }
            else
            {
                var lstBanners = HomeController.GetListBanners();

                                    <!-- FlexSlider -->
                                    @Html.Raw("<div class=\"flexslider\">");
                                    @Html.Raw("<ul class=\"slides\">");

                                    foreach (var banner in lstBanners)
                                    {
                                        if (!string.IsNullOrEmpty(banner.ImageName))
                                        {

                                            if (banner.IsEnableLink && !string.IsNullOrEmpty(banner.RedirectUrl))
                                            {
                                                var image = banner.ImageName;
                                                var link = banner.RedirectUrl;
                                                
                                                <li>
                                                    <a href="@link" target="_blank"><img src="~/images/banners/@image" /></a>
                                                </li>
                                              
                                            }
                                            else
                                            {
                                                var image = @banner.ImageName;
                                                <li>
                                                    <img src="~/images/banners/@image" />
                                                </li>

                                            }

                                        }
                                    }
                                    @Html.Raw("</ul>");
                                    @Html.Raw("</div>");



                                }
                            }
                      
               


 
                
              <div class="clear"></div>
            </div>
        }
        else
        {
            <div class="slider_container" style=" display:none">
                <div u="slides" class="slide">
                    <div> <img u="image" src="/images/feature-06-09.png" /></div>
                </div>
				<div class="clear"></div>
            </div>
            <div class="slider_container">
                    @{
                    var banner = lst[0];

                    if (!string.IsNullOrEmpty(banner.RedirectUrl) && banner.IsEnableLink)
                    {
                        <a href="@banner.RedirectUrl" target="_blank" title="@banner.Title">
                            <img class="SingleSliderImage"  u="image" src="~/images/banners/@banner.ImageName" />
                        </a>
                    }
                    else
                    {
                        <img class="SingleSliderImage"  u="image" src="~/images/banners/@banner.ImageName" />
                    }
                    }
		        <div class="clear"></div>
            </div>
        }

    }
    else
    {

        <div id="slider1_container" class="slider_container" style=" display:none">
            <div u="slides" class="slide">
                <div> <img u="image" src="/images/feature-06-09.png" /></div>
            </div>
			<div class="clear"></div>
        </div>
		
    }
    
}


