﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model Mitsubishi.UI.Models.Entities.ProductCategoryEntity


<div class="other-product-category-block product-detail-participant">
    <div class="container">
        <div class="row">
            <div class="col-md-12  col-sm-12 col-xs-12">
                <p class="block-title">@HomeController.GetTextValue("DiscoveryOtherCategory")</p>
            </div>
            @{
                var currentLanguage = UtilsController.GetCurrentLanguage();

                var c_productType = Model.ProductTypeId;
                var lstCats = ProductCategoryController.GetListRelated(c_productType, 4, int.Parse(Model.ProductTypeId.ToString()));

                foreach (var categoryEntity in lstCats)
                {
                    var catName = categoryEntity.Title;

                    if (currentLanguage == GlobalConstants.LANGUAGE_EN)
                    {
                        catName = categoryEntity.TitleEN;
                    }

                    var url = Url.RouteUrl("ProductCategory", new
                    {
                        ProductTypeName = Utils.ConvertUrf8ToAscii(Model.ProductType.Title),
                        ProductTypeId = categoryEntity.ProductType.ItemID,
                        ProductCategoryName = Utils.ConvertUrf8ToAscii(catName),
                        productCategoryId = categoryEntity.ItemID
                    });

                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="list-pro ">
                            <a style=" padding: 20px 0px; background-color: #fff;" href="@url"><img src="~/images/@categoryEntity.IconName" alt="@catName" title="@catName"></a>
                            <div class="name-pro">
                                <span class="tt"> <a href="@url">@catName</a></span>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>
