﻿@using Microsoft.Ajax.Utilities
@using Mitsubishi.UI.Controllers;
@using Mitsubishi.UI.Models


<div id="feature-carousel">
    <div id="list" class="content-carousel">
        <div class="prev"><a href="#"><img src="~/images/left.png" alt="prev" /></a></div>
        <div class="slider">
            <ul>
                @{
                    var str = ProductCategoryController.GetProductCategoryId();

                    if (!string.IsNullOrEmpty(str))
                    {
                        var lst = ProductCategoryController.GetListInCategory(Convert.ToInt32(str));

                        if (lst != null && lst.Any())
                        {
                            foreach (var entity in lst)
                            {
                                var url = Url.RouteUrl("SubProductCategory", new
                                {
                                    productTypeName = Utils.ConvertUrf8ToAscii(entity.ProductType.IfNotNull(a => a.Title)),
                                    parentCategoryName = Utils.ConvertUrf8ToAscii(entity.ParentCategory.IfNotNull(a => a.Title)),
                                    subCategoryName = Utils.ConvertUrf8ToAscii(entity.Title),
                                    productCategoryId = entity.ItemID
                                });
                                <li>
                                    <a href="@url" title="@entity.Title"><img src="~/images/@entity.IconName" alt="@entity.IfNotNull(a => a.Title)" title="@entity.IfNotNull(a => a.Title)" /></a>
                                    <div>
                                        <a href="@url" class="title">@entity.ProductCode</a>
                                    </div>
                                </li>
                            }
                        }
                    }
                }
            </ul>
        </div>
        <div><a href="#" class="next"><img src="~/images/right.png" alt="next" /></a></div>
    </div>
</div>
