﻿@using Mitsubishi.UI.Areas.Publish.Controllers

<div class="clear"></div>

@{
    var lst = ProductCategoryController.GetListBannerCurrentCategory();
    var allowBanner = ProductCategoryController.IsAllowShowBanner();

    if (allowBanner)
    {
        if (lst.Count > 1 || lst.Count == 0)
        {
            <div id="slider1_container" class="slider_container">
             
                    <div u="slides" class="slide">
                        @{
                            if (lst.Any())
                            {
                                foreach (var item in lst)
                                {
                                    <div> <img u="image" src="~/images/banners/@item.ImageName" /></div>
                                }
                            }
                            else
                            {
                                var lstBanners = HomeController.GetListBanners();

                                <!-- FlexSlider -->
                            <script defer src="~/Scripts/jquery.flexslider.min.js"></script>

                                <script type="text/javascript">
                                    $(function () {
                                        SyntaxHighlighter.all();
                                    });
                                    $(window).load(function () {
                                        $('.flexslider').flexslider({
                                            animation: "slide",
                                            start: function (slider) {
                                                $('body').removeClass('loading');
                                            }
                                        });
                                    });
                                </script>


                                <script type="text/javascript" src="~/Scripts/jssor.js"></script>
                                <script type="text/javascript" src="~/Scripts/jssor.slider.js"></script>

                              <!-- Syntax Highlighter -->
                        <script type="text/javascript" src="~/Scripts/shCore.js"></script>
                        <script type="text/javascript" src="~/Scripts/shBrushXml.js"></script>
                        <script type="text/javascript" src="~/Scripts/shBrushJScript.js"></script>

                              <!-- Optional FlexSlider Additions -->
                        <script src="~/Scripts/jquery.easing.js"></script>
                        <script src="~/Scripts/jquery.mousewheel.js"></script>
                        <script defer src="~/Scripts/demo.js"></script>

                                foreach (var banner in lstBanners)
                                {
                                    if (!string.IsNullOrEmpty(banner.ImageName))
                                    {
                                        <div>
                                            @if (banner.IsEnableLink && !string.IsNullOrEmpty(banner.RedirectUrl))
                                            {
                                                <a href="@banner.RedirectUrl" target="_blank">
                                                    <img title="Click tìm hiểu thêm" u="image" src="~/images/banners/@banner.ImageName" />
                                                </a>
                                            }
                                            else
                                            {
                                                <img class="banner-single" u="image" src="~/images/banners/@banner.ImageName" />
                                            }
                                        </div>
                                    }
                                }
                            }
                        }

                    </div>
                <div class="clear"></div>
                    <div u="navigator" class="jssorb21" style="position: absolute; bottom: 26px; left: 6px;">
                        <div u="prototype" style="POSITION: absolute; WIDTH: 19px; HEIGHT: 19px; text-align:center; line-height:19px; color:White; font-size:12px;"></div>
                    </div>
                    <span u="arrowleft" class="jssora21l" style="width: 55px; height: 55px; top: 123px; left: 8px;"> </span>
                    <span u="arrowright" class="jssora21r" style="width: 55px; height: 55px; top: 123px; right: 8px"> </span>
                  
              <div class="clear"></div>
            </div>
        }
        else
        {
            <div class="slider_container" style=" display:none">
                <div u="slides" class="slide">
                    <div> <img u="image" src="/images/feature-06-09.png" /></div>
                </div>
				<div class="clear"></div>
            </div>
    <div class="slider_container">
            @{
            var banner = lst[0];

            if (!string.IsNullOrEmpty(banner.RedirectUrl) && banner.IsEnableLink)
            {
                <a href="@banner.RedirectUrl" target="_blank" title="@banner.Title">
                    <img class="SingleSliderImage"  u="image" src="~/images/banners/@banner.ImageName" />
                </a>
            }
            else
            {
                <img class="SingleSliderImage"  u="image" src="~/images/banners/@banner.ImageName" />
            }
            }
		<div class="clear"></div>
    </div>
        }

    }
    else
    {

        <div id="slider1_container" class="slider_container" style=" display:none">
            <div u="slides" class="slide">
                <div> <img u="image" src="/images/feature-06-09.png" /></div>
            </div>
			<div class="clear"></div>
        </div>
		
    }
    
}


