﻿

<table width="100%">
    <tr>
        <td>
            @(Html.Kendo().Editor().Name("editorContent").Tools(tools => tools
            .SubScript()
            .SuperScript()
            .InsertImage().InsertFile()
        ).Encode(false)
        .ImageBrowser(imageBrowser => imageBrowser
            .Image("~/Content/UserFiles/Images/{0}")
            .Read("Read", "ImageBrowser")
            .Create("Create", "ImageBrowser")
            .Destroy("Destroy", "ImageBrowser")
            .Upload("Upload", "ImageBrowser")
            .Thumbnail("Thumbnail", "ImageBrowser"))
        .FileBrowser(fileBrowser => fileBrowser
            .File("~/Content/UserFiles/Images/{0}")
            .Read("Read", "ImageBrowser")
            .Create("Create", "ImageBrowser")
            .Destroy("Destroy", "ImageBrowser")
            .Upload("Upload", "ImageBrowser"))
            .HtmlAttributes(new { style = "height:100%;height:500px;" }
    )
            )
        </td>
    </tr>
</table>
<div style="float:right; margin-top:10px;margin-right:10px;">
    @*<a href="#" class="k-button k-button-icontext k-primary k-grid-update" onclick="updateShortDesc($('#kEditor1'), $('#txtShortDescription'), $('#ShortDescription'), $('#popupShortDescription'))">
        <span class="k-icon k-update"></span>
        Update
    </a>*@
    <a href="#" class="k-button k-button-icontext k-primary k-grid-update" onclick="updateContent()">
        <span class="k-icon k-update"></span>
        Update
    </a>
    <a href="#" class="k-button k-button-icontext k-primary k-grid-cancel" onclick="closeEditor($('#popupShortDescription'));">
        <span class="k-icon k-cancel"></span>
        Cancel
    </a>
</div>
