﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models.Services
@using Mitsubishi.UI.Models
@model Mitsubishi.UI.Models.Entities.ProductCategoryEntity


@{
    //var ProductID = ViewContext.RouteData.Values["productCategoryId"];
    //var ProductTypeID = ProductCategoryController.GetItem(int.Parse(ProductID.ToString()));
    
    int[] tmp = new int[5] { 2, 3, 4, 14, 8 };
    var ItemIDs = ProductCategoryController.GetAllCatIDParent(@Model.ItemID);

   foreach (int catID in tmp)
    {
        var exists = new ManualController().ExistCatID(catID, ItemIDs);

        if (exists == 1)
        {
            var item_Lst = new ManualController().ManualInProduct_Block(catID.ToString(), 4);

            var currentLanguage = UtilsController.GetCurrentLanguage(GlobalConstants.SESS_LANGUAGE);
            if (item_Lst.Count() > 0)
            {



                @Html.Raw("<div class=\"tip-product-block product-detail-participant\">");
                @Html.Raw("<div class=\"container\">");
                @Html.Raw("<div class=\"row\">");
                @Html.Raw("<div class=\"col-md-12 col-sm-12 col-xs-12\">");
                @Html.Raw("<p class=\"block-title\">" + @HomeController.GetTextValue("Tip") + "</p>");
                @Html.Raw("<div class=\"clear\"></div></div><div class=\"clear\"></div>");



                foreach (var item in item_Lst)
                {

                    var title = item.TitleEN;
                    if (currentLanguage == GlobalConstants.LANGUAGE_VN)
                    {
                        title = item.Title;
                    }

                    var url = Url.RouteUrl("ManualDetail", new
                    {
                        title = Utils.ConvertUrf8ToAscii(title),
                        itemId = item.ItemID
                    });

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="item-tips">
                            <a href="@url"><img src="~/images/sotaygiadung/@item.Thumbnail" class="news-thumbnail img-responsive" alt="@title"></a>
                            <p class="title">
                                <a href="@url">
                                    @title
                                </a>
                            </p>
                        </div>
                    </div>
                }

               @Html.Raw("</div>");
                @Html.Raw("</div>");
                @Html.Raw(" <div class=\"clear\"></div>");
                @Html.Raw("</div>");
            }
        }
    }






}
   