﻿<div class="bottom-location">
    <div class="img-location"><img src="~/images/location.png"></div>
    <div class="where-to-buy">Where to by</div>
    <div class="grey">Find a dealer in your area</div>
    <div class="item-more2"> <a href="/where-to-buy.htm"><i class="ic-arrow"></i> See More</a> </div>
</div>
