﻿    <div class="fan-slider-mobile">
		<img style="max-width: 100%;" src="~/images/banners/fan-slider-mobile.jpg" />
	</div>
   <div class="fan-slider">
    <div class="widget widget2x4 widget_orange animation unloaded" data-url="" data-theme="orange" data-name="Metro_UI">
        <div class="widget_content">
            <div class="main">
                <img src="~/images/banners/cat-fan-1.jpg" />
            </div>
        </div>
    </div>
    <div class="widget widget2x4 widget_red animation unloaded" data-url="" data-theme="red" data-name="royal_preloader">
        <div class="widget_content">
            <div class="main">
                <img src="~/images/banners/cat-fan-2.jpg" />
            </div>
        </div>
    </div>
    <div class="fan-col-3">
        <div class="widget widget4x2 widget_red animation unloaded" data-url="" data-theme="red" data-name="royal_preloader">
            <div class="widget_content">
                <div class="main">
                    <img src="~/images/banners/cat-fan-3.jpg" />
                </div>
            </div>
        </div>
        <div class="widget widget2x2 widget_red animation unloaded" data-url="" data-theme="red" data-name="royal_preloader">
            <div class="widget_content">
                <div class="main">
                    <img src="~/images/banners/cat-fan-4.jpg" />
                </div>
            </div>
        </div>
        <div class="widget widget2x2 widget_red animation unloaded" data-url="" data-theme="red" data-name="royal_preloader">
            <div class="widget_content">
                <div class="main">
                    <img src="~/images/banners/cat-fan-5.jpg" />
                </div>
            </div>
        </div>
    </div>
    <div class="widget widget2x4 widget_red animation unloaded" data-url="" data-theme="red" data-name="royal_preloader">
        <div class="widget_content">
            <div class="main" >
                <img src="~/images/banners/cat-fan-6.jpg" />
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
    <script>

        $(document).ready(function () {

            $(".widget").each(function (index) {
                (function (that, i) {
                    var t = setTimeout(function () {
                        $(that).removeClass("unloaded");
                    }, 500 * i);
                })(this, index);
            });


        });
    </script>
