﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@model  Mitsubishi.UI.Models.Entities.ContentEntity
@{
    var title = Model.Title;
    var shortDescription = Model.ShortDescription;

    var currentLanguage = UtilsController.GetCurrentLanguage();

    if (currentLanguage == GlobalConstants.LANGUAGE_EN)
    {
        title = Model.TitleEN;
        shortDescription = Model.ShortDescriptionEN;
    }

    ViewBag.Title = title;
}
<div class="tt-top">
    <div class="imgNews">
        <img class="Left" src="/images/news-logo.png">
    </div>
    <h3>@Html.Raw(Server.HtmlDecode(title))</h3>
</div>
<div class="wr-news">
    @*<div class="tt-about">@Model.Title</div>*@
    <div class="line-about"><img src="/images/line-about.png"></div>
    <div class="ct-about Left">
        @Html.Raw(Server.HtmlDecode(shortDescription))
    </div>
    <div class="viewdetail">
        <div><span class="icon-detail"></span>
        @{
            var url = Url.RouteUrl("NewsDetail", new
            {
                title = Utils.ConvertUrf8ToAscii(Model.Title),
                itemId = Model.ItemID
            });
        }    
        <a href="@url">@HomeController.GetTextValue("News_More")</a></div>
    </div>
</div>