﻿
<div class="bottom-slider">
    <div id="list-bottom" class="content-carousel">
        <div class="prev-bt"><a href="#"><img src="~/images/left.png" alt="prev" /></a></div>

        <div class="slider-bt">
            <ul>
                <li>
                    <a href="#"><img src="~/images/2-doors-01.png" /></a>
                    <div>
                        <a class="title">2-Doors top freezer</a>

                    </div>
                </li>
                <li>
                    <a href="#"><img src="~/images/2-doors-02.png" /></a>
                    <div>
                        <a class="title">2-Doors bottom freezer</a>

                    </div>
                </li>
                <li>
                    <a href="#"><img src="~/images/2-doors-03.png" /></a>
                    <div>
                        <a class="title">2-Doors top freezer</a>

                    </div>
                </li>
                <li>
                    <a href="#"><img src="~/images/2-doors-01.png" /></a>
                    <div>
                        <a class="title">2-Doors top freezer</a>

                    </div>
                </li>
                <li>
                    <a href="#"><img src="~/images/2-doors-03.png" /></a>
                    <div>
                        <a class="title">2-Doors top freezer</a>

                    </div>
                </li>


            </ul>
        </div>
        <div><a href="#" class="next-bt"><img src="~/images/right.png" alt="next" /></a></div>
    </div>
</div>