﻿@using Kendo.Mvc.UI
@using Mitsubishi.UI.Models.Entities
@using Mitsubishi.UI.Models.Services

@{
    ViewBag.Title = "Product Type List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="module-title">Product Type Management</h2>
@{
    var service = new ServiceConfiguration();
}

@(Html.Kendo().Grid<ProductTypeEntity>()
      .Name("grid")
      .Columns(columns =>
      {
		 
          columns.Bound(e => e.ItemID).Hidden().IncludeInMenu(false);
          columns.Bound(c => c.NameEng).Width(160);
          columns.Bound(c => c.Name).Width(160);
          columns.Bound(c => c.IsActive).Width(160);
          columns.Bound(c => c.CreatedDate).Width(190).Hidden();
          columns.Bound(c => c.ModifiedDate).Width(190).Hidden();
          columns.Command(command =>
          {
              command.Edit();
              command.Destroy();
          }).Width(200);
      })
      .ToolBar(t => t.Create())
      .Editable(editable =>
      {
          editable.Mode(GridEditMode.PopUp).TemplateName("formProductType");
          editable.DisplayDeleteConfirmation(service.DeleteConfirmationMessage);
          editable.Window(builder =>
          {
              builder.Title("Add/Edit Project Type");
              builder.Width(650);
          });
      })
      .HtmlAttributes(new {style = "height:" + service.GridHeight})
      .Scrollable()
      .Sortable()
      .Resizable(resize => resize.Columns(true))
      .Selectable(selectable => selectable
          .Mode(GridSelectionMode.Single))
      .Pageable(pageable => pageable
          .Refresh(true)
          .PageSizes(service.PageSizes)
          .ButtonCount(5))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(service.PageSize)
          .Model(model =>
            {
                model.Id(f => f.ItemID);
                model.Field(f => f.CreatedDate).Editable(false).DefaultValue(DateTime.Now);
                model.Field(f => f.ModifiedDate).Editable(false).DefaultValue(DateTime.Now);
            })
          .Read(read => read.Action("Read", "ProductType"))
          .Create(update => update.Action("Create", "ProductType"))
          .Update(update => update.Action("Create", "ProductType"))
          .Destroy(update => update.Action("Destroy", "ProductType"))
          .ServerOperation(false)
      )
      )
<style>
    .k-edit-form-container
    {
        width: 100%;
    }
</style>