﻿@{
    ViewBag.Title = "Content Category List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="module-title">Content Category Management</h2>

<script>
    $(document).ready(function () {

        $('#wndEditItem').hide();

        $('#btnAddItem').click(function() {
            addContentCategory();
        });

        $('#btnSave').click(function() {
            updateContentCategory();
        });

        $("input:radio[name=radioLanguages]").click(function () {           
            var value = $(this).val();
            if (value == langEN) {
                $('#trTitleEN').show();
                $('#trTitleVN').hide();
            } else {
                $('#trTitleEN').hide();
                $('#trTitleVN').show();
            }
        });
    });  

    function closeDialog() {
        $("#wndEditItem").data("kendoWindow").close();
    }

    function onEdit(e) {
        if (e.model.ItemID != 0) {
            $('#Title').val(e.model.Title);
            $('#TitleEN').val(e.model.TitleEN);
        }
    }

    function showAddDialog(itemId) {
        var win = $("#wndEditItem").data("kendoWindow");
        win.center();
        win.pin();

        if (itemId == 0) {
            $('#Title').val('');
            $('#SortOrder').data("kendoNumericTextBox").value(1);
        }
        else {
            getContentCategory(itemId);
        }

        win.open();
    }
</script>

@Html.Partial("partialListContentCategory")
        
<style>
.k-edit-form-container
        {
            width: 100%;
        }
</style>