﻿@using Mitsubishi.UI.Controllers
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Entities
@using Mitsubishi.UI.Models.Services
@{
    var service = new ServiceConfiguration();
}

@(Html.Kendo().Window()
    .Name("wndEditItem")
    .Title("Content Category")
    .Modal(true)
    .Draggable(true)
    .Width(650)
    .Actions(actions => actions.Pin().Close())
    .Content(@<text>
        @Html.Partial("partialEditContentCategory")
    </text>)
)

<div class="box-header">
    <table width="100%" border="0" cellpadding="1px" cellspacing="1px">
        <tr>
            <td style="width: 380px;padding-left: 5px;">
                <button id="btnAddItem" class="k-button k-button-icontext ">
                    <span class="k-icon k-add"></span>
                    Add New
                </button>
            </td>
            <td align="right">
                Language:&nbsp;
                @(Html.Kendo().DropDownList()
                            .Name("Languages")
                            .DataTextField("Text")
                            .DataValueField("Value")
                            .Events(e => e.Change("changeLanguage"))
                            .BindTo(new List<SelectListItem>() {
                                  new SelectListItem() {
                                      Text = "English",
                                      Value = "en-US"
                                  },
                                  new SelectListItem() {
                                      Text = "Vietnamese",
                                      Value = "vi-VN"
                                  }
                              })
                            .Value(UtilsController.GetCurrentLanguage(GlobalConstants.SESS_ADMIN_LANGUAGE))
                            .HtmlAttributes(new { style = "width:120px; text-align:left;" })
                )
            </td>
        </tr>
    </table>
</div>
@*@(Html.Kendo().Grid<ContentCategoryEntity>()
      .Name("grid")
      .Columns(columns =>
      {
          columns.Bound(e => e.ItemID).Hidden().IncludeInMenu(false);
          if (UtilsController.GetCurrentLanguage(GlobalConstants.SESS_ADMIN_LANGUAGE) == GlobalConstants.LANGUAGE_EN)
          {
              columns.Bound(c => c.TitleEN);
          }
          else
          {
              columns.Bound(c => c.Title);
          }

          columns.Bound(c => c.SortOrder).Width(70).ClientTemplate("<div align='center'>#= SortOrder #</div>");
          columns.Bound(c => c.IsActive).Width(90).ClientTemplate("<div align='center'><img value='#= ItemID #' style='cursor:pointer;' " +
                                                     "# if (IsActive) " +
                                                     "{ #" +
                                                     " src='/Content/images/icon/icon_yes.gif' onclick='setContentCategoryIsActive(#: ItemID #, false);' " +
                                                     "# } " +
                                                     " else { #" +
                                                     " src='/Content/images/icon/icon_no.gif' onclick='setContentCategoryIsActive(#: ItemID #, true);' " +
                                                     "# } #" +
                                                     "/></div>");
          columns.Bound(c => c.CreatedDate).Width(180).Hidden();
          columns.Bound(c => c.ModifiedDate).Width(190);
          columns.Command(command =>
          {
              command.Edit();
              command.Destroy();
          }).Width(200);
      })
      .Editable(editable =>
      {
          editable.Mode(GridEditMode.PopUp).TemplateName("formContentCategory");
          editable.DisplayDeleteConfirmation(service.DeleteConfirmationMessage);
          editable.Window(builder =>
          {
              builder.Title("Add/Edit Content Category");
              builder.Width(650);
          });
      })
      .Events(events => events.Edit("onEdit"))
      .HtmlAttributes(new { style = "height:410px;" })
      .Scrollable()
      .Sortable()
      .Resizable(resize => resize.Columns(true))
      .Selectable(selectable => selectable
          .Mode(GridSelectionMode.Single))
      .Pageable(pageable => pageable
          .Refresh(true)
          .PageSizes(service.PageSizes)
          .ButtonCount(5))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(service.PageSize)
          .Model(model =>
            {
                model.Id(f => f.ItemID);
                model.Field(f => f.CreatedDate).Editable(false).DefaultValue(DateTime.Now);
                model.Field(f => f.ModifiedDate).Editable(false).DefaultValue(DateTime.Now);
            })
          .Read(read => read.Action("Read", "ContentCategory"))
          .Create(update => update.Action("Create", "ContentCategory"))
          .Update(update => update.Action("Create", "ContentCategory"))
          .Destroy(update => update.Action("Destroy", "ContentCategory"))
          .ServerOperation(false)
      )
)*@

@(Html.Kendo().TreeList<ContentCategoryEntity>()
    .Name("treelist")
        .Columns(columns =>
        {
            if (UtilsController.GetCurrentLanguage(GlobalConstants.SESS_ADMIN_LANGUAGE) == GlobalConstants.LANGUAGE_EN)
            {
                columns.Add().Field("TitleEN").Title("Title");
            }
            else
            {
                columns.Add().Field("Title").Title("Title");
            }

            columns.Add().Field("SortOrder").Width("70px").Title("Sort #").Template("<div align='center'>#= SortOrder #</div>");
            columns.Add().Field("IsActive").Width("90px").Title("Publish").Template("<div align='center'><img value='#= ItemID #' style='cursor:pointer;' " +
                                                     "# if (IsActive) " +
                                                     "{ #" +
                                                     " src='/Content/images/icon/icon_yes.gif' onclick='setContentCategoryIsActive(#: ItemID #, false);' " +
                                                     "# } " +
                                                     " else { #" +
                                                     " src='/Content/images/icon/icon_no.gif' onclick='setContentCategoryIsActive(#: ItemID #, true);' " +
                                                     "# } #" +
                                                     "/></div>");
            columns.Add().Field("ModifiedDate").Width("180px").Title("Modified Date").Format("{0:MM/dd/yyyy hh:mm:ss tt}");
            columns.Add().Template("<button class='k-button k-button-icontext btnEdit' onclick='showAddDialog(#: ItemID #);'>Edit</button>" +
                                   "<button class='k-button k-button-icontext btnEdit' onclick='destroyContentCategory(#: ItemID #);'>Delete</button>").Width(200);
        })
    .Filterable(false)
    .Sortable(true)
    .DataSource(dataSource => dataSource
        .Read(read => read.Action("Read", "ContentCategory"))
        .Model(m =>
        {
            m.Id(f => f.ItemID);
            m.ParentId(f => f.ParentID);
        })
    )
    .Height(415)
)