﻿
@model Mitsubishi.UI.Models.Entities.ContentCategoryEntity

<table width="100%">
    <tr>
        <td>
            @Html.LabelFor(model => model.ParentID)
        </td>
        <td>
            @(Html.Kendo().DropDownListFor(m => m)
                  .Name("ParentID")
                  .OptionLabel("Select parent category")
                  .DataValueField("ItemID")
                  .DataTextField("DataTextField")
                  .DataSource(ds => ds.Read(read => read.Action("GetListCombobox", "ContentCategory")))
                  .HtmlAttributes(new { style = "width: 200px;" })
            )
            &nbsp;
            @Html.Kendo().RadioButton().Name("radioLanguages").Label("English").Checked(true).HtmlAttributes(new { id = "radioEn" }) &nbsp;
            @Html.Kendo().RadioButton().Name("radioLanguages").Label("Vietnamese").HtmlAttributes(new { id = "radioVn" })
      
            @*<input type="radio" name="radioLanguages" value="en-US" checked="checked" />English&nbsp;
            <input type="radio" name="radioLanguages" value="vi-VN" />Vietnamese*@

        </td>
    </tr>
    <tr id="trTitleEN">
        <td>
            @Html.LabelFor(model => model.TitleEN)
        </td>
        <td>
            @Html.TextBoxFor(model => model.TitleEN, new { @class = "k-textbox long-textbox" })
        </td>
    </tr>
    <tr id="trTitleVN" style="display: none;">
        <td>
            @Html.LabelFor(model => model.Title)
        </td>
        <td>
            @Html.TextBoxFor(model => model.Title, new { @class = "k-textbox long-textbox" })
        </td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.IsActive)</td>
        <td>@Html.EditorFor(model => model.IsActive)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.SortOrder)</td>
        <td>
            @(Html.Kendo().IntegerTextBoxFor(m => m.SortOrder)
                .Min(0)
                .Max(1000)
                .Step(1)
                .Value(1)
                .Spinners(true)
                .HtmlAttributes(new { style = "width:100px;text-align:center;" })
            )
        </td>
    </tr>
    <tr>
        <td>@Html.HiddenFor(m=>m.ItemID)</td>
        <td class="k-edit-buttons k-state-default" style="padding-top: 15px;text-align: right;">
            <button id="btnSave" class="k-button k-button-icontext k-primary k-grid-update">
                <span class="k-icon k-update"></span>
                Save
            </button>

            <button id="btnCancel" class="k-button k-button-icontext k-grid-cancel" onclick="closeDialog();">
                <span class="k-icon k-cancel"></span>
                Cancel
            </button>
        </td>
    </tr>
</table>

<script>
    $(document).ready(function () {
        $('#radioEn').val("en-US");
        $('#radioVi').val("vi-VN");
    });
    $("input:radio[name=radioLanguages]").click(function () {
        var value = $(this).val();
        if (value == langEN) {
            $('#trTitleEN').show();
            $('#trTitleVN').hide();
        } else {
            $('#trTitleEN').hide();
            $('#trTitleVN').show();
        }
    });
</script>

<style>
    #TitleEN, #Title{
        width:200px;
    }
    .k-radio-label{
        font-weight: normal;
    }
</style>