﻿@using Mitsubishi.UI.Models.Entities
@model FaqEntity


<h2 class="module-title">Add / Edit Faq</h2>

@using (Html.BeginForm("CreateItem", "Faq", FormMethod.Post))
{
    <table width="100%" cellpadding="3px" cellspacing="3px">
        <tr>
            <td>
                @Html.HiddenFor(m => m.ItemID)
            </td>
            <td>
                @ViewBag.ErrorMessage
            </td>
        </tr>
        <tr>
            <td style="width: 160px;"></td>
            <td>
                <button id="btnSave" type="submit" class="k-button k-button-icontext k-grid-update k-primary">
                    <span class="k-icon k-update"></span>
                    Save
                </button>

                @Html.ActionLink("Cancel", "Index", "Faq", null, new { @class = "k-button k-button-icontext k-grid-cancel" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Question)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Question, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Email)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Email, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Name)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Name, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.CreateDate)
            </td>
            <td>
                @Html.TextBoxFor(model => model.CreateDate, new { @class = "datetimepicker", @Value = Model.CreateDate.ToString("yyyy-MM-dd HH:mm"), @id = "datetimepicker" })
            </td>
        </tr>

       


        <tr>
            <td>@Html.LabelFor(model => model.IsActive)</td>
            <td>@Html.EditorFor(model => model.IsActive)</td>
        </tr>


        <tr>
            <td>@Html.LabelFor(model => model.Order)</td>
            <td>
                @(Html.Kendo().IntegerTextBoxFor(m => m.Order)
                      .Min(0)
                      .Max(1000)
                      .Step(1)
        //.Value(Model.SortOrder)
                      .Spinners(true)
                      .HtmlAttributes(new { style = "width:100px;text-align:center;" })
                )
            </td>
        </tr>

        <tr id="trDescription">
            <td>
                @Html.LabelFor(model => model.Answer)
            </td>
            <td>
                @(Html.Kendo().EditorFor(m => m.Answer)
              .Name("Description").Tools(tools => tools
                          .Clear()
                          .Bold().Italic().Underline().Strikethrough()
                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                          .InsertUnorderedList().InsertOrderedList()
                          .Outdent().Indent()
                          .CreateLink().Unlink()
                          .InsertImage()
                          .InsertFile()
                          .SubScript()
                          .SuperScript()
                          .TableEditing()
                          .ViewHtml()
                          .Formatting()
                          .CleanFormatting()
                          .FontName()
                          .FontSize()
                          .FontColor().BackColor()
                      )
                      .Encode(false)
                      .StyleSheets(css =>
                      {
                          css.Add(Url.Content("/Content/Mitsubishi.css"));
                          css.Add(Url.Content("/Content/products.css"));
                      })
                      .ImageBrowser(imageBrowser => imageBrowser
                          .Image("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("CreateItem", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser")
                          .Thumbnail("Thumbnail", "ImageBrowser"))
                      .FileBrowser(fileBrowser => fileBrowser
                          .File("~/Images/{0}")
                          .Read("Read", "ImageBrowser")
                          .Create("Create", "ImageBrowser")
                          .Destroy("Destroy", "ImageBrowser")
                          .Upload("Upload", "ImageBrowser"))
                      .HtmlAttributes(new { style = "height:650px;width:95%;" }

                      )
                )
            </td>
        </tr>
        <tr>
            <td></td>
            <td class="k-edit-buttons k-state-default" style="padding-top: 15px;"></td>
        </tr>
    </table>
}

<script>
                $(document).ready(function () {
                    // create DateTimePicker from input HTML element
                    $(".datetimepicker").kendoDateTimePicker({
                        format: "yyyy-MM-dd HH:mm"
                    });
                });
</script>
<style>
    .k-radio-label {
        font-weight: normal;
    }
</style>
