﻿@using Kendo.Mvc.UI
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Entities
@using Mitsubishi.UI.Models.Services

<h2 class="module-title">Faq</h2>
@{
    var service = new ServiceConfiguration();
}

@(Html.Kendo().Grid<FaqEntity>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(e => e.ItemID).Hidden().IncludeInMenu(false);
        columns.Bound(c => c.Question).Title("Question");
        columns.Bound(c => c.CreateDate).Title("CreateDate");
        columns.Bound(c => c.IsActive).Title("IsActive");
        columns.Command(command =>
        {
            command.Custom("Edit").HtmlAttributes(new { id = "btnEdit", @class = "k-button k-button-icontext" }).Click("editItem");
            command.Destroy();
        }).Width(180);
    })
    .HtmlAttributes(new { style = "height:415px" })
    .Scrollable()
    .Sortable()
    .Resizable(resize => resize.Columns(true))
    .Selectable(selectable => selectable
    .Mode(GridSelectionMode.Single))
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(service.PageSizes)
        .ButtonCount(5))
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(service.PageSize)
        .Model(model =>
            {
                model.Id(f => f.ItemID);
            })
        .Events(events => events.RequestEnd("requestEnd"))
        .Read(read => read.Action("Read", "Faq"))
        .Destroy(update => update.Action("Destroy", "Faq"))
        .ServerOperation(false)
    )
)