﻿@model Mitsubishi.UI.Models.Entities.AgencyEntity

@{
    ViewBag.Title = "Add / Edit Agency";
}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
    var markersArray = [];
    var latitude = 10.753407;
    var longitude = 106.627714;

    var latlng = new google.maps.LatLng(latitude, longitude);
    var options = {
        zoom: 18,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControl: false,
        navigationControl: false,
        navigationControlOptions:
        {
            style: google.maps.NavigationControlStyle.ZOOM_PAN
        },
        scaleControl: false,
        disableDoubleClickZoom: true,
        draggable: true,
        streetViewControl: false,
    };

    $(document).ready(function () {

        if ($('#Latitude').val() != 0) {
            latitude = parseFloat($('#Latitude').val());
        }

        if ($('#Longitude').val() != 0) {
            longitude = parseFloat($('#Longitude').val());
        }

        latlng = new google.maps.LatLng(latitude, longitude);

        initMap();

        $('#btnSubmit').click(function () {
            $('#ProductCategory').val($('#multiProductCategory').data("kendoMultiSelect").value());
            $('#formEdit').submit();
        });
    });
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), options);

        map.setCenter(latlng);
        placeMarker(latlng);

        // add a click event handler to the map object
        google.maps.event.addListener(map, "click", function (event) {
            // place a marker
            placeMarker(event.latLng);

            $('#Latitude').val(event.latLng.lat());
            $('#Longitude').val(event.latLng.lng());
        });
    }

    function placeMarker(location) {
        // first remove all markers if there are any
        deleteOverlays();

        var marker = new google.maps.Marker({
            position: location,
            map: map
        });

        // add marker in markers array
        markersArray.push(marker);

        //map.setCenter(location);
    }

    // Deletes all markers in the array by removing references to them
    function deleteOverlays() {
        if (markersArray) {
            for (i in markersArray) {
                markersArray[i].setMap(null);
            }
            markersArray.length = 0;
        }
    }

    function getProductType() {
        var productType = $('#ProductTypeID').data("kendoDropDownList");

        return {
            parentId: productType.value()
        };
    }

    function productTypesChange() {
        $('#multiProductCategory').data("kendoMultiSelect").dataSource.read();
    }
</script>
<h2 class="module-title">Add / Edit Agency</h2>

@using (Html.BeginForm("CreateItem", "Agency", FormMethod.Post, new { id = "formEdit"}))
{
    <table width="100%" cellpadding="3px" cellspacing="3px">
        <tr>
            <td>
                @Html.HiddenFor(m => m.ItemID)
                @Html.HiddenFor(m => m.Logo)
                @Html.HiddenFor(m => m.ProductCategory)
            </td>
            <td>
                @ViewBag.ErrorMessage
            </td>
        </tr>
        <tr>
            <td style="width: 160px;"></td>
            <td>
                <button id="btnSubmit" type="button" class="k-button k-button-icontext k-grid-update k-primary">
                    <span class="k-icon k-update"></span>
                    Save
                </button>

                @Html.ActionLink("Cancel", "Index", "Agency", null, new { @class = "k-button k-button-icontext k-grid-cancel" })
            </td>
        </tr>
        @*<tr>
            @Html.LabelFor(model => model.
        </tr>*@
        <tr>
            <td>
                @Html.LabelFor(model => model.Title)
            </td>
            <td>

                @Html.TextBoxFor(model => model.Title, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>
       
        <tr>
            <td>
                @Html.LabelFor(m => m.LocationID)
            </td>
            <td>
                @(Html.Kendo().DropDownListFor(m => m.LocationID)
                      .Name("LocationID")
                      .OptionLabel("Chọn tỉnh / Tp")
                      .DataValueField("ItemID")
                      .DataTextField("Title")
                      .AutoBind(true)
                      .Filter(FilterType.Contains)
                      .DataSource(ds => ds.Read(read => read.Action("GetListLocation", "Agency")))
                      .HtmlAttributes(new { style = "width:245px;" }))
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Address)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Address, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Phone)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Phone, new { @class = "k-textbox form-short-text-box" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Website)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Website, new { @class = "k-textbox form-long-text-box" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Logo)
            </td>
            <td>
                @(Html.Kendo().Upload()
                      .Name("fileLogo")
                      .Multiple(false)
                      .Async(a => a
                          .Save("SaveLogo", "Agency")
                          .Remove("RemoveLogo", "Agency")
                          .AutoUpload(true)
                      )
                      )
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.CheckBoxFor(m => m.IsDelivery)&nbsp;@Html.LabelFor(m => m.IsDelivery)&nbsp;&nbsp;
                @Html.CheckBoxFor(m => m.IsPaymentCard)&nbsp;@Html.LabelFor(m => m.IsPaymentCard) &nbsp; &nbsp;
                @Html.CheckBoxFor(m => m.IsWarranty)&nbsp;@Html.LabelFor(m => m.IsWarranty) &nbsp; &nbsp;
                @Html.CheckBoxFor(m => m.IsCarParking)&nbsp;@Html.LabelFor(m => m.IsCarParking)
            </td>
        </tr>
        
        <tr>
            <td>@Html.LabelFor(model => model.IsAuthorized)</td>
            <td>@Html.EditorFor(model => model.IsAuthorized)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ProductTypeID)</td>
            <td>
                @(Html.Kendo().DropDownListFor(model => model.ProductTypeID)
                      .Name("ProductTypeID")
                      .DataValueField("ItemID")
                      .DataTextField("Title")
                      .OptionLabel("Select product type")
                      .Events(e => e.Change("productTypesChange"))
                      .DataSource(ds => ds.Read(read => read.Action("GetListProductTypes", "ProductCategory")))
                      .HtmlAttributes(new { style = "width:245px;" })
                      )
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ProductCategoryID)</td>
            <td>
                @(Html.Kendo().MultiSelect()
                      .Name("multiProductCategory")
                      .Placeholder("Select products")
                      .AutoBind(true)
                      .Value(Model.ListProductCategory)
                      .Filter(FilterType.Contains)
                      .DataTextField("DataTextField")
                      .DataValueField("DataValueField")
              .DataSource(source => source.Read(read => read.Action("GetJsonComboBox", "ProductCategory").Data("getProductType"))
                          .ServerFiltering(false))
                )
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.IsActive)</td>
            <td>@Html.EditorFor(model => model.IsActive)</td>
        </tr>

        <tr>
            <td>@Html.LabelFor(model => model.SortOrder)</td>
            <td>
                @(Html.Kendo().IntegerTextBoxFor(m => m.SortOrder)
                      .Min(0)
                      .Max(1000)
                      .Step(1)
                      .Spinners(true)
                      .HtmlAttributes(new { style = "width:100px;text-align:center;" })
                      )
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Latitude)
            </td>
            <td>
                @Html.TextBoxFor(model => model.Latitude, new { @class = "k-textbox form-short-text-box" })
                &nbsp;&nbsp;&nbsp;&nbsp;
                @Html.LabelFor(model => model.Longitude)
                @Html.TextBoxFor(model => model.Longitude, new { @class = "k-textbox form-short-text-box" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div id="map" style="width: 100%; height: 500px;"></div>
            </td>
        </tr>
    </table>
}
<style>
    .k-radio-label {
        font-weight: normal;
    }
</style>
