﻿@using Kendo.Mvc.UI
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Entities
@using Mitsubishi.UI.Models.Services
@using Mitsubishi.UI.Controllers

@{
    ViewBag.Title = "Agency List";
}

<h2 class="module-title">Agency List</h2>
@{
    var service = new ServiceConfiguration();
}

<script>
    var currentField = '';
    var currentData = '';

    $(document).ready(function () {
        resizeGrid();

        $('#btnImport').click(function() {
            $.ajax({
                url: "/Admin/Agency/ImportAgency",
                type: "POST",
                cache: false,
                async: false,
                success: function (result) {
                    if (result) {
                        alert('Import completed.');
                    } else {
                        alert(MESSAGE_ADD_FAILED);
                    }
                }
            });
        });

        $('#criteria').keypress(function (e) {
            if (e.keyCode == 13) {
                $('#grid').data('kendoGrid').dataSource.read();
            }
        });

        $('#btnSearch').click(function() {
            $('#grid').data('kendoGrid').dataSource.read();
        });
    });

    function resizeGrid() {
        var gridElement = $("#grid");
        var dataArea = gridElement.find(".k-grid-content");

        var newGridHeight = $(window).height() - 260;
        var newDataAreaHeight = newGridHeight - 105;

        dataArea.height(newDataAreaHeight);
        gridElement.height(newGridHeight);
    }

    function editItem(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var itemId = dataItem.ItemID;
        location.href = '@Url.Action("Edit", "Agency")?itemId=' + itemId;
    }

    function requestEnd(e) {
        if (e.type === "create" || e.type === "update") {
            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.read();
        }
    }

    function getSearchString() {
        return {
            searchCriteria: $('#criteria').val()
        };
    }
</script>

<div class="box-header">
    <table width="100%" border="0" cellpadding="1px" cellspacing="1px">
        <tr>
            <td style="width: 200px;padding-left: 5px;">
                <a id="lnkAdd" class="k-button k-button-icontext" href="/Admin/Agency/Edit">
                    <span class="k-icon k-add"></span>
                    Add new
                </a>
                <button id="btnImport" value="Import" style="display: none;">Import</button>
            </td>
            <td style="width: 80px;padding-left: 15px;">Search:&nbsp;</td>
            <td style="width: 300px;">
                <input type="text" id="criteria" class="k-textbox" style="width:97%;">
            </td>
            <td style="width: 120px;">
                <a id="btnSearch" class="k-button k-button-icontext">
                    <span class="k-icon k-i-search"></span>
                    Search
                </a>
            </td>
            <td align="right">
                Language:&nbsp;
                @(Html.Kendo().DropDownList()
                      .Name("Languages")
                      .DataTextField("Text")
                      .DataValueField("Value")
                      .Events(e => e.Change("changeLanguage"))
                      .BindTo(new List<SelectListItem>() {
                          new SelectListItem() {
                              Text = "English",
                              Value = "en-US"
                          },
                          new SelectListItem() {
                              Text = "Vietnamese",
                              Value = "vi-VN"
                          }
                      })
                      .Value(UtilsController.GetCurrentLanguage(GlobalConstants.SESS_ADMIN_LANGUAGE))
                      .HtmlAttributes(new { style = "width:120px; text-align:left;" })
                )
            </td>
        </tr>
    </table>
</div>
@(Html.Kendo().Grid<AgencyEntity>()
    .Name("grid")
    .Columns(columns =>
    {

        columns.Bound(e => e.ItemID).Hidden().IncludeInMenu(false);
        columns.Bound(c => c.Title).Title("Title").ClientTemplate("<div><strong>#= Title #</strong> <br /> #= Address #</div>");
        columns.Bound(c => c.Location.Title).Width(120).Title("Location");
        columns.Bound(c => c.SortOrder).Width(60).Title("Sort #").ClientTemplate("<div style='text-align:center;'>#= SortOrder #</div>");
        columns.Bound(c => c.IsActive).Width(60).Title("Publish").ClientTemplate("<div align='center'><img value='#= ItemID #' style='cursor:pointer;' " +
                                                    "# if (IsActive) " +
                                                    "{ #" +
                                                    " src='/Content/images/icon/icon_yes.gif' onclick='setAgencyIsActive(#: ItemID #, false);' " +
                                                    "# } " +
                                                    " else { #" +
                                                    " src='/Content/images/icon/icon_no.gif' onclick='setAgencyIsActive(#: ItemID #, true);' " +
                                                    "# } #" +
                                                    "/></div>");
        columns.Bound(c => c.IsMap).Width(60).Title("Map").ClientTemplate("<div align='center'><img value='#= ItemID #' style='cursor:pointer;' " +
                                                    "# if (IsMap) " +
                                                    "{ #" +
                                                    " src='/Content/images/icon/icon_yes.gif' " +
                                                    "# } " +
                                                    " else { #" +
                                                    " src='/Content/images/icon/icon_no.gif'  " +
                                                    "# } #" +
                                                    "/></div>");
        columns.Bound(c => c.ModifiedDate).Format("{0:dd/MM/yyyy hh:mm:ss tt}").Width(180);

        columns.Command(command =>
        {
            command.Custom("Edit").HtmlAttributes(new { id = "btnEdit", @class = "k-button k-button-icontext" }).Click("editItem");
            command.Destroy();
        }).Width(180);
    })
    .HtmlAttributes(new { style = "height:415px" })
    .Scrollable()
    .Sortable()
    .Resizable(resize => resize.Columns(true))
    .Selectable(selectable => selectable
        .Mode(GridSelectionMode.Single))
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(service.PageSizes)
        .ButtonCount(5))
    .DataSource(dataSource => dataSource
    .Ajax()
    .PageSize(service.PageSize)
    .Model(model =>
    {
        model.Id(f => f.ItemID);
        model.Field(f => f.CreatedDate).Editable(false).DefaultValue(DateTime.Now);
        model.Field(f => f.ModifiedDate).Editable(false).DefaultValue(DateTime.Now);
    })
    .Events(events => events.RequestEnd("requestEnd"))
    .Read(read => read.Action("Read", "Agency").Data("getSearchString"))
    .Destroy(update => update.Action("Destroy", "Agency"))
    .ServerOperation(false)
    )
)
