﻿@model Mitsubishi.UI.Models.RegisterModel
@{
    ViewBag.Title = "AddUser";
    var roles = (SelectList)ViewBag.roles;
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminDigi.cshtml";
}

<h2>Thêm người dùng</h2>

@using (Html.BeginForm())
{


    <div class="form-group">
        <label>Tên đăng nhập</label>
        @Html.TextBoxFor(m =>m.UserName, new { @class = "form-control", placeholder = "Tên đăng nhập" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Mật khẩu</label>
            @Html.PasswordFor(m => m.RegisterPassword, new { @class = "form-control", placeholder = "Mật khẩu" })
            @Html.ValidationMessageFor(m => m.RegisterPassword)
        </div>
        <div class="form-group">
            <label>Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
            
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="form-group">
            <label>Họ & Tên</label>
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", placeholder = "Họ & Tên" })
        </div>
        <div class="form-group">
            <label>Địa chỉ</label>
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control",placeholder = "Địa chỉ" })
        </div>
        <div class="form-group">
            <label>Phân quyền</label>
            @Html.DropDownListFor(m => m.role, roles)
        </div>

        <button type="submit" class="btn btn-default">Thêm người dùng</button>
}