﻿@model System.Collections.Generic.List<Mitsubishi.UI.Models.ApplicationUser>
@{
    ViewBag.Title = "ListUsers";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdminDigi.cshtml";
}

<h2>List User</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên đăng nhập</th>
            <th>Quyền</th>
            <th>Email</th>
            <th>Họ &Aacute; Tên</th>
            <th>Địa chỉ</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var p in Model)
        {
            <tr>
                <td>@i</td>
                <td>@p.UserName</td>
                <td>
                   @p.role
                   
                    
                </td>
                <td>@p.Email</td>
                <td>@p.FullName</td>
                <td>@p.Address</td>
                <td class="action"><a href="@Url.Action("EditUser","Account", new { userId= p.Id})"><i class="fa fa-pencil" aria-hidden="true"></i></a><a><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
            i++;
        }
    </tbody>
</table>


