﻿@model Mitsubishi.UI.Models.LoginViewModel
@{
    Layout = null;
    ViewBag.ReturnUrl = Url.Content("~/Admin/Home/Index");
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome Mitsubishi Admin</title>
    <link href="~/Areas/Admin/Css/Login/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Css/Login/style.css" rel="stylesheet" />
</head>

<body>

    <div class="pen-title">
        <h1>
            <a target="_blank" href="@Url.Content("~/")"><img src="~/images/mitsubishi-logo.png" style="width: 200px;" /></a>
        </h1>
    </div>
    <!-- Form Module-->
    <div class="module form-module">
        <div class="toggle">
            <i class="fa fa-times fa-pencil"></i>
            <div class="tooltip">Quên mật khẩu ? </div>
        </div>
        <div class="form">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { autocomplete = "disabled", @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { autocomplete = "off", @class = "form-control", Placeholder = "Tên đăng nhập" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { autocomplete = "off", @class = "form-control", Placeholder = "Mật khẩu" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit">ĐĂNG NHẬP</button>
                    </div>
                </div>
            }
        </div>
        <div class="form">
            <h2>Nhập email của bạn?</h2>
            <form>
                <input type="email" placeholder="Email Address" />
                <button>KHÔI PHỤC</button>
            </form>
        </div>
    </div>

    <script src="~/Areas/Admin/Js/jquery.min.js"></script>
    <script src="~/Areas/Admin/Js/index.js"></script>

</body>
</html>