﻿@using System.Web.UI.WebControls
@model Mitsubishi.UI.Models.Entities.MemberEntity
@{
    ViewBag.Title = "Home Page";
}
<link href="/Content/kendo/kendo.common.min.css" rel="stylesheet" />
<link href="/Content/kendo/kendo.rtl.min.css" rel="stylesheet" />
<link href="/Content/kendo/kendo.silver.min.css" rel="stylesheet" />

<link href="/Content/bootstrap.css" rel="stylesheet" />




<script src="/Scripts/kendo/cultures/kendo.culture.en.min.js"></script>
<link href="/Content/bootstrap.css" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="/Content/Mitsubishi.css" />
<body>
    <header class="header-container">
        <div class="container">
            <!-- Logo Container -->
            <div class="logo col-lg-2"> <a href="/"> <img alt="logo" src="/images/mitsubishi-logo.png"> </a> </div>
            <div class="slogan"> GLOBAL - BUSINESS UNIT </div>
            <div class="search-box">
            </div>
        </div>
      
    </header>
    <div id="" style="background-color: #F5F5F5;">
        <section class="content-wrapper main-content clear-fix" style="padding-bottom: 100px; padding-top: 100px;">

            @using (Html.BeginForm("Login", "Member"))
            {
                <div id="employeeLoginForm">
                    <fieldset>
                        <div class="editor-label">
                            @Html.LabelFor(e => e.UserName)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(e => e.UserName, new { @class = "k-textbox" })

                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(e => e.Password)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(e => e.Password, new { @class = "k-textbox", @type="password" })

                        </div>

                        <div class="editor-label" style="margin-top:10px">
                            @Html.CheckBoxFor(e => e.RememberMe)
                            @Html.LabelFor(e => e.RememberMe)
                        </div>
                        <input type="submit" value="Login" />

                        <span>@Html.ValidationSummary(false, "")</span>
                    </fieldset>
                </div>
            }
        </section>
    </div>



    <footer style="height:54px; margin-top:20px">
        <div class="container">
            <div class="grid_6">
                <div class="fhome"><a href="/">Home</a></div>
                <div class="copyright">Copyright © 2014 Mitsubishi Electric Corporation. All Rights Reserved</div>
            </div>
            <div class="grid_6 frighti">
                <nav class="footer-navigation">
                    <div class="f-menu"><a href="">Terms of Use</a></div>
                    <div class="f-menu"><a href=""> Privacy</a></div>
                    <div class="f-menu"><a href="">Contact</a></div>

                </nav>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
</body>

<style>

    #employeeLoginForm label {
        color: black;
        font-size: 13px;
    }
    #employeeLoginForm {
        background-color: white;
        border: 1px solid #CFD2D3;
        border-radius: 10px 10px 10px 10px;
        /*margin: 80px auto 0;*/
        padding-bottom: 20px;
        padding-left: 20px;
        padding-top: 20px;
        width: 30%;
        margin: 0 auto;
    }
        #employeeLoginForm input[type="submit"] {
            background-color: #FAFAFA;
            border-color: #DADADA;
            border-radius: 4px 4px 4px 4px;
            border-style: solid;
            border-width: 1px;
            color: black;
            height: 24px;
            line-height: 1.66em;
            margin: 4px 0 5px;
            padding: 0 10px;
            width: 55px;
            background-color: gainsboro !important;
            
        }
            #employeeLoginForm input[type="submit"]:hover {
                background-color: #F8F8F8 !important;
                border-color: #CBCBCB;
            }
    .k-textbox {
        width:250px !important;
    }
    .validation-summary-errors{
        color:red;
        font-weight: 100;
    }
        .validation-summary-errors ul li {
            text-align:left;
            width:100%;
            margin-left:-40px;
        }
</style>