﻿@using Kendo.Mvc.UI
@using Mitsubishi.UI.Models
@using Mitsubishi.UI.Models.Entities
@using Mitsubishi.UI.Models.Services

@{
    ViewBag.Title = "Video";
}

<h2 class="module-title">Video</h2>
@{
    var service = new ServiceConfiguration();
}
<script>

  

    $(document).ready(function () {
        resizeGrid();

        $('#btnImport').click(function () {
            $.ajax({
                url: "/Admin/Agency/ImportAgency",
                type: "POST",
                cache: false,
                async: false,
                success: function (result) {
                    if (result) {
                        alert('Import completed.');
                    } else {
                        alert(MESSAGE_ADD_FAILED);
                    }
                }
            });
        });

        $('#criteria').keypress(function (e) {
            if (e.keyCode == 13) {
                $('#grid').data('kendoGrid').dataSource.read();
            }
        });

        $('#btnSearch').click(function () {
            $('#grid').data('kendoGrid').dataSource.read();
        });
    });

    function resizeGrid() {
        var gridElement = $("#grid");
        var dataArea = gridElement.find(".k-grid-content");

        var newGridHeight = $(window).height() - 260;
        var newDataAreaHeight = newGridHeight - 105;

        dataArea.height(newDataAreaHeight);
        gridElement.height(newGridHeight);
    }

    function editItem(e) {

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        console.log(dataItem);
        var Id = dataItem.ItemID;
        location.href = '@Url.Action("Edit", "Video")?itemId=' + Id;
    }

    function requestEnd(e) {

        if (e.type === "create" || e.type === "update") {
            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.read();
        }
    }

    function getSearchString() {
        return {
            searchCriteria: $('#criteria').val()
        };
    }
</script>

<div class="box-header">
    <table width="100%" border="0" cellpadding="1px" cellspacing="1px">
        <tr>
            <td style="width: 380px;padding-left: 5px;">
                <a id="lnkAdd" class="k-button k-button-icontext" href="/Admin/Video/Edit">
                    <span class="k-icon k-add"></span>
                    Add new
                </a>
            </td>

        </tr>
    </table>
</div>
@(Html.Kendo().Grid<VideoEntity>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(e => e.ItemID).Hidden().IncludeInMenu(false);
        columns.Bound(c => c.Title).Title("Title");
        columns.Command(command =>
        {
            command.Custom("Edit").HtmlAttributes(new { id = "btnEdit", @class = "k-button k-button-icontext" }).Click("editItem");
            command.Destroy();
        }).Width(180);
    })
    .HtmlAttributes(new { style = "height:415px" })
    .Scrollable()
    .Sortable()
    .Resizable(resize => resize.Columns(true))
    .Selectable(selectable => selectable
        .Mode(GridSelectionMode.Single))
    .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(service.PageSizes)
        .ButtonCount(5))
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(service.PageSize)
        .Model(model =>
            {
                model.Id(f => f.ItemID);
            })
       .Events(events => events.RequestEnd("requestEnd"))
            .Read(read => read.Action("Read", "Video"))
            .Destroy(update => update.Action("Destroy", "Video"))
        .ServerOperation(false)
    )
)



<style>
    .k-edit-form-container {
        width: 100%;
    }
</style>