﻿@using Kendo.Mvc.UI
@using Mitsubishi.UI.Models.Entities
@using Mitsubishi.UI.Models.Services

@{
    ViewBag.Title = "Inquiry List";
}

<h2 class="module-title">Inquiry Management</h2>
@{
    var service = new ServiceConfiguration();
}

@(Html.Kendo().Grid<InquiryEntity>()
      .Name("grid")
      .Columns(columns =>
      {
		 
          columns.Bound(e => e.ItemID).Hidden().IncludeInMenu(false);
          columns.Bound(c => c.Name).Width(160);
          columns.Bound(c => c.Comment).Width(160);
          columns.Bound(c => c.Company).Width(160);
          columns.Command(command =>
          {
              command.Edit().Text("View");
              //command.Destroy();
          }).Width(200);
      })
      .Editable(editable =>
      {
          editable.Mode(GridEditMode.PopUp).TemplateName("formInquiry");
          editable.Window(builder =>
          {
              builder.Title("View Inquiry");
              builder.Width(650);
          });
      })
      .HtmlAttributes(new {style = "height:" + service.GridHeight})
      .Scrollable()
      .Sortable()
      .Resizable(resize => resize.Columns(true))
      .Selectable(selectable => selectable
          .Mode(GridSelectionMode.Single))
      .Pageable(pageable => pageable
          .Refresh(true)
          .PageSizes(service.PageSizes)
          .ButtonCount(5))
      .DataSource(dataSource => dataSource
          .Ajax()
          .PageSize(service.PageSize)
          .Model(model =>
            {
                model.Id(f => f.ItemID);
                model.Field(f => f.CreatedDate).Editable(false).DefaultValue(DateTime.Now);
            })
          .Read(read => read.Action("Read", "Inquiry"))
        .Create(update => update.Action("Create", "Inquiry"))
        .Update(update => update.Action("Create", "Inquiry"))
        .Destroy(update => update.Action("Destroy", "Inquiry"))
          .ServerOperation(false)
      )
      )
<style>
    .k-edit-form-container
    {
        width: 100%;
    }
</style>